.FELI-A-st0 {
    fill: #39842c;
}

.FELI-A-st1 {
    fill: #6dc066;
}

.FELI-A-st2 {
    fill: #5b5651;
}

.FELI-A-st3 {
    fill: #35322f;
}

.FELI-A-st4 {
    fill: #6b6967;
}

.FELI-A-st5 {
    opacity: 0.3;
    fill: #255b1f;
}

.FELI-A-st6 {
    opacity: 0.4;
    fill: #255b1f;
}

.FELI-A-st7 {
    opacity: 0.4;
    fill: #39842c;
}

.FELI-A-st8 {
    opacity: 0.3;
    fill: #7cdd54;
}

.FELI-A-st9 {
    fill: #4a9e3e;
}

.FELI-A-st10 {
    opacity: 0.42;
    fill: #286821;
}

.FELI-A-st11 {
    fill: #ad825c;
}

.FELI-A-st12 {
    fill: #ad8355;
}

.FELI-A-st13 {
    opacity: 0.6;
    fill: #4b5260;
}

.FELI-A-st14 {
    fill: #7297a0;
}

.FELI-A-st15 {
    opacity: 0.6;
    fill: #8dbdce;
}

.FELI-A-st16 {
    fill: #b0e6f4;
}

.FELI-A-st17 {
    opacity: 0.6;
    fill: #7aeaea;
}

.FELI-A-st18 {
    opacity: 0.5;
    fill: #405e66;
}

.FELI-A-st19 {
    fill: #405e66;
}

.FELI-A-st20 {
    fill: #ffffff;
}

.FELI-A-st21 {
    fill: #6a92a3;
}

.FELI-A-st22 {
    fill: #93c8db;
}

.FELI-A-st23 {
    opacity: 0.4;
    fill: #93c8db;
}

.FELI-A-st24 {
    fill: #8dbdce;
}

.FELI-A-st25 {
    fill: #6f868c;
}

.FELI-A-st26 {
    fill: #872710;
}

.FELI-A-st27 {
    opacity: 0.5;
    fill: #7aeaea;
}

.FELI-A-st28 {
    fill: #8a93a0;
}

.FELI-A-st29 {
    fill: #7aeaea;
}

.FELI-A-st30 {
    opacity: 0.5;
    fill: #546a72;
}

.FELI-A-st31 {
    opacity: 0.6;
    fill: #ffffff;
}

.FELI-A-st32 {
    fill: #d90000;
}

.FELI-A-st33 {
    fill: #ff4d4d;
}

.FELI-A-st34 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.FELI-A-st35 {
    opacity: 0.6;
    fill: #35302c;
}

.FELI-A-st36 {
    fill: #72838e;
}

.FELI-A-st37 {
    fill: #9b5c4b;
}

.FELI-A-st38 {
    fill: #80bcbb;
}

.FELI-A-st39 {
    fill: #848383;
}

.FELI-A-st40 {
    opacity: 0.4;
    fill: #724203;
}

.FELI-A-st41 {
    fill: #e89105;
}

.FELI-A-st42 {
    fill: #e8c605;
}

.FELI-A-st43 {
    fill: #ffff73;
}

.FELI-A-st44 {
    opacity: 0.5;
    fill: #ad6600;
}

.FELI-A-st45 {
    opacity: 0.7;
    fill: #724203;
}

.FELI-A-st46 {
    fill: #a0d5ea;
}

.FELI-A-st47 {
    fill: #abb0c6;
}

.FELI-A-st48 {
    fill: #bc974d;
}

.FELI-A-st49 {
    fill: #f2cb86;
}

.FELI-A-st50 {
    fill: #5b3e34;
}

.FELI-A-st51 {
    fill: #6dc0ff;
}

.FELI-A-st52 {
    fill: #89644c;
}

.FELI-A-st53 {
    opacity: 0.4;
    fill: #d6925f;
}

.FELI-A-st54 {
    fill: #a9e2ff;
}

.FELI-A-st55 {
    fill: #ebf3ff;
}

.FELI-A-st56 {
    opacity: 0.3;
    fill: #ffffff;
}

.FELI-A-st57 {
    opacity: 0.7;
    fill: #ffffff;
}

.FELI-A-st58 {
    opacity: 0.4;
    fill: #ffffff;
}

.FELI-A-st59 {
    fill: #754d43;
}

.FELI-A-st60 {
    fill: #247dff;
}

.FELI-A-st61 {
    fill: #3198ff;
}

.FELI-A-st62 {
    fill: #52c5ff;
}

.FELI-A-st63 {
    fill: #502e72;
}

.FELI-A-st64 {
    fill: #a955eb;
}

.FELI-A-st65 {
    fill: #b975f9;
}

.FELI-A-st66 {
    fill: #d9b8ff;
}

.FELI-A-st67 {
    fill: #246630;
}

.FELI-A-st68 {
    fill: #319851;
}

.FELI-A-st69 {
    fill: #52c500;
}

.FELI-A-st70 {
    fill: #baff00;
}

.FELI-A-st71 {
    opacity: 0.2;
    fill: #ffffff;
}

.FELI-A-st72 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.FELI-A-st73 {
    opacity: 0.6;
    fill: #405e66;
}

.FELI-A-st74 {
    opacity: 0.7;
    fill: #405e66;
}

.FELI-A-st75 {
    opacity: 0.5;
    fill: #ffffff;
}

.FELI-A-st76 {
    fill: #00c48c;
}

.FELI-A-st77 {
    fill: #098974;
}

.FELI-A-st78 {
    fill: #0b4460;
}

.FELI-A-st79 {
    opacity: 0.3;
    fill: #39ff89;
}

.FELI-A-st80 {
    fill: #66524b;
}

.FELI-A-st81 {
    fill: #846359;
}

.FELI-A-st82 {
    fill: #dba36b;
}

.FELI-A-st83 {
    fill: #f7ce86;
}

.FELI-A-st84 {
    fill: #4c3e48;
}

.FELI-A-st85 {
    fill: #2ca42c;
}

.FELI-A-st86 {
    fill: #39cb2c;
}

.FELI-A-st87 {
    opacity: 0.6;
    fill: #2ca42c;
}

.FELI-A-st88 {
    fill: #667e84;
}

.FELI-A-st89 {
    fill: #86b7bf;
}

.FELI-A-st90 {
    opacity: 0.6;
    fill: #86b7bf;
}

.FELI-A-st91 {
    fill: #4a5770;
}

.FELI-A-st92 {
    fill: #9ee8ef;
}

.FELI-A-st93 {
    opacity: 0.6;
    fill: #9ee8ef;
}

.FELI-A-st94 {
    fill: #f4be7d;
}

.FELI-A-st95 {
    opacity: 0.7;
    fill: #39842c;
}

.FELI-A-st96 {
    fill: #26b0ff;
}

.FELI-A-st97 {
    opacity: 0.3;
}

.FELI-A-st98 {
    fill: #ffc04e;
}

.FELI-A-st99 {
    fill: #ff7778;
}

.FELI-A-st100 {
    opacity: 0.5;
}

.FELI-A-st101 {
    fill: #b3d4e8;
}

.FELI-A-st102 {
    fill: #fff44e;
}

.FELI-A-st103 {
    fill: #7f7e7d;
}

.FELI-A-st104 {
    fill: #489e20;
}

.FELI-A-st105 {
    fill: #235618;
}

.FELI-A-st106 {
    fill: #5faa3c;
}

.FELI-A-st107 {
    fill: #af804e;
}

.FELI-A-st108 {
    fill: #443732;
}

.FELI-A-st109 {
    fill: #646570;
}

.FELI-A-st110 {
    fill: #738399;
}

.FELI-A-st111 {
    fill: #8d9bc6;
}

.FELI-A-st112 {
    fill: #576575;
}

.FELI-A-st113 {
    opacity: 0.5;
    fill: #272e38;
}

.FELI-A-st114 {
    fill: #563a20;
}

.FELI-A-st115 {
    opacity: 0.7;
    fill: #89674c;
}

.FELI-A-st116 {
    fill: #3a2a1c;
}

.FELI-A-st117 {
    fill: #4d0f0f;
}

.FELI-A-st118 {
    fill: #664c3e;
}

.FELI-A-st119 {
    fill: #8e604c;
}

.FELI-A-st120 {
    fill: #b70f0f;
}

.FELI-A-st121 {
    opacity: 0.7;
    fill: #4d0f0f;
}

.FELI-A-st122 {
    fill: #7f9bc6;
}

.FELI-A-st123 {
    fill: #455060;
}

.FELI-A-st124 {
    fill: #5f7084;
}

.FELI-A-st125 {
    fill: #6a839b;
}

.FELI-A-st126 {
    fill: #6c97c1;
}

.FELI-A-st127 {
    opacity: 0.6;
    fill: #a3c9e8;
}

.FELI-A-st128 {
    fill: #242d38;
}

.FELI-A-st129 {
    fill: #7cdd54;
}

.FELI-A-st130 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.FELI-A-st131 {
    opacity: 0.4;
}
