.pink-st0 {
    fill: #ffb6c1;
}
.pink-st1 {
    fill: #c154c1;
}

.pink-st2 {
    fill: #ffb6c1;
}

.pink-st3 {
    fill: #c154c1;
}

.pink-st4 {
    fill: #ffb6c1;
}

.pink-st5 {
    fill: #c154c1;
}

.pink-st6 {
    opacity: 0.83;
    fill: #ffb6c1;
}

.pink-st7 {
    fill: #c154c1;
}

.pink-st8 {
    fill: #ffb6c1;
}

.pink-st9 {
    opacity: 0%;
    fill: #1d1d1d;
}

.pink-st10 {
    clip-path: url(#PERCH_BACK_2);
    fill: #ffb6c1;
}

.pink-st11 {
    clip-path: url(#PERCH_BACK_2);
    fill: #c154c1;
}

.pink-st12 {
    clip-path: url(#PERCH_BACK_2);
    fill: #ffb6c1;
}

.pink-st13 {
    clip-path: url(#PERCH_BACK_2);
    fill: #c154c1;
}

.pink-st14 {
    clip-path: url(#PERCH_BACK_2);
    fill: #ffb6c1;
}

.pink-st15 {
    clip-path: url(#PERCH_BACK_2);
    fill: #c154c1;
}

.pink-st16 {
    opacity: 0.83;
    clip-path: url(#PERCH_BACK_2);
    fill: #c154c1;
}

.pink-st17 {
    clip-path: url(#PERCH_BACK_2);
    fill: #c154c1;
}

.pink-st18 {
    clip-path: url(#PERCH_BACK_2);
    fill: #c154c1;
}
.yellow-st19 {
    clip-path: url(#PERCH_BACK_2);
}
