.beach0 {
    fill: #2d512b;
}
.beach1 {
    fill: #2a8e20;
}
.beach2 {
    fill: #7297c1;
}
.beach3 {
    fill: #7c665f;
}
.beach4 {
    fill: #565163;
}
.beach5 {
    fill: #99837f;
}
.beach6 {
    fill: #a8979a;
}
.beach7 {
    fill: #4b4c68;
}
.beach8 {
    fill: #3d4166;
}
.beach9 {
    fill: #686a89;
}
.beach10 {
    fill: #726070;
}
.beach11 {
    fill: #727293;
}
.beach12 {
    fill: #575772;
}
.beach13 {
    fill: #666176;
}
.beach14 {
    fill: #898195;
}
.beach15 {
    fill: #514a5e;
}
.beach16 {
    fill: #8f8fb2;
}
.beach17 {
    fill: #a09db4;
}
.beach18 {
    fill: #3a3b56;
}
.beach19 {
    fill: #66667f;
}
.beach20 {
    fill: #aa9d9a;
}
.beach21 {
    fill: #5e6679;
}
.beach22 {
    fill: #7f6e74;
}
.beach23 {
    fill: #7e7f9b;
}
.beach24 {
    fill: #353756;
}
.beach25 {
    fill: #686982;
}
.beach26 {
    fill: #797fa0;
}
.beach27 {
    fill: #9ea4c4;
}
.beach28 {
    fill: #544659;
}
.beach29 {
    fill: #87717a;
}
.beach30 {
    fill: #a895a1;
}
.beach31 {
    fill: #494c6d;
}
.beach32 {
    fill: #866a89;
}
.beach33 {
    fill: #705d7a;
}
.beach34 {
    fill: #604f6c;
}
.beach35 {
    fill: #a589a9;
}
.beach36 {
    fill: #c4adcc;
}
.beach37 {
    fill: #79819b;
}
.beach38 {
    fill: #50537f;
}
.beach39 {
    fill: #b568b8;
}
.beach40 {
    fill: #ce89d6;
}
.beach41 {
    fill: #8c4b95;
}
.beach42 {
    fill: #4a4d68;
}
.beach43 {
    fill: #696e91;
}
.beach44 {
    fill: #867993;
}
.beach45 {
    fill: #706781;
}
.beach46 {
    fill: #605872;
}
.beach47 {
    fill: #a598b3;
}
.beach48 {
    fill: #c4b9d4;
}
.beach49 {
    fill: #937da1;
}
.beach50 {
    fill: #4a5a77;
}
.beach51 {
    fill: #68738e;
}
.beach52 {
    fill: #bfaba5;
}
.beach53 {
    fill: #737799;
}
.beach54 {
    fill: #52567a;
}
.beach55 {
    fill: #7a7291;
}
.beach56 {
    fill: #464760;
}
.beach57 {
    fill: #8e94b7;
}
.beach58 {
    fill: #827590;
}
.beach59 {
    fill: #7f7c8b;
}
.beach60 {
    fill: #968ca7;
}
.beach61 {
    fill: #7679a5;
}
.beach62 {
    fill: #6d6b7f;
}
.beach63 {
    fill: #2f7763;
}
.beach64 {
    fill: #15828c;
}
.beach65 {
    fill: #11aa5f;
}
.beach66 {
    fill: #14e270;
}
.beach67 {
    fill: #0ea8a9;
}
.beach68 {
    fill: #00e8d8;
}
.beach69 {
    fill: #31ffb3;
}
.beach70 {
    fill: #ffffff;
}
.beach71 {
    fill: #097034;
}
.beach72 {
    fill: #0ed6a9;
}
.beach73 {
    fill: #2f7799;
}
.beach74 {
    fill: #1c81b7;
}
.beach75 {
    fill: #0081e1;
}
.beach76 {
    fill: #11b7c5;
}
.beach77 {
    fill: #00bef4;
}
.beach78 {
    fill: #bbfff7;
}
.beach79 {
    fill: #395677;
}
.beach80 {
    fill: #365e64;
}
.beach81 {
    fill: #368b64;
}
.beach82 {
    fill: #636b8c;
}
.beach83 {
    fill: #665b75;
}
.beach84 {
    fill: #42374b;
}
.beach85 {
    fill: #ff6896;
}
.beach86 {
    fill: #ff72b4;
}
.beach87 {
    fill: #ed72de;
}
.beach88 {
    fill: #fea8c2;
}
.beach89 {
    fill: #edaff1;
}
.beach90 {
    fill: #fff0f4;
}
.beach91 {
    fill: #a88231;
}
.beach92 {
    fill: #876362;
}
.beach93 {
    fill: #c19c57;
}
.beach94 {
    fill: #826abf;
}
.beach95 {
    fill: #4f427f;
}
.beach96 {
    fill: #a99bdb;
}
.beach97 {
    fill: none;
    beachroke: #000017;
    beachroke-width: 2;
    beachroke-miterlimit: 10;
}
.beach98 {
    fill: #000017;
}
.beach99 {
    fill: #61373d;
}
.beach100 {
    fill: #b57671;
}
.beach101 {
    fill: #926264;
}
.beach102 {
    fill: #75474d;
}
.beach103 {
    fill: #542a31;
}
.beach104 {
    fill: #a67272;
}
.beach105 {
    fill: #99686c;
}
.beach106 {
    fill: #542d3a;
}
.beach107 {
    fill: #eed6e2;
}
.beach108 {
    fill: #9e8793;
}
.beach109 {
    fill: #80636d;
}
.beach110 {
    fill: #bcafba;
}
.beach111 {
    fill: #fff5ff;
}
.beach112 {
    fill: #e6c8d3;
}
.beach113 {
    fill: #421820;
}
.beach114 {
    fill: #82575b;
}
.beach115 {
    fill: #7a4d54;
}
.beach116 {
    fill: #b58384;
}
.beach117 {
    fill: #304c17;
}
.beach118 {
    fill: #6bad1a;
}
.beach119 {
    fill: #8c5254;
}
.beach120 {
    fill: #63383e;
}
.beach121 {
    fill: #683d42;
}
.beach122 {
    fill: #3d722b;
}
.beach123 {
    fill: #a36c70;
}
.beach124 {
    opacity: 0.5;
    fill: #fff5ff;
}
.beach125 {
    fill: #1f0000;
}
.beach126 {
    fill: none;
    beachroke: #1f0000;
    beachroke-width: 2;
    beachroke-miterlimit: 10;
}
.beach127 {
    fill: #c26948;
}
.beach128 {
    fill: #ff9061;
}
.beach129 {
    fill: #8a473b;
}
.beach130 {
    fill: #ffa5e2;
}
.beach131 {
    fill: #ffccf2;
}
.beach132 {
    fill: #97577a;
}
.beach133 {
    fill: #e546cc;
}
.beach134 {
    opacity: 0.55;
    fill: #97577a;
}
.beach135 {
    fill: none;
    beachroke: #b61da0;
    beachroke-miterlimit: 10;
}
.beach136 {
    fill: #f291ff;
}
.beach137 {
    fill: #ffb8ff;
}
.beach138 {
    fill: #8a43aa;
}
.beach139 {
    fill: #d832fc;
}
.beach140 {
    opacity: 0.55;
    fill: #8a43aa;
}
.beach141 {
    fill: none;
    beachroke: #a909d0;
    beachroke-miterlimit: 10;
}
.beach142 {
    fill: #b61da0;
    beachroke: #b61da0;
    beachroke-miterlimit: 10;
}
.beach143 {
    fill: #f291ff;
    beachroke: #a909d0;
    beachroke-miterlimit: 10;
}
.beach144 {
    fill: #ffc5ff;
}
.beach145 {
    fill: #ff6bef;
}
.beach146 {
    fill: #dd5cf7;
}
.beach147 {
    fill: #fba6ff;
}
.beach148 {
    fill: #7a4c52;
}
.beach149 {
    fill: #83a200;
}
.beach150 {
    fill: #96b122;
}
.beach151 {
    fill: #3c722a;
}
.beach152 {
    fill: #23681d;
}
.beach153 {
    fill: #1a5413;
}
.beach154 {
    fill: #3cae2a;
}
.beach155 {
    fill: #55962a;
}
.beach156 {
    fill: #386d00;
}
.beach157 {
    fill: #16dd00;
}
.beach158 {
    fill: #31682d;
}
.beach159 {
    fill: #f2cf00;
}
.beach160 {
    fill: #f28e00;
}
.beach161 {
    fill: #ffe969;
}
.beach162 {
    fill: #9b4d19;
}
.beach163 {
    fill: #ffa166;
}
.beach164 {
    fill: #ff6066;
}
.beach165 {
    fill: #ffbbcf;
}
.beach166 {
    fill: #ffd1ff;
}
.beach167 {
    fill: #c11f7f;
}
.beach168 {
    fill: #a9ccff;
}
.beach169 {
    fill: #da7dff;
}
.beach170 {
    fill: #fff63c;
}
.beach171 {
    fill: #6a5872;
}
.beach172 {
    fill: #c85872;
}
.beach173 {
    fill: #eeccff;
}
.beach174 {
    fill: #ff7dff;
}
.beach175 {
    fill: #af5872;
}
.beach176 {
    fill: #ff5872;
}
.beach177 {
    fill: #ffe4ae;
}
.beach178 {
    fill: #ffce40;
}
.beach179 {
    fill: #ffbbae;
}
.beach180 {
    fill: #ffa540;
}
.beach181 {
    fill: #c2d5ff;
}
.beach182 {
    fill: #c2bfd6;
}
.beach183 {
    fill: #ede49d;
}
.beach184 {
    fill: #e2ac00;
}
.beach185 {
    fill: #a2dadd;
}
.beach186 {
    fill: none;
    beachroke: #000000;
    beachroke-width: 2;
    beachroke-miterlimit: 10;
}
.beach187 {
    opacity: 0.4;
    fill: #55962a;
}
.beach188 {
    opacity: 0.4;
    fill: #3c722a;
}
.beach189 {
    fill: #56960c;
}
.beach190 {
    fill: #c87e59;
}
.beach191 {
    fill: #f7a35e;
}
.beach192 {
    fill: #fcaa57;
}
.beach193 {
    fill: #ffb966;
}
.beach194 {
    fill: #844327;
}
.beach195 {
    fill: #d13b6a;
}
.beach196 {
    fill: #e2c698;
}
.beach197 {
    fill: #9da0a5;
}
.beach198 {
    fill: #f4e3cb;
}
.beach199 {
    fill: #f4717d;
}
.beach200 {
    fill: #f9acb6;
}
.beach201 {
    fill: #aa7f5e;
}
.beach202 {
    fill: #6a6b72;
}
.beach203 {
    opacity: 0.3;
    fill: #6a6b72;
}
.beach204 {
    fill: #0064b6;
}
.beach205 {
    fill: #6da9d1;
}
.beach206 {
    fill: #225475;
}
.beach207 {
    fill: #11374c;
}
.beach208 {
    fill: #ff7232;
}
.beach209 {
    fill: #fc63a1;
}
.beach210 {
    fill: #b2366e;
}
.beach211 {
    fill: #83366e;
}
.beach212 {
    fill: #ff9fcb;
}
.beach213 {
    fill: #009db6;
}
.beach214 {
    fill: #495363;
}
.beach215 {
    fill: #98b2d8;
}
.beach216 {
    fill: #a89486;
}
.beach217 {
    fill: #5bbe00;
}
.beach218 {
    fill: #2e6d27;
}
.beach219 {
    fill: #ff40fb;
}
.beach220 {
    fill: #ffe040;
}
.beach221 {
    fill: #ff6040;
}
.beach222 {
    fill: #ff81fb;
}
.beach223 {
    fill: #fffbcf;
}
.beach224 {
    fill: #adea6e;
}
.beach225 {
    opacity: 0.4;
    fill: #c87e59;
}
.beach226 {
    opacity: 0.4;
    fill: #844327;
}
.beach227 {
    opacity: 0.4;
    fill: #61373d;
}
.beach228 {
    opacity: 0.4;
    fill: #542a31;
}
.beach229 {
    opacity: 0.4;
    fill: #353756;
}
.beach230 {
    opacity: 0.4;
    fill: #32293a;
}
