.FELI-B-st0 {
    fill: #39842c;
}

.FELI-B-st1 {
    fill: #6dc066;
}

.FELI-B-st2 {
    fill: #5b5651;
}

.FELI-B-st3 {
    fill: #35322f;
}

.FELI-B-st4 {
    fill: #6b6967;
}

.FELI-B-st5 {
    opacity: 0.3;
    fill: #255b1f;
}

.FELI-B-st6 {
    opacity: 0.4;
    fill: #255b1f;
}

.FELI-B-st7 {
    opacity: 0.4;
    fill: #39842c;
}

.FELI-B-st8 {
    opacity: 0.3;
    fill: #7cdd54;
}

.FELI-B-st9 {
    fill: #4a9e3e;
}

.FELI-B-st10 {
    opacity: 0.42;
    fill: #286821;
}

.FELI-B-st11 {
    fill: #ad825c;
}

.FELI-B-st12 {
    fill: #ad8355;
}

.FELI-B-st13 {
    opacity: 0.6;
    fill: #4b5260;
}

.FELI-B-st14 {
    fill: #7297a0;
}

.FELI-B-st15 {
    opacity: 0.6;
    fill: #8dbdce;
}

.FELI-B-st16 {
    fill: #b0e6f4;
}

.FELI-B-st17 {
    opacity: 0.6;
    fill: #7aeaea;
}

.FELI-B-st18 {
    opacity: 0.5;
    fill: #405e66;
}

.FELI-B-st19 {
    fill: #405e66;
}

.FELI-B-st20 {
    fill: #ffffff;
}

.FELI-B-st21 {
    fill: #6a92a3;
}

.FELI-B-st22 {
    fill: #93c8db;
}

.FELI-B-st23 {
    opacity: 0.4;
    fill: #93c8db;
}

.FELI-B-st24 {
    fill: #8dbdce;
}

.FELI-B-st25 {
    fill: #6f868c;
}

.FELI-B-st26 {
    fill: #872710;
}

.FELI-B-st27 {
    opacity: 0.5;
    fill: #7aeaea;
}

.FELI-B-st28 {
    fill: #8a93a0;
}

.FELI-B-st29 {
    fill: #7aeaea;
}

.FELI-B-st30 {
    opacity: 0.5;
    fill: #546a72;
}

.FELI-B-st31 {
    opacity: 0.6;
    fill: #ffffff;
}

.FELI-B-st32 {
    fill: #d90000;
}

.FELI-B-st33 {
    fill: #ff4d4d;
}

.FELI-B-st34 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.FELI-B-st35 {
    opacity: 0.6;
    fill: #35302c;
}

.FELI-B-st36 {
    fill: #72838e;
}

.FELI-B-st37 {
    fill: #9b5c4b;
}

.FELI-B-st38 {
    fill: #80bcbb;
}

.FELI-B-st39 {
    fill: #848383;
}

.FELI-B-st40 {
    opacity: 0.4;
    fill: #724203;
}

.FELI-B-st41 {
    fill: #e89105;
}

.FELI-B-st42 {
    fill: #e8c605;
}

.FELI-B-st43 {
    fill: #ffff73;
}

.FELI-B-st44 {
    opacity: 0.5;
    fill: #ad6600;
}

.FELI-B-st45 {
    opacity: 0.7;
    fill: #724203;
}

.FELI-B-st46 {
    fill: #a0d5ea;
}

.FELI-B-st47 {
    fill: #abb0c6;
}

.FELI-B-st48 {
    fill: #bc974d;
}

.FELI-B-st49 {
    fill: #f2cb86;
}

.FELI-B-st50 {
    fill: #5b3e34;
}

.FELI-B-st51 {
    fill: #6dc0ff;
}

.FELI-B-st52 {
    fill: #89644c;
}

.FELI-B-st53 {
    opacity: 0.4;
    fill: #d6925f;
}

.FELI-B-st54 {
    fill: #a9e2ff;
}

.FELI-B-st55 {
    fill: #ebf3ff;
}

.FELI-B-st56 {
    opacity: 0.3;
    fill: #ffffff;
}

.FELI-B-st57 {
    opacity: 0.7;
    fill: #ffffff;
}

.FELI-B-st58 {
    opacity: 0.4;
    fill: #ffffff;
}

.FELI-B-st59 {
    fill: #754d43;
}

.FELI-B-st60 {
    fill: #247dff;
}

.FELI-B-st61 {
    fill: #3198ff;
}

.FELI-B-st62 {
    fill: #52c5ff;
}

.FELI-B-st63 {
    fill: #502e72;
}

.FELI-B-st64 {
    fill: #a955eb;
}

.FELI-B-st65 {
    fill: #b975f9;
}

.FELI-B-st66 {
    fill: #d9b8ff;
}

.FELI-B-st67 {
    fill: #246630;
}

.FELI-B-st68 {
    fill: #319851;
}

.FELI-B-st69 {
    fill: #52c500;
}

.FELI-B-st70 {
    fill: #baff00;
}

.FELI-B-st71 {
    opacity: 0.2;
    fill: #ffffff;
}

.FELI-B-st72 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.FELI-B-st73 {
    opacity: 0.6;
    fill: #405e66;
}

.FELI-B-st74 {
    opacity: 0.7;
    fill: #405e66;
}

.FELI-B-st75 {
    opacity: 0.5;
    fill: #ffffff;
}

.FELI-B-st76 {
    fill: #00c48c;
}

.FELI-B-st77 {
    fill: #098974;
}

.FELI-B-st78 {
    fill: #0b4460;
}

.FELI-B-st79 {
    opacity: 0.3;
    fill: #39ff89;
}

.FELI-B-st80 {
    fill: #66524b;
}

.FELI-B-st81 {
    fill: #846359;
}

.FELI-B-st82 {
    fill: #dba36b;
}

.FELI-B-st83 {
    fill: #f7ce86;
}

.FELI-B-st84 {
    fill: #4c3e48;
}

.FELI-B-st85 {
    fill: #2ca42c;
}

.FELI-B-st86 {
    fill: #39cb2c;
}

.FELI-B-st87 {
    opacity: 0.6;
    fill: #2ca42c;
}

.FELI-B-st88 {
    fill: #667e84;
}

.FELI-B-st89 {
    fill: #86b7bf;
}

.FELI-B-st90 {
    opacity: 0.6;
    fill: #86b7bf;
}

.FELI-B-st91 {
    fill: #4a5770;
}

.FELI-B-st92 {
    fill: #9ee8ef;
}

.FELI-B-st93 {
    opacity: 0.6;
    fill: #9ee8ef;
}

.FELI-B-st94 {
    fill: #f4be7d;
}

.FELI-B-st95 {
    opacity: 0.7;
    fill: #39842c;
}

.FELI-B-st96 {
    fill: #26b0ff;
}

.FELI-B-st97 {
    opacity: 0.3;
}

.FELI-B-st98 {
    fill: #ffc04e;
}

.FELI-B-st99 {
    fill: #ff7778;
}

.FELI-B-st100 {
    opacity: 0.5;
}

.FELI-B-st101 {
    fill: #b3d4e8;
}

.FELI-B-st102 {
    fill: #fff44e;
}

.FELI-B-st103 {
    fill: #7f7e7d;
}

.FELI-B-st104 {
    fill: #489e20;
}

.FELI-B-st105 {
    fill: #235618;
}

.FELI-B-st106 {
    fill: #5faa3c;
}

.FELI-B-st107 {
    fill: #af804e;
}

.FELI-B-st108 {
    fill: #443732;
}

.FELI-B-st109 {
    fill: #646570;
}

.FELI-B-st110 {
    fill: #738399;
}

.FELI-B-st111 {
    fill: #8d9bc6;
}

.FELI-B-st112 {
    fill: #576575;
}

.FELI-B-st113 {
    opacity: 0.5;
    fill: #272e38;
}

.FELI-B-st114 {
    fill: #563a20;
}

.FELI-B-st115 {
    opacity: 0.7;
    fill: #89674c;
}

.FELI-B-st116 {
    fill: #3a2a1c;
}

.FELI-B-st117 {
    fill: #4d0f0f;
}

.FELI-B-st118 {
    fill: #664c3e;
}

.FELI-B-st119 {
    fill: #8e604c;
}

.FELI-B-st120 {
    fill: #b70f0f;
}

.FELI-B-st121 {
    opacity: 0.7;
    fill: #4d0f0f;
}

.FELI-B-st122 {
    fill: #7f9bc6;
}

.FELI-B-st123 {
    fill: #455060;
}

.FELI-B-st124 {
    fill: #5f7084;
}

.FELI-B-st125 {
    fill: #6a839b;
}

.FELI-B-st126 {
    fill: #6c97c1;
}

.FELI-B-st127 {
    opacity: 0.6;
    fill: #a3c9e8;
}

.FELI-B-st128 {
    fill: #242d38;
}

.FELI-B-st129 {
    fill: #7cdd54;
}

.FELI-B-st130 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.FELI-B-st131 {
    opacity: 0.4;
}
