.green-st0 {
    fill: #75a65d;
}
.green-st1 {
    fill: #3a7144;
}
.green-st2 {
    fill: #655c59;
}
.green-st3 {
    fill: #6c582c;
}
.green-st4 {
    opacity: 0.4;
    fill: #6c582c;
}
.green-st5 {
    opacity: 0.61;
    fill: #6c582c;
}
.green-st6 {
    fill: #557c5a;
}
.green-st7 {
    fill: #66934e;
}
.green-st8 {
    opacity: 0.53;
    fill: #75a65d;
}
.green-st9 {
    opacity: 0.5;
    fill: #254f2b;
}
.green-st10 {
    opacity: 0.38;
    fill: #254f2b;
}
.green-st11 {
    fill: #2d6042;
}
.green-st12 {
    fill: #699b4e;
}
.green-st13 {
    fill: #448e3c;
}
.green-st14 {
    opacity: 0.5;
    fill: #6c582c;
}
.green-st15 {
    fill: #86b76c;
}
.green-st16 {
    opacity: 0.5;
    fill: #86b76c;
}
.green-st17 {
    fill: #1d1d1d;
}
.green-st18 {
    clip-path: url(#PERCH_BACK_2);
}
