.red-st0 {
    fill: #7a1b1b;
}
.red-st1 {
    fill: #4c1e1e;
}
.red-st2 {
    fill: #823131;
}
.red-st3 {
    fill: #bc5651;
}
.red-st4 {
    fill: #5e2929;
}
.red-st5 {
    fill: #6d3939;
}
.red-st6 {
    opacity: 0.42;
    fill: #561a1a;
}
.red-st7 {
    fill: #512424;
}
.red-st8 {
    opacity: 0.21;
    fill: #823131;
}
.red-st9 {
    fill: #602020;
}
.red-st10 {
    fill: #752d2d;
}
.red-st11 {
    fill: #af4a41;
}
.red-st12 {
    fill: #a33936;
}
.red-st13 {
    fill: #993e3a;
}
.red-st14 {
    opacity: 0.4;
    fill: #441414;
}
.red-st15 {
    opacity: 0.28;
    fill: #af4a41;
}
.red-st16 {
    fill: #722828;
}
.red-st17 {
    fill: #ba6060;
}
.red-st18 {
    fill: #1d1d1d;
}
.red-st19 {
    clip-path: url(#PERCH_BACK_2);
}
