.elon-st0 {
    fill: #f7a800;
}

.elon-st1 {
    fill: #d8a132;
}

.elon-st2 {
    fill: #99a5ad;
}

.elon-st3 {
    fill: #602011;
}

.elon-st4 {
    fill: #b74b02;
}

.elon-st5 {
    fill: #b6d1e0;
}

.elon-st6 {
    fill: #ffd346;
}

.elon-st7 {
    fill: #83b6cc;
}

.elon-st8 {
    fill: #332a27;
}

.elon-st9 {
    fill: #f18a0e;
}

.elon-st10 {
    fill: #1e0f00;
}

.elon-st11 {
    fill: #fff;
}

.elon-st12 {
    fill: #fbbc2f;
}

.elon-st13 {
    fill: #1d1d1d;
}

.elon-st14 {
    fill: #464851;
}

.elon-st15 {
    fill: #473b37;
}

.elon-st16 {
    fill: #6ebf54;
}

.elon-st17 {
    fill: #99b2c4;
}

.elon-st18 {
    fill: #2f373d;
}

.elon-st19 {
    fill: #aec7d6;
}

.elon-st20 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #05f;
}

.elon-st21 {
    fill: #3f3f3f;
}

.elon-st22 {
    fill: #2c2c2c;
}

.elon-st23 {
    fill: #ed7601;
}

.elon-st24 {
    fill: #d64422;
}

.elon-st25 {
    fill: #893b19;
}

.elon-st26 {
    fill: #1d1d1e;
}

.elon-st27 {
    fill: #3d2d11;
}

.elon-st28 {
    fill: #49371a;
}

.elon-st29 {
    fill: #725326;
}

.elon-st30 {
    fill: #664a12;
}
