.rightWing0 {
    fill: #f18a0e;
}

.rightWing1 {
    fill: #c46626;
    stroke: #9b3f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing2 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing3 {
    fill: #5e5653;
}

.rightWing4 {
    fill: #77635a;
}

.rightWing5 {
    fill: #3f3938;
}

.rightWing6 {
    fill: #5b6170;
}

.rightWing7 {
    fill: #444a56;
}

.rightWing8 {
    fill: #31363f;
}

.rightWing9 {
    fill: #828b9e;
}

.rightWing10 {
    fill: #bcc6d8;
}

.rightWing11 {
    fill: #98a4b7;
}

.rightWing12 {
    fill: #d6deea;
}

.rightWing13 {
    fill: #4c3833;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing14 {
    fill: #767d8c;
    stroke: #434f5b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing15 {
    fill: #fff;
}

.rightWing16 {
    fill: #40434c;
}

.rightWing17 {
    fill: #2f323a;
}

.rightWing18 {
    fill: #575b63;
}

.rightWing19 {
    opacity: 0.3;
    fill: #bcc6d8;
}

.rightWing20 {
    fill: #7f554c;
}

.rightWing21 {
    fill: #f7a800;
}

.rightWing22 {
    fill: #aa897d;
}

.rightWing23 {
    fill: #8c96aa;
}

.rightWing24 {
    fill: #89491d;
}

.rightWing25 {
    fill: #c6692a;
    stroke: #e2ac7a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing26 {
    fill: none;
    stroke: #e2ac7a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing27 {
    fill: none;
    stroke: #e2ac7a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing28 {
    fill: #f998d0;
    stroke: #d860aa;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing29 {
    fill: #a8f79a;
    stroke: #85e870;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing30 {
    fill: #a8f79a;
}

.rightWing31 {
    fill: #85e870;
}

.rightWing32 {
    fill: #deffd7;
}

.rightWing33 {
    fill: #ffcaeb;
}

.rightWing34 {
    fill: #fff4a4;
}

.rightWing35 {
    fill: #db6914;
}

.rightWing36 {
    fill: #db811f;
}

.rightWing37 {
    fill: #f9bf36;
}

.rightWing38 {
    fill: #ffecc5;
}

.rightWing39 {
    fill: #542505;
}

.rightWing40 {
    fill: #bf1d44;
}

.rightWing41 {
    fill: #e50f46;
}

.rightWing42 {
    fill: #ff5c8b;
}

.rightWing43 {
    fill: #872240;
}

.rightWing44 {
    fill: #d05040;
}

.rightWing45 {
    fill: #ff92b6;
}

.rightWing46 {
    fill: #ff1256;
}

.rightWing47 {
    fill: #a81f3e;
}

.rightWing48 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8786;
    stroke-miterlimit: 10;
}

.rightWing49 {
    fill: #ffd346;
}

.rightWing50 {
    fill: #fbbc2f;
}

.rightWing51 {
    fill: #1d1d1d;
}

.rightWing52 {
    fill: #2054aa;
}

.rightWing53 {
    fill: #354459;
}

.rightWing54 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing55 {
    fill: #8a0806;
}

.rightWing56 {
    fill: #601111;
}

.rightWing57 {
    fill: #3a3d3f;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing58 {
    fill: #e1eaf9;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing59 {
    fill: #96a1b2;
}

.rightWing60 {
    fill: #1c1e21;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing61 {
    fill: #917034;
    stroke: #6b4e3b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing62 {
    fill: #48739b;
}

.rightWing63 {
    fill: #6f93ba;
}

.rightWing64 {
    fill: #3f6089;
}

.rightWing65 {
    fill: #8dafce;
}

.rightWing66 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing67 {
    fill: #1d1d1b;
}

.rightWing68 {
    fill: #b7cfe2;
}

.rightWing69 {
    fill: #fe273b;
}

.rightWing70 {
    fill: #be0a15;
}

.rightWing71 {
    fill: #a00514;
}

.rightWing72 {
    fill: #4f5256;
}

.rightWing73 {
    fill: #3a3d3f;
}

.rightWing74 {
    fill: #202123;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing75 {
    fill: #171819;
}

.rightWing76 {
    fill: #2d3033;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing77 {
    fill: #35393d;
}

.rightWing78 {
    fill: #a99783;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing79 {
    fill: #8e7e6e;
    stroke: #a99783;
    stroke-miterlimit: 10;
}

.rightWing80 {
    fill: #8e7e6e;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing81 {
    fill: #6d5f53;
}

.rightWing82 {
    fill: #a99783;
}

.rightWing83 {
    fill: #8e7e6e;
}

.rightWing84 {
    fill: #6d5f53;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing85 {
    fill: #ccc0b4;
}

.rightWing86 {
    fill: #a99783;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing87 {
    fill: #6b4e3b;
}

.rightWing88 {
    fill: #b6b5b1;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing89 {
    fill: #7c7c79;
}

.rightWing90 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing91 {
    fill: #b6b5b1;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing92 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing93 {
    fill: #e2ded0;
}

.rightWing94 {
    fill: #c1a370;
}

.rightWing95 {
    fill: #d6d6d6;
}

.rightWing96 {
    fill: #c2c8cc;
}

.rightWing97 {
    fill: #e6ebef;
}

.rightWing98 {
    fill: #d69513;
}

.rightWing99 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.rightWing100 {
    fill: #ffde83;
}

.rightWing101 {
    fill: #332929;
}

.rightWing102 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing103 {
    fill: #110e0e;
}

.rightWing104 {
    fill: #8a969b;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing105 {
    fill: #8a969b;
}

.rightWing106 {
    fill: #443d3d;
}

.rightWing107 {
    fill: #373938;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing108 {
    fill: #262827;
}

.rightWing109 {
    fill: #151615;
}

.rightWing110 {
    fill: #484c51;
}

.rightWing111 {
    fill: #646c70;
}

.rightWing112 {
    fill: #373938;
}

.rightWing113 {
    fill: #889fa8;
}

.rightWing114 {
    fill: #646c70;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing115 {
    fill: #0445ff;
}

.rightWing116 {
    fill: #689948;
}

.rightWing117 {
    fill: #517c35;
}

.rightWing118 {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing119 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing120 {
    fill: #ae663e;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing121 {
    fill: none;
    stroke: #1d1d1b;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.rightWing122 {
    fill: #dd7868;
}

.rightWing123 {
    fill: #838d82;
}

.rightWing124 {
    fill: #555e54;
}

.rightWing125 {
    fill: #cde8f9;
}

.rightWing126 {
    fill: #b4212f;
}

.rightWing127 {
    fill: #5b2329;
}

.rightWing128 {
    fill: #771929;
}

.rightWing129 {
    fill: #293861;
}

.rightWing130 {
    fill: #202a42;
}

.rightWing131 {
    fill: #614e47;
}

.rightWing132 {
    fill: #3d527f;
}

.rightWing133 {
    fill: #896136;
}

.rightWing134 {
    fill: #9d373f;
}

.rightWing135 {
    fill: #9aab50;
}

.rightWing136 {
    opacity: 0.32;
}

.rightWing137 {
    fill: #fff48a;
}

.rightWing138 {
    fill: #d59100;
}

.rightWing139 {
    fill: #ffe266;
}

.rightWing140 {
    fill: #e29000;
}

.rightWing141 {
    fill: #846b5d;
}

.rightWing142 {
    fill: #ef7100;
}

.rightWing143 {
    fill: #37b9c7;
}

.rightWing144 {
    fill: #cce5d0;
}

.rightWing145 {
    fill: #aa1a31;
}

.rightWing146 {
    fill: #ffed00;
}

.rightWing147 {
    fill: #47312b;
}

.rightWing148 {
    fill: #90afb2;
}

.rightWing149 {
    fill: #556e7c;
}

.rightWing150 {
    fill: #d0ebfc;
}

.rightWing151 {
    fill: #914817;
}

.rightWing152 {
    fill: #af6400;
}

.rightWing153 {
    fill: #ffae1f;
}

.rightWing154 {
    fill: #ffe2b8;
}

.rightWing155 {
    fill: #fcc24c;
}

.rightWing156 {
    fill: #058ed9;
    stroke: #055477;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing157 {
    fill: #1ca5e5;
    stroke: #055477;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing158 {
    fill: #9cb4d8;
    stroke: #7a8393;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing159 {
    fill: #d36c37;
    stroke: #934625;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing160 {
    fill: #da9e3b;
}

.rightWing161 {
    fill: #6b727f;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing162 {
    fill: #505968;
}

.rightWing163 {
    fill: #ceddf4;
}

.rightWing164 {
    fill: #2a3442;
}

.rightWing165 {
    fill: #3f434c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing166 {
    fill: #8b97a5;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing167 {
    fill: #2d333d;
}

.rightWing168 {
    opacity: 0.2;
    fill: #fff;
}

.rightWing169 {
    fill: #c46626;
    stroke: #9b3f00;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing170 {
    fill: #027ec9;
}

.rightWing171 {
    fill: #03619b;
}

.rightWing172 {
    fill: #adecfc;
}

.rightWing173 {
    fill: #8db1d4;
}

.rightWing174 {
    fill: #db6cff;
}

.rightWing175 {
    fill: #ae5aff;
}

.rightWing176 {
    opacity: 0.5;
    fill: #e9edff;
}

.rightWing177 {
    fill: #50585b;
}

.rightWing178 {
    fill: #768a92;
}

.rightWing179 {
    fill: #868f93;
}

.rightWing180 {
    fill: #515b5e;
}

.rightWing181 {
    fill: #37393a;
}

.rightWing182 {
    fill: #c0c7c9;
}

.rightWing183 {
    fill: #99948c;
}

.rightWing184 {
    fill: #555659;
}

.rightWing185 {
    fill: #3a3b3d;
}

.rightWing186 {
    opacity: 0.6;
    fill: #fff;
}

.rightWing187 {
    fill: #d1be9d;
}

.rightWing188 {
    opacity: 0.3;
    fill: #d1be9d;
}

.rightWing189 {
    opacity: 0.3;
    fill: #c0c7c9;
}

.rightWing190 {
    opacity: 0.6;
    fill: #768a92;
}

.rightWing191 {
    opacity: 0.3;
    fill: #99948c;
}

.rightWing192 {
    fill: #84655c;
}

.rightWing193 {
    fill: #ada287;
}

.rightWing194 {
    fill: #717377;
}

.rightWing195 {
    fill: #1b1d1e;
}

.rightWing196 {
    opacity: 0.2;
    fill: #d1be9d;
}

.rightWing197 {
    opacity: 0.6;
    fill: #3a3b3d;
}

.rightWing198 {
    opacity: 0.5;
    fill: #c0c7c9;
}

.rightWing199 {
    opacity: 0.8;
    fill: #99948c;
}

.rightWing200 {
    fill: #fff800;
}

.rightWing201 {
    fill: #ffbc00;
}

.rightWing202 {
    fill: #78ff39;
}

.rightWing203 {
    fill: #13c400;
}

.rightWing204 {
    fill: #ff1d1d;
}

.rightWing205 {
    fill: #d60000;
}

.rightWing206 {
    fill: #506eff;
}

.rightWing207 {
    fill: #374ef4;
}

.rightWing208 {
    fill: #826144;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing209 {
    fill: #514e4b;
}

.rightWing210 {
    fill: #826144;
}

.rightWing211 {
    fill: #b77c1d;
}

.rightWing212 {
    fill: #313538;
}

.rightWing213 {
    fill: #3e4244;
}

.rightWing214 {
    fill: #473331;
}

.rightWing215 {
    fill: #8a8975;
}

.rightWing216 {
    fill: #a9ab95;
}

.rightWing217 {
    fill: #937654;
}

.rightWing218 {
    fill: #817967;
}

.rightWing219 {
    fill: #a0b5b3;
}

.rightWing220 {
    fill: #bc8b0f;
}

.rightWing221 {
    fill: #e2a620;
}

.rightWing222 {
    fill: #ffdbb0;
}

.rightWing223 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.rightWing224 {
    fill: #e29c00;
}

.rightWing225 {
    fill: #ad770b;
}

.rightWing226 {
    fill: #ffb829;
}

.rightWing227 {
    fill: #edad58;
}

.rightWing228 {
    fill: #86962a;
}

.rightWing229 {
    fill: #bc2820;
}

.rightWing230 {
    fill: #defffd;
}

.rightWing231 {
    fill: #82580d;
}

.rightWing232 {
    fill: #23272b;
}

.rightWing233 {
    fill: #2a2c30;
}

.rightWing234 {
    fill: #232528;
}

.rightWing235 {
    fill: #1a1c1e;
}

.rightWing236 {
    fill: #3a3f47;
}

.rightWing237 {
    fill: #2f343a;
}

.rightWing238 {
    fill: #4b515b;
}

.rightWing239 {
    fill: #d20a11;
}

.rightWing240 {
    fill: #921d1c;
}

.rightWing241 {
    fill: #f22736;
}

.rightWing242 {
    fill: #8f6821;
}

.rightWing243 {
    fill: #ff5c70;
}

.rightWing244 {
    fill: #d68400;
}

.rightWing245 {
    fill: #ffbd5c;
}

.rightWing246 {
    fill: #969684;
}

.rightWing247 {
    fill: #565651;
}

.rightWing248 {
    fill: #939979;
}

.rightWing249 {
    fill: #b6b7a7;
}

.rightWing250 {
    fill: #3b3d3f;
}

.rightWing251 {
    fill: #5b5150;
}

.rightWing252 {
    fill: #818588;
}

.rightWing253 {
    fill: #4d4e4f;
}

.rightWing254 {
    fill: #3a6022;
}

.rightWing255 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing256 {
    fill: #ae663e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing257 {
    fill: #ce6b57;
}

.rightWing258 {
    fill: #ddd;
}

.rightWing259 {
    fill: #c4c4c4;
}

.rightWing260 {
    fill: none;
    stroke: #839391;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.rightWing261 {
    fill: #b4e1fa;
}

.rightWing262 {
    fill: #cdeafc;
}

.rightWing263 {
    fill: #6fa4bc;
}

.rightWing264 {
    fill: #afbdd8;
}

.rightWing265 {
    fill: #d7f3ff;
}

.rightWing266 {
    fill: #c7dbf9;
}

.rightWing267 {
    fill: #459cba;
}

.rightWing268 {
    fill: #76c8e5;
}

.rightWing269 {
    fill: #9b3f00;
}

.rightWing270 {
    fill: #c46626;
}

.rightWing271 {
    fill: #3a3f47;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing272 {
    fill: #5b6068;
}

.rightWing273 {
    fill: #423a37;
}

.rightWing274 {
    fill: #2d2725;
}

.rightWing275 {
    fill: #a55f13;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing276 {
    fill: #753b01;
}

.rightWing277 {
    fill: #211f1c;
}

.rightWing278 {
    fill: #3f3d3b;
}

.rightWing279 {
    fill: #85838e;
}

.rightWing280 {
    fill: #63626b;
}

.rightWing281 {
    fill: #9c9ba8;
}

.rightWing282 {
    fill: #cdccdd;
}

.rightWing283 {
    fill: #e59033;
    stroke: #59412a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing284 {
    fill: #f9b046;
}

.rightWing285 {
    fill: #d39392;
    stroke: #7a5454;
    stroke-miterlimit: 10;
}

.rightWing286 {
    fill: #ffcaca;
}

.rightWing287 {
    fill: #c7afa3;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing288 {
    fill: #6a4a3b;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing289 {
    fill: #675b5c;
}

.rightWing290 {
    fill: #3d3637;
}

.rightWing291 {
    fill: #4c3f39;
}

.rightWing292 {
    fill: #e5d0c7;
}

.rightWing293 {
    fill: #f4e8e4;
}

.rightWing294 {
    fill: #423c3d;
}

.rightWing295 {
    fill: #545454;
}

.rightWing296 {
    fill: #727272;
}

.rightWing297 {
    fill: #6a4a3b;
}

.rightWing298 {
    fill: #8d6645;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing299 {
    fill: #cf803d;
}

.rightWing300 {
    fill: #dd9a68;
}

.rightWing301 {
    fill: #dab893;
}

.rightWing302 {
    fill: #edd5be;
}

.rightWing303 {
    fill: #8d6645;
}

.rightWing304 {
    fill: #824920;
}

.rightWing305 {
    fill: #604b3c;
}

.rightWing306 {
    fill: #646363;
}

.rightWing307 {
    fill: #f3957e;
}

.rightWing308 {
    fill: #ffded7;
}

.rightWing309 {
    fill: #bf6d5c;
}

.rightWing310 {
    fill: #baccdd;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing311 {
    fill: #8599aa;
}

.rightWing312 {
    fill: #2fa0ba;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing313 {
    fill: #baccdd;
}

.rightWing314 {
    fill: #0c6689;
}

.rightWing315 {
    fill: #114859;
}

.rightWing316 {
    fill: #2fa0ba;
}

.rightWing317 {
    fill: #31363a;
}

.rightWing318 {
    fill: #ed7601;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing319 {
    fill: #535b60;
}

.rightWing320 {
    fill: #b75700;
}

.rightWing321 {
    fill: #ffbe83;
}

.rightWing322 {
    fill: #2fa0ba;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing323 {
    fill: #67b9c6;
}

.rightWing324 {
    fill: #9b723a;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing325 {
    fill: #a59179;
}

.rightWing326 {
    fill: #856c43;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing327 {
    fill: #403225;
}

.rightWing328 {
    fill: #c2ab81;
}

.rightWing329 {
    fill: #82735b;
}

.rightWing330 {
    fill: #564c3d;
}

.rightWing331 {
    fill: #3d3730;
}

.rightWing332 {
    fill: #e2d3ba;
}

.rightWing333 {
    fill: #9b723a;
}

.rightWing334 {
    fill: #59595b;
}

.rightWing335 {
    fill: #755938;
}

.rightWing336 {
    fill: #7c786d;
}

.rightWing337 {
    fill: #b5b1a7;
}

.rightWing338 {
    fill: #544433;
}

.rightWing339 {
    fill: #474747;
}

.rightWing340 {
    opacity: 0.3;
    fill: #fff;
}

.rightWing341 {
    fill: #685f59;
}

.rightWing342 {
    fill: #6e7f69;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing343 {
    fill: #566053;
}

.rightWing344 {
    fill: #3c4439;
}

.rightWing345 {
    fill: #704d47;
}

.rightWing346 {
    fill: #6e7f69;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.rightWing347 {
    fill: #6e7f69;
}

.rightWing348 {
    fill: #a4a579;
}

.rightWing349 {
    fill: #8c9e83;
}

.rightWing350 {
    fill: #474f45;
}

.rightWing351 {
    fill: #b6c1aa;
}

.rightWing352 {
    fill: #c1c1a3;
}

.rightWing353 {
    fill: #a85c51;
}

.rightWing354 {
    fill: #f4e9bd;
}

.rightWing355 {
    fill: #6a7677;
}

.rightWing356 {
    display: none;
}

.rightWing357 {
    fill: #c3d3dd;
}

.rightWing358 {
    fill: #e1f5ff;
}

.rightWing359 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing360 {
    fill: #d8d8d8;
}

.rightWing361 {
    fill: #040e00;
    stroke: #ff39ff;
    stroke-miterlimit: 10;
}

.rightWing362 {
    fill: #85ad29;
    stroke: #ff39ff;
    stroke-miterlimit: 10;
}

.rightWing363 {
    fill: #88c915;
    stroke: #ff39ff;
    stroke-miterlimit: 10;
}

.rightWing364 {
    fill: #9da5a5;
}

.rightWing365 {
    fill: #f72300;
}

.rightWing366 {
    fill: #b90000;
}

.rightWing367 {
    opacity: 0.2;
    fill: #33485e;
}

.rightWing368 {
    fill: #5b656b;
}

.rightWing369 {
    fill: #abe7ff;
}

.rightWing370 {
    fill: #ccdded;
}

.rightWing371 {
    fill: #b50f0f;
}

.rightWing372 {
    opacity: 0.2;
    fill: #5489d0;
}

.rightWing373 {
    fill: #ffd300;
}

.rightWing374 {
    fill: #ff9d00;
}

.rightWing375 {
    fill: #6cd300;
}

.rightWing376 {
    opacity: 0.5;
    fill: #fff;
}

.rightWing377 {
    fill: #ff5f5f;
}

.rightWing378 {
    fill: none;
}

.rightWing379 {
    opacity: 0.7;
    fill: #fff;
}

.rightWing380 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing381 {
    fill: none;
    stroke: #4f0000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing382 {
    opacity: 0.4;
    fill: #fff;
}

.rightWing383 {
    opacity: 0.4;
    fill: #33485e;
}

.rightWing384 {
    fill: #f00;
}
