.st0 {
    fill: #fff;
}

.st1 {
    fill: #aa5713;
}

.st2 {
    fill: #823411;
}

.st3 {
    fill: #24689b;
}

.st4 {
    clip-path: url(#SVGID_2_);
}

.st5 {
    fill: #ffbc00;
}

.st6 {
    fill: #fee02d;
}

.st7 {
    fill: #fff265;
}

.st8 {
    fill: #1d1d1b;
}

.st9 {
    fill: #ef7e31;
}

.st10 {
    fill: #ffe32e;
}

.st11 {
    fill: #f1af5d;
}

.st12 {
    fill: #4a4d51;
}

.st13 {
    fill: #8f9193;
}

.st14 {
    fill: #6d8599;
}

.st15 {
    fill: #5eb8ef;
}

.st16 {
    fill: none;
}

.st17 {
    fill: #ffef7b;
}

.st18 {
    fill: #fff8dc;
}

.st19 {
    fill: #9daaba;
}

.st20 {
    fill: #b3ddff;
}

.st21 {
    fill: #00cfff;
}

.st22 {
    fill: #c68d42;
}

.st23 {
    fill: #4c2c1c;
}

.st24 {
    fill: #c16900;
}

.st25 {
    fill: #aef7ff;
}

.st26 {
    fill: #5f8dce;
}

.st27 {
    fill: #009ac9;
}

.st28 {
    fill: #e0320a;
}

.st29 {
    fill: #3d69aa;
}

.st30 {
    fill: #b86a00;
}

.st31 {
    fill: #eaa702;
}

.st32 {
    fill: #f1c760;
}

.st33 {
    fill: #0094c1;
}

.st34 {
    fill: #00c4f2;
}

.st35 {
    fill: #6ff;
}

.st36 {
    fill: #0059c1;
}

.st37 {
    fill: #914701;
}

.st38 {
    fill: #b7b0aa;
}

.st39 {
    fill: #9b908a;
}

.st40 {
    fill: #c3bcb6;
}

.st41 {
    fill: #97b3c1;
}

.st42 {
    fill: #f5ffff;
}

.st43 {
    fill: #6c6260;
}

.st44 {
    opacity: 0.42;
}

.st45 {
    fill: #5f2603;
}

.st46 {
    fill: #b72200;
}

.st47 {
    fill: #e82505;
}

.st48 {
    fill: #a01802;
}

.st49 {
    fill: #ff402c;
}

.st50 {
    fill: #fffded;
}

.st51 {
    fill: #f9482b;
}

.st52 {
    fill: #ff9388;
}

.st53 {
    fill: #7f1403;
}

.st54 {
    fill: #ff9d00;
}

.st55 {
    fill: #c07900;
}

.st56 {
    fill: #e3a00c;
}

.st57 {
    fill: #d28801;
}

.st58 {
    fill: #08c0ff;
}

.st59 {
    fill: #095e89;
}

.st60 {
    fill: #f2be48;
}

.st61 {
    fill: #0078ed;
}

.st62 {
    fill: #fffffb;
}

.st63 {
    fill: #159;
}

.st64 {
    fill: #3585e5;
}

.st65 {
    fill: #6eb7ff;
}

.st66 {
    fill: #8be2ff;
}

.st67 {
    fill: #bc9106;
}

.st68 {
    fill: #36a4ff;
}

.st69 {
    fill: #ffd05a;
}

.st70 {
    fill: #8e6900;
}

.st71 {
    fill: #9b7c57;
}

.st72 {
    fill: #6d5841;
}

.st73 {
    fill: #6d585b;
}

.st74 {
    fill: #2bf0ff;
}

.st75 {
    fill: #2bb8ff;
}

.st76 {
    fill: #d88813;
}

.st77 {
    fill: #ffd346;
}

.st78 {
    fill: #ed7601;
}

.st79 {
    fill: #1d1d1d;
}

.st80 {
    fill: #d64422;
}

.st81 {
    fill: #c9965f;
}

.st82 {
    fill: #564548;
}

.st83 {
    fill: #ffcd5f;
}

.st84 {
    fill: #ffe4ae;
}

.st85 {
    fill: #a3610a;
}

.st86 {
    opacity: 0.72;
}

.st87 {
    fill: #874d02;
}
