.st0 {
    fill: #8599b5;
}

.st1 {
    opacity: 0.3;
}

.st2 {
    fill: #ffffff;
}

.st3 {
    fill: #6f87ad;
}

.st4 {
    fill: #5c708e;
}

.st5 {
    opacity: 0.1;
    fill: #ffffff;
}

.st6 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st7 {
    opacity: 0.5;
    fill: #422421;
}

.st8 {
    fill: #ff5400;
}

.st9 {
    fill: #f46e45;
}

.st10 {
    fill: #f44945;
}

.st11 {
    fill: #7c2b1e;
}

.st12 {
    opacity: 0.7;
    fill: #422421;
}

.st13 {
    opacity: 0.4;
    fill: #ffc394;
}

.st14 {
    fill: #ffc394;
}

.st15 {
    opacity: 0.5;
    fill: #ffffff;
}

.st16 {
    fill: #c07e42;
}

.st17 {
    fill: #1d1d1d;
}

.st18 {
    fill: #8a6a47;
}

.st19 {
    fill: #666768;
}

.st20 {
    fill: #921d00;
}

.st21 {
    fill: #384051;
}

.st22 {
    opacity: 0.6;
    fill: #384051;
}

.st23 {
    opacity: 0.8;
    fill: #210101;
}

.st24 {
    fill: #640000;
}

.st25 {
    fill: #930000;
}

.st26 {
    fill: #b60000;
}

.st27 {
    fill: #ff0000;
}

.st28 {
    fill: #252b35;
}

.st29 {
    fill: #5b260f;
}

.st30 {
    opacity: 0.6;
}

.st31 {
    fill: #873c22;
}

.st32 {
    opacity: 0.4;
}

.st33 {
    fill: #f27e51;
}

.st34 {
    fill: #721910;
}

.st35 {
    opacity: 0.4;
    fill: #ff5400;
}

.st36 {
    opacity: 0.4;
    fill: #ffffff;
}

.st37 {
    opacity: 0.5;
}

.st38 {
    opacity: 0.4;
    fill: #ff845e;
}

.st39 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st40 {
    fill: #69707c;
}

.st41 {
    fill: #94afd6;
}

.st42 {
    fill: #ff845e;
}

.st43 {
    fill: #b54830;
}

.st44 {
    opacity: 0.7;
    fill: #7c2b1e;
}

.st45 {
    fill: #474d56;
}

.st46 {
    opacity: 0.5;
    fill: #ffc394;
}

.st47 {
    opacity: 0.3;
    fill: #ffc394;
}

.st48 {
    opacity: 0.6;
    fill: #422421;
}

.st49 {
    fill: #704e37;
}

.st50 {
    fill: #af5a5a;
}

.st51 {
    fill: #914d4d;
}

.st52 {
    fill: #723f3f;
}

.st53 {
    fill: #724d2f;
}

.st54 {
    fill: #936037;
}

.st55 {
    opacity: 0.4;
    fill: #f7ba80;
}

.st56 {
    fill: #f7ba80;
}

.st57 {
    opacity: 0.7;
    fill: #f7ba80;
}

.st58 {
    opacity: 0.5;
    fill: #f26761;
}

.st59 {
    fill: #543e3b;
}

.st60 {
    fill: #7c5d59;
}

.st61 {
    fill: #aa807d;
}

.st62 {
    fill: #d80000;
}

.st63 {
    fill: #ff4a00;
}

.st64 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st65 {
    opacity: 0.3;
    fill: #ffffff;
}

.st66 {
    opacity: 0.3;
    fill: #ffd69c;
}

.st67 {
    opacity: 0.5;
    fill: #c62800;
}

.st68 {
    fill: #ff5304;
}

.st69 {
    fill: none;
    stroke: #000060;
    stroke-width: 6;
    stroke-linecap: round;
}

.st70 {
    fill: #4ddd83;
}

.st71 {
    fill: #3e7348;
}

.st72 {
    fill: #45fa9f;
}

.st73 {
    fill: #133028;
}

.st74 {
    opacity: 0.49;
    fill: #133028;
}

.st75 {
    fill: #3d7259;
}

.st76 {
    fill: #3ed979;
}

.st77 {
    opacity: 0.5;
    fill: #133028;
}

.st78 {
    fill: #3e9b6f;
}

.st79 {
    opacity: 0.3;
    fill: #45fa9f;
}

.st80 {
    opacity: 0.7;
    fill: #133028;
}

.st81 {
    opacity: 0.6;
    fill: #133028;
}

.st82 {
    opacity: 0.4;
    fill: #133028;
}

.st83 {
    opacity: 0.4;
    fill: #45fa9f;
}

.st84 {
    opacity: 0.51;
    fill: #133028;
}

.st85 {
    fill: #d2585d;
}

.st86 {
    fill: #c30022;
}

.st87 {
    fill: #ca7579;
}

.st88 {
    fill: #980002;
}

.st89 {
    opacity: 0.49;
    fill: #980002;
}

.st90 {
    fill: #c20033;
}

.st91 {
    fill: #c35453;
}

.st92 {
    opacity: 0.5;
    fill: #980002;
}

.st93 {
    fill: #c31649;
}

.st94 {
    fill: #ff7ad9;
}

.st95 {
    opacity: 0.3;
    fill: #ca7579;
}

.st96 {
    opacity: 0.7;
    fill: #980002;
}

.st97 {
    opacity: 0.6;
    fill: #980002;
}

.st98 {
    opacity: 0.4;
    fill: #980002;
}

.st99 {
    opacity: 0.4;
    fill: #ca7579;
}

.st100 {
    fill: none;
    stroke: #000000;
    stroke-width: 4;
    stroke-linecap: round;
}

.st101 {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
}

.st102 {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-linejoin: round;
}

.st103 {
    opacity: 0.4;
    fill: #491324;
}

.st104 {
    fill: #491324;
}
