.st0 {
    fill: #d3c2a9;
}

.st1 {
    fill: #eadac5;
}

.st2 {
    fill: #fff4e6;
}

.st3 {
    fill: #838589;
}

.st4 {
    fill: #c1a681;
}

.st5 {
    fill: #aab0ba;
}

.st6 {
    fill: #6a6b6d;
}

.st7 {
    fill: #4b4b4c;
}

.st8 {
    fill: #8c7c67;
}

.st9 {
    fill: #ffffff;
}

.st10 {
    opacity: 0.2;
    fill: #c1a681;
}

.st11 {
    opacity: 0.4;
    fill: #c1a681;
}

.st12 {
    opacity: 0.6;
    fill: #838589;
}

.st13 {
    opacity: 0.4;
    fill: #838589;
}

.st14 {
    fill: #1d1d1b;
}

.st15 {
    display: none;
}

.st16 {
    display: inline;
}

.st17 {
    fill: none;
    stroke: #000000;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #e88d0a;
}

.st19 {
    fill: #963600;
}

.st20 {
    fill: #ffd664;
}

.st21 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st22 {
    display: inline;
    fill: #510e0e;
}

.st23 {
    display: inline;
    fill: #d1b8a1;
}

.st24 {
    display: inline;
    fill: #3f4042;
}

.st25 {
    display: inline;
    fill: #efeeed;
}

.st26 {
    display: inline;
    fill: #965632;
}

.st27 {
    display: inline;
    fill: #9e7954;
}

.st28 {
    display: inline;
    fill: #c69f6b;
}

.st29 {
    fill: #965632;
}

.st30 {
    fill: #c69f6b;
}

.st31 {
    fill: #b7afa7;
}

.st32 {
    display: inline;
    fill: #efd5b6;
}

.st33 {
    fill: #505356;
}

.st34 {
    fill: #aaaaaa;
}

.st35 {
    display: inline;
    fill: #8e7c6f;
}

.st36 {
    display: inline;
    fill: #747b84;
}

.st37 {
    display: inline;
    fill: #ffffff;
}

.st38 {
    display: inline;
    fill: #505356;
}

.st39 {
    display: inline;
    fill: #aaaaaa;
}

.st40 {
    display: inline;
    fill: #edd5c0;
}

.st41 {
    display: inline;
    fill: #a0805a;
}

.st42 {
    display: inline;
    fill: #725d46;
}

.st43 {
    display: inline;
    fill: #aa6333;
}

.st44 {
    display: inline;
    fill: #dbc09e;
}

.st45 {
    display: inline;
    fill: #6d4029;
}

.st46 {
    display: inline;
    fill: #826341;
}

.st47 {
    display: inline;
    fill: #e08032;
}

.st48 {
    display: inline;
    fill: #af520c;
}

.st49 {
    display: inline;
    fill: #891313;
}

.st50 {
    display: inline;
    fill: #b73030;
}

.st51 {
    display: inline;
    fill: #e84242;
}

.st52 {
    display: inline;
    fill: #562708;
}

.st53 {
    display: inline;
    fill: #ffbe71;
}

.st54 {
    fill: #a80000;
}

.st55 {
    fill: #e88d0a;
    stroke: #603429;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st56 {
    display: inline;
    fill: #a80000;
}

.st57 {
    display: inline;
    fill: #603429;
}

.st58 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.75;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st59 {
    display: inline;
    fill: #e88d0a;
}

.st60 {
    display: inline;
    fill: #963600;
}

.st61 {
    display: inline;
    fill: #ffd664;
}

.st62 {
    display: inline;
    fill: #ffa124;
}

.st63 {
    display: inline;
    fill: none;
    stroke: #000000;
    stroke-width: 0.75;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st64 {
    display: inline;
    fill: none;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.st65 {
    display: inline;
    fill: #da211e;
}

.st66 {
    display: inline;
    fill: #f42a2a;
}

.st67 {
    display: inline;
    fill: #720000;
}

.st68 {
    fill: #e5e7ea;
}

.st69 {
    fill: #cbc8c3;
}

.st70 {
    display: inline;
    fill: #b2aca4;
}

.st71 {
    display: inline;
    fill: #e5e7ea;
}

.st72 {
    display: inline;
    fill: #cbc8c3;
}

.st73 {
    display: inline;
    fill: #b2b6b7;
}

.st74 {
    display: inline;
    fill: #696c70;
}

.st75 {
    display: inline;
    fill: #50555b;
}

.st76 {
    display: inline;
    fill: #8c9196;
}

.st77 {
    display: inline;
    fill: #e0e0e0;
}

.st78 {
    display: inline;
    fill: #ff4a4a;
}

.st79 {
    fill: #da211e;
}

.st80 {
    fill: #720000;
}

.st81 {
    fill: #ff4a4a;
}
