.body0 {
    fill: none;
}

.body1 {
    fill: #2f5298;
}

.body2 {
    fill: #92add7;
}

.body3 {
    fill: #fff;
}

.body4 {
    fill: #f6c5c6;
}

.body5 {
    fill: #f2f2f2;
}

.body6 {
    fill: #332325;
}

.body7 {
    fill: #502e2d;
}

.body8 {
    fill: #64252f;
}

.body9 {
    fill: #a8132b;
}

.body10 {
    fill: #8d081e;
}

.body11 {
    fill: #283242;
}

.body12 {
    fill: #161c26;
}

.body13 {
    fill: #eaebec;
}

.body14 {
    fill: #ededed;
}

.body15 {
    fill: #dedede;
}

.body16 {
    fill: #d4d4d2;
}

.body17 {
    fill: #9d2939;
}

.body18 {
    fill: none;
    stroke: #9d2939;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body19 {
    fill: #9a7e21;
}

.body20 {
    fill: none;
    stroke: #9a7e21;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body21 {
    fill: #273c63;
}

.body22 {
    fill: none;
    stroke: #273c63;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body23 {
    fill: #f4333f;
}

.body24 {
    fill: #e7082f;
}

.body25 {
    fill: #b10727;
}

.body26 {
    fill: #ececec;
}

.body27 {
    fill: #aec3d3;
}

.body28 {
    fill: #0588b9;
}

.body29 {
    fill: #dddcdc;
}

.body30 {
    fill: #eee651;
}

.body31 {
    fill: #b22433;
}

.body32 {
    fill: #c12f3a;
}

.body33 {
    fill: #1b533f;
}

.body34 {
    fill: #e7e6e2;
}

.body35 {
    fill: #195641;
}

.body36 {
    fill: #af2835;
}

.body37 {
    fill: #00a071;
}

.body38 {
    fill: #0c815d;
}

.body39 {
    fill: #00bb87;
}

.body40 {
    fill: #f52e26;
}

.body41 {
    fill: #cfd0d3;
}

.body42 {
    fill: #f1f1f3;
}

.body43 {
    fill: #ab905d;
}

.body44 {
    fill: #394fc9;
}

.body45 {
    fill: #5399ba;
}

.body46 {
    fill: #4674c2;
}

.body47 {
    fill: #e8e8e8;
}

.body48 {
    fill: #bf0222;
}

.body49 {
    fill: #e7e7e7;
}

.body50 {
    fill: #282945;
}

.body51 {
    fill: #0d759c;
}

.body52 {
    fill: #233856;
}

.body53 {
    fill: #1c4b6c;
}

.body54 {
    fill: #0980a9;
}

.body55 {
    fill: #185678;
}

.body56 {
    fill: #8f9aaa;
}

.body57 {
    fill: #138769;
}

.body58 {
    fill: #cf142e;
}

.body59 {
    fill: #ef3c41;
}

.body60 {
    fill: #e6e6e6;
}

.body61 {
    fill: #f5f5f5;
}

.body62 {
    fill: #98bec8;
}

.body63 {
    fill: #c3a4aa;
}

.body64 {
    fill: #7492c4;
}

.body65 {
    fill: #88afd4;
}

.body66 {
    fill: #1c1e21;
}

.body67 {
    fill: #702932;
}

.body68 {
    fill: #cbd6e2;
}

.body69 {
    fill: #9fbad6;
}

.body70 {
    fill: #9cb7d5;
}

.body71 {
    fill: #f53e3a;
}

.body72 {
    fill: #d12f2a;
}

.body73 {
    fill: #dc243b;
}

.body74 {
    fill: #bc162c;
}

.body75 {
    fill: #9e182e;
}

.body76 {
    fill: #c7d2dd;
}

.body77 {
    fill: #e5e3e7;
}

.body78 {
    fill: #bababa;
}

.body79 {
    fill: #0a8c68;
}

.body80 {
    fill: #096c56;
}

.body81 {
    fill: #03514d;
}

.body82 {
    fill: #d32127;
}

.body83 {
    fill: #d3d3d3;
}

.body84 {
    fill: #1c4c45;
}

.body85 {
    fill: #088470;
}

.body86 {
    fill: #1e3789;
}

.body87 {
    fill: #021a52;
}

.body88 {
    fill: #2c469e;
}

.body89 {
    fill: #183278;
}

.body90 {
    fill: #4c52a5;
}

.body91 {
    fill: #3b4184;
}

.body92 {
    fill: #545bb2;
}

.body93 {
    fill: #484f9b;
}

.body94 {
    fill: #d3caec;
}

.body95 {
    fill: #e8eaf1;
}

.body96 {
    fill: #c3c6d5;
}

.body97 {
    fill: #74b6dd;
}

.body98 {
    fill: #69abd5;
}

.body99 {
    fill: #ad2730;
}

.body100 {
    fill: #2a5cb3;
}

.body101 {
    fill: #023a9b;
}

.body102 {
    fill: #264884;
}

.body103 {
    fill: #0e3375;
}

.body104 {
    fill: #213156;
}

.body105 {
    fill: #f0effd;
}

.body106 {
    fill: #46916c;
}

.body107 {
    fill: #58bf85;
}

.body108 {
    fill: #80df9b;
}

.body109 {
    fill: #f6292d;
}

.body110 {
    fill: #203d76;
}

.body111 {
    fill: #55c0e0;
}

.body112 {
    fill: #c80217;
}

.body113 {
    fill: #dbd6e7;
}

.body114 {
    fill: #eaeaea;
}

.body115 {
    fill: #0d6cb4;
}

.body116 {
    fill: #88d3dd;
}

.body117 {
    fill: #dbd6cf;
}

.body118 {
    fill: #d7cebf;
}

.body119 {
    fill: #ede7dc;
}

.body120 {
    fill: #d5cab5;
}

.body121 {
    fill: #aca491;
}

.body122 {
    fill: #9b1e2f;
}

.body123 {
    fill: #6f121c;
}

.body124 {
    fill: #f0ab29;
}

.body125 {
    fill: #eb9319;
}

.body126 {
    fill: #e36e02;
}

.body127 {
    fill: #009a83;
}

.body128 {
    fill: #03604a;
}

.body129 {
    fill: #00917c;
}

.body130 {
    fill: #eb3340;
}

.body131 {
    fill: #eced20;
}

.body132 {
    fill: #eeeef2;
}

.body133 {
    fill: #e0e1e9;
}

.body134 {
    fill: #ffce00;
}

.body135 {
    fill: #003a68;
}

.body136 {
    fill: #f00;
}

.body137 {
    fill: #08998c;
}

.body138 {
    fill: #001f72;
}

.body139 {
    fill: #0125a8;
}

.body140 {
    fill: #000b47;
}

.body141 {
    fill: #ac2837;
}

.body142 {
    fill: #e6e4e3;
}

.body143 {
    fill: #0a265f;
}

.body144 {
    fill: #051f50;
}

.body145 {
    fill: #dbdbdb;
}

.body146 {
    fill: #f13e4a;
}

.body147 {
    fill: #ff4d63;
}

.body148 {
    fill: #f12f41;
}

.body149 {
    fill: #b6f3d3;
}

.body150 {
    fill: #163d37;
}

.body151 {
    fill: #066a5a;
}

.body152 {
    fill: #027764;
}

.body153 {
    fill: #009c82;
}

.body154 {
    fill: #0f7a5c;
}

.body155 {
    fill: #f13542;
}

.body156 {
    fill: #d92430;
}

.body157 {
    fill: #f24346;
}

.body158 {
    fill: #dc3335;
}

.body159 {
    fill: #f24a48;
}

.body160 {
    fill: #f3544b;
}

.body161 {
    fill: #f3594c;
}

.body162 {
    fill: #f4604e;
}

.body163 {
    fill: #f4644f;
}

.body164 {
    fill: #f46850;
}

.body165 {
    fill: #f34e49;
}

.body166 {
    fill: #f45c4d;
}

.body167 {
    fill: #f4654f;
}

.body168 {
    fill: #f56e52;
}

.body169 {
    fill: #f45b4d;
}

.body170 {
    fill: #f56c51;
}

.body171 {
    fill: #f56b51;
}

.body172 {
    fill: #f57253;
}

.body173 {
    fill: #dd3b38;
}

.body174 {
    fill: #df453b;
}

.body175 {
    fill: #df4b3d;
}

.body176 {
    fill: #e1523f;
}

.body177 {
    fill: #e25641;
}

.body178 {
    fill: #e35c43;
}

.body179 {
    fill: #e04e3e;
}

.body180 {
    fill: #f57153;
}

.body181 {
    fill: #e25842;
}

.body182 {
    fill: #f57a55;
}

.body183 {
    fill: #25304b;
}

.body184 {
    fill: #3b3750;
}

.body185 {
    fill: #eac95d;
}

.body186 {
    fill: #907bd0;
}

.body187 {
    fill: #cf1e26;
}

.body188 {
    fill: #2e3340;
}

.body189 {
    fill: #23263a;
}

.body190 {
    fill: #087053;
}

.body191 {
    fill: #075645;
}

.body192 {
    fill: #9d353d;
}

.body193 {
    fill: #b7b6b9;
}

.body194 {
    fill: #a9a9a9;
}

.body195 {
    fill: #cecccf;
}

.body196 {
    fill: #f4f4f4;
}

.body197 {
    fill: #e1c2c4;
}

.body198 {
    fill: #d1b3bb;
}

.body199 {
    fill: #b89aa7;
}

.body200 {
    fill: #2f1012;
}

.body201 {
    fill: none;
    stroke: #b89aa7;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body202 {
    fill: #482b3b;
}

.body203 {
    fill: none;
    stroke: #482b3b;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body204 {
    fill: #d40223;
}

.body205 {
    fill: #aa021c;
}

.body206 {
    fill: #c4322e;
}

.body207 {
    fill: #a72622;
}

.body208 {
    fill: #f33936;
}

.body209 {
    fill: #26324f;
}

.body210 {
    fill: #1e283f;
}

.body211 {
    fill: #bbbcbd;
}

.body212 {
    fill: #9fa8b1;
}

.body213 {
    fill: #f5f5f6;
}

.body214 {
    fill: #e3e9ee;
}

.body215 {
    fill: #f9c049;
}

.body216 {
    fill: #ef8c0b;
}

.body217 {
    fill: #a6122b;
}

.body218 {
    fill: #bf323a;
}

.body219 {
    fill: #d4d0d7;
}

.body220 {
    fill: #cac8cc;
}

.body221 {
    fill: #bbbabf;
}

.body222 {
    fill: #e03a4f;
}

.body223 {
    fill: #a83043;
}

.body224 {
    fill: #c2c1c8;
}

.body225 {
    fill: #e2dfe4;
}

.body226 {
    fill: #d1d1d4;
}

.body227 {
    fill: #d6d5da;
}

.body228 {
    fill: #d7d7dc;
}

.body229 {
    fill: #e5e6ea;
}

.body230 {
    fill: #acacb0;
}

.body231 {
    fill: #b7b8bb;
}

.body232 {
    fill: #26427a;
}

.body233 {
    fill: #758aac;
}

.body234 {
    fill: #5d759d;
}

.body235 {
    fill: #6d8caa;
}

.body236 {
    fill: #23336f;
}

.body237 {
    fill: #d2a073;
}

.body238 {
    fill: #291c1e;
}

.body239 {
    fill: #501e26;
}

.body240 {
    fill: #1d1c23;
}

.body241 {
    fill: #afbbca;
}

.body242 {
    fill: #95aac2;
}

.body243 {
    fill: #93a8c2;
}

.body244 {
    fill: #c3d3e6;
}

.body245 {
    fill: #dd354f;
}

.body246 {
    fill: #2180d7;
}

.body247 {
    fill: #dad9e9;
}

.body248 {
    fill: #aeaeba;
}

.body249 {
    fill: #e1e1ed;
}

.body250 {
    fill: #2f1e1e;
}

.body251 {
    fill: #202137;
}

.body252 {
    fill: #163c56;
}

.body253 {
    fill: #dfdfdf;
}

.body254 {
    fill: #bf2741;
}

.body255 {
    fill: #810e18;
}

.body256 {
    fill: #2d2c33;
}

.body257 {
    fill: #ccc;
}

.body258 {
    fill: #2a2d38;
}

.body259 {
    fill: #b8b8b8;
}

.body260 {
    fill: #e2e2e2;
}

.body261 {
    fill: #d5d5d9;
}

.body262 {
    fill: #e30e28;
}

.body263 {
    fill: #2e282e;
}

.body264 {
    fill: #e9162d;
}

.body265 {
    fill: #b60b20;
}

.body266 {
    fill: #252025;
}

.body267 {
    fill: #ba1224;
}

.body268 {
    fill: #b72c36;
}

.body269 {
    fill: #ffc600;
}

.body270 {
    fill: #2f0c11;
}

.body271 {
    fill: none;
    stroke: #2f0c11;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body272 {
    fill: #2e260a;
}

.body273 {
    fill: none;
    stroke: #2e260a;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body274 {
    fill: #0c121e;
}

.body275 {
    fill: none;
    stroke: #0c121e;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body276 {
    fill: #4e141c;
}

.body277 {
    fill: none;
    stroke: #4e141c;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body278 {
    fill: #4d3f10;
}

.body279 {
    fill: none;
    stroke: #4d3f10;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body280 {
    fill: #131e31;
}

.body281 {
    fill: none;
    stroke: #131e31;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body282 {
    fill: #170608;
}

.body283 {
    fill: #171305;
}

.body284 {
    fill: none;
    stroke: #171305;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body285 {
    fill: #06090f;
}

.body286 {
    fill: none;
    stroke: #06090f;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body287 {
    fill: #e50c33;
}

.body288 {
    fill: #e5e5e5;
}

.body289 {
    fill: #c6c6c6;
}

.body290 {
    fill: #cecece;
}

.body291 {
    fill: #f1f1f1;
}

.body292 {
    fill: #f21031;
}

.body293 {
    fill: #ce0e2a;
}

.body294 {
    fill: #f6313c;
}

.body295 {
    fill: #f8f5b9;
}

.body296 {
    fill: #808a99;
}

.body297 {
    fill: #d2d7dd;
}

.body298 {
    fill: #999;
}

.body299 {
    fill: #dd2935;
}

.body300 {
    fill: #e0dfe3;
}

.body301 {
    fill: #d8d8da;
}

.body302 {
    fill: #babbbd;
}

.body303 {
    fill: #c7181e;
}

.body304 {
    fill: #dc2922;
}

.body305 {
    fill: #dddfe8;
}

.body306 {
    fill: #f63327;
}

.body307 {
    fill: #dd2e23;
}

.body308 {
    fill: #fb4b44;
}

.body309 {
    fill: #cc354e;
}

.body310 {
    fill: #cc5267;
}

.body311 {
    fill: #eeeff2;
}

.body312 {
    fill: #dce1e2;
}

.body313 {
    fill: #e32e42;
}

.body314 {
    fill: #db293f;
}

.body315 {
    fill: #d62b3f;
}

.body316 {
    fill: #f4494f;
}

.body317 {
    fill: #e2df67;
}

.body318 {
    fill: #28b86f;
}

.body319 {
    fill: #c8c332;
}

.body320 {
    fill: #1b448c;
}

.body321 {
    fill: #2638a7;
}

.body322 {
    fill: #cfcfcb;
}

.body323 {
    fill: #164d3a;
}

.body324 {
    fill: #a0202e;
}

.body325 {
    fill: #184b39;
}

.body326 {
    fill: #e42320;
}

.body327 {
    fill: #006249;
}

.body328 {
    fill: #009065;
}

.body329 {
    fill: #0b7454;
}

.body330 {
    fill: #00a879;
}

.body331 {
    fill: #f3de00;
}

.body332 {
    fill: #e5c900;
}

.body333 {
    fill: #f6f200;
}

.body334 {
    fill: #e6c400;
}

.body335 {
    fill: #dac700;
}

.body336 {
    fill: #ceb500;
}

.body337 {
    fill: #ddd900;
}

.body338 {
    fill: #ede22f;
}

.body339 {
    fill: #2cd577;
}

.body340 {
    fill: #f20d30;
}

.body341 {
    fill: #c9c9c9;
}

.body342 {
    fill: #88bedf;
}

.body343 {
    fill: #acd2e9;
}

.body344 {
    fill: #709ecc;
}

.body345 {
    fill: #74a2be;
}

.body346 {
    fill: #21468b;
}

.body347 {
    fill: #ae1c28;
}

.body348 {
    fill: #009c37;
}

.body349 {
    fill: #fee000;
}

.body350 {
    fill: #027;
}

.body351 {
    fill: #ed1c24;
}

.body352 {
    fill: #034ea2;
}

.body353 {
    fill: #fd0;
}

.body354 {
    fill: #b1babf;
}

.body355 {
    fill: #e8b909;
}

.body356 {
    fill: #39b54a;
}

.body357 {
    fill: none;
    stroke: #39b54a;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body358 {
    fill: #ffdf4f;
}

.body359 {
    fill: #de2126;
}

.body360 {
    fill: #009c4f;
}

.body361 {
    fill: #c0cad0;
}

.body362 {
    fill: #ebc900;
}

.body363 {
    fill: #023f88;
}

.body364 {
    fill: #452c25;
}

.body365 {
    fill: #b87510;
}

.body366 {
    fill: #b76e11;
}

.body367 {
    fill: #ac620e;
}

.body368 {
    fill: #a2550b;
}

.body369 {
    fill: #c69024;
}

.body370 {
    fill: #d3dce0;
}

.body371 {
    fill: #c0e7f2;
}

.body372 {
    fill: #bfe6f2;
}

.body373 {
    fill: #bee6f2;
}

.body374 {
    fill: #bde5f1;
}

.body375 {
    fill: #bce5f1;
}

.body376 {
    fill: #bbe5f1;
}

.body377 {
    fill: #bae4f1;
}

.body378 {
    fill: #b9e4f1;
}

.body379 {
    fill: #b8e3f0;
}

.body380 {
    fill: #b7e3f0;
}

.body381 {
    fill: #b6e3f0;
}

.body382 {
    fill: #b5e2f0;
}

.body383 {
    fill: #b4e2f0;
}

.body384 {
    fill: #b3e1ef;
}

.body385 {
    fill: #b2e1ef;
}

.body386 {
    fill: #b1e1ef;
}

.body387 {
    fill: #b0e0ef;
}

.body388 {
    fill: #afe0ef;
}

.body389 {
    fill: #aee0ee;
}

.body390 {
    fill: #addfee;
}

.body391 {
    fill: #acdfee;
}

.body392 {
    fill: #abdeee;
}

.body393 {
    fill: #aadeee;
}

.body394 {
    fill: #a9deed;
}

.body395 {
    fill: #a8dded;
}

.body396 {
    fill: #a7dded;
}

.body397 {
    fill: #a6dced;
}

.body398 {
    fill: #a5dced;
}

.body399 {
    fill: #a4dcec;
}

.body400 {
    fill: #a3dbec;
}

.body401 {
    fill: #a2dbec;
}

.body402 {
    fill: #a1daec;
}

.body403 {
    fill: #a0daeb;
}

.body404 {
    fill: #9fdaeb;
}

.body405 {
    fill: #9ed9eb;
}

.body406 {
    fill: #9dd9eb;
}

.body407 {
    fill: #9cd9eb;
}

.body408 {
    fill: #9bd8ea;
}

.body409 {
    fill: #9ad8ea;
}

.body410 {
    fill: #99d7ea;
}

.body411 {
    fill: #98d7ea;
}

.body412 {
    fill: #97d7ea;
}

.body413 {
    fill: #96d6e9;
}

.body414 {
    fill: #95d6e9;
}

.body415 {
    fill: #94d5e9;
}

.body416 {
    fill: #93d5e9;
}

.body417 {
    fill: #92d5e9;
}

.body418 {
    fill: #91d4e8;
}

.body419 {
    fill: #90d4e8;
}

.body420 {
    fill: #8fd4e8;
}

.body421 {
    fill: #8dd3e8;
}

.body422 {
    fill: #8cd3e8;
}

.body423 {
    fill: #8bd2e7;
}

.body424 {
    fill: #8ad2e7;
}

.body425 {
    fill: #89d2e7;
}

.body426 {
    fill: #88d1e7;
}

.body427 {
    fill: #87d1e7;
}

.body428 {
    fill: #86d0e6;
}

.body429 {
    fill: #85d0e6;
}

.body430 {
    fill: #84d0e6;
}

.body431 {
    fill: #83cfe6;
}

.body432 {
    fill: #82cfe6;
}

.body433 {
    fill: #81cee5;
}

.body434 {
    fill: #80cee5;
}

.body435 {
    fill: #7fcee5;
}

.body436 {
    fill: #7ecde5;
}

.body437 {
    fill: #7dcde5;
}

.body438 {
    fill: #7ccde4;
}

.body439 {
    fill: #7bcce4;
}

.body440 {
    fill: #7acce4;
}

.body441 {
    fill: #79cbe4;
}

.body442 {
    fill: #78cbe3;
}

.body443 {
    fill: #77cbe3;
}

.body444 {
    fill: #76cae3;
}

.body445 {
    fill: #75cae3;
}

.body446 {
    fill: #74c9e3;
}

.body447 {
    fill: #73c9e2;
}

.body448 {
    fill: #72c9e2;
}

.body449 {
    fill: #71c8e2;
}

.body450 {
    fill: #70c8e2;
}

.body451 {
    fill: #6fc7e2;
}

.body452 {
    fill: #6ec7e1;
}

.body453 {
    fill: #6dc7e1;
}

.body454 {
    fill: #6cc6e1;
}

.body455 {
    fill: #6bc6e1;
}

.body456 {
    fill: #6ac6e1;
}

.body457 {
    fill: #69c5e0;
}

.body458 {
    fill: #68c5e0;
}

.body459 {
    fill: #67c4e0;
}

.body460 {
    fill: #66c4e0;
}

.body461 {
    fill: #65c4e0;
}

.body462 {
    fill: #64c3df;
}

.body463 {
    fill: #63c3df;
}

.body464 {
    fill: #62c2df;
}

.body465 {
    fill: #61c2df;
}

.body466 {
    fill: #60c2df;
}

.body467 {
    fill: #5fc1de;
}

.body468 {
    fill: #5ec1de;
}

.body469 {
    fill: #5dc0de;
}

.body470 {
    fill: #5cc0de;
}

.body471 {
    fill: #5bc0de;
}

.body472 {
    fill: #5abfdd;
}

.body473 {
    fill: #59bfdd;
}

.body474 {
    fill: #58bfdd;
}

.body475 {
    fill: #57bedd;
}

.body476 {
    fill: #56bedd;
}

.body477 {
    fill: #55bddc;
}

.body478 {
    fill: #54bddc;
}

.body479 {
    fill: #53bddc;
}

.body480 {
    fill: #52bcdc;
}

.body481 {
    fill: #51bcdb;
}

.body482 {
    fill: #50bbdb;
}

.body483 {
    fill: #4fbbdb;
}

.body484 {
    fill: #4ebbdb;
}

.body485 {
    fill: #4dbadb;
}

.body486 {
    fill: #4cbada;
}

.body487 {
    fill: #4bb9da;
}

.body488 {
    fill: #4ab9da;
}

.body489 {
    fill: #49b9da;
}

.body490 {
    fill: #48b8da;
}

.body491 {
    fill: #47b8d9;
}

.body492 {
    fill: #46b8d9;
}

.body493 {
    fill: #45b7d9;
}

.body494 {
    fill: #44b7d9;
}

.body495 {
    fill: #43b6d9;
}

.body496 {
    fill: #42b6d8;
}

.body497 {
    fill: #41b6d8;
}

.body498 {
    fill: #40b5d8;
}

.body499 {
    fill: #3fb5d8;
}

.body500 {
    fill: #3eb4d8;
}

.body501 {
    fill: #3db4d7;
}

.body502 {
    fill: #3cb4d7;
}

.body503 {
    fill: #3bb3d7;
}

.body504 {
    fill: #3ab3d7;
}

.body505 {
    fill: #39b2d7;
}

.body506 {
    fill: #38b2d6;
}

.body507 {
    fill: #37b2d6;
}

.body508 {
    fill: #36b1d6;
}

.body509 {
    fill: #35b1d6;
}

.body510 {
    fill: #34b1d6;
}

.body511 {
    fill: #33b0d5;
}

.body512 {
    fill: #32b0d5;
}

.body513 {
    fill: #31afd5;
}

.body514 {
    fill: #30afd5;
}

.body515 {
    fill: #2fafd4;
}

.body516 {
    fill: #2eaed4;
}

.body517 {
    fill: #2daed4;
}

.body518 {
    fill: #2cadd4;
}

.body519 {
    fill: #23aad2;
}

.body520 {
    fill: #22aad2;
}

.body521 {
    fill: #21a9d2;
}

.body522 {
    fill: #20a9d1;
}

.body523 {
    fill: #1fa8d1;
}

.body524 {
    fill: #1ea8d1;
}

.body525 {
    fill: #395054;
}

.body526 {
    fill: #006c3c;
}

.body527 {
    fill: #6dbe45;
}

.body528 {
    fill: #557176;
}

.body529 {
    fill: #99afca;
}

.body530 {
    fill: #fefeff;
}

.body531 {
    fill: #fdfefe;
}

.body532 {
    fill: #fcfdfe;
}

.body533 {
    fill: #fbfcfd;
}

.body534 {
    fill: #fafbfd;
}

.body535 {
    fill: #f9fbfd;
}

.body536 {
    fill: #f8fafc;
}

.body537 {
    fill: #f7f9fc;
}

.body538 {
    fill: #f6f9fc;
}

.body539 {
    fill: #f5f8fb;
}

.body540 {
    fill: #f4f7fb;
}

.body541 {
    fill: #f3f6fa;
}

.body542 {
    fill: #f2f6fa;
}

.body543 {
    fill: #f1f5fa;
}

.body544 {
    fill: #f0f4f9;
}

.body545 {
    fill: #eff3f9;
}

.body546 {
    fill: #eef3f9;
}

.body547 {
    fill: #edf2f8;
}

.body548 {
    fill: #ecf1f8;
}

.body549 {
    fill: #ebf1f7;
}

.body550 {
    fill: #eaf0f7;
}

.body551 {
    fill: #e9eff7;
}

.body552 {
    fill: #e8eef6;
}

.body553 {
    fill: #e7eef6;
}

.body554 {
    fill: #e6edf6;
}

.body555 {
    fill: #e5ecf5;
}

.body556 {
    fill: #e4ecf5;
}

.body557 {
    fill: #e3ebf4;
}

.body558 {
    fill: #e2eaf4;
}

.body559 {
    fill: #e1e9f4;
}

.body560 {
    fill: #dfe9f3;
}

.body561 {
    fill: #dee8f3;
}

.body562 {
    fill: #dde7f3;
}

.body563 {
    fill: #dce6f2;
}

.body564 {
    fill: #dbe6f2;
}

.body565 {
    fill: #dae5f1;
}

.body566 {
    fill: #d9e4f1;
}

.body567 {
    fill: #d8e4f1;
}

.body568 {
    fill: #d7e3f0;
}

.body569 {
    fill: #d6e2f0;
}

.body570 {
    fill: #d5e1f0;
}

.body571 {
    fill: #d4e1ef;
}

.body572 {
    fill: #d3e0ef;
}

.body573 {
    fill: #d2dfee;
}

.body574 {
    fill: #d1dfee;
}

.body575 {
    fill: #d0deee;
}

.body576 {
    fill: #cfdded;
}

.body577 {
    fill: #cedced;
}

.body578 {
    fill: #cddced;
}

.body579 {
    fill: #ccdbec;
}

.body580 {
    fill: #cbdaec;
}

.body581 {
    fill: #cad9eb;
}

.body582 {
    fill: #c9d9eb;
}

.body583 {
    fill: #c8d8eb;
}

.body584 {
    fill: #c7d7ea;
}

.body585 {
    fill: #c6d7ea;
}

.body586 {
    fill: #c5d6ea;
}

.body587 {
    fill: #c4d5e9;
}

.body588 {
    fill: #c3d4e9;
}

.body589 {
    fill: #c2d4e8;
}

.body590 {
    fill: #c1d3e8;
}

.body591 {
    fill: #c0d2e8;
}

.body592 {
    fill: #bfd2e7;
}

.body593 {
    fill: #bed1e7;
}

.body594 {
    fill: #bdd1e7;
}

.body595 {
    fill: #bcd0e6;
}

.body596 {
    fill: #bbcfe6;
}

.body597 {
    fill: #bacfe6;
}

.body598 {
    fill: #b9cee5;
}

.body599 {
    fill: #b8cde5;
}

.body600 {
    fill: #b7cde5;
}

.body601 {
    fill: #b6cce4;
}

.body602 {
    fill: #b5cce4;
}

.body603 {
    fill: #b4cbe4;
}

.body604 {
    fill: #b3cae3;
}

.body605 {
    fill: #b2cae3;
}

.body606 {
    fill: #b1c9e3;
}

.body607 {
    fill: #b0c8e2;
}

.body608 {
    fill: #afc8e2;
}

.body609 {
    fill: #aec7e2;
}

.body610 {
    fill: #adc7e1;
}

.body611 {
    fill: #acc6e1;
}

.body612 {
    fill: #abc5e1;
}

.body613 {
    fill: #aac5e0;
}

.body614 {
    fill: #a9c4e0;
}

.body615 {
    fill: #a8c3e0;
}

.body616 {
    fill: #a7c3df;
}

.body617 {
    fill: #a6c2df;
}

.body618 {
    fill: #a5c2df;
}

.body619 {
    fill: #a3c1de;
}

.body620 {
    fill: #a2c0de;
}

.body621 {
    fill: #a1c0dd;
}

.body622 {
    fill: #a0bfdd;
}

.body623 {
    fill: #9fbedd;
}

.body624 {
    fill: #9ebedc;
}

.body625 {
    fill: #9dbddc;
}

.body626 {
    fill: #9cbddc;
}

.body627 {
    fill: #9bbcdb;
}

.body628 {
    fill: #9abbdb;
}

.body629 {
    fill: #99bbdb;
}

.body630 {
    fill: #98bada;
}

.body631 {
    fill: #97b9da;
}

.body632 {
    fill: #96b9da;
}

.body633 {
    fill: #95b8d9;
}

.body634 {
    fill: #94b8d9;
}

.body635 {
    fill: #93b7d9;
}

.body636 {
    fill: #92b6d8;
}

.body637 {
    fill: #91b6d8;
}

.body638 {
    fill: #90b5d8;
}

.body639 {
    fill: #8fb4d7;
}

.body640 {
    fill: #8eb4d7;
}

.body641 {
    fill: #8db3d7;
}

.body642 {
    fill: #8cb3d6;
}

.body643 {
    fill: #8bb2d6;
}

.body644 {
    fill: #8ab1d6;
}

.body645 {
    fill: #89b1d5;
}

.body646 {
    fill: #88b0d5;
}

.body647 {
    fill: #87afd5;
}

.body648 {
    fill: #86afd4;
}

.body649 {
    fill: #85aed4;
}

.body650 {
    fill: #84aed4;
}

.body651 {
    fill: #83add3;
}

.body652 {
    fill: #82add3;
}

.body653 {
    fill: #81acd3;
}

.body654 {
    fill: #80acd2;
}

.body655 {
    fill: #7fabd2;
}

.body656 {
    fill: #7eabd2;
}

.body657 {
    fill: #7daad1;
}

.body658 {
    fill: #7caad1;
}

.body659 {
    fill: #7ba9d1;
}

.body660 {
    fill: #7aa9d0;
}

.body661 {
    fill: #79a8d0;
}

.body662 {
    fill: #78a8d0;
}

.body663 {
    fill: #77a7cf;
}

.body664 {
    fill: #76a7cf;
}

.body665 {
    fill: #75a6cf;
}

.body666 {
    fill: #74a6ce;
}

.body667 {
    fill: #73a5ce;
}

.body668 {
    fill: #72a5ce;
}

.body669 {
    fill: #71a4ce;
}

.body670 {
    fill: #6fa3cd;
}

.body671 {
    fill: #6ea3cd;
}

.body672 {
    fill: #6da2cd;
}

.body673 {
    fill: #6ca2cc;
}

.body674 {
    fill: #6ba1cc;
}

.body675 {
    fill: #6aa1cc;
}

.body676 {
    fill: #69a0cb;
}

.body677 {
    fill: #68a0cb;
}

.body678 {
    fill: #679fcb;
}

.body679 {
    fill: #669fca;
}

.body680 {
    fill: #659eca;
}

.body681 {
    fill: #649eca;
}

.body682 {
    fill: #639dc9;
}

.body683 {
    fill: #629dc9;
}

.body684 {
    fill: #619cc9;
}

.body685 {
    fill: #609cc8;
}

.body686 {
    fill: #5f9bc8;
}

.body687 {
    fill: #5e9bc8;
}

.body688 {
    fill: #5d9ac7;
}

.body689 {
    fill: #5c9ac7;
}

.body690 {
    fill: #5b99c7;
}

.body691 {
    fill: #5a99c6;
}

.body692 {
    fill: #5998c6;
}

.body693 {
    fill: #5898c6;
}

.body694 {
    fill: #5797c6;
}

.body695 {
    fill: #5697c5;
}

.body696 {
    fill: #5596c5;
}

.body697 {
    fill: #5496c5;
}

.body698 {
    fill: #5396c5;
}

.body699 {
    fill: #5295c4;
}

.body700 {
    fill: #5195c4;
}

.body701 {
    fill: #5095c4;
}

.body702 {
    fill: #4f94c4;
}

.body703 {
    fill: #4e94c4;
}

.body704 {
    fill: #4d93c3;
}

.body705 {
    fill: #4c93c3;
}

.body706 {
    fill: #4b93c3;
}

.body707 {
    fill: #4a92c3;
}

.body708 {
    fill: #4992c2;
}

.body709 {
    fill: #4891c2;
}

.body710 {
    fill: #4791c2;
}

.body711 {
    fill: #4691c2;
}

.body712 {
    fill: #4590c1;
}

.body713 {
    fill: #4490c1;
}

.body714 {
    fill: #4390c1;
}

.body715 {
    fill: #418fc1;
}

.body716 {
    fill: #408fc1;
}

.body717 {
    fill: #3f8ec0;
}

.body718 {
    fill: #3e8ec0;
}

.body719 {
    fill: #3d8ec0;
}

.body720 {
    fill: #3c8dc0;
}

.body721 {
    fill: #3b8dbf;
}

.body722 {
    fill: #3a8cbf;
}

.body723 {
    fill: #398cbf;
}

.body724 {
    fill: #388cbf;
}

.body725 {
    fill: #378bbf;
}

.body726 {
    fill: #368bbe;
}

.body727 {
    fill: #358abe;
}

.body728 {
    fill: #348abe;
}

.body729 {
    fill: #338abe;
}

.body730 {
    fill: #3289bd;
}

.body731 {
    fill: #3189bd;
}

.body732 {
    fill: #3089bd;
}

.body733 {
    fill: #2f88bd;
}

.body734 {
    fill: #2e88bc;
}

.body735 {
    fill: #2d87bc;
}

.body736 {
    fill: #2c87bc;
}

.body737 {
    fill: #2b87bc;
}

.body738 {
    fill: #2a87bc;
}

.body739 {
    fill: #2986bc;
}

.body740 {
    fill: #2886bb;
}

.body741 {
    fill: #2786bb;
}

.body742 {
    fill: #2686bb;
}

.body743 {
    fill: #2585bb;
}

.body744 {
    fill: #2485bb;
}

.body745 {
    fill: #2385bb;
}

.body746 {
    fill: #2285ba;
}

.body747 {
    fill: #2184ba;
}

.body748 {
    fill: #2084ba;
}

.body749 {
    fill: #1f84ba;
}

.body750 {
    fill: #1e84ba;
}

.body751 {
    fill: #1d84ba;
}

.body752 {
    fill: #1c83b9;
}

.body753 {
    fill: #1b83b9;
}

.body754 {
    fill: #1a83b9;
}

.body755 {
    fill: #1983b9;
}

.body756 {
    fill: #1882b9;
}

.body757 {
    fill: #1782b9;
}

.body758 {
    fill: #1582b8;
}

.body759 {
    fill: #1482b8;
}

.body760 {
    fill: #1381b8;
}

.body761 {
    fill: #1281b8;
}

.body762 {
    fill: #1181b8;
}

.body763 {
    fill: #1081b8;
}

.body764 {
    fill: #0f80b7;
}

.body765 {
    fill: #0e80b7;
}

.body766 {
    fill: #0d80b7;
}

.body767 {
    fill: #0c80b7;
}

.body768 {
    fill: #0b80b7;
}

.body769 {
    fill: #0a7fb7;
}

.body770 {
    fill: #097fb6;
}

.body771 {
    fill: #087fb6;
}

.body772 {
    fill: #077fb6;
}

.body773 {
    fill: #067eb6;
}

.body774 {
    fill: #057eb6;
}

.body775 {
    fill: #047eb6;
}

.body776 {
    fill: #037eb5;
}

.body777 {
    fill: #027db5;
}

.body778 {
    fill: #017db5;
}

.body779 {
    fill: #007db5;
}

.body780 {
    fill: #007cb4;
}

.body781 {
    fill: #007bb3;
}

.body782 {
    fill: #0079b2;
}

.body783 {
    fill: #0078b1;
}

.body784 {
    fill: #0077b0;
}

.body785 {
    fill: #0075af;
}

.body786 {
    fill: #4f91c5;
}

.body787 {
    fill: #2d943d;
}

.body788 {
    fill: #00723a;
}

.body789 {
    fill: #004521;
}

.body790 {
    fill: none;
    stroke: #2d943d;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body791 {
    fill: none;
    stroke: #00723a;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body792 {
    fill: none;
    stroke: #004521;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body793 {
    fill: #69ae8a;
}

.body794 {
    fill: #999b9e;
}

.body795 {
    fill: #949699;
}

.body796 {
    fill: #5c5342;
}

.body797 {
    fill: #858d8d;
}

.body798 {
    fill: #755338;
}

.body799 {
    fill: #a37853;
}

.body800 {
    fill: #a3a5a8;
}

.body801 {
    fill: #797a7d;
}

.body802 {
    fill: #442c13;
}

.body803 {
    fill: #4f6876;
}

.body804 {
    fill: #84848a;
}

.body805 {
    fill: #453717;
}

.body806 {
    fill: #6a5e46;
}

.body807 {
    fill: #2f2311;
}

.body808 {
    fill: #866d46;
}

.body809 {
    fill: #acacad;
}

.body810 {
    fill: #895f33;
}

.body811 {
    fill: #ffe600;
}

.body812 {
    fill: #9b7e39;
}

.body813 {
    fill: none;
    stroke: #d0c9ce;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body814 {
    fill: #d0c9ce;
}

.body815 {
    fill: #2f3b30;
}

.body816 {
    fill: #64472d;
}

.body817 {
    fill: #080101;
}

.body818 {
    fill: #d9c0b9;
}

.body819 {
    fill: #bd8759;
}

.body820 {
    fill: #dcddde;
}

.body821 {
    fill: none;
    stroke: #fff;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body822 {
    fill: #5e3f17;
}

.body823 {
    fill: #dba05f;
}

.body824 {
    fill: #939598;
}

.body825 {
    fill: #c6262c;
}

.body826 {
    fill: none;
    stroke: #5e3f17;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body827 {
    fill: #842116;
}

.body828 {
    fill: #7a2e26;
}

.body829 {
    fill: #574f4c;
}

.body830 {
    fill: #8a1538;
}

.body831 {
    fill: #0047a0;
}

.body832 {
    fill: #cd2e3a;
}

.body833 {
    fill: none;
    stroke: #000;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.body834 {
    fill: #00853f;
}

.body835 {
    fill: #fdef42;
}

.body836 {
    fill: #e31b23;
}

.body837 {
    fill: #c8102e;
}

.body838 {
    fill: #da0000;
}

.body839 {
    fill: #239f40;
}

.body840 {
    fill: #bb133e;
}

.body841 {
    fill: #002664;
}

.body842 {
    fill: #00b140;
}

.body843 {
    fill: #74acdf;
}

.body844 {
    fill: #f6b40e;
}

.body845 {
    fill: #85340a;
}

.body846 {
    fill: #843511;
}

.body847 {
    fill: #006c35;
}

.body848 {
    fill: #ce1126;
}

.body849 {
    fill: #006847;
}

.body850 {
    fill: #fcca3e;
}

.body851 {
    fill: #aa8c30;
}

.body852 {
    fill: #9ca168;
}

.body853 {
    fill: #717732;
}

.body854 {
    fill: #016848;
}

.body855 {
    fill: #cd202a;
}

.body856 {
    fill: #30c2dc;
}

.body857 {
    fill: #0872a7;
}

.body858 {
    fill: #f8c83c;
}

.body859 {
    fill: #f9aa51;
}

.body860 {
    fill: #953220;
}

.body861 {
    fill: #231f20;
}

.body862 {
    fill: #8cbebf;
}

.body863 {
    fill: #04534e;
}

.body864 {
    fill: #0c8489;
}

.body865 {
    fill: #ed2e38;
}

.body866 {
    fill: #ed2f39;
}

.body867 {
    fill: #ed303a;
}

.body868 {
    fill: #ed313b;
}

.body869 {
    fill: #ed323c;
}

.body870 {
    fill: #ed333d;
}

.body871 {
    fill: #ee343e;
}

.body872 {
    fill: #ee353f;
}

.body873 {
    fill: #ee3640;
}

.body874 {
    fill: #ee3741;
}

.body875 {
    fill: #ee3842;
}

.body876 {
    fill: #ee3943;
}

.body877 {
    fill: #ee3a43;
}

.body878 {
    fill: #ee3b44;
}

.body879 {
    fill: #ee3c45;
}

.body880 {
    fill: #ee3d46;
}

.body881 {
    fill: #ee3e47;
}

.body882 {
    fill: #ee3f48;
}

.body883 {
    fill: #ef4049;
}

.body884 {
    fill: #ef414a;
}

.body885 {
    fill: #ef424b;
}

.body886 {
    fill: #ef434c;
}

.body887 {
    fill: #ef444d;
}

.body888 {
    fill: #ef454e;
}

.body889 {
    fill: #ef464f;
}

.body890 {
    fill: #ef4750;
}

.body891 {
    fill: #ef4851;
}

.body892 {
    fill: #ef4952;
}

.body893 {
    fill: #ef4a53;
}

.body894 {
    fill: #f04b54;
}

.body895 {
    fill: #f04c55;
}

.body896 {
    fill: #f04d56;
}

.body897 {
    fill: #f04e57;
}

.body898 {
    fill: #f04f58;
}

.body899 {
    fill: #f05059;
}

.body900 {
    fill: #f05159;
}

.body901 {
    fill: #f0525a;
}

.body902 {
    fill: #f0535b;
}

.body903 {
    fill: #f0545c;
}

.body904 {
    fill: #f0555d;
}

.body905 {
    fill: #f0565e;
}

.body906 {
    fill: #f1575f;
}

.body907 {
    fill: #f15860;
}

.body908 {
    fill: #f15961;
}

.body909 {
    fill: #f15a62;
}

.body910 {
    fill: #f15b63;
}

.body911 {
    fill: #f15c64;
}

.body912 {
    fill: #f15d65;
}

.body913 {
    fill: #f15e66;
}

.body914 {
    fill: #f15f67;
}

.body915 {
    fill: #f16068;
}

.body916 {
    fill: #f16169;
}

.body917 {
    fill: #f2626a;
}

.body918 {
    fill: #f2636b;
}

.body919 {
    fill: #f2646c;
}

.body920 {
    fill: #f2656d;
}

.body921 {
    fill: #f2666e;
}

.body922 {
    fill: #f2676f;
}

.body923 {
    fill: #f2686f;
}

.body924 {
    fill: #f26970;
}

.body925 {
    fill: #f26a71;
}

.body926 {
    fill: #f26b72;
}

.body927 {
    fill: #f26c73;
}

.body928 {
    fill: #f26d74;
}

.body929 {
    fill: #f36e75;
}

.body930 {
    fill: #f36f76;
}

.body931 {
    fill: #f37077;
}

.body932 {
    fill: #f37178;
}

.body933 {
    fill: #f37279;
}

.body934 {
    fill: #f3737a;
}

.body935 {
    fill: #f3747b;
}

.body936 {
    fill: #f3757c;
}

.body937 {
    fill: #f3767d;
}

.body938 {
    fill: #f3777e;
}

.body939 {
    fill: #f3787f;
}

.body940 {
    fill: #f37980;
}

.body941 {
    fill: #f47a81;
}

.body942 {
    fill: #f47b82;
}

.body943 {
    fill: #f47c83;
}

.body944 {
    fill: #f47d84;
}

.body945 {
    fill: #f47e85;
}

.body946 {
    fill: #f47f85;
}

.body947 {
    fill: #f48086;
}

.body948 {
    fill: #f48187;
}

.body949 {
    fill: #f48288;
}

.body950 {
    fill: #f48389;
}

.body951 {
    fill: #f4848a;
}

.body952 {
    fill: #f5858b;
}

.body953 {
    fill: #f5868c;
}

.body954 {
    fill: #f5878d;
}

.body955 {
    fill: #f5888e;
}

.body956 {
    fill: #f5898f;
}

.body957 {
    fill: #f58a90;
}

.body958 {
    fill: #f58b91;
}

.body959 {
    fill: #f58c92;
}

.body960 {
    fill: #f58d93;
}

.body961 {
    fill: #f58e94;
}

.body962 {
    fill: #f58f95;
}

.body963 {
    fill: #f59096;
}

.body964 {
    fill: #f69197;
}

.body965 {
    fill: #f69298;
}

.body966 {
    fill: #f69399;
}

.body967 {
    fill: #f6949a;
}

.body968 {
    fill: #f6959b;
}

.body969 {
    fill: #f6979c;
}

.body970 {
    fill: #f6989c;
}

.body971 {
    fill: #f6999d;
}

.body972 {
    fill: #f69a9e;
}

.body973 {
    fill: #f69b9f;
}

.body974 {
    fill: #f69ca0;
}

.body975 {
    fill: #f79da1;
}

.body976 {
    fill: #f79ea2;
}

.body977 {
    fill: #f79fa3;
}

.body978 {
    fill: #f7a0a4;
}

.body979 {
    fill: #f7a1a5;
}

.body980 {
    fill: #f7a2a6;
}

.body981 {
    fill: #f7a3a7;
}

.body982 {
    fill: #f7a4a8;
}

.body983 {
    fill: #f7a5a9;
}

.body984 {
    fill: #f7a6aa;
}

.body985 {
    fill: #f7a7ab;
}

.body986 {
    fill: #f7a8ac;
}

.body987 {
    fill: #f8a9ad;
}

.body988 {
    fill: #f8aaae;
}

.body989 {
    fill: #f8abaf;
}

.body990 {
    fill: #f8acb0;
}

.body991 {
    fill: #f8adb1;
}

.body992 {
    fill: #f8aeb2;
}

.body993 {
    fill: #f8afb2;
}

.body994 {
    fill: #f8b0b3;
}

.body995 {
    fill: #f8b1b4;
}

.body996 {
    fill: #f8b2b5;
}

.body997 {
    fill: #f8b3b6;
}

.body998 {
    fill: #f9b4b7;
}

.body999 {
    fill: #f9b5b8;
}

.body1000 {
    fill: #f9b6b9;
}

.body1001 {
    fill: #f9b7ba;
}

.body1002 {
    fill: #f9b8bb;
}

.body1003 {
    fill: #f9b9bc;
}

.body1004 {
    fill: #f9babd;
}

.body1005 {
    fill: #f9bbbe;
}

.body1006 {
    fill: #f9bcbf;
}

.body1007 {
    fill: #f9bdc0;
}

.body1008 {
    fill: #f9bec1;
}

.body1009 {
    fill: #f9bfc2;
}

.body1010 {
    fill: #fac0c3;
}

.body1011 {
    fill: #fac1c4;
}

.body1012 {
    fill: #fac2c5;
}

.body1013 {
    fill: #fac3c6;
}

.body1014 {
    fill: #fac4c7;
}

.body1015 {
    fill: #fac5c8;
}

.body1016 {
    fill: #fac6c8;
}

.body1017 {
    fill: #fac7c9;
}

.body1018 {
    fill: #fac8ca;
}

.body1019 {
    fill: #fac9cb;
}

.body1020 {
    fill: #facacc;
}

.body1021 {
    fill: #fbcbcd;
}

.body1022 {
    fill: #fbccce;
}

.body1023 {
    fill: #fbcdcf;
}

.body1024 {
    fill: #fbced0;
}

.body1025 {
    fill: #fbcfd1;
}

.body1026 {
    fill: #fbd0d2;
}

.body1027 {
    fill: #fbd1d3;
}

.body1028 {
    fill: #fbd2d4;
}

.body1029 {
    fill: #fbd3d5;
}

.body1030 {
    fill: #fbd4d6;
}

.body1031 {
    fill: #fbd5d7;
}

.body1032 {
    fill: #fbd6d8;
}

.body1033 {
    fill: #fcd7d9;
}

.body1034 {
    fill: #fcd8da;
}

.body1035 {
    fill: #fcd9db;
}

.body1036 {
    fill: #fcdadc;
}

.body1037 {
    fill: #fcdbdd;
}

.body1038 {
    fill: #fcdcde;
}

.body1039 {
    fill: #fcddde;
}

.body1040 {
    fill: #fcdedf;
}

.body1041 {
    fill: #fcdfe0;
}

.body1042 {
    fill: #fce0e1;
}

.body1043 {
    fill: #fce1e2;
}

.body1044 {
    fill: #fce2e3;
}

.body1045 {
    fill: #fde3e4;
}

.body1046 {
    fill: #fde4e5;
}

.body1047 {
    fill: #fde5e6;
}

.body1048 {
    fill: #fde6e7;
}

.body1049 {
    fill: #fde7e8;
}

.body1050 {
    fill: #fde8e9;
}

.body1051 {
    fill: #fde9ea;
}

.body1052 {
    fill: #fdeaeb;
}

.body1053 {
    fill: #fdebec;
}

.body1054 {
    fill: #fdeced;
}

.body1055 {
    fill: #fdedee;
}

.body1056 {
    fill: #feeeef;
}

.body1057 {
    fill: #feeff0;
}

.body1058 {
    fill: #fef0f1;
}

.body1059 {
    fill: #fef1f2;
}

.body1060 {
    fill: #fef2f3;
}

.body1061 {
    fill: #fef3f4;
}

.body1062 {
    fill: #fef4f4;
}

.body1063 {
    fill: #fef5f5;
}

.body1064 {
    fill: #fef6f6;
}

.body1065 {
    fill: #fef7f7;
}

.body1066 {
    fill: #fef8f8;
}

.body1067 {
    fill: #fef9f9;
}

.body1068 {
    fill: #fffafa;
}

.body1069 {
    fill: #fffbfb;
}

.body1070 {
    fill: #fffcfc;
}

.body1071 {
    fill: #fffdfd;
}

.body1072 {
    fill: #fffefe;
}

.body1073 {
    fill: #e92736;
}

.body1074 {
    fill: #f7e204;
}

.body1075 {
    fill: #a8ac71;
}

.body1076 {
    fill: #f1a720;
}

.body1077 {
    fill: #78732e;
}

.body1078 {
    fill: #c6c7a6;
}

.body1079 {
    fill: #1c242f;
}

.body1080 {
    fill: #977c2e;
}

.body1081 {
    fill: #af7029;
}

.body1082 {
    fill: #816c2a;
}

.body1083 {
    fill: #fcca3d;
}

.body1084 {
    fill: #6f5b24;
}

.body1085 {
    fill: #404118;
}

.body1086 {
    fill: #ab6d29;
}

.body1087 {
    fill: #4d2a15;
}

.body1088 {
    fill: #d2a567;
}

.body1089 {
    fill: #8f4620;
}

.body1090 {
    fill: #202020;
}

.body1091 {
    fill: #202220;
}

.body1092 {
    fill: #4b4139;
}

.body1093 {
    fill: #904720;
}

.body1094 {
    fill: #803f1d;
}

.body1095 {
    fill: #b07229;
}

.body1096 {
    fill: #5c3a1d;
}

.body1097 {
    fill: #8b441f;
}

.body1098 {
    fill: #312317;
}

.body1099 {
    fill: #1e2121;
}

.body1100 {
    fill: #5c3818;
}

.body1101 {
    fill: #171717;
}

.body1102 {
    fill: #45392d;
}

.body1103 {
    fill: #dbad6c;
}

.body1104 {
    fill: #874f20;
}

.body1105 {
    fill: #b27129;
}

.body1106 {
    fill: #6c3f18;
}

.body1107 {
    fill: #f16e16;
}

.body1108 {
    fill: #d5d3ca;
}

.body1109 {
    fill: #6c4119;
}

.body1110 {
    fill: #bf802d;
}

.body1111 {
    fill: #f9c83a;
}

.body1112 {
    fill: #fcf3d8;
}

.body1113 {
    fill: #fdeaaf;
}

.body1114 {
    fill: #513625;
}

.body1115 {
    fill: #dc143c;
}

.body1116 {
    fill: #002654;
}

.body1117 {
    fill: #012169;
}

.body1118 {
    fill: #e4002b;
}

.body1119 {
    fill: #e70013;
}

.body1120 {
    fill: #001489;
}

.body1121 {
    fill: #da291c;
}

.body1122 {
    fill: #dca842;
}

.body1123 {
    fill: #825123;
}

.body1124 {
    fill: #89c5e3;
}

.body1125 {
    fill: #fcdd09;
}

.body1126 {
    fill: #0f47af;
}

.body1127 {
    fill: #509164;
}

.body1128 {
    fill: #034418;
}

.body1129 {
    fill: #078930;
}

.body1130 {
    fill: #704d25;
}

.body1131 {
    fill: #00009e;
}

.body1132 {
    fill: #c60b1e;
}

.body1133 {
    fill: #ffc400;
}

.body1134 {
    fill: #ad1519;
}

.body1135 {
    fill: #c8b100;
}

.body1136 {
    fill: #058e6e;
}

.body1137 {
    fill: #005bbf;
}

.body1138 {
    fill: #ffd691;
}

.body1139 {
    fill: #0039f0;
}

.body1140 {
    fill: #db4446;
}

.body1141 {
    fill: #ed72aa;
}

.body1142 {
    fill: #d00;
}

.body1143 {
    fill: #bc002d;
}

.body1144 {
    fill: #ef3340;
}

.body1145 {
    fill: #fdda25;
}

.body1146 {
    fill: #d52b1e;
}

.body1147 {
    fill: #c1272d;
}

.body1148 {
    fill: #006233;
}

.body1149 {
    fill: #171796;
}

.body1150 {
    fill: #0093dd;
}

.body1151 {
    fill: #f7db17;
}

.body1152 {
    fill: #c6363c;
}

.body1153 {
    fill: #0c4076;
}

.body1154 {
    fill: #edb92e;
}

.body1155 {
    fill: #21231e;
}

.body1156 {
    fill: #c9aa6a;
}

.body1157 {
    fill: #007a5e;
}

.body1158 {
    fill: #fcd116;
}

.body1159 {
    fill: #060;
}

.body1160 {
    fill: #ff0;
}

.body1161 {
    fill: #039;
}

.body1162 {
    fill: #0038a8;
}

.body1163 {
    fill: #7b3f00;
}

.body1164 {
    fill: #941120;
}

.body1165 {
    fill: #eccc5b;
}
