.tail-0 {
    fill: none;
}

.tail-1 {
    fill: #32642b;
}

.tail-2 {
    fill: #008e40;
}

.tail-3 {
    fill: #d4c398;
}

.tail-4 {
    fill: #f9e7c0;
}

.tail-5 {
    fill: #0af;
}

.tail-6 {
    fill: #014188;
}

.tail-7 {
    fill: #1cba00;
}

.tail-8 {
    fill: #1d1d1b;
}
