.st0 {
    fill: #fff;
}

.st1 {
    fill: #bd1c14;
}

.st2 {
    fill: #ea1d08;
}

.st3 {
    fill: #891916;
}

.st4 {
    fill: #b0b9c1;
}

.st5 {
    fill: #e0e0e0;
}

.st6 {
    fill: #ff5450;
}

.st7 {
    fill: #efefef;
}

.st8 {
    fill: #750c0c;
}

.st9 {
    fill: none;
}

.st10 {
    fill: #4c7536;
}

.st11 {
    fill: #5fa338;
}

.st12 {
    fill: #589137;
}

.st13 {
    fill: #456c2f;
}

.st14 {
    fill: #4b7b30;
}

.st15 {
    fill: #a9b9a0;
}

.st16 {
    fill: #41672b;
}

.st17 {
    fill: #d3d29a;
}

.st18 {
    fill: #af1000;
}

.st19 {
    fill: #ff5e93;
}

.st20 {
    fill: #f4bf2a;
}

.st21 {
    fill: #f97600;
}

.st22 {
    fill: #724b27;
}

.st23 {
    fill: #5b3c22;
}

.st24 {
    fill: #422b1a;
}

.st25 {
    fill: #86776d;
}

.st26 {
    fill: #53371f;
}

.st27 {
    fill: #4b311d;
}

.st28 {
    fill: #2d471c;
}

.st29 {
    fill: #3b6026;
}

.st30 {
    fill: #ffa300;
}

.st31 {
    fill: #9b7807;
}

.st32 {
    fill: #ffc76c;
}

.st33 {
    fill: #775800;
}

.st34 {
    fill: #233816;
}

.st35 {
    fill: #1b2b10;
}

.st36 {
    fill: #345421;
}

.st37 {
    fill: #284019;
}

.st38 {
    fill: #ffa900;
}

.st39 {
    fill: #447924;
}

.st40 {
    fill: #3a671d;
}

.st41 {
    fill: #37631c;
}

.st42 {
    fill: #890603;
}

.st43 {
    fill: #590504;
}
