.fswordst0 {
    fill: #331312;
}
.fswordst1 {
    fill: #352b27;
}
.fswordst2 {
    fill: #ea4100;
}
.fswordst3 {
    fill: #980000;
}
.fswordst4 {
    fill: #770000;
}
.fswordst5 {
    fill: #d10000;
}
.fswordst6 {
    fill: #ffff00;
}
.fswordst7 {
    fill: #ffffff;
}
.fswordst8 {
    opacity: 0.32;
    fill: #ffff00;
}
.fswordst9 {
    fill: #323338;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.fswordst10 {
    fill: #4d3338;
}
.fswordst11 {
    fill: #823220;
}
.fswordst12 {
    fill: #a54119;
}
.fswordst13 {
    fill: #692b27;
}
.fswordst14 {
    fill: #b7431a;
}
.fswordst15 {
    fill: #ff5427;
}
.fswordst16 {
    fill: #ac2b27;
}
.fswordst17 {
    fill: #ff5227;
}
.fswordst18 {
    opacity: 0.5;
    fill: #ac2b27;
}
.fswordst19 {
    fill: #ffc200;
}
.fswordst20 {
    opacity: 0.5;
}
.fswordst21 {
    opacity: 0.4;
}
