.leftWing0 {
    fill: #f18a0e;
}

.leftWing1 {
    fill: #c46626;
    stroke: #9b3f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.leftWing2 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.leftWing3 {
    fill: #5e5653;
}

.leftWing4 {
    fill: #77635a;
}

.leftWing5 {
    fill: #3f3938;
}

.leftWing6 {
    fill: #5b6170;
}

.leftWing7 {
    fill: #444a56;
}

.leftWing8 {
    fill: #31363f;
}

.leftWing9 {
    fill: #828b9e;
}

.leftWing10 {
    fill: #bcc6d8;
}

.leftWing11 {
    fill: #98a4b7;
}

.leftWing12 {
    fill: #d6deea;
}

.leftWing13 {
    fill: #4c3833;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.leftWing14 {
    fill: #767d8c;
    stroke: #434f5b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.leftWing15 {
    fill: #fff;
}

.leftWing16 {
    fill: #40434c;
}

.leftWing17 {
    fill: #2f323a;
}

.leftWing18 {
    fill: #575b63;
}

.leftWing19 {
    opacity: 0.3;
    fill: #bcc6d8;
}

.leftWing20 {
    fill: #7f554c;
}

.leftWing21 {
    fill: #f7a800;
}

.leftWing22 {
    fill: #aa897d;
}

.leftWing23 {
    fill: #8c96aa;
}

.leftWing24 {
    fill: #89491d;
}

.leftWing25 {
    fill: #c6692a;
    stroke: #e2ac7a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.leftWing26 {
    fill: none;
    stroke: #e2ac7a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.leftWing27 {
    fill: none;
    stroke: #e2ac7a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.leftWing28 {
    fill: #f998d0;
    stroke: #d860aa;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.leftWing29 {
    fill: #a8f79a;
    stroke: #85e870;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.leftWing30 {
    fill: #a8f79a;
}

.leftWing31 {
    fill: #85e870;
}

.leftWing32 {
    fill: #deffd7;
}

.leftWing33 {
    fill: #ffcaeb;
}

.leftWing34 {
    fill: #fff4a4;
}

.leftWing35 {
    fill: #db6914;
}

.leftWing36 {
    fill: #db811f;
}

.leftWing37 {
    fill: #f9bf36;
}

.leftWing38 {
    fill: #ffecc5;
}

.leftWing39 {
    fill: #542505;
}

.leftWing40 {
    fill: #bf1d44;
}

.leftWing41 {
    fill: #e50f46;
}

.leftWing42 {
    fill: #ff5c8b;
}

.leftWing43 {
    fill: #872240;
}

.leftWing44 {
    fill: #d05040;
}

.leftWing45 {
    fill: #ff92b6;
}

.leftWing46 {
    fill: #ff1256;
}

.leftWing47 {
    fill: #a81f3e;
}
