.pet0 {
    fill: #85838e;
}

.pet1 {
    fill: #63626b;
}

.pet2 {
    fill: #9c9ba8;
}

.pet3 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet4 {
    fill: #cdccdd;
}

.pet5 {
    fill: #e59033;
    stroke: #59412a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.pet6 {
    fill: #f9b046;
}

.pet7 {
    fill: #d39392;
    stroke: #7a5454;
    stroke-miterlimit: 10;
}

.pet8 {
    fill: #ffcaca;
}

.pet9 {
    fill: #fff;
}

.pet10 {
    fill: #1d1d1b;
}

.pet11 {
    fill: #c7afa3;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet12 {
    fill: #6a4a3b;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet13 {
    fill: #675b5c;
}

.pet14 {
    fill: #3d3637;
}

.pet15 {
    fill: #4c3f39;
}

.pet16 {
    fill: #e5d0c7;
}

.pet17 {
    fill: #f4e8e4;
}

.pet18 {
    fill: #423c3d;
}

.pet19 {
    fill: #545454;
}

.pet20 {
    fill: #727272;
}

.pet21 {
    fill: #6a4a3b;
}

.pet22 {
    fill: #8d6645;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet23 {
    fill: #cf803d;
}

.pet24 {
    fill: #dd9a68;
}

.pet25 {
    fill: #dab893;
}

.pet26 {
    fill: #edd5be;
}

.pet27 {
    fill: #8d6645;
}

.pet28 {
    fill: #824920;
}

.pet29 {
    fill: #604b3c;
}

.pet30 {
    fill: #646363;
}

.pet31 {
    fill: #f3957e;
}

.pet32 {
    fill: #ffded7;
}

.pet33 {
    fill: #bf6d5c;
}

.pet34 {
    fill: #baccdd;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet35 {
    fill: #8599aa;
}

.pet36 {
    fill: #2fa0ba;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet37 {
    fill: #baccdd;
}

.pet38 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.pet39 {
    fill: #0c6689;
}

.pet40 {
    fill: #114859;
}

.pet41 {
    fill: #2fa0ba;
}

.pet42 {
    fill: #31363a;
}

.pet43 {
    fill: #ed7601;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet44 {
    fill: #535b60;
}

.pet45 {
    fill: #b75700;
}

.pet46 {
    fill: #ffbe83;
}

.pet47 {
    fill: #2fa0ba;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.pet48 {
    fill: #67b9c6;
}

.pet49 {
    fill: #9b723a;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet50 {
    fill: #a59179;
}

.pet51 {
    fill: #856c43;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet52 {
    fill: #403225;
}

.pet53 {
    fill: #c2ab81;
}

.pet54 {
    fill: #82735b;
}

.pet55 {
    fill: #564c3d;
}

.pet56 {
    fill: #3d3730;
}

.pet57 {
    fill: #e2d3ba;
}

.pet58 {
    fill: #9b723a;
}

.pet59 {
    fill: #59595b;
}

.pet60 {
    fill: #755938;
}

.pet61 {
    fill: #7c786d;
}

.pet62 {
    fill: #b5b1a7;
}

.pet63 {
    fill: #544433;
}

.pet64 {
    fill: #474747;
}

.pet65 {
    opacity: 0.3;
    fill: #fff;
}

.pet66 {
    fill: #685f59;
}

.pet67 {
    fill: #6e7f69;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet68 {
    fill: #566053;
}

.pet69 {
    fill: #3c4439;
}

.pet70 {
    fill: #704d47;
}

.pet71 {
    fill: #6e7f69;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.pet72 {
    fill: #6e7f69;
}

.pet73 {
    fill: #a4a579;
}

.pet74 {
    fill: #8c9e83;
}

.pet75 {
    fill: #474f45;
}

.pet76 {
    fill: #b6c1aa;
}

.pet77 {
    fill: #c1c1a3;
}

.pet78 {
    fill: #a85c51;
}

.pet79 {
    fill: #f4e9bd;
}

.pet80 {
    fill: #6a7677;
}
