.hat0 {
    fill: #f7a800;
}

.hat1 {
    fill: #353535;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.hat2 {
    fill: #444;
}

.hat3 {
    fill: #282828;
}

.hat4 {
    fill: #4f413e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.hat5 {
    fill: #63524f;
}

.hat6 {
    fill: #382a28;
}

.hat7 {
    fill: #664c29;
    stroke: #4c2d18;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.hat8 {
    fill: #aa7b43;
}

.hat9 {
    fill: #bc5b19;
}

.hat10 {
    fill: #eda65a;
}

.hat11 {
    fill: #fff;
}

.hat12 {
    fill: #911800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.hat13 {
    fill: #4f413e;
}

.hat14 {
    fill: #510800;
}

.hat15 {
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.hat16 {
    fill: #282828;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.hat17 {
    fill: #565656;
}

.hat18 {
    fill: #a37348;
    stroke: #493525;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.hat19 {
    fill: #d1894e;
}

.hat20 {
    fill: #ff903e;
}
