.fawkes-mask-0 {
    fill: #3f3c3a;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-1 {
    fill: #fc3030;
}

.fawkes-mask-2 {
    fill: #fff162;
}

.fawkes-mask-3 {
    fill: #fffacc;
}

.fawkes-mask-4 {
    fill: #6d583e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-5 {
    fill: #423933;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-6 {
    fill: #1d1d1b;
}

.fawkes-mask-7 {
    fill: #5e4b40;
}

.fawkes-mask-8 {
    fill: #7c4a38;
}

.fawkes-mask-9 {
    fill: #4f4643;
}

.fawkes-mask-10 {
    fill: #261818;
}

.fawkes-mask-11 {
    fill: #f7a84a;
}

.fawkes-mask-12 {
    fill: #e65d48;
}

.fawkes-mask-13 {
    fill: #565656;
}

.fawkes-mask-14 {
    fill: #363b44;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-15 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-16 {
    fill: #ffd346;
}

.fawkes-mask-17 {
    fill: #fff;
}

.fawkes-mask-18 {
    fill: #fbbc2f;
}

.fawkes-mask-19 {
    fill: #1d1d1d;
}

.fawkes-mask-20 {
    fill: #353535;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-21 {
    fill: #363b44;
}

.fawkes-mask-22 {
    fill: #606060;
}

.fawkes-mask-23 {
    fill: #353535;
}

.fawkes-mask-24 {
    fill: #444;
}

.fawkes-mask-25 {
    fill: #4c3f39;
}

.fawkes-mask-26 {
    fill: #776446;
}

.fawkes-mask-27 {
    fill: #423b38;
}

.fawkes-mask-28 {
    fill: #5b4c41;
}

.fawkes-mask-29 {
    fill: #bf8837;
}

.fawkes-mask-30 {
    fill: #c1a580;
}

.fawkes-mask-31 {
    fill: #664f46;
}

.fawkes-mask-32 {
    fill: #726254;
}

.fawkes-mask-33 {
    opacity: 0.7;
    fill: #e65d48;
}

.fawkes-mask-34 {
    fill: #3f3c3a;
}

.fawkes-mask-35 {
    fill: #757270;
}

.fawkes-mask-36 {
    fill: #825845;
}

.fawkes-mask-37 {
    fill: #252d22;
}

.fawkes-mask-38 {
    fill: #383838;
}

.fawkes-mask-39 {
    opacity: 0.5;
    fill: #565656;
}

.fawkes-mask-40 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-41 {
    fill: #4f5457;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.fawkes-mask-42 {
    fill: #8c8c8c;
}

.fawkes-mask-43 {
    fill: #7a7a7a;
}

.fawkes-mask-44 {
    fill: #3a3f42;
}

.fawkes-mask-45 {
    fill: #3f2622;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.fawkes-mask-46 {
    clip-path: url(#SVGID_00000173842055546364240680000005603142552306867336_);
}

.fawkes-mask-47 {
    fill: #4c4c4c;
    stroke: #3d3d3d;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-48 {
    fill: #e4e4e2;
    stroke: #939391;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-49 {
    fill: #f2f2f2;
}

.fawkes-mask-50 {
    fill: #ffa5bf;
}

.fawkes-mask-51 {
    fill: #696968;
}

.fawkes-mask-52 {
    fill: none;
    stroke: #565655;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-53 {
    fill: none;
    stroke: #3f3b37;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-54 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-55 {
    fill: #969696;
}

.fawkes-mask-56 {
    fill: none;
    stroke: #898989;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-57 {
    fill: #55514e;
}

.fawkes-mask-58 {
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-59 {
    opacity: 0.44;
    fill: #f7a800;
}

.fawkes-mask-60 {
    fill: none;
    stroke: #939391;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.fawkes-mask-61 {
    fill: #5c5f68;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.fawkes-mask-62 {
    fill: #1d1d1b;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.fawkes-mask-63 {
    fill: #af877f;
}

.fawkes-mask-64 {
    fill: #3f2622;
}

.fawkes-mask-65 {
    fill: #2a3138;
}
