.st0 {
    fill: #1d1d1b;
}

.st1 {
    fill: #d3c2a9;
}

.st2 {
    fill: #eadac5;
}

.st3 {
    fill: #fff4e6;
}

.st4 {
    fill: #838589;
}

.st5 {
    fill: #c1a681;
}

.st6 {
    fill: #aab0ba;
}

.st7 {
    fill: #6a6b6d;
}

.st8 {
    fill: #4b4b4c;
}

.st9 {
    fill: #8c7c67;
}

.st10 {
    fill: #ffffff;
}

.st11 {
    opacity: 0.2;
    fill: #c1a681;
}

.st12 {
    opacity: 0.4;
    fill: #c1a681;
}

.st13 {
    opacity: 0.6;
    fill: #838589;
}

.st14 {
    opacity: 0.4;
    fill: #838589;
}
