.body0 {
    fill: #ffd346;
}

.body1 {
    fill: #fff;
}

.body2 {
    fill: #fbbc2f;
}

.body3 {
    fill: #1d1d1d;
}

.body4 {
    fill: #48739b;
}

.body5 {
    fill: #6f93ba;
}

.body6 {
    fill: #3f6089;
}

.body7 {
    fill: #8dafce;
}

.body8 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.body9 {
    fill: #1d1d1b;
}

.body10 {
    fill: #b7cfe2;
}

.body11 {
    fill: #fe273b;
}

.body12 {
    fill: #be0a15;
}

.body13 {
    fill: #a00514;
}

.body14 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.body15 {
    fill: #3a3d3f;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.body16 {
    fill: #e1eaf9;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.body17 {
    fill: #96a1b2;
}

.body18 {
    fill: #1c1e21;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body19 {
    fill: #4f5256;
}

.body20 {
    fill: #3a3d3f;
}

.body21 {
    fill: #202123;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.body22 {
    fill: #171819;
}

.body23 {
    fill: #2d3033;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body24 {
    fill: #35393d;
}

.body25 {
    fill: #917034;
    stroke: #6b4e3b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.body26 {
    fill: #a99783;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body27 {
    fill: #8e7e6e;
    stroke: #a99783;
    stroke-miterlimit: 10;
}

.body28 {
    fill: #8e7e6e;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body29 {
    fill: #6d5f53;
}

.body30 {
    fill: #a99783;
}

.body31 {
    fill: #8e7e6e;
}

.body32 {
    fill: #6d5f53;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body33 {
    fill: #ccc0b4;
}

.body34 {
    fill: #a99783;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.body35 {
    fill: #6b4e3b;
}

.body36 {
    fill: #b6b5b1;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body37 {
    fill: #7c7c79;
}

.body38 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.body39 {
    fill: #b6b5b1;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.body40 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.body41 {
    fill: #e2ded0;
}

.body42 {
    fill: #c1a370;
}

.body43 {
    fill: #d6d6d6;
}

.body44 {
    fill: #c2c8cc;
}

.body45 {
    fill: #e6ebef;
}

.body46 {
    fill: #d69513;
}

.body47 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.body48 {
    fill: #ffde83;
}

.body49 {
    fill: #2054aa;
}

.body50 {
    fill: #354459;
}

.body51 {
    fill: #8a0806;
}

.body52 {
    fill: #601111;
}

.body53 {
    fill: #332929;
}

.body54 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.body55 {
    fill: #110e0e;
}

.body56 {
    fill: #8a969b;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.body57 {
    fill: #8a969b;
}

.body58 {
    fill: #443d3d;
}

.body59 {
    fill: #373938;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body60 {
    fill: #262827;
}

.body61 {
    fill: #151615;
}

.body62 {
    fill: #484c51;
}

.body63 {
    fill: #646c70;
}

.body64 {
    fill: #373938;
}

.body65 {
    fill: #889fa8;
}

.body66 {
    fill: #646c70;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body67 {
    fill: #0445ff;
}

.body68 {
    fill: #689948;
}

.body69 {
    fill: #517c35;
}

.body70 {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body71 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.body72 {
    fill: #ae663e;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.body73 {
    fill: none;
    stroke: #1d1d1b;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.body74 {
    fill: #dd7868;
}

.body75 {
    fill: #838d82;
}

.body76 {
    fill: #555e54;
}

.body77 {
    fill: #cde8f9;
}

.body78 {
    fill: #b4212f;
}

.body79 {
    fill: #5b2329;
}

.body80 {
    fill: #771929;
}

.body81 {
    fill: #293861;
}

.body82 {
    fill: #202a42;
}

.body83 {
    fill: #614e47;
}

.body84 {
    fill: #3d527f;
}

.body85 {
    fill: #896136;
}

.body86 {
    fill: #9d373f;
}

.body87 {
    fill: #9aab50;
}

.body88 {
    opacity: 0.32;
}

.body89 {
    fill: #fff48a;
}

.body90 {
    fill: #d59100;
}

.body91 {
    fill: #ffe266;
}

.body92 {
    fill: #e29000;
}

.body93 {
    fill: #846b5d;
}

.body94 {
    fill: #ef7100;
}

.body95 {
    fill: #37b9c7;
}

.body96 {
    fill: #cce5d0;
}

.body97 {
    fill: #aa1a31;
}

.body98 {
    fill: #ffed00;
}

.body99 {
    fill: #47312b;
}

.body100 {
    fill: #90afb2;
}

.body101 {
    fill: #556e7c;
}

.body102 {
    fill: #d0ebfc;
}

.body103 {
    fill: #914817;
}

.body104 {
    fill: #af6400;
}

.body105 {
    fill: #ffae1f;
}

.body106 {
    fill: #ffe2b8;
}

.body107 {
    fill: #fcc24c;
}
