.pumpkin-head-0 {
    fill: #f18a0e;
}

.pumpkin-head-1 {
    fill: #48aa09;
}

.pumpkin-head-2 {
    fill: #1d1d1b;
}

.pumpkin-head-3 {
    fill: #c6541a;
}

.pumpkin-head-4 {
    fill: #8c3610;
}

.pumpkin-head-5 {
    fill: #f2790a;
}

.pumpkin-head-6 {
    fill: #f78f1e;
}

.pumpkin-head-7 {
    fill: #381d13;
}

.pumpkin-head-8 {
    opacity: 0.6;
    fill: #ffd683;
}

.pumpkin-head-9 {
    fill: #6f7689;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pumpkin-head-10 {
    fill: #97a1b7;
}

.pumpkin-head-11 {
    fill: #f2b30a;
}

.pumpkin-head-12 {
    fill: #64fffb;
}

.pumpkin-head-13 {
    fill: #fff;
}

.pumpkin-head-14 {
    fill: #30541a;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pumpkin-head-15 {
    fill: #35720e;
}

.pumpkin-head-16 {
    opacity: 0.7;
    fill: #35720e;
}

.pumpkin-head-17 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pumpkin-head-18 {
    fill: #68e019;
}
