.onHead0 {
    fill: #826144;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.onHead1 {
    fill: #514e4b;
}

.onHead2 {
    fill: #826144;
}

.onHead3 {
    fill: #1d1d1b;
}

.onHead4 {
    fill: #b77c1d;
}

.onHead5 {
    fill: #313538;
}

.onHead6 {
    fill: #3e4244;
}

.onHead7 {
    fill: #473331;
}

.onHead8 {
    fill: #8a8975;
}

.onHead9 {
    fill: #a9ab95;
}

.onHead10 {
    fill: #937654;
}

.onHead11 {
    fill: #817967;
}

.onHead12 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.onHead13 {
    fill: #a0b5b3;
}

.onHead14 {
    fill: #bc8b0f;
}

.onHead15 {
    fill: #e2a620;
}

.onHead16 {
    fill: #ffdbb0;
}

.onHead17 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.onHead18 {
    fill: #e29c00;
}

.onHead19 {
    fill: #ad770b;
}

.onHead20 {
    fill: #ffb829;
}

.onHead21 {
    fill: #edad58;
}

.onHead22 {
    fill: #86962a;
}

.onHead23 {
    fill: #bc2820;
}

.onHead24 {
    fill: #defffd;
}

.onHead25 {
    fill: #82580d;
}

.onHead26 {
    fill: #fff;
}

.onHead27 {
    fill: #23272b;
}

.onHead28 {
    fill: #2a2c30;
}

.onHead29 {
    fill: #232528;
}

.onHead30 {
    fill: #1a1c1e;
}

.onHead31 {
    fill: #3a3f47;
}

.onHead32 {
    fill: #2f343a;
}

.onHead33 {
    fill: #4b515b;
}

.onHead34 {
    fill: #d20a11;
}

.onHead35 {
    fill: #921d1c;
}

.onHead36 {
    fill: #f22736;
}

.onHead37 {
    fill: #8f6821;
}

.onHead38 {
    fill: #ff5c70;
}

.onHead39 {
    fill: #d68400;
}

.onHead40 {
    fill: #ffbd5c;
}

.onHead41 {
    fill: #969684;
}

.onHead42 {
    fill: #565651;
}

.onHead43 {
    fill: #939979;
}

.onHead44 {
    fill: #b6b7a7;
}

.onHead45 {
    fill: #3b3d3f;
}

.onHead46 {
    fill: #5b5150;
}

.onHead47 {
    fill: #818588;
}

.onHead48 {
    fill: #4d4e4f;
}

.onHead49 {
    fill: #689948;
}

.onHead50 {
    fill: #517c35;
}

.onHead51 {
    fill: #3a6022;
}

.onHead52 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.onHead53 {
    fill: #ae663e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.onHead54 {
    fill: #ce6b57;
}

.onHead55 {
    fill: #ddd;
}

.onHead56 {
    fill: #c4c4c4;
}

.onHead57 {
    fill: none;
    stroke: #839391;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.onHead58 {
    fill: #b4e1fa;
}

.onHead59 {
    fill: #cdeafc;
}

.onHead60 {
    fill: #6fa4bc;
}

.onHead61 {
    fill: #afbdd8;
}

.onHead62 {
    fill: #d7f3ff;
}

.onHead63 {
    fill: #c7dbf9;
}

.onHead64 {
    fill: #459cba;
}

.onHead65 {
    fill: #76c8e5;
}

.onHead66 {
    fill: #9b3f00;
}

.onHead67 {
    fill: #c46626;
}

.onHead68 {
    fill: #db811f;
}

.onHead69 {
    fill: #f9bf36;
}

.onHead70 {
    fill: #bf1d44;
}

.onHead71 {
    fill: #e50f46;
}

.onHead72 {
    fill: #ff5c8b;
}

.onHead73 {
    fill: #872240;
}

.onHead74 {
    fill: #d05040;
}

.onHead75 {
    fill: #ff92b6;
}

.onHead76 {
    fill: #ff1256;
}

.onHead77 {
    fill: #a81f3e;
}

.onHead78 {
    fill: #ffecc5;
}

.onHead79 {
    fill: #3a3f47;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.onHead80 {
    fill: #5b6068;
}

.onHead81 {
    fill: #423a37;
}

.onHead82 {
    fill: #2d2725;
}

.onHead83 {
    fill: #a55f13;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.onHead84 {
    fill: #753b01;
}

.onHead85 {
    fill: #211f1c;
}

.onHead86 {
    fill: #3f3d3b;
}
