.st0 {
    fill: #f18a0e;
}

.st1 {
    fill: #c46626;
    stroke: #9b3f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #5e5653;
}

.st4 {
    fill: #77635a;
}

.st5 {
    fill: #3f3938;
}

.st6 {
    fill: #5b6170;
}

.st7 {
    fill: #444a56;
}

.st8 {
    fill: #31363f;
}

.st9 {
    fill: #828b9e;
}

.st10 {
    fill: #bcc6d8;
}

.st11 {
    fill: #98a4b7;
}

.st12 {
    fill: #d6deea;
}

.st13 {
    fill: #4c3833;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #767d8c;
    stroke: #434f5b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #fff;
}

.st16 {
    fill: #40434c;
}

.st17 {
    fill: #2f323a;
}

.st18 {
    fill: #575b63;
}

.st19 {
    opacity: 0.3;
    fill: #bcc6d8;
}

.st20 {
    fill: #7f554c;
}

.st21 {
    fill: #f7a800;
}

.st22 {
    fill: #aa897d;
}

.st23 {
    fill: #8c96aa;
}

.st24 {
    fill: #89491d;
}

.st25 {
    fill: #c6692a;
    stroke: #e2ac7a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st26 {
    fill: none;
    stroke: #e2ac7a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st27 {
    fill: none;
    stroke: #e2ac7a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st28 {
    fill: #f998d0;
    stroke: #d860aa;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #a8f79a;
    stroke: #85e870;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st30 {
    fill: #a8f79a;
}

.st31 {
    fill: #85e870;
}

.st32 {
    fill: #deffd7;
}

.st33 {
    fill: #ffcaeb;
}

.st34 {
    fill: #fff4a4;
}

.st35 {
    fill: #db6914;
}

.st36 {
    fill: #db811f;
}

.st37 {
    fill: #f9bf36;
}

.st38 {
    fill: #ffecc5;
}

.st39 {
    fill: #542505;
}

.st40 {
    fill: #bf1d44;
}

.st41 {
    fill: #e50f46;
}

.st42 {
    fill: #ff5c8b;
}

.st43 {
    fill: #872240;
}

.st44 {
    fill: #d05040;
}

.st45 {
    fill: #ff92b6;
}

.st46 {
    fill: #ff1256;
}

.st47 {
    fill: #a81f3e;
}

.st48 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8786;
    stroke-miterlimit: 10;
}

.st49 {
    fill: #ffd346;
}

.st50 {
    fill: #fbbc2f;
}

.st51 {
    fill: #1d1d1d;
}

.st52 {
    fill: #c99249;
}

.st53 {
    fill: #2054aa;
}

.st54 {
    fill: #354459;
}

.st55 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st56 {
    fill: #8a0806;
}

.st57 {
    fill: #601111;
}

.st58 {
    fill: #3a3d3f;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st59 {
    fill: #e1eaf9;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st60 {
    fill: #96a1b2;
}

.st61 {
    fill: #1c1e21;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st62 {
    fill: #917034;
    stroke: #6b4e3b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st63 {
    fill: #48739b;
}

.st64 {
    fill: #6f93ba;
}

.st65 {
    fill: #3f6089;
}

.st66 {
    fill: #8dafce;
}

.st67 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st68 {
    fill: #1d1d1b;
}

.st69 {
    fill: #b7cfe2;
}

.st70 {
    fill: #fe273b;
}

.st71 {
    fill: #be0a15;
}

.st72 {
    fill: #a00514;
}

.st73 {
    fill: #4f5256;
}

.st74 {
    fill: #3a3d3f;
}

.st75 {
    fill: #202123;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st76 {
    fill: #171819;
}

.st77 {
    fill: #2d3033;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st78 {
    fill: #35393d;
}

.st79 {
    fill: #a99783;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st80 {
    fill: #8e7e6e;
    stroke: #a99783;
    stroke-miterlimit: 10;
}

.st81 {
    fill: #8e7e6e;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st82 {
    fill: #6d5f53;
}

.st83 {
    fill: #a99783;
}

.st84 {
    fill: #8e7e6e;
}

.st85 {
    fill: #6d5f53;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st86 {
    fill: #ccc0b4;
}

.st87 {
    fill: #a99783;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st88 {
    fill: #6b4e3b;
}

.st89 {
    fill: #b6b5b1;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st90 {
    fill: #7c7c79;
}

.st91 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st92 {
    fill: #b6b5b1;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st93 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st94 {
    fill: #e2ded0;
}

.st95 {
    fill: #c1a370;
}

.st96 {
    fill: #d6d6d6;
}

.st97 {
    fill: #c2c8cc;
}

.st98 {
    fill: #e6ebef;
}

.st99 {
    fill: #d69513;
}

.st100 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st101 {
    fill: #ffde83;
}

.st102 {
    fill: #332929;
}

.st103 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st104 {
    fill: #110e0e;
}

.st105 {
    fill: #8a969b;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st106 {
    fill: #8a969b;
}

.st107 {
    fill: #443d3d;
}

.st108 {
    fill: #373938;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st109 {
    fill: #262827;
}

.st110 {
    fill: #151615;
}

.st111 {
    fill: #484c51;
}

.st112 {
    fill: #646c70;
}

.st113 {
    fill: #373938;
}

.st114 {
    fill: #889fa8;
}

.st115 {
    fill: #646c70;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st116 {
    fill: #0445ff;
}

.st117 {
    fill: #689948;
}

.st118 {
    fill: #517c35;
}

.st119 {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st120 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st121 {
    fill: #ae663e;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st122 {
    fill: none;
    stroke: #1d1d1b;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st123 {
    fill: #dd7868;
}

.st124 {
    fill: #838d82;
}

.st125 {
    fill: #555e54;
}

.st126 {
    fill: #cde8f9;
}

.st127 {
    fill: #b4212f;
}

.st128 {
    fill: #5b2329;
}

.st129 {
    fill: #771929;
}

.st130 {
    fill: #293861;
}

.st131 {
    fill: #202a42;
}

.st132 {
    fill: #614e47;
}

.st133 {
    fill: #3d527f;
}

.st134 {
    fill: #896136;
}

.st135 {
    fill: #9d373f;
}

.st136 {
    fill: #9aab50;
}

.st137 {
    opacity: 0.32;
}

.st138 {
    fill: #fff48a;
}

.st139 {
    fill: #d59100;
}

.st140 {
    fill: #ffe266;
}

.st141 {
    fill: #e29000;
}

.st142 {
    fill: #846b5d;
}

.st143 {
    fill: #ef7100;
}

.st144 {
    fill: #37b9c7;
}

.st145 {
    fill: #cce5d0;
}

.st146 {
    fill: #aa1a31;
}

.st147 {
    fill: #ffed00;
}

.st148 {
    fill: #47312b;
}

.st149 {
    fill: #90afb2;
}

.st150 {
    fill: #556e7c;
}

.st151 {
    fill: #d0ebfc;
}

.st152 {
    fill: #914817;
}

.st153 {
    fill: #af6400;
}

.st154 {
    fill: #ffae1f;
}

.st155 {
    fill: #ffe2b8;
}

.st156 {
    fill: #fcc24c;
}

.st157 {
    fill: #3fafd1;
    stroke: #18475e;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st158 {
    fill: #326637;
}

.st159 {
    fill: #a46637;
}

.st160 {
    fill: #94c6d5;
}

.st161 {
    fill: #0786a8;
}

.st162 {
    fill: #28647d;
}

.st163 {
    fill: #0082aa;
}

.st164 {
    fill: #bc195f;
}

.st165 {
    fill: #c078ff;
}

.st166 {
    opacity: 0.5;
    fill: #77b8cb;
}

.st167 {
    fill: #700965;
}

.st168 {
    opacity: 0.5;
    fill: #ff6aa0;
}

.st169 {
    fill: #ff6ab4;
}

.st170 {
    fill: #ff759b;
}

.st171 {
    fill: #fda6a0;
}

.st172 {
    fill: #feda9c;
}

.st173 {
    fill: #930991;
}

.st174 {
    opacity: 0.4;
    fill: #fff;
}

.st175 {
    fill: #3fafd1;
}

.st176 {
    fill: #025473;
}

.st177 {
    opacity: 0.7;
    fill: #fff;
}

.st178 {
    fill: #0a3957;
}

.st179 {
    fill: #c6d696;
}

.st180 {
    fill: #4c2d18;
}

.st181 {
    opacity: 0.5;
    fill: #f1e0b0;
}

.st182 {
    fill: #f1e0b0;
}

.st183 {
    fill: #124158;
}

.st184 {
    fill: #0058b7;
}

.st185 {
    fill: #8e6a06;
}

.st186 {
    fill: #dd9300;
}

.st187 {
    fill: #8e4b06;
}

.st188 {
    fill: #ffe678;
}

.st189 {
    fill: #b26000;
}

.st190 {
    fill: #cc6100;
}

.st191 {
    fill: #ddbd00;
}

.st192 {
    opacity: 0.3;
    fill: #fff;
}

.st193 {
    opacity: 0.5;
    fill: #fff;
}

.st194 {
    fill: #033303;
}

.st195 {
    fill: #3ec64e;
    stroke: #08600c;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st196 {
    fill: #59e266;
}

.st197 {
    fill: #10891b;
}

.st198 {
    opacity: 0.5;
    fill: #59e266;
}

.st199 {
    fill: #3ec64e;
}

.st200 {
    opacity: 0.2;
    fill: #fff;
}

.st201 {
    fill: #08600c;
}

.st202 {
    opacity: 0.2;
    fill: #fef3b2;
}

.st203 {
    fill: #fef3b2;
}

.st204 {
    fill: #227c00;
}

.st205 {
    fill: #0bd800;
}

.st206 {
    fill: #42ff33;
}

.st207 {
    fill: #9eff94;
}

.st208 {
    opacity: 0.3;
    fill: #700965;
}

.st209 {
    fill: #5b2751;
}

.st210 {
    fill: #00583d;
}

.st211 {
    fill: #023f2b;
}

.st212 {
    fill: #843f2b;
}

.st213 {
    fill: #772f2f;
}

.st214 {
    fill: #a85151;
}

.st215 {
    fill: #994b4b;
}

.st216 {
    fill: #5f583d;
}

.st217 {
    fill: #4a873d;
}

.st218 {
    fill: #77812f;
}

.st219 {
    fill: #b95200;
}

.st220 {
    fill: #997367;
}

.st221 {
    fill: #5b2727;
}

.st222 {
    fill: #af6161;
}

.st223 {
    fill: #3e685a;
}

.st224 {
    fill: #cc7a8c;
}

.st225 {
    opacity: 0.6;
    fill: #cc91da;
}

.st226 {
    fill: #cc91da;
}

.st227 {
    opacity: 0.3;
    fill: #930991;
}

.st228 {
    opacity: 0.3;
    fill: #ff759b;
}

.st229 {
    fill: #a0a838;
}

.st230 {
    opacity: 0.3;
    fill: #feda9c;
}

.st231 {
    opacity: 0.2;
    fill: #af6161;
}

.st232 {
    fill: #3f3823;
}

.st233 {
    fill: #bc8b51;
}

.st234 {
    fill: #b93600;
}

.st235 {
    opacity: 0.9;
    fill: #b95200;
}

.st236 {
    fill: #ff9545;
}

.st237 {
    opacity: 0.4;
    fill: #b95200;
}

.st238 {
    opacity: 0.3;
    fill: #950965;
}

.st239 {
    opacity: 0.3;
    fill: #78ff2e;
}

.st240 {
    opacity: 0.4;
    fill: #78ff2e;
}

.st241 {
    fill: #058ed9;
    stroke: #055477;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st242 {
    fill: #1ca5e5;
    stroke: #055477;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st243 {
    fill: #9cb4d8;
    stroke: #7a8393;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st244 {
    fill: #d36c37;
    stroke: #934625;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st245 {
    fill: #da9e3b;
}

.st246 {
    fill: #6b727f;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st247 {
    fill: #505968;
}

.st248 {
    fill: #ceddf4;
}

.st249 {
    fill: #2a3442;
}

.st250 {
    fill: #3f434c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st251 {
    fill: #8b97a5;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st252 {
    fill: #2d333d;
}

.st253 {
    fill: #c46626;
    stroke: #9b3f00;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st254 {
    fill: #027ec9;
}

.st255 {
    fill: #03619b;
}

.st256 {
    fill: #adecfc;
}

.st257 {
    fill: #8db1d4;
}

.st258 {
    fill: #db6cff;
}

.st259 {
    fill: #ae5aff;
}

.st260 {
    opacity: 0.5;
    fill: #e9edff;
}

.st261 {
    fill: #50585b;
}

.st262 {
    fill: #768a92;
}

.st263 {
    fill: #868f93;
}

.st264 {
    fill: #515b5e;
}

.st265 {
    fill: #37393a;
}

.st266 {
    fill: #c0c7c9;
}

.st267 {
    fill: #99948c;
}

.st268 {
    fill: #555659;
}

.st269 {
    fill: #3a3b3d;
}

.st270 {
    opacity: 0.6;
    fill: #fff;
}

.st271 {
    fill: #d1be9d;
}

.st272 {
    opacity: 0.3;
    fill: #d1be9d;
}

.st273 {
    opacity: 0.3;
    fill: #c0c7c9;
}

.st274 {
    opacity: 0.6;
    fill: #768a92;
}

.st275 {
    opacity: 0.3;
    fill: #99948c;
}

.st276 {
    fill: #84655c;
}

.st277 {
    fill: #ada287;
}

.st278 {
    fill: #717377;
}

.st279 {
    fill: #1b1d1e;
}

.st280 {
    opacity: 0.2;
    fill: #d1be9d;
}

.st281 {
    opacity: 0.6;
    fill: #3a3b3d;
}

.st282 {
    opacity: 0.5;
    fill: #c0c7c9;
}

.st283 {
    opacity: 0.8;
    fill: #99948c;
}

.st284 {
    fill: #fff800;
}

.st285 {
    fill: #ffbc00;
}

.st286 {
    fill: #78ff39;
}

.st287 {
    fill: #13c400;
}

.st288 {
    fill: #ff1d1d;
}

.st289 {
    fill: #d60000;
}

.st290 {
    fill: #506eff;
}

.st291 {
    fill: #374ef4;
}

.st292 {
    fill: #826144;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st293 {
    fill: #514e4b;
}

.st294 {
    fill: #826144;
}

.st295 {
    fill: #b77c1d;
}

.st296 {
    fill: #313538;
}

.st297 {
    fill: #3e4244;
}

.st298 {
    fill: #473331;
}

.st299 {
    fill: #8a8975;
}

.st300 {
    fill: #a9ab95;
}

.st301 {
    fill: #937654;
}

.st302 {
    fill: #817967;
}

.st303 {
    fill: #a0b5b3;
}

.st304 {
    fill: #bc8b0f;
}

.st305 {
    fill: #e2a620;
}

.st306 {
    fill: #ffdbb0;
}

.st307 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st308 {
    fill: #e29c00;
}

.st309 {
    fill: #ad770b;
}

.st310 {
    fill: #ffb829;
}

.st311 {
    fill: #edad58;
}

.st312 {
    fill: #86962a;
}

.st313 {
    fill: #bc2820;
}

.st314 {
    fill: #defffd;
}

.st315 {
    fill: #82580d;
}

.st316 {
    fill: #23272b;
}

.st317 {
    fill: #2a2c30;
}

.st318 {
    fill: #232528;
}

.st319 {
    fill: #1a1c1e;
}

.st320 {
    fill: #3a3f47;
}

.st321 {
    fill: #2f343a;
}

.st322 {
    fill: #4b515b;
}

.st323 {
    fill: #d20a11;
}

.st324 {
    fill: #921d1c;
}

.st325 {
    fill: #f22736;
}

.st326 {
    fill: #8f6821;
}

.st327 {
    fill: #ff5c70;
}

.st328 {
    fill: #d68400;
}

.st329 {
    fill: #ffbd5c;
}

.st330 {
    fill: #969684;
}

.st331 {
    fill: #565651;
}

.st332 {
    fill: #939979;
}

.st333 {
    fill: #b6b7a7;
}

.st334 {
    fill: #3b3d3f;
}

.st335 {
    fill: #5b5150;
}

.st336 {
    fill: #818588;
}

.st337 {
    fill: #4d4e4f;
}

.st338 {
    fill: #3a6022;
}

.st339 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st340 {
    fill: #ae663e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st341 {
    fill: #ce6b57;
}

.st342 {
    fill: #ddd;
}

.st343 {
    fill: #c4c4c4;
}

.st344 {
    fill: none;
    stroke: #839391;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st345 {
    fill: #b4e1fa;
}

.st346 {
    fill: #cdeafc;
}

.st347 {
    fill: #6fa4bc;
}

.st348 {
    fill: #afbdd8;
}

.st349 {
    fill: #d7f3ff;
}

.st350 {
    fill: #c7dbf9;
}

.st351 {
    fill: #459cba;
}

.st352 {
    fill: #76c8e5;
}

.st353 {
    fill: #9b3f00;
}

.st354 {
    fill: #c46626;
}

.st355 {
    fill: #3a3f47;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st356 {
    fill: #5b6068;
}

.st357 {
    fill: #423a37;
}

.st358 {
    fill: #2d2725;
}

.st359 {
    fill: #a55f13;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st360 {
    fill: #753b01;
}

.st361 {
    fill: #211f1c;
}

.st362 {
    fill: #3f3d3b;
}

.st363 {
    fill: #85838e;
}

.st364 {
    fill: #63626b;
}

.st365 {
    fill: #9c9ba8;
}

.st366 {
    fill: #cdccdd;
}

.st367 {
    fill: #e59033;
    stroke: #59412a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st368 {
    fill: #f9b046;
}

.st369 {
    fill: #d39392;
    stroke: #7a5454;
    stroke-miterlimit: 10;
}

.st370 {
    fill: #ffcaca;
}

.st371 {
    fill: #c7afa3;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st372 {
    fill: #6a4a3b;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st373 {
    fill: #675b5c;
}

.st374 {
    fill: #3d3637;
}

.st375 {
    fill: #4c3f39;
}

.st376 {
    fill: #e5d0c7;
}

.st377 {
    fill: #f4e8e4;
}

.st378 {
    fill: #423c3d;
}

.st379 {
    fill: #545454;
}

.st380 {
    fill: #727272;
}

.st381 {
    fill: #6a4a3b;
}

.st382 {
    fill: #8d6645;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st383 {
    fill: #cf803d;
}

.st384 {
    fill: #dd9a68;
}

.st385 {
    fill: #dab893;
}

.st386 {
    fill: #edd5be;
}

.st387 {
    fill: #8d6645;
}

.st388 {
    fill: #824920;
}

.st389 {
    fill: #604b3c;
}

.st390 {
    fill: #646363;
}

.st391 {
    fill: #f3957e;
}

.st392 {
    fill: #ffded7;
}

.st393 {
    fill: #bf6d5c;
}

.st394 {
    fill: #baccdd;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st395 {
    fill: #8599aa;
}

.st396 {
    fill: #2fa0ba;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st397 {
    fill: #baccdd;
}

.st398 {
    fill: #0c6689;
}

.st399 {
    fill: #114859;
}

.st400 {
    fill: #2fa0ba;
}

.st401 {
    fill: #31363a;
}

.st402 {
    fill: #ed7601;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st403 {
    fill: #535b60;
}

.st404 {
    fill: #b75700;
}

.st405 {
    fill: #ffbe83;
}

.st406 {
    fill: #2fa0ba;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st407 {
    fill: #67b9c6;
}

.st408 {
    fill: #9b723a;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st409 {
    fill: #a59179;
}

.st410 {
    fill: #856c43;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st411 {
    fill: #403225;
}

.st412 {
    fill: #c2ab81;
}

.st413 {
    fill: #82735b;
}

.st414 {
    fill: #564c3d;
}

.st415 {
    fill: #3d3730;
}

.st416 {
    fill: #e2d3ba;
}

.st417 {
    fill: #9b723a;
}

.st418 {
    fill: #59595b;
}

.st419 {
    fill: #755938;
}

.st420 {
    fill: #7c786d;
}

.st421 {
    fill: #b5b1a7;
}

.st422 {
    fill: #544433;
}

.st423 {
    fill: #474747;
}

.st424 {
    fill: #685f59;
}

.st425 {
    fill: #6e7f69;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st426 {
    fill: #566053;
}

.st427 {
    fill: #3c4439;
}

.st428 {
    fill: #704d47;
}

.st429 {
    fill: #6e7f69;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st430 {
    fill: #6e7f69;
}

.st431 {
    fill: #a4a579;
}

.st432 {
    fill: #8c9e83;
}

.st433 {
    fill: #474f45;
}

.st434 {
    fill: #b6c1aa;
}

.st435 {
    fill: #c1c1a3;
}

.st436 {
    fill: #a85c51;
}

.st437 {
    fill: #f4e9bd;
}

.st438 {
    fill: #6a7677;
}

.st439 {
    display: none;
}

.st440 {
    fill: #c3d3dd;
}

.st441 {
    fill: #e1f5ff;
}

.st442 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st443 {
    fill: #d8d8d8;
}

.st444 {
    fill: #040e00;
    stroke: #ff39ff;
    stroke-miterlimit: 10;
}

.st445 {
    fill: #85ad29;
    stroke: #ff39ff;
    stroke-miterlimit: 10;
}

.st446 {
    fill: #88c915;
    stroke: #ff39ff;
    stroke-miterlimit: 10;
}

.st447 {
    fill: #9da5a5;
}

.st448 {
    fill: #f72300;
}

.st449 {
    fill: #b90000;
}

.st450 {
    opacity: 0.2;
    fill: #33485e;
}

.st451 {
    fill: #5b656b;
}

.st452 {
    fill: #abe7ff;
}

.st453 {
    fill: #ccdded;
}

.st454 {
    fill: #b50f0f;
}

.st455 {
    opacity: 0.2;
    fill: #5489d0;
}

.st456 {
    fill: #ffd300;
}

.st457 {
    fill: #ff9d00;
}

.st458 {
    fill: #6cd300;
}

.st459 {
    fill: #ff5f5f;
}

.st460 {
    fill: none;
}

.st461 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st462 {
    fill: none;
    stroke: #4f0000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st463 {
    opacity: 0.4;
    fill: #33485e;
}

.st464 {
    fill: #f00;
}

.st465 {
    display: inline;
}

.st466 {
    opacity: 0.3;
    fill: #4d0965;
}

.st467 {
    display: inline;
    fill: #5b2751;
}

.st468 {
    display: inline;
    fill: #00583d;
}

.st469 {
    display: inline;
    fill: #023f2b;
}

.st470 {
    display: inline;
    fill: #994b4b;
}

.st471 {
    display: inline;
    fill: #772f2f;
}

.st472 {
    display: inline;
    fill: #5f583d;
}

.st473 {
    display: inline;
    fill: #4a873d;
}

.st474 {
    display: inline;
    fill: #77812f;
}

.st475 {
    display: inline;
    fill: #b95200;
}

.st476 {
    display: inline;
    fill: #997367;
}

.st477 {
    display: inline;
    fill: #5b2727;
}

.st478 {
    display: inline;
    fill: #af6161;
}

.st479 {
    display: inline;
    fill: #3e685a;
}

.st480 {
    display: inline;
    fill: #cc7a8c;
}

.st481 {
    display: inline;
    opacity: 0.6;
    fill: #cc91da;
}

.st482 {
    display: inline;
    fill: #cc91da;
}

.st483 {
    display: inline;
    opacity: 0.3;
    fill: #930991;
}

.st484 {
    display: inline;
    opacity: 0.3;
    fill: #ff759b;
}

.st485 {
    display: inline;
    fill: #a0a838;
}

.st486 {
    display: inline;
    opacity: 0.3;
    fill: #feda9c;
}

.st487 {
    display: inline;
    opacity: 0.2;
    fill: #af6161;
}

.st488 {
    display: inline;
    fill: #3f3823;
}

.st489 {
    display: inline;
    fill: #bc8b51;
}

.st490 {
    display: inline;
    fill: #b93600;
}

.st491 {
    display: inline;
    opacity: 0.9;
    fill: #b95200;
}

.st492 {
    display: inline;
    fill: #ff9545;
}

.st493 {
    display: inline;
    opacity: 0.4;
    fill: #b95200;
}

.st494 {
    display: inline;
    opacity: 0.3;
    fill: #950965;
}
