.fsst0 {
    fill: #7a3d22;
}
.fsst1 {
    fill: #692b27;
}
.fsst2 {
    fill: #292d33;
}
.fsst3 {
    fill: #3d4147;
}
.fsst4 {
    opacity: 0.6;
    fill: #57595b;
}
.fsst5 {
    fill: #352b27;
}
.fsst6 {
    fill: #513d22;
}
.fsst7 {
    fill: #4d3338;
}
.fsst8 {
    fill: #662e25;
}
.fsst9 {
    fill: #724a19;
}
.fsst10 {
    fill: #57595b;
}
.fsst11 {
    fill: #b7431a;
}
.fsst12 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.fsst13 {
    opacity: 0.4;
    fill: #ac2b27;
}
.fsst14 {
    fill: #ac2b27;
}
.fsst15 {
    opacity: 0.5;
    fill: #ff5427;
}
.fsst16 {
    fill: #ffc200;
}
