.st0 {
    clip-path: url(#SVGID_00000103982462637199988120000007612674299654409125_);
}

.st1 {
    fill: #ffef7b;
}

.st2 {
    clip-path: url(#SVGID_00000128471842600975830240000001256771956961503915_);
    fill: #fff8dc;
}

.st3 {
    fill: #fff;
    stroke: #fff;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #056811;
}

.st5 {
    fill: #07b522;
}

.st6 {
    fill: #8cd13d;
}

.st7 {
    fill: #104200;
}

.st8 {
    fill: #723d2a;
    stroke: #000;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #c16f40;
    stroke: #000;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #60313e;
    stroke: #000;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #c16f40;
}

.st12 {
    fill: #ff9f48;
    stroke: #000;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #ffd346;
}

.st14 {
    fill: #ffe49f;
}

.st15 {
    fill: none;
    stroke: #000;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #fff;
    stroke: #fff;
    stroke-width: 8;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #aa5713;
}

.st18 {
    fill: #823411;
}

.st19 {
    fill: #24689b;
}

.st20 {
    clip-path: url(#SVGID_00000149367505804139096620000015360703346523630464_);
}

.st21 {
    fill: #ffbc00;
}

.st22 {
    fill: #fee02d;
}

.st23 {
    fill: #fff265;
}

.st24 {
    fill: #fff;
}

.st25 {
    fill: #1d1d1b;
}

.st26 {
    fill: #ef7e31;
}

.st27 {
    fill: #ffe32e;
}

.st28 {
    fill: #f1af5d;
}

.st29 {
    fill: #4a4d51;
}

.st30 {
    fill: #8f9193;
}

.st31 {
    fill: none;
    stroke: #6d8599;
    stroke-width: 3.0195;
    stroke-miterlimit: 10;
}

.st32 {
    fill: #5eb8ef;
}

.st33 {
    fill: #fff;
    stroke: #fff;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st34 {
    clip-path: url(#SVGID_00000041987623817457977670000001487164148305457061_);
}

.st35 {
    clip-path: url(#SVGID_00000110430075118307774390000015474464924203358140_);
    fill: #fff8dc;
}

.st36 {
    fill: #9daaba;
}

.st37 {
    fill: #b3ddff;
}

.st38 {
    fill: #00cfff;
}

.st39 {
    fill: #c68d42;
    stroke: #4c2c1c;
    stroke-width: 1.728;
    stroke-miterlimit: 10;
}

.st40 {
    fill: #c16900;
}

.st41 {
    fill: #aef7ff;
}

.st42 {
    fill: none;
    stroke: #5f8dce;
    stroke-width: 1.7378;
    stroke-miterlimit: 10;
}

.st43 {
    fill: #5f8dce;
}

.st44 {
    fill: #009ac9;
}

.st45 {
    fill: #fff;
    stroke: #5f8dce;
    stroke-width: 1.7496;
    stroke-miterlimit: 10;
}

.st46 {
    fill: #e0320a;
}

.st47 {
    fill: #3d69aa;
}

.st48 {
    fill: none;
    stroke: #fff;
    stroke-width: 4.0517;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st49 {
    fill: #fff;
    stroke: #fff;
    stroke-width: 7;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st50 {
    fill: #b86a00;
}

.st51 {
    fill: #eaa702;
}

.st52 {
    fill: #f1c760;
}

.st53 {
    fill: #0094c1;
}

.st54 {
    fill: #00c4f2;
}

.st55 {
    fill: #6ff;
}

.st56 {
    fill: #0059c1;
}

.st57 {
    fill: #914701;
}

.st58 {
    fill: #b7b0aa;
}

.st59 {
    fill: #9b908a;
}

.st60 {
    fill: #c3bcb6;
}

.st61 {
    fill: #97b3c1;
}

.st62 {
    fill: #f5ffff;
}

.st63 {
    fill: #6c6260;
}

.st64 {
    opacity: 0.42;
    fill: #f5ffff;
}

.st65 {
    fill: #5f2603;
}

.st66 {
    fill: #b72200;
}

.st67 {
    fill: #e82505;
}

.st68 {
    fill: #a01802;
}

.st69 {
    fill: #ff402c;
}

.st70 {
    fill: #fffded;
}

.st71 {
    fill: #f9482b;
}

.st72 {
    fill: #ff9388;
}

.st73 {
    fill: #7f1403;
}

.st74 {
    fill: #ff9d00;
}

.st75 {
    fill: #c07900;
}

.st76 {
    fill: #e3a00c;
}

.st77 {
    fill: #d28801;
}

.st78 {
    fill: #08c0ff;
}

.st79 {
    fill: #095e89;
}

.st80 {
    fill: #f2be48;
}

.st81 {
    fill: #0078ed;
}

.st82 {
    fill: #fffffb;
}

.st83 {
    fill: none;
    stroke: #000;
    stroke-width: 3.2442;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st84 {
    fill: none;
    stroke: #000;
    stroke-width: 3.2442;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 7.8116, 7.8116;
}

.st85 {
    fill: none;
    stroke: #000;
    stroke-width: 3.2442;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 7.7615, 7.7615;
}

.st86 {
    fill: none;
    stroke: #000;
    stroke-width: 3.2442;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 9.2384, 9.2384;
}

.st87 {
    fill: none;
    stroke: #000;
    stroke-width: 3.2442;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 8.4477, 8.4477;
}

.st88 {
    fill: #159;
}

.st89 {
    fill: #3585e5;
}

.st90 {
    fill: #6eb7ff;
}

.st91 {
    fill: #8be2ff;
}

.st92 {
    fill: #bc9106;
}

.st93 {
    fill: #36a4ff;
}

.st94 {
    fill: #ffd05a;
}

.st95 {
    fill: #8e6900;
}

.st96 {
    fill: #9b7c57;
}

.st97 {
    fill: #6d5841;
}

.st98 {
    fill: #6d585b;
}

.st99 {
    fill: #2bf0ff;
}

.st100 {
    fill: #2bb8ff;
}

.st101 {
    fill: #d88813;
}

.st102 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 1.3406;
    stroke-miterlimit: 10;
}

.st103 {
    stroke: #000;
    stroke-width: 1.3406;
    stroke-miterlimit: 10;
}

.st104 {
    fill: #ed7601;
}

.st105 {
    fill: #1d1d1d;
}

.st106 {
    fill: #d64422;
}

.st107 {
    stroke: #000;
    stroke-width: 0.1676;
    stroke-miterlimit: 10;
}

.st108 {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.3406;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st109 {
    fill: #c9965f;
}

.st110 {
    fill: #564548;
}

.st111 {
    fill: #ffcd5f;
}

.st112 {
    fill: #ffe4ae;
}

.st113 {
    fill: #a3610a;
}

.st114 {
    opacity: 0.72;
    fill: #874d02;
}

.st115 {
    fill: none;
    stroke: #ff9f48;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st116 {
    fill: #bf7d64;
    stroke: #000;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
}

.st117 {
    fill: #d38a4a;
}

.st118 {
    fill: #ff9100;
}

.st119 {
    fill: #ffc552;
}

.st120 {
    fill: #773600;
}

.st121 {
    fill: none;
    stroke: #773600;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
}

.st122 {
    fill: #ef9c5e;
}

.st123 {
    opacity: 0.5;
    fill: #c16f40;
}
