.st0 {
    fill: #fff;
}

.st1 {
    fill: #9b7c57;
}

.st2 {
    fill: #6d5841;
}

.st3 {
    fill: #6d585b;
}

.st4 {
    fill: #f2be48;
}

.st5 {
    fill: #eaa702;
}

.st6 {
    fill: #2bf0ff;
}

.st7 {
    fill: #2bb8ff;
}

.st8 {
    fill: #d88813;
}

.st9 {
    fill: #ffd346;
}

.st10 {
    fill: #ed7601;
}

.st11 {
    fill: #1d1d1d;
}

.st12 {
    fill: #1d1d1b;
}

.st13 {
    fill: #d64422;
}

.st14 {
    fill: #c9965f;
}

.st15 {
    fill: #564548;
}

.st16 {
    fill: #ffcd5f;
}

.st17 {
    fill: #ffe4ae;
}

.st18 {
    fill: #a3610a;
}

.st19 {
    fill: #a05e15;
}

.st20 {
    fill: #9b5301;
}

.st21 {
    fill: #8e4305;
}

.st22 {
    fill: #663d19;
}

.st23 {
    fill: #844a1b;
}

.st24 {
    fill: #6b3003;
}

.st25 {
    fill: #1b5b0a;
}

.st26 {
    fill: #9b4803;
}
