.rightWing0 {
    fill: #058ed9;
    stroke: #055477;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing1 {
    fill: #1ca5e5;
    stroke: #055477;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rightWing2 {
    fill: #c46626;
    stroke: #9b3f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing3 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing4 {
    fill: #9cb4d8;
    stroke: #7a8393;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing5 {
    fill: #fff;
}

.rightWing6 {
    fill: #d36c37;
    stroke: #934625;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing7 {
    fill: #da9e3b;
}

.rightWing8 {
    fill: #6b727f;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing9 {
    fill: #505968;
}

.rightWing10 {
    fill: #ceddf4;
}

.rightWing11 {
    fill: #2a3442;
}

.rightWing12 {
    fill: #3f434c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing13 {
    fill: #f18a0e;
}

.rightWing14 {
    fill: #8b97a5;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rightWing15 {
    fill: #2d333d;
}

.rightWing16 {
    opacity: 0.2;
    fill: #fff;
}

.rightWing17 {
    fill: #f7a800;
}

.rightWing18 {
    fill: #c46626;
    stroke: #9b3f00;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.rightWing19 {
    fill: #db811f;
}

.rightWing20 {
    fill: #f9bf36;
}

.rightWing21 {
    fill: #027ec9;
}

.rightWing22 {
    fill: #03619b;
}

.rightWing23 {
    fill: #adecfc;
}

.rightWing24 {
    fill: #8db1d4;
}
