.fst0 {
    fill: #422322;
}
.fst1 {
    fill: #352b27;
}
.fst2 {
    fill: #3f312a;
}
.fst3 {
    fill: #692b27;
}
.fst4 {
    fill: #b7431a;
}
.fst5 {
    fill: #2c353d;
}
.fst6 {
    fill: #ff5427;
}
.fst7 {
    fill: #b7001a;
}
.fst8 {
    fill: #ffc200;
}
.fst9 {
    fill: #3a0303;
}
.fst10 {
    opacity: 0.57;
}
.fst11 {
    opacity: 0.4;
    fill: #b7431a;
}
.fst12 {
    opacity: 0.4;
    fill: #ff5427;
}
.fst13 {
    opacity: 0.3;
    fill: #ff5427;
}
