.fhst0 {
    fill: #f7a800;
}
.fhst1 {
    fill: #231717;
}
.fhst2 {
    fill: #352b27;
}
.fhst3 {
    fill: #1e1815;
}
.fhst4 {
    fill: #952b27;
}
.fhst5 {
    fill: #692b27;
}
.fhst6 {
    fill: #b7431a;
}
.fhst7 {
    fill: #ff5427;
}
.fhst8 {
    fill: #ffc200;
}
.fhst9 {
    opacity: 0.2;
    fill: #ff2b27;
}
