.pet-0 {
    fill: #c4a882;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet-1 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet-2 {
    fill: #1d1d1b;
}

.pet-3 {
    fill: #fff;
}

.pet-4 {
    fill: #756552;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet-5 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet-6 {
    fill: #c4a882;
}

.pet-7 {
    fill: #e2d3b0;
}

.pet-8 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pet-9 {
    fill: #696b70;
}

.pet-10 {
    fill: #bcbcbc;
}

.pet-11 {
    fill: #f2e8d3;
}
