.satoshi-st0 {
    fill: #f7a800;
}

.satoshi-st1 {
    fill: #f18a0e;
}

.satoshi-st2 {
    fill: #1d1d1d;
}

.satoshi-st3 {
    fill: #ea7946;
}

.satoshi-st4 {
    fill: #1e0f00;
}

.satoshi-st5 {
    fill: #f9da3e;
}

.satoshi-st6 {
    fill: #a58967;
}

.satoshi-st7 {
    fill: #75604a;
}

.satoshi-st8 {
    fill: #ffd346;
}

.satoshi-st9 {
    fill: #fff;
}

.satoshi-st10 {
    fill: #fbbc2f;
}

.satoshi-st11 {
    fill: #b4c8b5;
}

.satoshi-st12 {
    fill: #879988;
}

.satoshi-st13 {
    fill: #372a1d;
}

.satoshi-st14 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #05f;
}

.satoshi-st15 {
    fill: #dbae40;
}

.satoshi-st16 {
    fill: #ffd16c;
}

.satoshi-st17 {
    fill: #bc9f80;
}

.satoshi-st18 {
    fill: #d8a132;
}

.satoshi-st19 {
    fill: #f04941;
}

.satoshi-st20 {
    fill: #ffd400;
}

.satoshi-st21 {
    fill: #efdaec;
}

.satoshi-st22 {
    fill: #ed7601;
}

.satoshi-st23 {
    fill: #d64422;
}

.satoshi-st24 {
    fill: #797e7f;
}

.satoshi-st25 {
    fill: #3c4244;
}

.satoshi-st26 {
    fill: #5d6163;
}

.satoshi-st27 {
    fill: #9a9d9e;
}
