.doge-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.doge-st1 {
    fill: #ffd346;
}

.doge-st2 {
    fill: #fff;
}

.doge-st3 {
    fill: #fbbc2f;
}

.doge-st4 {
    fill: #1d1d1d;
}

.doge-st5 {
    fill: #e59a23;
}

.doge-st6 {
    fill: #05f;
}

.doge-st7 {
    fill: #f7a800;
}

.doge-st8 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.doge-st9 {
    fill: #1d1d1b;
}

.doge-st10 {
    fill: #ffdc7b;
}

.doge-st11 {
    fill: #7a7265;
}

.doge-st12 {
    fill: #ed7601;
}

.doge-st13 {
    fill: #33322e;
}

.doge-st14 {
    fill: #d64422;
}

.doge-st15 {
    fill: #ff9739;
}

.doge-st16 {
    fill: #ba964c;
}

.doge-st17 {
    fill: #7b4614;
}

.doge-st18 {
    fill: #f7a800;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.doge-st19 {
    fill: #40110b;
}
