.caniD0 {
    fill: #718691;
}

.caniD1 {
    fill: #b3e8ff;
}

.caniD2 {
    fill: #9fb1bf;
}

.caniD3 {
    fill: #d1642f;
}

.caniD4 {
    fill: #b04141;
}

.caniD5 {
    fill: #ce7345;
}

.caniD6 {
    fill: #a5643e;
}

.caniD7 {
    fill: #834c31;
}

.caniD8 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniD9 {
    opacity: 0.2;
    fill: #e0baa5;
}

.caniD10 {
    fill: #76757b;
}

.caniD11 {
    fill: #a59a95;
}

.caniD12 {
    fill: #575759;
}

.caniD13 {
    fill: #20262b;
}

.caniD14 {
    fill: #555b60;
}

.caniD15 {
    fill: #bd703a;
}

.caniD16 {
    fill: #ad4f0e;
}

.caniD17 {
    fill: #3a3836;
}

.caniD18 {
    fill: #a38d7e;
}

.caniD19 {
    fill: #97837c;
}

.caniD20 {
    fill: #aa9994;
}

.caniD21 {
    opacity: 0.3;
}

.caniD22 {
    opacity: 0.4;
}

.caniD23 {
    opacity: 0.3;
    fill: #ffffff;
}

.caniD24 {
    fill: #2f3a3f;
}

.caniD25 {
    fill: #7f8aa0;
}

.caniD26 {
    fill: #575d6b;
}

.caniD27 {
    fill: #3e5460;
}

.caniD28 {
    fill: #8aa6b9;
}

.caniD29 {
    fill: #687d87;
}

.caniD30 {
    fill: #e10000;
}

.caniD31 {
    opacity: 0.5;
    fill: #575d6b;
}

.caniD32 {
    fill: #242528;
}

.caniD33 {
    fill: #3f3f3f;
}

.caniD34 {
    fill: #9aabb2;
}

.caniD35 {
    fill: #49565b;
}

.caniD36 {
    fill: #4f5b60;
}

.caniD37 {
    opacity: 0.4;
    fill: #99cccc;
}

.caniD38 {
    opacity: 0.8;
    fill: #99cccc;
}

.caniD39 {
    fill: #99cccc;
}

.caniD40 {
    fill: #bdfffd;
}

.caniD41 {
    fill: #ffffff;
}

.caniD42 {
    opacity: 0.7;
    fill: #a3efed;
}

.caniD43 {
    opacity: 0.1;
    fill: #a3efed;
}

.caniD44 {
    opacity: 0.6;
    fill: #3e5460;
}

.caniD45 {
    opacity: 0.3;
    fill: #3e5460;
}

.caniD46 {
    opacity: 0.5;
    fill: #99cccc;
}

.caniD47 {
    fill: #a3efed;
}

.caniD48 {
    opacity: 0.5;
    fill: #a3efed;
}

.caniD49 {
    opacity: 0.7;
    fill: #ffffff;
}

.caniD50 {
    opacity: 0.2;
    fill: #242528;
}

.caniD51 {
    opacity: 0.3;
    fill: #242528;
}

.caniD52 {
    opacity: 0.45;
    fill: #242528;
}

.caniD53 {
    opacity: 0.7;
    fill: #99cccc;
}

.caniD54 {
    opacity: 0.3;
    fill: #99cccc;
}

.caniD55 {
    opacity: 0.3;
    fill: #575d6b;
}

.caniD56 {
    opacity: 0.3;
    fill: #7e8799;
}

.caniD57 {
    opacity: 0.6;
    fill: #384051;
}

.caniD58 {
    opacity: 0.7;
    fill: #384051;
}

.caniD59 {
    opacity: 0.6;
    fill: #a3efed;
}

.caniD60 {
    fill: #43545b;
}

.caniD61 {
    fill: #2b393f;
}

.caniD62 {
    fill: #21252d;
}

.caniD63 {
    fill: #84939a;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniD64 {
    fill: #359fc8;
}

.caniD65 {
    fill: #dc4b43;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniD66 {
    fill: #dc8943;
}

.caniD67 {
    fill: #dcdc7a;
}

.caniD68 {
    opacity: 0.5;
    fill: #71cbea;
}

.caniD69 {
    opacity: 0.2;
    fill: #71cbea;
}

.caniD70 {
    fill: #b9edf9;
}

.caniD71 {
    opacity: 0.8;
    fill: #ffffff;
}

.caniD72 {
    opacity: 0.4;
    fill: #44515e;
}

.caniD73 {
    fill: #44515e;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniD74 {
    fill: #4f6168;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniD75 {
    fill: #359fc8;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniD76 {
    fill: #71cbea;
}

.caniD77 {
    opacity: 0.6;
    fill: #b9edf9;
}

.caniD78 {
    opacity: 0.4;
    fill: #303a42;
}

.caniD79 {
    fill: #773723;
}

.caniD80 {
    fill: #ff8d4d;
}

.caniD81 {
    fill: #384049;
}

.caniD82 {
    fill: #99c1dd;
}

.caniD83 {
    fill: #bad5e8;
}

.caniD84 {
    fill: #566166;
}

.caniD85 {
    opacity: 0.4;
    fill: #718691;
}

.caniD86 {
    opacity: 0.3;
    fill: #718691;
}

.caniD87 {
    opacity: 0.5;
    fill: #718691;
}

.caniD88 {
    opacity: 0.2;
    fill: #718691;
}

.caniD89 {
    opacity: 0.5;
    fill: #ffffff;
}

.caniD90 {
    opacity: 0.4;
    fill: #24c2e8;
}

.caniD91 {
    opacity: 0.3;
    fill: #24c2e8;
}

.caniD92 {
    fill: #e0baa5;
}

.caniD93 {
    opacity: 0.4;
    fill: #20262b;
}

.caniD94 {
    opacity: 0.3;
    fill: #20262b;
}

.caniD95 {
    opacity: 0.4;
    fill: #2b393f;
}

.caniD96 {
    fill: #8087aa;
}

.caniD97 {
    fill: #8de2df;
}

.caniD98 {
    opacity: 0.5;
}

.caniD99 {
    fill: #1e2426;
    stroke: #1e2426;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniD100 {
    opacity: 0.5;
    fill: #44515e;
}

.caniD101 {
    opacity: 0.4;
    fill: #ffffff;
}

.caniD102 {
    fill: #4f5f66;
}

.caniD103 {
    fill: #86aab7;
}

.caniD104 {
    fill: #24c2e8;
}

.caniD105 {
    fill: none;
    stroke: #2d464f;
    stroke-miterlimit: 10;
}

.caniD106 {
    fill: #c9578b;
    stroke: #8c0448;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniD107 {
    fill: #ff52a9;
}

.caniD108 {
    fill: #1d1d1d;
}

.caniD109 {
    fill: #7f6e60;
}

.caniD110 {
    fill: #c07e42;
}

.caniD111 {
    fill: #8a6a47;
}

.caniD112 {
    fill: #3d3b39;
}

.caniD113 {
    fill: #6e7184;
}

.caniD114 {
    opacity: 0.6;
    fill: #3a3b42;
}

.caniD115 {
    fill: #525466;
}

.caniD116 {
    fill: #44515e;
}

.caniD117 {
    fill: #84939a;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniD118 {
    fill: #514948;
}

.caniD119 {
    fill: #3d1e1b;
}

.caniD120 {
    fill: #94a3af;
}

.caniD121 {
    fill: #6e7e89;
}

.caniD122 {
    fill: #4d010b;
}

.caniD123 {
    fill: #610711;
}

.caniD124 {
    fill: #3d261c;
}

.caniD125 {
    fill: #281b16;
}

.caniD126 {
    fill: #6f5638;
}

.caniD127 {
    fill: #5f0c08;
}

.caniD128 {
    opacity: 0.4;
    fill: #443525;
}

.caniD129 {
    fill: #443525;
}

.caniD130 {
    fill: #9a2211;
}

.caniD131 {
    fill: #821207;
}

.caniD132 {
    fill: #c84028;
}

.caniD133 {
    fill: #28040a;
}

.caniD134 {
    fill: #c60e2d;
}

.caniD135 {
    fill: #7f192f;
}

.caniD136 {
    fill: #af5002;
}

.caniD137 {
    fill: #c9842b;
}

.caniD138 {
    opacity: 0.6;
    fill: #28040a;
}

.caniD139 {
    opacity: 0.3;
    fill: #28040a;
}

.caniD140 {
    fill: #b2c3ce;
}

.caniD141 {
    opacity: 0.3;
    fill: #b2c3ce;
}

.caniD142 {
    fill: #95a2a5;
}

.caniD143 {
    fill: #ddb294;
}

.caniD144 {
    fill: #682d27;
}

.caniD145 {
    fill: #708184;
}

.caniD146 {
    opacity: 0.4;
    fill: #ddb294;
}

.caniD147 {
    opacity: 0.1;
    fill: #ddb294;
}

.caniD148 {
    fill: #a0776a;
}

.caniD149 {
    fill: #c18963;
}

.caniD150 {
    fill: #6a7577;
}

.caniD151 {
    opacity: 0.4;
    fill: #231917;
}

.caniD152 {
    fill: #903c32;
}

.caniD153 {
    opacity: 0.4;
    fill: #e5cab7;
}

.caniD154 {
    opacity: 0.2;
    fill: #ff6627;
}

.caniD155 {
    fill: #5b6f70;
}

.caniD156 {
    fill: #5a2c1f;
}

.caniD157 {
    fill: #411306;
}

.caniD158 {
    fill: #845145;
}

.caniD159 {
    opacity: 0.3;
    fill: #845145;
}

.caniD160 {
    opacity: 0.2;
    fill: #845145;
}

.caniD161 {
    fill: none;
    stroke: #411306;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniD162 {
    fill: none;
    stroke: #5a2c1f;
    stroke-miterlimit: 10;
}

.caniD163 {
    fill: #1e0a06;
}

.caniD164 {
    opacity: 0.4;
    fill: #1e0a06;
}

.caniD165 {
    fill: #618a9e;
}

.caniD166 {
    fill: #79b9d3;
}

.caniD167 {
    fill: #4e606c;
}

.caniD168 {
    fill: #3a2a29;
}

.caniD169 {
    fill: #35373a;
}

.caniD170 {
    opacity: 0.4;
    fill: #8aa6b9;
}

.caniD171 {
    opacity: 0.3;
    fill: #8aa6b9;
}

.caniD172 {
    fill: #384c54;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniD173 {
    fill: #dc4b43;
}

.caniD174 {
    fill: #84939a;
}

.caniD175 {
    opacity: 0.8;
    fill: #44515e;
}

.caniD176 {
    opacity: 0.3;
    fill: #44515e;
}

.caniD177 {
    opacity: 0.4;
    fill: #dc8943;
}

.caniD178 {
    opacity: 0.3;
    fill: #dc4b43;
}

.caniD179 {
    opacity: 0.3;
    fill: #dcdc7a;
}

.caniD180 {
    fill: #dcdcac;
}

.caniD181 {
    opacity: 0.6;
    fill: #71cbea;
}

.caniD182 {
    fill: #3c5159;
}

.caniD183 {
    fill: #d7f2ff;
}

.caniD184 {
    fill: #9ba4b2;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniD185 {
    fill: #ffffff;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniD186 {
    fill: #88b1ff;
    stroke: #000098;
    stroke-miterlimit: 10;
}

.caniD187 {
    fill: #9ba4b2;
}

.caniD188 {
    fill: #30383a;
}

.caniD189 {
    fill: #3e88ff;
}

.caniD190 {
    fill: #6daf6b;
}

.caniD191 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniD192 {
    opacity: 0.6;
}

.caniD193 {
    opacity: 0.8;
    fill: #313647;
}

.caniD194 {
    opacity: 0.1;
}

.caniD195 {
    fill: #787a90;
}

.caniD196 {
    fill: #a2a6ce;
}

.caniD197 {
    opacity: 0.2;
    fill: #3676b6;
}

.caniD198 {
    fill: #b7b8c4;
}

.caniD199 {
    opacity: 0.5;
    fill: #998e84;
}

.caniD200 {
    fill: #a7406a;
}

.caniD201 {
    fill: #c1c5e8;
}

.caniD202 {
    fill: #67273c;
}

.caniD203 {
    opacity: 0.4;
    fill: #525466;
}

.caniD204 {
    opacity: 0.3;
    fill: #525466;
}

.caniD205 {
    opacity: 0.2;
    fill: #525466;
}

.caniD206 {
    opacity: 0.3;
    fill: #353947;
}

.caniD207 {
    opacity: 0.6;
    fill: #525466;
}

.caniD208 {
    opacity: 0.2;
    fill: #ffb627;
}

.caniD209 {
    fill: #30363a;
}

.caniD210 {
    fill: #859fb5;
}

.caniD211 {
    opacity: 0.3;
    fill: #accce2;
}

.caniD212 {
    opacity: 0.3;
    fill: #86c5ea;
}

.caniD213 {
    opacity: 0.7;
    fill: #86c5ea;
}

.caniD214 {
    fill: #b6def2;
}

.caniD215 {
    fill: #86c5ea;
}

.caniD216 {
    opacity: 0.5;
    fill: #b6def2;
}

.caniD217 {
    opacity: 0.6;
    fill: #a2a6ce;
}

.caniD218 {
    opacity: 0.2;
    fill: #86c5ea;
}

.caniD219 {
    fill: #666666;
}

.caniD220 {
    fill: #282421;
}

.caniD221 {
    opacity: 0.3;
    fill: #666666;
}

.caniD222 {
    opacity: 0.8;
    fill: #666666;
}

.caniD223 {
    opacity: 0.4;
    fill: #666666;
}

.caniD224 {
    fill: #898989;
}

.caniD225 {
    opacity: 0.5;
    fill: #898989;
}

.caniD226 {
    opacity: 0.15;
    fill: #d77c00;
}

.caniD227 {
    opacity: 0.3;
    fill: #ffd199;
}

.caniD228 {
    opacity: 0.5;
    fill: #525466;
}

.caniD229 {
    fill: #333333;
}

.caniD230 {
    fill: #4c5860;
}

.caniD231 {
    fill: #9fb1bf;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniD232 {
    fill: #384049;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniD233 {
    fill: #9fb1bf;
    stroke: #494d56;
    stroke-miterlimit: 10;
}

.caniD234 {
    opacity: 0.3;
    fill: #b5b1b0;
}

.caniD235 {
    fill: #723a15;
}

.caniD236 {
    fill: #3f4b4f;
    stroke: #1e2426;
    stroke-miterlimit: 10;
}

.caniD237 {
    opacity: 0.5;
    fill: #1e2426;
}

.caniD238 {
    opacity: 0.2;
    fill: #1e2426;
}

.caniD239 {
    fill: none;
    stroke: #1e2426;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.caniD240 {
    opacity: 0.2;
    fill: #b9edf9;
}

.caniD241 {
    fill: #708593;
}

.caniD242 {
    fill: #9fb1bf;
    stroke: #4b5359;
    stroke-miterlimit: 10;
}

.caniD243 {
    fill: #4b5359;
}

.caniD244 {
    opacity: 0.5;
    fill: #384049;
}

.caniD245 {
    fill: none;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniD246 {
    fill: #212e3a;
}

.caniD247 {
    opacity: 0.2;
    fill: #ffffff;
}

.caniD248 {
    fill: #444d51;
}

.caniD249 {
    opacity: 0.5;
    fill: #24c2e8;
}

.caniD250 {
    fill: #80a1af;
}

.caniD251 {
    opacity: 0.7;
    fill: #264249;
}

.caniD252 {
    opacity: 0.3;
    fill: #5c402c;
}

.caniD253 {
    fill: #a5503c;
}

.caniD254 {
    fill: #4b2f3d;
}

.caniD255 {
    fill: #bfb2af;
}

.caniD256 {
    fill: #cfc3b3;
}

.caniD257 {
    fill: #c89e00;
}

.caniD258 {
    fill: #ffd44d;
}

.caniD259 {
    fill: #dc7500;
}

.caniD260 {
    fill: #383b3f;
}

.caniD261 {
    fill: #93948c;
}

.caniD262 {
    fill: #c1c1c1;
}

.caniD263 {
    fill: #46b2a8;
}

.caniD264 {
    fill: #5f6768;
}

.caniD265 {
    fill: #8ea4a5;
}

.caniD266 {
    fill: #53ead8;
}

.caniD267 {
    fill: #217c71;
}

.caniD268 {
    opacity: 0.6;
    fill: #ffffff;
}

.caniD269 {
    fill: #d8a664;
}

.caniD270 {
    fill: #e59a41;
}

.caniD271 {
    fill: #4c4945;
}

.caniD272 {
    opacity: 0.4;
    fill: #aa7950;
}

.caniD273 {
    fill: #d6a85a;
}

.caniD274 {
    fill: #a0bb40;
}

.caniD275 {
    fill: #cc8e36;
}

.caniD276 {
    fill: #57585b;
}

.caniD277 {
    fill: #d6a3bb;
}

.caniD278 {
    fill: #e8cfdb;
}

.caniD279 {
    fill: #4e2212;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniD280 {
    fill: #48423c;
}

.caniD281 {
    fill: #ba6509;
}

.caniD282 {
    fill: #9b4e27;
}

.caniD283 {
    fill: #7c4209;
}

.caniD284 {
    fill: #d88736;
}

.caniD285 {
    fill: #565352;
}

.caniD286 {
    fill: #966233;
}

.caniD287 {
    fill: #ac7741;
}

.caniD288 {
    fill: #debd90;
}

.caniD289 {
    fill: #796f6e;
}

.caniD290 {
    fill: #3a3a3a;
}

.caniD291 {
    fill: #606362;
}

.caniD292 {
    fill: #7a7a7a;
}

.caniD293 {
    fill: #a36d4b;
}

.caniD294 {
    fill: #7f5234;
}

.caniD295 {
    fill: #50281b;
}

.caniD296 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniD297 {
    fill: #843c20;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniD298 {
    fill: #535356;
}

.caniD299 {
    fill: #7c706c;
}

.caniD300 {
    fill: #5b5655;
}

.caniD301 {
    fill: #b58272;
}

.caniD302 {
    fill: #1d1d1b;
}

.caniD303 {
    fill: #44403f;
}

.caniD304 {
    fill: #d8a598;
}

.caniD305 {
    fill: #857365;
}

.caniD306 {
    fill: #aa7950;
}

.caniD307 {
    fill: #725a5a;
}

.caniD308 {
    fill: #665f5d;
}

.caniD309 {
    opacity: 0.3;
    fill: #aa7950;
}

.caniD310 {
    fill: #897676;
}

.caniD311 {
    fill: #9e9086;
}

.caniD312 {
    fill: #b5b1b0;
}

.caniD313 {
    fill: #4f5456;
}

.caniD314 {
    opacity: 0.4;
    fill: #4f5456;
}

.caniD315 {
    opacity: 0.3;
    fill: #4f5456;
}

.caniD316 {
    opacity: 0.7;
    fill: #76757b;
}

.caniD317 {
    opacity: 0.5;
    fill: #4f5456;
}

.caniD318 {
    opacity: 0.5;
    fill: #aa7950;
}

.caniD319 {
    opacity: 0.7;
    fill: #aa7950;
}

.caniD320 {
    fill: #626268;
}

.caniD321 {
    fill: #b28862;
}

.caniD322 {
    fill: #9ba8bb;
}

.caniD323 {
    fill: #aa571f;
}

.caniD324 {
    fill: #363a42;
}

.caniD325 {
    fill: #a06b60;
}

.caniD326 {
    fill: #d29791;
}

.caniD327 {
    opacity: 0.2;
}

.caniD328 {
    fill: #a16944;
}

.caniD329 {
    fill: #988d79;
}

.caniD330 {
    fill: #f1fbfd;
}

.caniD331 {
    fill: none;
}

.caniD332 {
    fill: #a18570;
}

.caniD333 {
    opacity: 0.5;
    fill: #d4baad;
}

.caniD334 {
    fill: #cbb4ac;
}

.caniD335 {
    fill: #585860;
}

.caniD336 {
    fill: #d8cac5;
}

.caniD337 {
    fill: #bf9f8a;
}

.caniD338 {
    fill: #675660;
}

.caniD339 {
    fill: #7e593f;
}

.caniD340 {
    fill: #a14a40;
}

.caniD341 {
    fill: #ac6b67;
}

.caniD342 {
    opacity: 0.6;
    fill: #7a4b55;
}

.caniD343 {
    fill: #ba8563;
}

.caniD344 {
    fill: #321f18;
}

.caniD345 {
    fill: #c28460;
}

.caniD346 {
    fill: #b39da4;
}

.caniD347 {
    fill: #c5acbf;
}

.caniD348 {
    opacity: 0.7;
    fill: #5b5350;
}

.caniD349 {
    opacity: 0.8;
    fill: #5b5350;
}

.caniD350 {
    opacity: 0.6;
    fill: #5b5350;
}

.caniD351 {
    opacity: 0.4;
    fill: #5b5350;
}

.caniD352 {
    fill: #cec4cc;
}

.caniD353 {
    fill: #443f3e;
}

.caniD354 {
    fill: #5b5350;
}

.caniD355 {
    fill: #d38497;
}

.caniD356 {
    fill: #a86779;
}

.caniD357 {
    fill: #30323a;
}

.caniD358 {
    fill: #50535b;
}

.caniD359 {
    opacity: 0.4;
    fill: #c5acbf;
}

.caniD360 {
    opacity: 0.6;
    fill: #60535d;
}

.caniD361 {
    fill: #b97245;
}

.caniD362 {
    opacity: 0.4;
    fill: #e7c4ab;
}

.caniD363 {
    fill: #a59598;
}

.caniD364 {
    fill: #8e6c5c;
}

.caniD365 {
    fill: #d5c7c7;
}

.caniD366 {
    fill: #6c6263;
}

.caniD367 {
    fill: #434247;
}

.caniD368 {
    fill: #9d7078;
}

.caniD369 {
    fill: #cfc3a7;
}

.caniD370 {
    fill: #7c4d58;
}

.caniD371 {
    fill: #27262b;
}

.caniD372 {
    opacity: 0.7;
    fill: #96a1bb;
}

.caniD373 {
    fill: #96a1bb;
}

.caniD374 {
    fill: #f8cdbe;
}

.caniD375 {
    fill: #deddd8;
}

.caniD376 {
    fill: #bc7e4b;
}

.caniD377 {
    opacity: 0.7;
    fill: #796f6e;
}

.caniD378 {
    opacity: 0.4;
    fill: #956034;
}

.caniD379 {
    opacity: 0.3;
    fill: #796f6e;
}

.caniD380 {
    opacity: 0.6;
    fill: #956034;
}

.caniD381 {
    fill: #574f4c;
}

.caniD382 {
    fill: #2f2a30;
}

.caniD383 {
    opacity: 0.3;
    fill: #deddd8;
}

.caniD384 {
    opacity: 0.6;
    fill: #deddd8;
}

.caniD385 {
    fill: #423636;
}

.caniD386 {
    opacity: 0.5;
    fill: #796f6e;
}

.caniD387 {
    opacity: 0.2;
    fill: #fc9e2d;
}

.caniD388 {
    opacity: 0.4;
    fill: #844f23;
}

.caniD389 {
    opacity: 0.8;
    fill: #844f23;
}

.caniD390 {
    opacity: 0.7;
    fill: #844f23;
}

.caniD391 {
    fill: #d39654;
}

.caniD392 {
    fill: #af744b;
}

.caniD393 {
    fill: #d6b9a5;
}

.caniD394 {
    fill: #c4a48d;
}

.caniD395 {
    opacity: 0.5;
    fill: #413f40;
}

.caniD396 {
    fill: #3f3833;
}

.caniD397 {
    fill: #5a3e41;
}

.caniD398 {
    fill: #eb92a9;
}

.caniD399 {
    fill: #987079;
}

.caniD400 {
    fill: #99877f;
}

.caniD401 {
    fill: #999999;
}

.caniD402 {
    opacity: 0.3;
    fill: #413f40;
}

.caniD403 {
    fill: #404140;
}

.caniD404 {
    fill: #606060;
}

.caniD405 {
    fill: #704f39;
}

.caniD406 {
    fill: #855037;
}

.caniD407 {
    fill: #957869;
}

.caniD408 {
    fill: #af978d;
}

.caniD409 {
    fill: #5e6474;
}

.caniD410 {
    fill: #8e9faf;
}

.caniD411 {
    fill: #34353a;
}

.caniD412 {
    fill: #632d17;
}

.caniD413 {
    fill: #817468;
}

.caniD414 {
    fill: #634b4e;
}

.caniD415 {
    fill: #47484c;
}

.caniD416 {
    fill: #4d4f54;
}

.caniD417 {
    fill: #989b9a;
}

.caniD418 {
    fill: #ccc8c3;
}

.caniD419 {
    fill: #8a6652;
}

.caniD420 {
    fill: #9b7e70;
}

.caniD421 {
    opacity: 0.3;
    fill: #e36108;
}

.caniD422 {
    opacity: 0.58;
    fill: #989b9a;
}

.caniD423 {
    opacity: 0.5;
    fill: #b6b0aa;
}

.caniD424 {
    opacity: 0.6;
    fill: #20262b;
}

.caniD425 {
    fill: #b6b0aa;
}

.caniD426 {
    fill: #a3a6ad;
}

.caniD427 {
    opacity: 0.4;
    fill: #d5d4cf;
}

.caniD428 {
    opacity: 0.5;
    fill: #d5d4cf;
}

.caniD429 {
    opacity: 0.5;
    fill: #dcd5c3;
}

.caniD430 {
    fill: #dcd5c3;
}

.caniD431 {
    opacity: 0.4;
    fill: #dcd5c3;
}

.caniD432 {
    fill: #715f55;
}

.caniD433 {
    fill: #84635c;
}

.caniD434 {
    fill: #362418;
}

.caniD435 {
    opacity: 0.5;
    fill: #221f26;
}

.caniD436 {
    opacity: 0.7;
    fill: #221f26;
}

.caniD437 {
    fill: #965a64;
}

.caniD438 {
    opacity: 0.5;
    fill: #c98377;
}

.caniD439 {
    fill: #7a4b55;
}

.caniD440 {
    opacity: 0.1;
    fill: #fffff8;
}

.caniD441 {
    opacity: 0.2;
    fill: #fffff8;
}

.caniD442 {
    opacity: 0.5;
    fill: #5e4c43;
}

.caniD443 {
    opacity: 0.7;
    fill: #493630;
}

.caniD444 {
    opacity: 0.5;
    fill: #7c4f3f;
}

.caniD445 {
    fill: #b6886a;
}

.caniD446 {
    opacity: 0.5;
    fill: #c67c4b;
}

.caniD447 {
    fill: #5c402c;
}

.caniD448 {
    opacity: 0.3;
    fill: #c67c4b;
}

.caniD449 {
    fill: #d8c1a2;
}

.caniD450 {
    fill: #844f23;
}

.caniD451 {
    opacity: 0.7;
    fill: #6e4736;
}

.caniD452 {
    fill: #c3995d;
}

.caniD453 {
    opacity: 0.8;
    fill: #773723;
}

.caniD454 {
    fill: #5b2b03;
}

.caniD455 {
    fill: #cc9292;
}

.caniD456 {
    opacity: 0.5;
    fill: #846969;
}

.caniD457 {
    opacity: 0.5;
    fill: #efcaa0;
}

.caniD458 {
    opacity: 0.7;
    fill: #efcaa0;
}

.caniD459 {
    fill: #efcaa0;
}

.caniD460 {
    opacity: 0.3;
    fill: #efcaa0;
}

.caniD461 {
    fill: #895130;
}

.caniD462 {
    fill: #53555e;
}

.caniD463 {
    fill: #7c666c;
}

.caniD464 {
    fill: #c66831;
}

.caniD465 {
    fill: #893b14;
}

.caniD466 {
    fill: #150707;
}

.caniD467 {
    fill: #915233;
}

.caniD468 {
    fill: #aa6644;
}

.caniD469 {
    opacity: 0.4;
    fill: #150707;
}

.caniD470 {
    fill: #a06e7d;
}

.caniD471 {
    fill: #8189a5;
}

.caniD472 {
    fill: #adb8d8;
}

.caniD473 {
    opacity: 0.3;
    fill: #c07e42;
}

.caniD474 {
    opacity: 0.4;
    fill: #c28460;
}

.caniD475 {
    fill: #bdf1ff;
}

.caniD476 {
    opacity: 0.3;
    fill: #bdf1ff;
}

.caniD477 {
    opacity: 0.4;
    fill: #5fff48;
}

.caniD478 {
    opacity: 0.4;
    fill: #eb7e00;
}

.caniD479 {
    opacity: 0.3;
    fill: #384049;
}

.caniD480 {
    opacity: 0.2;
    fill: #384049;
}

.caniD481 {
    opacity: 0.4;
    fill: #895130;
}

.caniD482 {
    fill: #b9d2fc;
}

.caniD483 {
    fill: #a7406a;
    stroke: #414356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniD484 {
    fill: #6d3f45;
}

.caniD485 {
    fill: #7b5241;
}

.caniD486 {
    fill: #c8b6a0;
}

.caniD487 {
    fill: #b78c61;
}

.caniD488 {
    fill: #e6d5c5;
}

.caniD489 {
    fill: #c0a288;
}

.caniD490 {
    opacity: 0.6;
    fill: #ac988f;
}

.caniD491 {
    opacity: 0.7;
    fill: #47352b;
}

.caniD492 {
    fill: #8a684d;
}

.caniD493 {
    fill: #2d2926;
}

.caniD494 {
    fill: #efe3cd;
}

.caniD495 {
    fill: #995b27;
}

.caniD496 {
    fill: #704c30;
}
