.caniB0 {
    fill: #718691;
}

.caniB1 {
    fill: #b3e8ff;
}

.caniB2 {
    fill: #9fb1bf;
}

.caniB3 {
    fill: #d1642f;
}

.caniB4 {
    fill: #b04141;
}

.caniB5 {
    fill: #ce7345;
}

.caniB6 {
    fill: #a5643e;
}

.caniB7 {
    fill: #834c31;
}

.caniB8 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniB9 {
    opacity: 0.2;
    fill: #e0baa5;
}

.caniB10 {
    fill: #76757b;
}

.caniB11 {
    fill: #a59a95;
}

.caniB12 {
    fill: #575759;
}

.caniB13 {
    fill: #20262b;
}

.caniB14 {
    fill: #555b60;
}

.caniB15 {
    fill: #bd703a;
}

.caniB16 {
    fill: #ad4f0e;
}

.caniB17 {
    fill: #3a3836;
}

.caniB18 {
    fill: #a38d7e;
}

.caniB19 {
    fill: #97837c;
}

.caniB20 {
    fill: #aa9994;
}

.caniB21 {
    opacity: 0.3;
}

.caniB22 {
    opacity: 0.4;
}

.caniB23 {
    opacity: 0.3;
    fill: #ffffff;
}

.caniB24 {
    fill: #2f3a3f;
}

.caniB25 {
    fill: #7f8aa0;
}

.caniB26 {
    fill: #575d6b;
}

.caniB27 {
    fill: #3e5460;
}

.caniB28 {
    fill: #8aa6b9;
}

.caniB29 {
    fill: #687d87;
}

.caniB30 {
    fill: #e10000;
}

.caniB31 {
    opacity: 0.5;
    fill: #575d6b;
}

.caniB32 {
    fill: #242528;
}

.caniB33 {
    fill: #3f3f3f;
}

.caniB34 {
    fill: #9aabb2;
}

.caniB35 {
    fill: #49565b;
}

.caniB36 {
    fill: #4f5b60;
}

.caniB37 {
    opacity: 0.4;
    fill: #99cccc;
}

.caniB38 {
    opacity: 0.8;
    fill: #99cccc;
}

.caniB39 {
    fill: #99cccc;
}

.caniB40 {
    fill: #bdfffd;
}

.caniB41 {
    fill: #ffffff;
}

.caniB42 {
    opacity: 0.7;
    fill: #a3efed;
}

.caniB43 {
    opacity: 0.1;
    fill: #a3efed;
}

.caniB44 {
    opacity: 0.6;
    fill: #3e5460;
}

.caniB45 {
    opacity: 0.3;
    fill: #3e5460;
}

.caniB46 {
    opacity: 0.5;
    fill: #99cccc;
}

.caniB47 {
    fill: #a3efed;
}

.caniB48 {
    opacity: 0.5;
    fill: #a3efed;
}

.caniB49 {
    opacity: 0.7;
    fill: #ffffff;
}

.caniB50 {
    opacity: 0.2;
    fill: #242528;
}

.caniB51 {
    opacity: 0.3;
    fill: #242528;
}

.caniB52 {
    opacity: 0.45;
    fill: #242528;
}

.caniB53 {
    opacity: 0.7;
    fill: #99cccc;
}

.caniB54 {
    opacity: 0.3;
    fill: #99cccc;
}

.caniB55 {
    opacity: 0.3;
    fill: #575d6b;
}

.caniB56 {
    opacity: 0.3;
    fill: #7e8799;
}

.caniB57 {
    opacity: 0.6;
    fill: #384051;
}

.caniB58 {
    opacity: 0.7;
    fill: #384051;
}

.caniB59 {
    opacity: 0.6;
    fill: #a3efed;
}

.caniB60 {
    fill: #43545b;
}

.caniB61 {
    fill: #2b393f;
}

.caniB62 {
    fill: #21252d;
}

.caniB63 {
    fill: #84939a;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniB64 {
    fill: #359fc8;
}

.caniB65 {
    fill: #dc4b43;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniB66 {
    fill: #dc8943;
}

.caniB67 {
    fill: #dcdc7a;
}

.caniB68 {
    opacity: 0.5;
    fill: #71cbea;
}

.caniB69 {
    opacity: 0.2;
    fill: #71cbea;
}

.caniB70 {
    fill: #b9edf9;
}

.caniB71 {
    opacity: 0.8;
    fill: #ffffff;
}

.caniB72 {
    opacity: 0.4;
    fill: #44515e;
}

.caniB73 {
    fill: #44515e;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniB74 {
    fill: #4f6168;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniB75 {
    fill: #359fc8;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniB76 {
    fill: #71cbea;
}

.caniB77 {
    opacity: 0.6;
    fill: #b9edf9;
}

.caniB78 {
    opacity: 0.4;
    fill: #303a42;
}

.caniB79 {
    fill: #773723;
}

.caniB80 {
    fill: #ff8d4d;
}

.caniB81 {
    fill: #384049;
}

.caniB82 {
    fill: #99c1dd;
}

.caniB83 {
    fill: #bad5e8;
}

.caniB84 {
    fill: #566166;
}

.caniB85 {
    opacity: 0.4;
    fill: #718691;
}

.caniB86 {
    opacity: 0.3;
    fill: #718691;
}

.caniB87 {
    opacity: 0.5;
    fill: #718691;
}

.caniB88 {
    opacity: 0.2;
    fill: #718691;
}

.caniB89 {
    opacity: 0.5;
    fill: #ffffff;
}

.caniB90 {
    opacity: 0.4;
    fill: #24c2e8;
}

.caniB91 {
    opacity: 0.3;
    fill: #24c2e8;
}

.caniB92 {
    fill: #e0baa5;
}

.caniB93 {
    opacity: 0.4;
    fill: #20262b;
}

.caniB94 {
    opacity: 0.3;
    fill: #20262b;
}

.caniB95 {
    opacity: 0.4;
    fill: #2b393f;
}

.caniB96 {
    fill: #8087aa;
}

.caniB97 {
    fill: #8de2df;
}

.caniB98 {
    opacity: 0.5;
}

.caniB99 {
    fill: #1e2426;
    stroke: #1e2426;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniB100 {
    opacity: 0.5;
    fill: #44515e;
}

.caniB101 {
    opacity: 0.4;
    fill: #ffffff;
}

.caniB102 {
    fill: #4f5f66;
}

.caniB103 {
    fill: #86aab7;
}

.caniB104 {
    fill: #24c2e8;
}

.caniB105 {
    fill: none;
    stroke: #2d464f;
    stroke-miterlimit: 10;
}

.caniB106 {
    fill: #c9578b;
    stroke: #8c0448;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniB107 {
    fill: #ff52a9;
}

.caniB108 {
    fill: #1d1d1d;
}

.caniB109 {
    fill: #7f6e60;
}

.caniB110 {
    fill: #c07e42;
}

.caniB111 {
    fill: #8a6a47;
}

.caniB112 {
    fill: #3d3b39;
}

.caniB113 {
    fill: #6e7184;
}

.caniB114 {
    opacity: 0.6;
    fill: #3a3b42;
}

.caniB115 {
    fill: #525466;
}

.caniB116 {
    fill: #44515e;
}

.caniB117 {
    fill: #84939a;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniB118 {
    fill: #514948;
}

.caniB119 {
    fill: #3d1e1b;
}

.caniB120 {
    fill: #94a3af;
}

.caniB121 {
    fill: #6e7e89;
}

.caniB122 {
    fill: #4d010b;
}

.caniB123 {
    fill: #610711;
}

.caniB124 {
    fill: #3d261c;
}

.caniB125 {
    fill: #281b16;
}

.caniB126 {
    fill: #6f5638;
}

.caniB127 {
    fill: #5f0c08;
}

.caniB128 {
    opacity: 0.4;
    fill: #443525;
}

.caniB129 {
    fill: #443525;
}

.caniB130 {
    fill: #9a2211;
}

.caniB131 {
    fill: #821207;
}

.caniB132 {
    fill: #c84028;
}

.caniB133 {
    fill: #28040a;
}

.caniB134 {
    fill: #c60e2d;
}

.caniB135 {
    fill: #7f192f;
}

.caniB136 {
    fill: #af5002;
}

.caniB137 {
    fill: #c9842b;
}

.caniB138 {
    opacity: 0.6;
    fill: #28040a;
}

.caniB139 {
    opacity: 0.3;
    fill: #28040a;
}

.caniB140 {
    fill: #b2c3ce;
}

.caniB141 {
    opacity: 0.3;
    fill: #b2c3ce;
}

.caniB142 {
    fill: #95a2a5;
}

.caniB143 {
    fill: #ddb294;
}

.caniB144 {
    fill: #682d27;
}

.caniB145 {
    fill: #708184;
}

.caniB146 {
    opacity: 0.4;
    fill: #ddb294;
}

.caniB147 {
    opacity: 0.1;
    fill: #ddb294;
}

.caniB148 {
    fill: #a0776a;
}

.caniB149 {
    fill: #c18963;
}

.caniB150 {
    fill: #6a7577;
}

.caniB151 {
    opacity: 0.4;
    fill: #231917;
}

.caniB152 {
    fill: #903c32;
}

.caniB153 {
    opacity: 0.4;
    fill: #e5cab7;
}

.caniB154 {
    opacity: 0.2;
    fill: #ff6627;
}

.caniB155 {
    fill: #5b6f70;
}

.caniB156 {
    fill: #5a2c1f;
}

.caniB157 {
    fill: #411306;
}

.caniB158 {
    fill: #845145;
}

.caniB159 {
    opacity: 0.3;
    fill: #845145;
}

.caniB160 {
    opacity: 0.2;
    fill: #845145;
}

.caniB161 {
    fill: none;
    stroke: #411306;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniB162 {
    fill: none;
    stroke: #5a2c1f;
    stroke-miterlimit: 10;
}

.caniB163 {
    fill: #1e0a06;
}

.caniB164 {
    opacity: 0.4;
    fill: #1e0a06;
}

.caniB165 {
    fill: #618a9e;
}

.caniB166 {
    fill: #79b9d3;
}

.caniB167 {
    fill: #4e606c;
}

.caniB168 {
    fill: #3a2a29;
}

.caniB169 {
    fill: #35373a;
}

.caniB170 {
    opacity: 0.4;
    fill: #8aa6b9;
}

.caniB171 {
    opacity: 0.3;
    fill: #8aa6b9;
}

.caniB172 {
    fill: #384c54;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniB173 {
    fill: #dc4b43;
}

.caniB174 {
    fill: #84939a;
}

.caniB175 {
    opacity: 0.8;
    fill: #44515e;
}

.caniB176 {
    opacity: 0.3;
    fill: #44515e;
}

.caniB177 {
    opacity: 0.4;
    fill: #dc8943;
}

.caniB178 {
    opacity: 0.3;
    fill: #dc4b43;
}

.caniB179 {
    opacity: 0.3;
    fill: #dcdc7a;
}

.caniB180 {
    fill: #dcdcac;
}

.caniB181 {
    opacity: 0.6;
    fill: #71cbea;
}

.caniB182 {
    fill: #3c5159;
}

.caniB183 {
    fill: #d7f2ff;
}

.caniB184 {
    fill: #9ba4b2;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniB185 {
    fill: #ffffff;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniB186 {
    fill: #88b1ff;
    stroke: #000098;
    stroke-miterlimit: 10;
}

.caniB187 {
    fill: #9ba4b2;
}

.caniB188 {
    fill: #30383a;
}

.caniB189 {
    fill: #3e88ff;
}

.caniB190 {
    fill: #6daf6b;
}

.caniB191 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniB192 {
    opacity: 0.6;
}

.caniB193 {
    opacity: 0.8;
    fill: #313647;
}

.caniB194 {
    opacity: 0.1;
}

.caniB195 {
    fill: #787a90;
}

.caniB196 {
    fill: #a2a6ce;
}

.caniB197 {
    opacity: 0.2;
    fill: #3676b6;
}

.caniB198 {
    fill: #b7b8c4;
}

.caniB199 {
    opacity: 0.5;
    fill: #998e84;
}

.caniB200 {
    fill: #a7406a;
}

.caniB201 {
    fill: #c1c5e8;
}

.caniB202 {
    fill: #67273c;
}

.caniB203 {
    opacity: 0.4;
    fill: #525466;
}

.caniB204 {
    opacity: 0.3;
    fill: #525466;
}

.caniB205 {
    opacity: 0.2;
    fill: #525466;
}

.caniB206 {
    opacity: 0.3;
    fill: #353947;
}

.caniB207 {
    opacity: 0.6;
    fill: #525466;
}

.caniB208 {
    opacity: 0.2;
    fill: #ffb627;
}

.caniB209 {
    fill: #30363a;
}

.caniB210 {
    fill: #859fb5;
}

.caniB211 {
    opacity: 0.3;
    fill: #accce2;
}

.caniB212 {
    opacity: 0.3;
    fill: #86c5ea;
}

.caniB213 {
    opacity: 0.7;
    fill: #86c5ea;
}

.caniB214 {
    fill: #b6def2;
}

.caniB215 {
    fill: #86c5ea;
}

.caniB216 {
    opacity: 0.5;
    fill: #b6def2;
}

.caniB217 {
    opacity: 0.6;
    fill: #a2a6ce;
}

.caniB218 {
    opacity: 0.2;
    fill: #86c5ea;
}

.caniB219 {
    fill: #666666;
}

.caniB220 {
    fill: #282421;
}

.caniB221 {
    opacity: 0.3;
    fill: #666666;
}

.caniB222 {
    opacity: 0.8;
    fill: #666666;
}

.caniB223 {
    opacity: 0.4;
    fill: #666666;
}

.caniB224 {
    fill: #898989;
}

.caniB225 {
    opacity: 0.5;
    fill: #898989;
}

.caniB226 {
    opacity: 0.15;
    fill: #d77c00;
}

.caniB227 {
    opacity: 0.3;
    fill: #ffd199;
}

.caniB228 {
    opacity: 0.5;
    fill: #525466;
}

.caniB229 {
    fill: #333333;
}

.caniB230 {
    fill: #4c5860;
}

.caniB231 {
    fill: #9fb1bf;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniB232 {
    fill: #384049;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniB233 {
    fill: #9fb1bf;
    stroke: #494d56;
    stroke-miterlimit: 10;
}

.caniB234 {
    opacity: 0.3;
    fill: #b5b1b0;
}

.caniB235 {
    fill: #723a15;
}

.caniB236 {
    fill: #3f4b4f;
    stroke: #1e2426;
    stroke-miterlimit: 10;
}

.caniB237 {
    opacity: 0.5;
    fill: #1e2426;
}

.caniB238 {
    opacity: 0.2;
    fill: #1e2426;
}

.caniB239 {
    fill: none;
    stroke: #1e2426;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.caniB240 {
    opacity: 0.2;
    fill: #b9edf9;
}

.caniB241 {
    fill: #708593;
}

.caniB242 {
    fill: #9fb1bf;
    stroke: #4b5359;
    stroke-miterlimit: 10;
}

.caniB243 {
    fill: #4b5359;
}

.caniB244 {
    opacity: 0.5;
    fill: #384049;
}

.caniB245 {
    fill: none;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniB246 {
    fill: #212e3a;
}

.caniB247 {
    opacity: 0.2;
    fill: #ffffff;
}

.caniB248 {
    fill: #444d51;
}

.caniB249 {
    opacity: 0.5;
    fill: #24c2e8;
}

.caniB250 {
    fill: #80a1af;
}

.caniB251 {
    opacity: 0.7;
    fill: #264249;
}

.caniB252 {
    opacity: 0.3;
    fill: #5c402c;
}

.caniB253 {
    fill: #a5503c;
}

.caniB254 {
    fill: #4b2f3d;
}

.caniB255 {
    fill: #bfb2af;
}

.caniB256 {
    fill: #cfc3b3;
}

.caniB257 {
    fill: #c89e00;
}

.caniB258 {
    fill: #ffd44d;
}

.caniB259 {
    fill: #dc7500;
}

.caniB260 {
    fill: #383b3f;
}

.caniB261 {
    fill: #93948c;
}

.caniB262 {
    fill: #c1c1c1;
}

.caniB263 {
    fill: #46b2a8;
}

.caniB264 {
    fill: #5f6768;
}

.caniB265 {
    fill: #8ea4a5;
}

.caniB266 {
    fill: #53ead8;
}

.caniB267 {
    fill: #217c71;
}

.caniB268 {
    opacity: 0.6;
    fill: #ffffff;
}

.caniB269 {
    fill: #d8a664;
}

.caniB270 {
    fill: #e59a41;
}

.caniB271 {
    fill: #4c4945;
}

.caniB272 {
    opacity: 0.4;
    fill: #aa7950;
}

.caniB273 {
    fill: #d6a85a;
}

.caniB274 {
    fill: #a0bb40;
}

.caniB275 {
    fill: #cc8e36;
}

.caniB276 {
    fill: #57585b;
}

.caniB277 {
    fill: #d6a3bb;
}

.caniB278 {
    fill: #e8cfdb;
}

.caniB279 {
    fill: #4e2212;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniB280 {
    fill: #48423c;
}

.caniB281 {
    fill: #ba6509;
}

.caniB282 {
    fill: #9b4e27;
}

.caniB283 {
    fill: #7c4209;
}

.caniB284 {
    fill: #d88736;
}

.caniB285 {
    fill: #565352;
}

.caniB286 {
    fill: #966233;
}

.caniB287 {
    fill: #ac7741;
}

.caniB288 {
    fill: #debd90;
}

.caniB289 {
    fill: #796f6e;
}

.caniB290 {
    fill: #3a3a3a;
}

.caniB291 {
    fill: #606362;
}

.caniB292 {
    fill: #7a7a7a;
}

.caniB293 {
    fill: #a36d4b;
}

.caniB294 {
    fill: #7f5234;
}

.caniB295 {
    fill: #50281b;
}

.caniB296 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniB297 {
    fill: #843c20;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniB298 {
    fill: #535356;
}

.caniB299 {
    fill: #7c706c;
}

.caniB300 {
    fill: #5b5655;
}

.caniB301 {
    fill: #b58272;
}

.caniB302 {
    fill: #1d1d1b;
}

.caniB303 {
    fill: #44403f;
}

.caniB304 {
    fill: #d8a598;
}

.caniB305 {
    fill: #857365;
}

.caniB306 {
    fill: #aa7950;
}

.caniB307 {
    fill: #725a5a;
}

.caniB308 {
    fill: #665f5d;
}

.caniB309 {
    opacity: 0.3;
    fill: #aa7950;
}

.caniB310 {
    fill: #897676;
}

.caniB311 {
    fill: #9e9086;
}

.caniB312 {
    fill: #b5b1b0;
}

.caniB313 {
    fill: #4f5456;
}

.caniB314 {
    opacity: 0.4;
    fill: #4f5456;
}

.caniB315 {
    opacity: 0.3;
    fill: #4f5456;
}

.caniB316 {
    opacity: 0.7;
    fill: #76757b;
}

.caniB317 {
    opacity: 0.5;
    fill: #4f5456;
}

.caniB318 {
    opacity: 0.5;
    fill: #aa7950;
}

.caniB319 {
    opacity: 0.7;
    fill: #aa7950;
}

.caniB320 {
    fill: #626268;
}

.caniB321 {
    fill: #b28862;
}

.caniB322 {
    fill: #9ba8bb;
}

.caniB323 {
    fill: #aa571f;
}

.caniB324 {
    fill: #363a42;
}

.caniB325 {
    fill: #a06b60;
}

.caniB326 {
    fill: #d29791;
}

.caniB327 {
    opacity: 0.2;
}

.caniB328 {
    fill: #a16944;
}

.caniB329 {
    fill: #988d79;
}

.caniB330 {
    fill: #f1fbfd;
}

.caniB331 {
    fill: none;
}

.caniB332 {
    fill: #a18570;
}

.caniB333 {
    opacity: 0.5;
    fill: #d4baad;
}

.caniB334 {
    fill: #cbb4ac;
}

.caniB335 {
    fill: #585860;
}

.caniB336 {
    fill: #d8cac5;
}

.caniB337 {
    fill: #bf9f8a;
}

.caniB338 {
    fill: #675660;
}

.caniB339 {
    fill: #7e593f;
}

.caniB340 {
    fill: #a14a40;
}

.caniB341 {
    fill: #ac6b67;
}

.caniB342 {
    opacity: 0.6;
    fill: #7a4b55;
}

.caniB343 {
    fill: #ba8563;
}

.caniB344 {
    fill: #321f18;
}

.caniB345 {
    fill: #c28460;
}

.caniB346 {
    fill: #b39da4;
}

.caniB347 {
    fill: #c5acbf;
}

.caniB348 {
    opacity: 0.7;
    fill: #5b5350;
}

.caniB349 {
    opacity: 0.8;
    fill: #5b5350;
}

.caniB350 {
    opacity: 0.6;
    fill: #5b5350;
}

.caniB351 {
    opacity: 0.4;
    fill: #5b5350;
}

.caniB352 {
    fill: #cec4cc;
}

.caniB353 {
    fill: #443f3e;
}

.caniB354 {
    fill: #5b5350;
}

.caniB355 {
    fill: #d38497;
}

.caniB356 {
    fill: #a86779;
}

.caniB357 {
    fill: #30323a;
}

.caniB358 {
    fill: #50535b;
}

.caniB359 {
    opacity: 0.4;
    fill: #c5acbf;
}

.caniB360 {
    opacity: 0.6;
    fill: #60535d;
}

.caniB361 {
    fill: #b97245;
}

.caniB362 {
    opacity: 0.4;
    fill: #e7c4ab;
}

.caniB363 {
    fill: #a59598;
}

.caniB364 {
    fill: #8e6c5c;
}

.caniB365 {
    fill: #d5c7c7;
}

.caniB366 {
    fill: #6c6263;
}

.caniB367 {
    fill: #434247;
}

.caniB368 {
    fill: #9d7078;
}

.caniB369 {
    fill: #cfc3a7;
}

.caniB370 {
    fill: #7c4d58;
}

.caniB371 {
    fill: #27262b;
}

.caniB372 {
    opacity: 0.7;
    fill: #96a1bb;
}

.caniB373 {
    fill: #96a1bb;
}

.caniB374 {
    fill: #f8cdbe;
}

.caniB375 {
    fill: #deddd8;
}

.caniB376 {
    fill: #bc7e4b;
}

.caniB377 {
    opacity: 0.7;
    fill: #796f6e;
}

.caniB378 {
    opacity: 0.4;
    fill: #956034;
}

.caniB379 {
    opacity: 0.3;
    fill: #796f6e;
}

.caniB380 {
    opacity: 0.6;
    fill: #956034;
}

.caniB381 {
    fill: #574f4c;
}

.caniB382 {
    fill: #2f2a30;
}

.caniB383 {
    opacity: 0.3;
    fill: #deddd8;
}

.caniB384 {
    opacity: 0.6;
    fill: #deddd8;
}

.caniB385 {
    fill: #423636;
}

.caniB386 {
    opacity: 0.5;
    fill: #796f6e;
}

.caniB387 {
    opacity: 0.2;
    fill: #fc9e2d;
}

.caniB388 {
    opacity: 0.4;
    fill: #844f23;
}

.caniB389 {
    opacity: 0.8;
    fill: #844f23;
}

.caniB390 {
    opacity: 0.7;
    fill: #844f23;
}

.caniB391 {
    fill: #d39654;
}

.caniB392 {
    fill: #af744b;
}

.caniB393 {
    fill: #d6b9a5;
}

.caniB394 {
    fill: #c4a48d;
}

.caniB395 {
    opacity: 0.5;
    fill: #413f40;
}

.caniB396 {
    fill: #3f3833;
}

.caniB397 {
    fill: #5a3e41;
}

.caniB398 {
    fill: #eb92a9;
}

.caniB399 {
    fill: #987079;
}

.caniB400 {
    fill: #99877f;
}

.caniB401 {
    fill: #999999;
}

.caniB402 {
    opacity: 0.3;
    fill: #413f40;
}

.caniB403 {
    fill: #404140;
}

.caniB404 {
    fill: #606060;
}

.caniB405 {
    fill: #704f39;
}

.caniB406 {
    fill: #855037;
}

.caniB407 {
    fill: #957869;
}

.caniB408 {
    fill: #af978d;
}

.caniB409 {
    fill: #5e6474;
}

.caniB410 {
    fill: #8e9faf;
}

.caniB411 {
    fill: #34353a;
}

.caniB412 {
    fill: #632d17;
}

.caniB413 {
    fill: #817468;
}

.caniB414 {
    fill: #634b4e;
}

.caniB415 {
    fill: #47484c;
}

.caniB416 {
    fill: #4d4f54;
}

.caniB417 {
    fill: #989b9a;
}

.caniB418 {
    fill: #ccc8c3;
}

.caniB419 {
    fill: #8a6652;
}

.caniB420 {
    fill: #9b7e70;
}

.caniB421 {
    opacity: 0.3;
    fill: #e36108;
}

.caniB422 {
    opacity: 0.58;
    fill: #989b9a;
}

.caniB423 {
    opacity: 0.5;
    fill: #b6b0aa;
}

.caniB424 {
    opacity: 0.6;
    fill: #20262b;
}

.caniB425 {
    fill: #b6b0aa;
}

.caniB426 {
    fill: #a3a6ad;
}

.caniB427 {
    opacity: 0.4;
    fill: #d5d4cf;
}

.caniB428 {
    opacity: 0.5;
    fill: #d5d4cf;
}

.caniB429 {
    opacity: 0.5;
    fill: #dcd5c3;
}

.caniB430 {
    fill: #dcd5c3;
}

.caniB431 {
    opacity: 0.4;
    fill: #dcd5c3;
}

.caniB432 {
    fill: #715f55;
}

.caniB433 {
    fill: #84635c;
}

.caniB434 {
    fill: #362418;
}

.caniB435 {
    opacity: 0.5;
    fill: #221f26;
}

.caniB436 {
    opacity: 0.7;
    fill: #221f26;
}

.caniB437 {
    fill: #965a64;
}

.caniB438 {
    opacity: 0.5;
    fill: #c98377;
}

.caniB439 {
    fill: #7a4b55;
}

.caniB440 {
    opacity: 0.1;
    fill: #fffff8;
}

.caniB441 {
    opacity: 0.2;
    fill: #fffff8;
}

.caniB442 {
    opacity: 0.5;
    fill: #5e4c43;
}

.caniB443 {
    opacity: 0.7;
    fill: #493630;
}

.caniB444 {
    opacity: 0.5;
    fill: #7c4f3f;
}

.caniB445 {
    fill: #b6886a;
}

.caniB446 {
    opacity: 0.5;
    fill: #c67c4b;
}

.caniB447 {
    fill: #5c402c;
}

.caniB448 {
    opacity: 0.3;
    fill: #c67c4b;
}

.caniB449 {
    fill: #d8c1a2;
}

.caniB450 {
    fill: #844f23;
}

.caniB451 {
    opacity: 0.7;
    fill: #6e4736;
}

.caniB452 {
    fill: #c3995d;
}

.caniB453 {
    opacity: 0.8;
    fill: #773723;
}

.caniB454 {
    fill: #5b2b03;
}

.caniB455 {
    fill: #cc9292;
}

.caniB456 {
    opacity: 0.5;
    fill: #846969;
}

.caniB457 {
    opacity: 0.5;
    fill: #efcaa0;
}

.caniB458 {
    opacity: 0.7;
    fill: #efcaa0;
}

.caniB459 {
    fill: #efcaa0;
}

.caniB460 {
    opacity: 0.3;
    fill: #efcaa0;
}

.caniB461 {
    fill: #895130;
}

.caniB462 {
    fill: #53555e;
}

.caniB463 {
    fill: #7c666c;
}

.caniB464 {
    fill: #c66831;
}

.caniB465 {
    fill: #893b14;
}

.caniB466 {
    fill: #150707;
}

.caniB467 {
    fill: #915233;
}

.caniB468 {
    fill: #aa6644;
}

.caniB469 {
    opacity: 0.4;
    fill: #150707;
}

.caniB470 {
    fill: #a06e7d;
}

.caniB471 {
    fill: #8189a5;
}

.caniB472 {
    fill: #adb8d8;
}

.caniB473 {
    opacity: 0.3;
    fill: #c07e42;
}

.caniB474 {
    opacity: 0.4;
    fill: #c28460;
}

.caniB475 {
    fill: #bdf1ff;
}

.caniB476 {
    opacity: 0.3;
    fill: #bdf1ff;
}

.caniB477 {
    opacity: 0.4;
    fill: #5fff48;
}

.caniB478 {
    opacity: 0.4;
    fill: #eb7e00;
}

.caniB479 {
    opacity: 0.3;
    fill: #384049;
}

.caniB480 {
    opacity: 0.2;
    fill: #384049;
}

.caniB481 {
    opacity: 0.4;
    fill: #895130;
}

.caniB482 {
    fill: #b9d2fc;
}

.caniB483 {
    fill: #a7406a;
    stroke: #414356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniB484 {
    fill: #6d3f45;
}

.caniB485 {
    fill: #7b5241;
}

.caniB486 {
    fill: #c8b6a0;
}

.caniB487 {
    fill: #b78c61;
}

.caniB488 {
    fill: #e6d5c5;
}

.caniB489 {
    fill: #c0a288;
}

.caniB490 {
    opacity: 0.6;
    fill: #ac988f;
}

.caniB491 {
    opacity: 0.7;
    fill: #47352b;
}

.caniB492 {
    fill: #8a684d;
}

.caniB493 {
    fill: #2d2926;
}

.caniB494 {
    fill: #efe3cd;
}

.caniB495 {
    fill: #995b27;
}

.caniB496 {
    fill: #704c30;
}
