.caniE0 {
    fill: #283235;
}

.caniE1 {
    fill: #718691;
}

.caniE2 {
    fill: #b3e8ff;
}

.caniE3 {
    fill: #9fb1bf;
}

.caniE4 {
    fill: #d1642f;
}

.caniE5 {
    fill: #b04141;
}

.caniE6 {
    fill: #ce7345;
}

.caniE7 {
    fill: #a5643e;
}

.caniE8 {
    fill: #834c31;
}

.caniE9 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniE10 {
    opacity: 0.2;
    fill: #e0baa5;
}

.caniE11 {
    fill: #76757b;
}

.caniE12 {
    fill: #a59a95;
}

.caniE13 {
    fill: #575759;
}

.caniE14 {
    fill: #20262b;
}

.caniE15 {
    fill: #555b60;
}

.caniE16 {
    fill: #bd703a;
}

.caniE17 {
    fill: #ad4f0e;
}

.caniE18 {
    fill: #3a3836;
}

.caniE19 {
    fill: #a38d7e;
}

.caniE20 {
    fill: #97837c;
}

.caniE21 {
    fill: #aa9994;
}

.caniE22 {
    opacity: 0.3;
}

.caniE23 {
    opacity: 0.4;
}

.caniE24 {
    opacity: 0.3;
    fill: #ffffff;
}

.caniE25 {
    fill: #2f3a3f;
}

.caniE26 {
    fill: #7f8aa0;
}

.caniE27 {
    fill: #575d6b;
}

.caniE28 {
    fill: #3e5460;
}

.caniE29 {
    fill: #8aa6b9;
}

.caniE30 {
    fill: #687d87;
}

.caniE31 {
    fill: #e10000;
}

.caniE32 {
    opacity: 0.5;
    fill: #575d6b;
}

.caniE33 {
    fill: #242528;
}

.caniE34 {
    fill: #3f3f3f;
}

.caniE35 {
    fill: #9aabb2;
}

.caniE36 {
    fill: #49565b;
}

.caniE37 {
    fill: #4f5b60;
}

.caniE38 {
    opacity: 0.4;
    fill: #99cccc;
}

.caniE39 {
    opacity: 0.8;
    fill: #99cccc;
}

.caniE40 {
    fill: #99cccc;
}

.caniE41 {
    fill: #bdfffd;
}

.caniE42 {
    fill: #ffffff;
}

.caniE43 {
    opacity: 0.7;
    fill: #a3efed;
}

.caniE44 {
    opacity: 0.1;
    fill: #a3efed;
}

.caniE45 {
    opacity: 0.6;
    fill: #3e5460;
}

.caniE46 {
    opacity: 0.3;
    fill: #3e5460;
}

.caniE47 {
    opacity: 0.5;
    fill: #99cccc;
}

.caniE48 {
    fill: #a3efed;
}

.caniE49 {
    opacity: 0.5;
    fill: #a3efed;
}

.caniE50 {
    opacity: 0.7;
    fill: #ffffff;
}

.caniE51 {
    opacity: 0.2;
    fill: #242528;
}

.caniE52 {
    opacity: 0.3;
    fill: #242528;
}

.caniE53 {
    opacity: 0.45;
    fill: #242528;
}

.caniE54 {
    opacity: 0.7;
    fill: #99cccc;
}

.caniE55 {
    opacity: 0.3;
    fill: #99cccc;
}

.caniE56 {
    opacity: 0.3;
    fill: #575d6b;
}

.caniE57 {
    opacity: 0.3;
    fill: #7e8799;
}

.caniE58 {
    opacity: 0.6;
    fill: #384051;
}

.caniE59 {
    opacity: 0.7;
    fill: #384051;
}

.caniE60 {
    opacity: 0.6;
    fill: #a3efed;
}

.caniE61 {
    fill: #43545b;
}

.caniE62 {
    fill: #2b393f;
}

.caniE63 {
    fill: #21252d;
}

.caniE64 {
    fill: #84939a;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniE65 {
    fill: #359fc8;
}

.caniE66 {
    fill: #dc4b43;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniE67 {
    fill: #dc8943;
}

.caniE68 {
    fill: #dcdc7a;
}

.caniE69 {
    opacity: 0.5;
    fill: #71cbea;
}

.caniE70 {
    opacity: 0.2;
    fill: #71cbea;
}

.caniE71 {
    fill: #b9edf9;
}

.caniE72 {
    opacity: 0.8;
    fill: #ffffff;
}

.caniE73 {
    opacity: 0.4;
    fill: #44515e;
}

.caniE74 {
    fill: #44515e;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniE75 {
    fill: #4f6168;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniE76 {
    fill: #359fc8;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniE77 {
    fill: #71cbea;
}

.caniE78 {
    opacity: 0.6;
    fill: #b9edf9;
}

.caniE79 {
    opacity: 0.4;
    fill: #303a42;
}

.caniE80 {
    fill: #773723;
}

.caniE81 {
    fill: #ff8d4d;
}

.caniE82 {
    fill: #384049;
}

.caniE83 {
    fill: #99c1dd;
}

.caniE84 {
    fill: #bad5e8;
}

.caniE85 {
    fill: #566166;
}

.caniE86 {
    opacity: 0.4;
    fill: #718691;
}

.caniE87 {
    opacity: 0.3;
    fill: #718691;
}

.caniE88 {
    opacity: 0.5;
    fill: #718691;
}

.caniE89 {
    opacity: 0.2;
    fill: #718691;
}

.caniE90 {
    opacity: 0.5;
    fill: #ffffff;
}

.caniE91 {
    opacity: 0.4;
    fill: #24c2e8;
}

.caniE92 {
    opacity: 0.3;
    fill: #24c2e8;
}

.caniE93 {
    fill: #536066;
}

.caniE94 {
    fill: #4a7faf;
}

.caniE95 {
    fill: #82afe0;
}

.caniE96 {
    fill: #6388aa;
}

.caniE97 {
    fill: #634a6b;
}

.caniE98 {
    fill: #445e72;
}

.caniE99 {
    fill: #72abd6;
}

.caniE100 {
    fill: #9fd1ff;
}

.caniE101 {
    fill: #8e5e96;
}

.caniE102 {
    fill: #e0baa5;
}

.caniE103 {
    opacity: 0.4;
    fill: #20262b;
}

.caniE104 {
    opacity: 0.3;
    fill: #20262b;
}

.caniE105 {
    opacity: 0.4;
    fill: #2b393f;
}

.caniE106 {
    fill: #8087aa;
}

.caniE107 {
    fill: #8de2df;
}

.caniE108 {
    opacity: 0.5;
}

.caniE109 {
    fill: #1e2426;
    stroke: #1e2426;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniE110 {
    opacity: 0.5;
    fill: #44515e;
}

.caniE111 {
    opacity: 0.4;
    fill: #ffffff;
}

.caniE112 {
    fill: #4f5f66;
}

.caniE113 {
    fill: #86aab7;
}

.caniE114 {
    fill: #24c2e8;
}

.caniE115 {
    fill: none;
    stroke: #2d464f;
    stroke-miterlimit: 10;
}

.caniE116 {
    fill: #c9578b;
    stroke: #8c0448;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniE117 {
    fill: #ff52a9;
}

.caniE118 {
    fill: #84939a;
    stroke: #000000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.caniE119 {
    fill: #71b3d8;
}

.caniE120 {
    fill: #4c6068;
}

.caniE121 {
    fill: #bce5f7;
}

.caniE122 {
    fill: #755e96;
}

.caniE123 {
    fill: #1d1d1d;
}

.caniE124 {
    fill: #7f6e60;
}

.caniE125 {
    fill: #c07e42;
}

.caniE126 {
    fill: #8a6a47;
}

.caniE127 {
    fill: #3d3b39;
}

.caniE128 {
    fill: #6e7184;
}

.caniE129 {
    opacity: 0.6;
    fill: #3a3b42;
}

.caniE130 {
    fill: #525466;
}

.caniE131 {
    fill: #44515e;
}

.caniE132 {
    fill: #84939a;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniE133 {
    fill: #514948;
}

.caniE134 {
    fill: #3d1e1b;
}

.caniE135 {
    fill: #94a3af;
}

.caniE136 {
    fill: #6e7e89;
}

.caniE137 {
    fill: #4d010b;
}

.caniE138 {
    fill: #610711;
}

.caniE139 {
    fill: #3d261c;
}

.caniE140 {
    fill: #281b16;
}

.caniE141 {
    fill: #6f5638;
}

.caniE142 {
    fill: #5f0c08;
}

.caniE143 {
    opacity: 0.4;
    fill: #443525;
}

.caniE144 {
    fill: #443525;
}

.caniE145 {
    fill: #9a2211;
}

.caniE146 {
    fill: #821207;
}

.caniE147 {
    fill: #c84028;
}

.caniE148 {
    fill: #28040a;
}

.caniE149 {
    fill: #c60e2d;
}

.caniE150 {
    fill: #7f192f;
}

.caniE151 {
    fill: #af5002;
}

.caniE152 {
    fill: #c9842b;
}

.caniE153 {
    opacity: 0.6;
    fill: #28040a;
}

.caniE154 {
    opacity: 0.3;
    fill: #28040a;
}

.caniE155 {
    fill: #b2c3ce;
}

.caniE156 {
    opacity: 0.3;
    fill: #b2c3ce;
}

.caniE157 {
    fill: #95a2a5;
}

.caniE158 {
    fill: #ddb294;
}

.caniE159 {
    fill: #682d27;
}

.caniE160 {
    fill: #708184;
}

.caniE161 {
    opacity: 0.4;
    fill: #ddb294;
}

.caniE162 {
    opacity: 0.1;
    fill: #ddb294;
}

.caniE163 {
    fill: #a0776a;
}

.caniE164 {
    fill: #c18963;
}

.caniE165 {
    fill: #6a7577;
}

.caniE166 {
    opacity: 0.4;
    fill: #231917;
}

.caniE167 {
    fill: #903c32;
}

.caniE168 {
    opacity: 0.4;
    fill: #e5cab7;
}

.caniE169 {
    opacity: 0.2;
    fill: #ff6627;
}

.caniE170 {
    fill: #5b6f70;
}

.caniE171 {
    fill: #5a2c1f;
}

.caniE172 {
    fill: #411306;
}

.caniE173 {
    fill: #845145;
}

.caniE174 {
    opacity: 0.3;
    fill: #845145;
}

.caniE175 {
    opacity: 0.2;
    fill: #845145;
}

.caniE176 {
    fill: none;
    stroke: #411306;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniE177 {
    fill: none;
    stroke: #5a2c1f;
    stroke-miterlimit: 10;
}

.caniE178 {
    fill: #1e0a06;
}

.caniE179 {
    opacity: 0.4;
    fill: #1e0a06;
}

.caniE180 {
    fill: #618a9e;
}

.caniE181 {
    fill: #79b9d3;
}

.caniE182 {
    fill: #4e606c;
}

.caniE183 {
    fill: #3a2a29;
}

.caniE184 {
    fill: #35373a;
}

.caniE185 {
    opacity: 0.4;
    fill: #8aa6b9;
}

.caniE186 {
    opacity: 0.3;
    fill: #8aa6b9;
}

.caniE187 {
    fill: #384c54;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniE188 {
    fill: #dc4b43;
}

.caniE189 {
    fill: #84939a;
}

.caniE190 {
    opacity: 0.8;
    fill: #44515e;
}

.caniE191 {
    opacity: 0.3;
    fill: #44515e;
}

.caniE192 {
    opacity: 0.4;
    fill: #dc8943;
}

.caniE193 {
    opacity: 0.3;
    fill: #dc4b43;
}

.caniE194 {
    opacity: 0.3;
    fill: #dcdc7a;
}

.caniE195 {
    fill: #dcdcac;
}

.caniE196 {
    opacity: 0.6;
    fill: #71cbea;
}

.caniE197 {
    fill: #3c5159;
}

.caniE198 {
    fill: #d7f2ff;
}

.caniE199 {
    fill: #9ba4b2;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniE200 {
    fill: #ffffff;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniE201 {
    fill: #88b1ff;
    stroke: #000098;
    stroke-miterlimit: 10;
}

.caniE202 {
    fill: #9ba4b2;
}

.caniE203 {
    fill: #30383a;
}

.caniE204 {
    fill: #3e88ff;
}

.caniE205 {
    fill: #6daf6b;
}

.caniE206 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniE207 {
    opacity: 0.6;
}

.caniE208 {
    opacity: 0.8;
    fill: #313647;
}

.caniE209 {
    opacity: 0.1;
}

.caniE210 {
    fill: #787a90;
}

.caniE211 {
    fill: #a2a6ce;
}

.caniE212 {
    opacity: 0.2;
    fill: #3676b6;
}

.caniE213 {
    fill: #b7b8c4;
}

.caniE214 {
    opacity: 0.5;
    fill: #998e84;
}

.caniE215 {
    fill: #a7406a;
}

.caniE216 {
    fill: #c1c5e8;
}

.caniE217 {
    fill: #67273c;
}

.caniE218 {
    opacity: 0.4;
    fill: #525466;
}

.caniE219 {
    opacity: 0.3;
    fill: #525466;
}

.caniE220 {
    opacity: 0.2;
    fill: #525466;
}

.caniE221 {
    opacity: 0.3;
    fill: #353947;
}

.caniE222 {
    opacity: 0.6;
    fill: #525466;
}

.caniE223 {
    opacity: 0.2;
    fill: #ffb627;
}

.caniE224 {
    fill: #30363a;
}

.caniE225 {
    fill: #859fb5;
}

.caniE226 {
    opacity: 0.3;
    fill: #accce2;
}

.caniE227 {
    opacity: 0.3;
    fill: #86c5ea;
}

.caniE228 {
    opacity: 0.7;
    fill: #86c5ea;
}

.caniE229 {
    fill: #b6def2;
}

.caniE230 {
    fill: #86c5ea;
}

.caniE231 {
    opacity: 0.5;
    fill: #b6def2;
}

.caniE232 {
    opacity: 0.6;
    fill: #a2a6ce;
}

.caniE233 {
    opacity: 0.2;
    fill: #86c5ea;
}

.caniE234 {
    fill: #666666;
}

.caniE235 {
    fill: #282421;
}

.caniE236 {
    opacity: 0.3;
    fill: #666666;
}

.caniE237 {
    opacity: 0.8;
    fill: #666666;
}

.caniE238 {
    opacity: 0.4;
    fill: #666666;
}

.caniE239 {
    fill: #898989;
}

.caniE240 {
    opacity: 0.5;
    fill: #898989;
}

.caniE241 {
    opacity: 0.15;
    fill: #d77c00;
}

.caniE242 {
    opacity: 0.3;
    fill: #ffd199;
}

.caniE243 {
    opacity: 0.5;
    fill: #525466;
}

.caniE244 {
    fill: #634a7a;
}

.caniE245 {
    fill: #3a4b51;
}

.caniE246 {
    fill: #4eb6ea;
}

.caniE247 {
    fill: #2a3335;
}

.caniE248 {
    fill: #0090e7;
}

.caniE249 {
    fill: #00ccff;
}

.caniE250 {
    fill: #46374c;
}

.caniE251 {
    opacity: 0.3;
    fill: #3a4b51;
}

.caniE252 {
    opacity: 0.5;
    fill: #3a4b51;
}

.caniE253 {
    fill: #74d2f7;
}

.caniE254 {
    fill: none;
    stroke: #000000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.caniE255 {
    fill: #0093b1;
}

.caniE256 {
    fill: #333333;
}

.caniE257 {
    fill: #4c5860;
}

.caniE258 {
    fill: #9fb1bf;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniE259 {
    fill: #384049;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniE260 {
    fill: #9fb1bf;
    stroke: #494d56;
    stroke-miterlimit: 10;
}

.caniE261 {
    opacity: 0.3;
    fill: #b5b1b0;
}

.caniE262 {
    fill: #723a15;
}

.caniE263 {
    fill: #3f4b4f;
    stroke: #1e2426;
    stroke-miterlimit: 10;
}

.caniE264 {
    opacity: 0.5;
    fill: #1e2426;
}

.caniE265 {
    opacity: 0.2;
    fill: #1e2426;
}

.caniE266 {
    fill: none;
    stroke: #1e2426;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.caniE267 {
    opacity: 0.2;
    fill: #b9edf9;
}

.caniE268 {
    fill: #708593;
}

.caniE269 {
    fill: #9fb1bf;
    stroke: #4b5359;
    stroke-miterlimit: 10;
}

.caniE270 {
    fill: #4b5359;
}

.caniE271 {
    opacity: 0.5;
    fill: #384049;
}

.caniE272 {
    fill: none;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniE273 {
    fill: #212e3a;
}

.caniE274 {
    opacity: 0.2;
    fill: #ffffff;
}

.caniE275 {
    fill: #444d51;
}

.caniE276 {
    opacity: 0.5;
    fill: #24c2e8;
}

.caniE277 {
    fill: #80a1af;
}

.caniE278 {
    opacity: 0.7;
    fill: #264249;
}

.caniE279 {
    fill: #0bc6ff;
}

.caniE280 {
    fill: #433349;
}

.caniE281 {
    opacity: 0.3;
    fill: #5c402c;
}

.caniE282 {
    fill: #a5503c;
}

.caniE283 {
    fill: #4b2f3d;
}

.caniE284 {
    fill: #bfb2af;
}

.caniE285 {
    fill: #cfc3b3;
}

.caniE286 {
    fill: #c89e00;
}

.caniE287 {
    fill: #ffd44d;
}

.caniE288 {
    fill: #dc7500;
}

.caniE289 {
    fill: #383b3f;
}

.caniE290 {
    fill: #93948c;
}

.caniE291 {
    fill: #c1c1c1;
}

.caniE292 {
    fill: #46b2a8;
}

.caniE293 {
    fill: #5f6768;
}

.caniE294 {
    fill: #8ea4a5;
}

.caniE295 {
    fill: #53ead8;
}

.caniE296 {
    fill: #217c71;
}

.caniE297 {
    opacity: 0.6;
    fill: #ffffff;
}

.caniE298 {
    fill: #d8a664;
}

.caniE299 {
    fill: #e59a41;
}

.caniE300 {
    fill: #4c4945;
}

.caniE301 {
    opacity: 0.4;
    fill: #aa7950;
}

.caniE302 {
    fill: #d6a85a;
}

.caniE303 {
    fill: #a0bb40;
}

.caniE304 {
    fill: #cc8e36;
}

.caniE305 {
    fill: #57585b;
}

.caniE306 {
    fill: #d6a3bb;
}

.caniE307 {
    fill: #e8cfdb;
}

.caniE308 {
    fill: #4e2212;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniE309 {
    fill: #48423c;
}

.caniE310 {
    fill: #ba6509;
}

.caniE311 {
    fill: #9b4e27;
}

.caniE312 {
    fill: #7c4209;
}

.caniE313 {
    fill: #d88736;
}

.caniE314 {
    fill: #565352;
}

.caniE315 {
    fill: #966233;
}

.caniE316 {
    fill: #ac7741;
}

.caniE317 {
    fill: #debd90;
}

.caniE318 {
    fill: #796f6e;
}

.caniE319 {
    fill: #3a3a3a;
}

.caniE320 {
    fill: #606362;
}

.caniE321 {
    fill: #7a7a7a;
}

.caniE322 {
    fill: #a36d4b;
}

.caniE323 {
    fill: #7f5234;
}

.caniE324 {
    fill: #50281b;
}

.caniE325 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniE326 {
    fill: #843c20;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniE327 {
    fill: #7a523f;
}

.caniE328 {
    fill: #513f38;
}

.caniE329 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.caniE330 {
    fill: #443631;
}

.caniE331 {
    fill: #30201a;
}

.caniE332 {
    fill: #a29b98;
}

.caniE333 {
    fill: #98908d;
}

.caniE334 {
    fill: #808080;
}

.caniE335 {
    fill: #153577;
}

.caniE336 {
    fill: #535356;
}

.caniE337 {
    fill: #7c706c;
}

.caniE338 {
    fill: #5b5655;
}

.caniE339 {
    fill: #b58272;
}

.caniE340 {
    fill: #1d1d1b;
}

.caniE341 {
    fill: #44403f;
}

.caniE342 {
    fill: #d8a598;
}

.caniE343 {
    fill: #857365;
}

.caniE344 {
    fill: #aa7950;
}

.caniE345 {
    fill: #725a5a;
}

.caniE346 {
    fill: #665f5d;
}

.caniE347 {
    opacity: 0.3;
    fill: #aa7950;
}

.caniE348 {
    fill: #897676;
}

.caniE349 {
    fill: #9e9086;
}

.caniE350 {
    fill: #b5b1b0;
}

.caniE351 {
    fill: #4f5456;
}

.caniE352 {
    opacity: 0.4;
    fill: #4f5456;
}

.caniE353 {
    opacity: 0.3;
    fill: #4f5456;
}

.caniE354 {
    opacity: 0.7;
    fill: #76757b;
}

.caniE355 {
    opacity: 0.5;
    fill: #4f5456;
}

.caniE356 {
    opacity: 0.5;
    fill: #aa7950;
}

.caniE357 {
    opacity: 0.7;
    fill: #aa7950;
}

.caniE358 {
    fill: #626268;
}

.caniE359 {
    fill: #b28862;
}

.caniE360 {
    fill: #9ba8bb;
}

.caniE361 {
    fill: #aa571f;
}

.caniE362 {
    fill: #363a42;
}

.caniE363 {
    fill: #a06b60;
}

.caniE364 {
    fill: #d29791;
}

.caniE365 {
    opacity: 0.2;
}

.caniE366 {
    fill: #a16944;
}

.caniE367 {
    fill: #988d79;
}

.caniE368 {
    fill: #f1fbfd;
}

.caniE369 {
    fill: none;
}

.caniE370 {
    fill: #a18570;
}

.caniE371 {
    opacity: 0.5;
    fill: #d4baad;
}

.caniE372 {
    fill: #cbb4ac;
}

.caniE373 {
    fill: #585860;
}

.caniE374 {
    fill: #d8cac5;
}

.caniE375 {
    fill: #bf9f8a;
}

.caniE376 {
    fill: #675660;
}

.caniE377 {
    fill: #7e593f;
}

.caniE378 {
    fill: #a14a40;
}

.caniE379 {
    fill: #ac6b67;
}

.caniE380 {
    opacity: 0.6;
    fill: #7a4b55;
}

.caniE381 {
    fill: #ba8563;
}

.caniE382 {
    fill: #321f18;
}

.caniE383 {
    fill: #c28460;
}

.caniE384 {
    fill: #b39da4;
}

.caniE385 {
    fill: #c5acbf;
}

.caniE386 {
    opacity: 0.7;
    fill: #5b5350;
}

.caniE387 {
    opacity: 0.8;
    fill: #5b5350;
}

.caniE388 {
    opacity: 0.6;
    fill: #5b5350;
}

.caniE389 {
    opacity: 0.4;
    fill: #5b5350;
}

.caniE390 {
    fill: #cec4cc;
}

.caniE391 {
    fill: #443f3e;
}

.caniE392 {
    fill: #5b5350;
}

.caniE393 {
    fill: #d38497;
}

.caniE394 {
    fill: #a86779;
}

.caniE395 {
    fill: #30323a;
}

.caniE396 {
    fill: #50535b;
}

.caniE397 {
    opacity: 0.4;
    fill: #c5acbf;
}

.caniE398 {
    opacity: 0.6;
    fill: #60535d;
}

.caniE399 {
    fill: #b97245;
}

.caniE400 {
    opacity: 0.4;
    fill: #e7c4ab;
}

.caniE401 {
    fill: #a59598;
}

.caniE402 {
    fill: #8e6c5c;
}

.caniE403 {
    fill: #d5c7c7;
}

.caniE404 {
    fill: #6c6263;
}

.caniE405 {
    fill: #434247;
}

.caniE406 {
    fill: #9d7078;
}

.caniE407 {
    fill: #cfc3a7;
}

.caniE408 {
    fill: #7c4d58;
}

.caniE409 {
    fill: #27262b;
}

.caniE410 {
    opacity: 0.7;
    fill: #96a1bb;
}

.caniE411 {
    fill: #96a1bb;
}

.caniE412 {
    fill: #f8cdbe;
}

.caniE413 {
    fill: #deddd8;
}

.caniE414 {
    fill: #bc7e4b;
}

.caniE415 {
    opacity: 0.7;
    fill: #796f6e;
}

.caniE416 {
    opacity: 0.4;
    fill: #956034;
}

.caniE417 {
    opacity: 0.3;
    fill: #796f6e;
}

.caniE418 {
    opacity: 0.6;
    fill: #956034;
}

.caniE419 {
    fill: #574f4c;
}

.caniE420 {
    fill: #2f2a30;
}

.caniE421 {
    opacity: 0.3;
    fill: #deddd8;
}

.caniE422 {
    opacity: 0.6;
    fill: #deddd8;
}

.caniE423 {
    fill: #423636;
}

.caniE424 {
    opacity: 0.5;
    fill: #796f6e;
}

.caniE425 {
    opacity: 0.2;
    fill: #fc9e2d;
}

.caniE426 {
    opacity: 0.4;
    fill: #844f23;
}

.caniE427 {
    opacity: 0.8;
    fill: #844f23;
}

.caniE428 {
    opacity: 0.7;
    fill: #844f23;
}

.caniE429 {
    fill: #d39654;
}

.caniE430 {
    fill: #af744b;
}

.caniE431 {
    fill: #d6b9a5;
}

.caniE432 {
    fill: #c4a48d;
}

.caniE433 {
    opacity: 0.5;
    fill: #413f40;
}

.caniE434 {
    fill: #3f3833;
}

.caniE435 {
    fill: #5a3e41;
}

.caniE436 {
    fill: #eb92a9;
}

.caniE437 {
    fill: #987079;
}

.caniE438 {
    fill: #99877f;
}

.caniE439 {
    fill: #999999;
}

.caniE440 {
    opacity: 0.3;
    fill: #413f40;
}

.caniE441 {
    fill: #404140;
}

.caniE442 {
    fill: #606060;
}

.caniE443 {
    fill: #edbe8e;
}

.caniE444 {
    fill: #493535;
}

.caniE445 {
    fill: #7c6161;
}

.caniE446 {
    fill: #997f7f;
}

.caniE447 {
    opacity: 0.5;
    fill: #7a523f;
}

.caniE448 {
    fill: #fce1ca;
}

.caniE449 {
    fill: #664436;
}

.caniE450 {
    fill: #704f39;
}

.caniE451 {
    fill: #855037;
}

.caniE452 {
    fill: #957869;
}

.caniE453 {
    fill: #af978d;
}

.caniE454 {
    fill: #5e6474;
}

.caniE455 {
    fill: #8e9faf;
}

.caniE456 {
    fill: #34353a;
}

.caniE457 {
    fill: #632d17;
}

.caniE458 {
    fill: #817468;
}

.caniE459 {
    fill: #634b4e;
}

.caniE460 {
    fill: #47484c;
}

.caniE461 {
    fill: #4d4f54;
}

.caniE462 {
    fill: #989b9a;
}

.caniE463 {
    fill: #ccc8c3;
}

.caniE464 {
    fill: #8a6652;
}

.caniE465 {
    fill: #9b7e70;
}

.caniE466 {
    opacity: 0.3;
    fill: #e36108;
}

.caniE467 {
    opacity: 0.58;
    fill: #989b9a;
}

.caniE468 {
    opacity: 0.5;
    fill: #b6b0aa;
}

.caniE469 {
    opacity: 0.6;
    fill: #20262b;
}

.caniE470 {
    fill: #b6b0aa;
}

.caniE471 {
    fill: #a3a6ad;
}

.caniE472 {
    opacity: 0.4;
    fill: #d5d4cf;
}

.caniE473 {
    opacity: 0.5;
    fill: #d5d4cf;
}

.caniE474 {
    opacity: 0.5;
    fill: #dcd5c3;
}

.caniE475 {
    fill: #dcd5c3;
}

.caniE476 {
    opacity: 0.4;
    fill: #dcd5c3;
}

.caniE477 {
    fill: #715f55;
}

.caniE478 {
    fill: #84635c;
}

.caniE479 {
    fill: #362418;
}

.caniE480 {
    opacity: 0.5;
    fill: #221f26;
}

.caniE481 {
    opacity: 0.7;
    fill: #221f26;
}

.caniE482 {
    fill: #965a64;
}

.caniE483 {
    opacity: 0.5;
    fill: #c98377;
}

.caniE484 {
    fill: #7a4b55;
}

.caniE485 {
    opacity: 0.1;
    fill: #fffff8;
}

.caniE486 {
    opacity: 0.2;
    fill: #fffff8;
}

.caniE487 {
    opacity: 0.5;
    fill: #5e4c43;
}

.caniE488 {
    opacity: 0.7;
    fill: #493630;
}

.caniE489 {
    opacity: 0.5;
    fill: #7c4f3f;
}

.caniE490 {
    fill: #b6886a;
}

.caniE491 {
    opacity: 0.5;
    fill: #c67c4b;
}

.caniE492 {
    fill: #5c402c;
}

.caniE493 {
    opacity: 0.3;
    fill: #c67c4b;
}

.caniE494 {
    fill: #d8c1a2;
}

.caniE495 {
    fill: #844f23;
}

.caniE496 {
    opacity: 0.7;
    fill: #6e4736;
}

.caniE497 {
    fill: #c3995d;
}

.caniE498 {
    opacity: 0.8;
    fill: #773723;
}

.caniE499 {
    fill: #5b2b03;
}

.caniE500 {
    fill: #cc9292;
}

.caniE501 {
    opacity: 0.5;
    fill: #846969;
}

.caniE502 {
    opacity: 0.5;
    fill: #efcaa0;
}

.caniE503 {
    opacity: 0.7;
    fill: #efcaa0;
}

.caniE504 {
    fill: #efcaa0;
}

.caniE505 {
    opacity: 0.3;
    fill: #efcaa0;
}

.caniE506 {
    fill: #895130;
}

.caniE507 {
    fill: #53555e;
}

.caniE508 {
    fill: #7c666c;
}

.caniE509 {
    fill: #c66831;
}

.caniE510 {
    fill: #893b14;
}

.caniE511 {
    fill: #150707;
}

.caniE512 {
    fill: #915233;
}

.caniE513 {
    fill: #aa6644;
}

.caniE514 {
    opacity: 0.4;
    fill: #150707;
}

.caniE515 {
    fill: #a06e7d;
}

.caniE516 {
    fill: #8189a5;
}

.caniE517 {
    fill: #adb8d8;
}

.caniE518 {
    opacity: 0.3;
    fill: #c07e42;
}

.caniE519 {
    opacity: 0.4;
    fill: #c28460;
}

.caniE520 {
    fill: #bdf1ff;
}

.caniE521 {
    opacity: 0.3;
    fill: #bdf1ff;
}

.caniE522 {
    opacity: 0.4;
    fill: #5fff48;
}

.caniE523 {
    opacity: 0.4;
    fill: #eb7e00;
}

.caniE524 {
    opacity: 0.3;
    fill: #384049;
}

.caniE525 {
    opacity: 0.2;
    fill: #384049;
}

.caniE526 {
    opacity: 0.4;
    fill: #895130;
}

.caniE527 {
    fill: #b9d2fc;
}

.caniE528 {
    fill: #a7406a;
    stroke: #414356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniE529 {
    fill: #6d3f45;
}

.caniE530 {
    fill: #e5be98;
}

.caniE531 {
    fill: #f9ddc5;
}

.caniE532 {
    fill: #6b3f34;
}

.caniE533 {
    fill: #442c27;
}

.caniE534 {
    fill: #93562a;
}

.caniE535 {
    fill: #fffbf8;
}

.caniE536 {
    fill: #7b5241;
}

.caniE537 {
    fill: #c8b6a0;
}

.caniE538 {
    fill: #b78c61;
}

.caniE539 {
    fill: #e6d5c5;
}

.caniE540 {
    fill: #c0a288;
}

.caniE541 {
    opacity: 0.6;
    fill: #ac988f;
}

.caniE542 {
    opacity: 0.7;
    fill: #47352b;
}

.caniE543 {
    fill: #8a684d;
}

.caniE544 {
    fill: #2d2926;
}

.caniE545 {
    fill: #efe3cd;
}

.caniE546 {
    fill: #995b27;
}

.caniE547 {
    fill: #704c30;
}

.caniE548 {
    fill: #0967ce;
}

.caniE549 {
    fill: #4197e5;
}

.caniE550 {
    fill: #89bcce;
}
