.caniC0 {
    fill: #718691;
}

.caniC1 {
    fill: #b3e8ff;
}

.caniC2 {
    fill: #9fb1bf;
}

.caniC3 {
    fill: #d1642f;
}

.caniC4 {
    fill: #b04141;
}

.caniC5 {
    fill: #ce7345;
}

.caniC6 {
    fill: #a5643e;
}

.caniC7 {
    fill: #834c31;
}

.caniC8 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniC9 {
    opacity: 0.2;
    fill: #e0baa5;
}

.caniC10 {
    fill: #76757b;
}

.caniC11 {
    fill: #a59a95;
}

.caniC12 {
    fill: #575759;
}

.caniC13 {
    fill: #20262b;
}

.caniC14 {
    fill: #555b60;
}

.caniC15 {
    fill: #bd703a;
}

.caniC16 {
    fill: #ad4f0e;
}

.caniC17 {
    fill: #3a3836;
}

.caniC18 {
    fill: #a38d7e;
}

.caniC19 {
    fill: #97837c;
}

.caniC20 {
    fill: #aa9994;
}

.caniC21 {
    opacity: 0.3;
}

.caniC22 {
    opacity: 0.4;
}

.caniC23 {
    opacity: 0.3;
    fill: #ffffff;
}

.caniC24 {
    fill: #2f3a3f;
}

.caniC25 {
    fill: #7f8aa0;
}

.caniC26 {
    fill: #575d6b;
}

.caniC27 {
    fill: #3e5460;
}

.caniC28 {
    fill: #8aa6b9;
}

.caniC29 {
    fill: #687d87;
}

.caniC30 {
    fill: #e10000;
}

.caniC31 {
    opacity: 0.5;
    fill: #575d6b;
}

.caniC32 {
    fill: #242528;
}

.caniC33 {
    fill: #3f3f3f;
}

.caniC34 {
    fill: #9aabb2;
}

.caniC35 {
    fill: #49565b;
}

.caniC36 {
    fill: #4f5b60;
}

.caniC37 {
    opacity: 0.4;
    fill: #99cccc;
}

.caniC38 {
    opacity: 0.8;
    fill: #99cccc;
}

.caniC39 {
    fill: #99cccc;
}

.caniC40 {
    fill: #bdfffd;
}

.caniC41 {
    fill: #ffffff;
}

.caniC42 {
    opacity: 0.7;
    fill: #a3efed;
}

.caniC43 {
    opacity: 0.1;
    fill: #a3efed;
}

.caniC44 {
    opacity: 0.6;
    fill: #3e5460;
}

.caniC45 {
    opacity: 0.3;
    fill: #3e5460;
}

.caniC46 {
    opacity: 0.5;
    fill: #99cccc;
}

.caniC47 {
    fill: #a3efed;
}

.caniC48 {
    opacity: 0.5;
    fill: #a3efed;
}

.caniC49 {
    opacity: 0.7;
    fill: #ffffff;
}

.caniC50 {
    opacity: 0.2;
    fill: #242528;
}

.caniC51 {
    opacity: 0.3;
    fill: #242528;
}

.caniC52 {
    opacity: 0.45;
    fill: #242528;
}

.caniC53 {
    opacity: 0.7;
    fill: #99cccc;
}

.caniC54 {
    opacity: 0.3;
    fill: #99cccc;
}

.caniC55 {
    opacity: 0.3;
    fill: #575d6b;
}

.caniC56 {
    opacity: 0.3;
    fill: #7e8799;
}

.caniC57 {
    opacity: 0.6;
    fill: #384051;
}

.caniC58 {
    opacity: 0.7;
    fill: #384051;
}

.caniC59 {
    opacity: 0.6;
    fill: #a3efed;
}

.caniC60 {
    fill: #43545b;
}

.caniC61 {
    fill: #2b393f;
}

.caniC62 {
    fill: #21252d;
}

.caniC63 {
    fill: #84939a;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniC64 {
    fill: #359fc8;
}

.caniC65 {
    fill: #dc4b43;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniC66 {
    fill: #dc8943;
}

.caniC67 {
    fill: #dcdc7a;
}

.caniC68 {
    opacity: 0.5;
    fill: #71cbea;
}

.caniC69 {
    opacity: 0.2;
    fill: #71cbea;
}

.caniC70 {
    fill: #b9edf9;
}

.caniC71 {
    opacity: 0.8;
    fill: #ffffff;
}

.caniC72 {
    opacity: 0.4;
    fill: #44515e;
}

.caniC73 {
    fill: #44515e;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniC74 {
    fill: #4f6168;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniC75 {
    fill: #359fc8;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniC76 {
    fill: #71cbea;
}

.caniC77 {
    opacity: 0.6;
    fill: #b9edf9;
}

.caniC78 {
    opacity: 0.4;
    fill: #303a42;
}

.caniC79 {
    fill: #773723;
}

.caniC80 {
    fill: #ff8d4d;
}

.caniC81 {
    fill: #384049;
}

.caniC82 {
    fill: #99c1dd;
}

.caniC83 {
    fill: #bad5e8;
}

.caniC84 {
    fill: #566166;
}

.caniC85 {
    opacity: 0.4;
    fill: #718691;
}

.caniC86 {
    opacity: 0.3;
    fill: #718691;
}

.caniC87 {
    opacity: 0.5;
    fill: #718691;
}

.caniC88 {
    opacity: 0.2;
    fill: #718691;
}

.caniC89 {
    opacity: 0.5;
    fill: #ffffff;
}

.caniC90 {
    opacity: 0.4;
    fill: #24c2e8;
}

.caniC91 {
    opacity: 0.3;
    fill: #24c2e8;
}

.caniC92 {
    fill: #e0baa5;
}

.caniC93 {
    opacity: 0.4;
    fill: #20262b;
}

.caniC94 {
    opacity: 0.3;
    fill: #20262b;
}

.caniC95 {
    opacity: 0.4;
    fill: #2b393f;
}

.caniC96 {
    fill: #8087aa;
}

.caniC97 {
    fill: #8de2df;
}

.caniC98 {
    opacity: 0.5;
}

.caniC99 {
    fill: #1e2426;
    stroke: #1e2426;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniC100 {
    opacity: 0.5;
    fill: #44515e;
}

.caniC101 {
    opacity: 0.4;
    fill: #ffffff;
}

.caniC102 {
    fill: #4f5f66;
}

.caniC103 {
    fill: #86aab7;
}

.caniC104 {
    fill: #24c2e8;
}

.caniC105 {
    fill: none;
    stroke: #2d464f;
    stroke-miterlimit: 10;
}

.caniC106 {
    fill: #c9578b;
    stroke: #8c0448;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniC107 {
    fill: #ff52a9;
}

.caniC108 {
    fill: #1d1d1d;
}

.caniC109 {
    fill: #7f6e60;
}

.caniC110 {
    fill: #c07e42;
}

.caniC111 {
    fill: #8a6a47;
}

.caniC112 {
    fill: #3d3b39;
}

.caniC113 {
    fill: #6e7184;
}

.caniC114 {
    opacity: 0.6;
    fill: #3a3b42;
}

.caniC115 {
    fill: #525466;
}

.caniC116 {
    fill: #44515e;
}

.caniC117 {
    fill: #84939a;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniC118 {
    fill: #514948;
}

.caniC119 {
    fill: #3d1e1b;
}

.caniC120 {
    fill: #94a3af;
}

.caniC121 {
    fill: #6e7e89;
}

.caniC122 {
    fill: #4d010b;
}

.caniC123 {
    fill: #610711;
}

.caniC124 {
    fill: #3d261c;
}

.caniC125 {
    fill: #281b16;
}

.caniC126 {
    fill: #6f5638;
}

.caniC127 {
    fill: #5f0c08;
}

.caniC128 {
    opacity: 0.4;
    fill: #443525;
}

.caniC129 {
    fill: #443525;
}

.caniC130 {
    fill: #9a2211;
}

.caniC131 {
    fill: #821207;
}

.caniC132 {
    fill: #c84028;
}

.caniC133 {
    fill: #28040a;
}

.caniC134 {
    fill: #c60e2d;
}

.caniC135 {
    fill: #7f192f;
}

.caniC136 {
    fill: #af5002;
}

.caniC137 {
    fill: #c9842b;
}

.caniC138 {
    opacity: 0.6;
    fill: #28040a;
}

.caniC139 {
    opacity: 0.3;
    fill: #28040a;
}

.caniC140 {
    fill: #b2c3ce;
}

.caniC141 {
    opacity: 0.3;
    fill: #b2c3ce;
}

.caniC142 {
    fill: #95a2a5;
}

.caniC143 {
    fill: #ddb294;
}

.caniC144 {
    fill: #682d27;
}

.caniC145 {
    fill: #708184;
}

.caniC146 {
    opacity: 0.4;
    fill: #ddb294;
}

.caniC147 {
    opacity: 0.1;
    fill: #ddb294;
}

.caniC148 {
    fill: #a0776a;
}

.caniC149 {
    fill: #c18963;
}

.caniC150 {
    fill: #6a7577;
}

.caniC151 {
    opacity: 0.4;
    fill: #231917;
}

.caniC152 {
    fill: #903c32;
}

.caniC153 {
    opacity: 0.4;
    fill: #e5cab7;
}

.caniC154 {
    opacity: 0.2;
    fill: #ff6627;
}

.caniC155 {
    fill: #5b6f70;
}

.caniC156 {
    fill: #5a2c1f;
}

.caniC157 {
    fill: #411306;
}

.caniC158 {
    fill: #845145;
}

.caniC159 {
    opacity: 0.3;
    fill: #845145;
}

.caniC160 {
    opacity: 0.2;
    fill: #845145;
}

.caniC161 {
    fill: none;
    stroke: #411306;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniC162 {
    fill: none;
    stroke: #5a2c1f;
    stroke-miterlimit: 10;
}

.caniC163 {
    fill: #1e0a06;
}

.caniC164 {
    opacity: 0.4;
    fill: #1e0a06;
}

.caniC165 {
    fill: #618a9e;
}

.caniC166 {
    fill: #79b9d3;
}

.caniC167 {
    fill: #4e606c;
}

.caniC168 {
    fill: #3a2a29;
}

.caniC169 {
    fill: #35373a;
}

.caniC170 {
    opacity: 0.4;
    fill: #8aa6b9;
}

.caniC171 {
    opacity: 0.3;
    fill: #8aa6b9;
}

.caniC172 {
    fill: #384c54;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniC173 {
    fill: #dc4b43;
}

.caniC174 {
    fill: #84939a;
}

.caniC175 {
    opacity: 0.8;
    fill: #44515e;
}

.caniC176 {
    opacity: 0.3;
    fill: #44515e;
}

.caniC177 {
    opacity: 0.4;
    fill: #dc8943;
}

.caniC178 {
    opacity: 0.3;
    fill: #dc4b43;
}

.caniC179 {
    opacity: 0.3;
    fill: #dcdc7a;
}

.caniC180 {
    fill: #dcdcac;
}

.caniC181 {
    opacity: 0.6;
    fill: #71cbea;
}

.caniC182 {
    fill: #3c5159;
}

.caniC183 {
    fill: #d7f2ff;
}

.caniC184 {
    fill: #9ba4b2;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniC185 {
    fill: #ffffff;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniC186 {
    fill: #88b1ff;
    stroke: #000098;
    stroke-miterlimit: 10;
}

.caniC187 {
    fill: #9ba4b2;
}

.caniC188 {
    fill: #30383a;
}

.caniC189 {
    fill: #3e88ff;
}

.caniC190 {
    fill: #6daf6b;
}

.caniC191 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniC192 {
    opacity: 0.6;
}

.caniC193 {
    opacity: 0.8;
    fill: #313647;
}

.caniC194 {
    opacity: 0.1;
}

.caniC195 {
    fill: #787a90;
}

.caniC196 {
    fill: #a2a6ce;
}

.caniC197 {
    opacity: 0.2;
    fill: #3676b6;
}

.caniC198 {
    fill: #b7b8c4;
}

.caniC199 {
    opacity: 0.5;
    fill: #998e84;
}

.caniC200 {
    fill: #a7406a;
}

.caniC201 {
    fill: #c1c5e8;
}

.caniC202 {
    fill: #67273c;
}

.caniC203 {
    opacity: 0.4;
    fill: #525466;
}

.caniC204 {
    opacity: 0.3;
    fill: #525466;
}

.caniC205 {
    opacity: 0.2;
    fill: #525466;
}

.caniC206 {
    opacity: 0.3;
    fill: #353947;
}

.caniC207 {
    opacity: 0.6;
    fill: #525466;
}

.caniC208 {
    opacity: 0.2;
    fill: #ffb627;
}

.caniC209 {
    fill: #30363a;
}

.caniC210 {
    fill: #859fb5;
}

.caniC211 {
    opacity: 0.3;
    fill: #accce2;
}

.caniC212 {
    opacity: 0.3;
    fill: #86c5ea;
}

.caniC213 {
    opacity: 0.7;
    fill: #86c5ea;
}

.caniC214 {
    fill: #b6def2;
}

.caniC215 {
    fill: #86c5ea;
}

.caniC216 {
    opacity: 0.5;
    fill: #b6def2;
}

.caniC217 {
    opacity: 0.6;
    fill: #a2a6ce;
}

.caniC218 {
    opacity: 0.2;
    fill: #86c5ea;
}

.caniC219 {
    fill: #666666;
}

.caniC220 {
    fill: #282421;
}

.caniC221 {
    opacity: 0.3;
    fill: #666666;
}

.caniC222 {
    opacity: 0.8;
    fill: #666666;
}

.caniC223 {
    opacity: 0.4;
    fill: #666666;
}

.caniC224 {
    fill: #898989;
}

.caniC225 {
    opacity: 0.5;
    fill: #898989;
}

.caniC226 {
    opacity: 0.15;
    fill: #d77c00;
}

.caniC227 {
    opacity: 0.3;
    fill: #ffd199;
}

.caniC228 {
    opacity: 0.5;
    fill: #525466;
}

.caniC229 {
    fill: #333333;
}

.caniC230 {
    fill: #4c5860;
}

.caniC231 {
    fill: #9fb1bf;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniC232 {
    fill: #384049;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniC233 {
    fill: #9fb1bf;
    stroke: #494d56;
    stroke-miterlimit: 10;
}

.caniC234 {
    opacity: 0.3;
    fill: #b5b1b0;
}

.caniC235 {
    fill: #723a15;
}

.caniC236 {
    fill: #3f4b4f;
    stroke: #1e2426;
    stroke-miterlimit: 10;
}

.caniC237 {
    opacity: 0.5;
    fill: #1e2426;
}

.caniC238 {
    opacity: 0.2;
    fill: #1e2426;
}

.caniC239 {
    fill: none;
    stroke: #1e2426;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.caniC240 {
    opacity: 0.2;
    fill: #b9edf9;
}

.caniC241 {
    fill: #708593;
}

.caniC242 {
    fill: #9fb1bf;
    stroke: #4b5359;
    stroke-miterlimit: 10;
}

.caniC243 {
    fill: #4b5359;
}

.caniC244 {
    opacity: 0.5;
    fill: #384049;
}

.caniC245 {
    fill: none;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniC246 {
    fill: #212e3a;
}

.caniC247 {
    opacity: 0.2;
    fill: #ffffff;
}

.caniC248 {
    fill: #444d51;
}

.caniC249 {
    opacity: 0.5;
    fill: #24c2e8;
}

.caniC250 {
    fill: #80a1af;
}

.caniC251 {
    opacity: 0.7;
    fill: #264249;
}

.caniC252 {
    opacity: 0.3;
    fill: #5c402c;
}

.caniC253 {
    fill: #a5503c;
}

.caniC254 {
    fill: #4b2f3d;
}

.caniC255 {
    fill: #bfb2af;
}

.caniC256 {
    fill: #cfc3b3;
}

.caniC257 {
    fill: #c89e00;
}

.caniC258 {
    fill: #ffd44d;
}

.caniC259 {
    fill: #dc7500;
}

.caniC260 {
    fill: #383b3f;
}

.caniC261 {
    fill: #93948c;
}

.caniC262 {
    fill: #c1c1c1;
}

.caniC263 {
    fill: #46b2a8;
}

.caniC264 {
    fill: #5f6768;
}

.caniC265 {
    fill: #8ea4a5;
}

.caniC266 {
    fill: #53ead8;
}

.caniC267 {
    fill: #217c71;
}

.caniC268 {
    opacity: 0.6;
    fill: #ffffff;
}

.caniC269 {
    fill: #d8a664;
}

.caniC270 {
    fill: #e59a41;
}

.caniC271 {
    fill: #4c4945;
}

.caniC272 {
    opacity: 0.4;
    fill: #aa7950;
}

.caniC273 {
    fill: #d6a85a;
}

.caniC274 {
    fill: #a0bb40;
}

.caniC275 {
    fill: #cc8e36;
}

.caniC276 {
    fill: #57585b;
}

.caniC277 {
    fill: #d6a3bb;
}

.caniC278 {
    fill: #e8cfdb;
}

.caniC279 {
    fill: #4e2212;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniC280 {
    fill: #48423c;
}

.caniC281 {
    fill: #ba6509;
}

.caniC282 {
    fill: #9b4e27;
}

.caniC283 {
    fill: #7c4209;
}

.caniC284 {
    fill: #d88736;
}

.caniC285 {
    fill: #565352;
}

.caniC286 {
    fill: #966233;
}

.caniC287 {
    fill: #ac7741;
}

.caniC288 {
    fill: #debd90;
}

.caniC289 {
    fill: #796f6e;
}

.caniC290 {
    fill: #3a3a3a;
}

.caniC291 {
    fill: #606362;
}

.caniC292 {
    fill: #7a7a7a;
}

.caniC293 {
    fill: #a36d4b;
}

.caniC294 {
    fill: #7f5234;
}

.caniC295 {
    fill: #50281b;
}

.caniC296 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniC297 {
    fill: #843c20;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniC298 {
    fill: #535356;
}

.caniC299 {
    fill: #7c706c;
}

.caniC300 {
    fill: #5b5655;
}

.caniC301 {
    fill: #b58272;
}

.caniC302 {
    fill: #1d1d1b;
}

.caniC303 {
    fill: #44403f;
}

.caniC304 {
    fill: #d8a598;
}

.caniC305 {
    fill: #857365;
}

.caniC306 {
    fill: #aa7950;
}

.caniC307 {
    fill: #725a5a;
}

.caniC308 {
    fill: #665f5d;
}

.caniC309 {
    opacity: 0.3;
    fill: #aa7950;
}

.caniC310 {
    fill: #897676;
}

.caniC311 {
    fill: #9e9086;
}

.caniC312 {
    fill: #b5b1b0;
}

.caniC313 {
    fill: #4f5456;
}

.caniC314 {
    opacity: 0.4;
    fill: #4f5456;
}

.caniC315 {
    opacity: 0.3;
    fill: #4f5456;
}

.caniC316 {
    opacity: 0.7;
    fill: #76757b;
}

.caniC317 {
    opacity: 0.5;
    fill: #4f5456;
}

.caniC318 {
    opacity: 0.5;
    fill: #aa7950;
}

.caniC319 {
    opacity: 0.7;
    fill: #aa7950;
}

.caniC320 {
    fill: #626268;
}

.caniC321 {
    fill: #b28862;
}

.caniC322 {
    fill: #9ba8bb;
}

.caniC323 {
    fill: #aa571f;
}

.caniC324 {
    fill: #363a42;
}

.caniC325 {
    fill: #a06b60;
}

.caniC326 {
    fill: #d29791;
}

.caniC327 {
    opacity: 0.2;
}

.caniC328 {
    fill: #a16944;
}

.caniC329 {
    fill: #988d79;
}

.caniC330 {
    fill: #f1fbfd;
}

.caniC331 {
    fill: none;
}

.caniC332 {
    fill: #a18570;
}

.caniC333 {
    opacity: 0.5;
    fill: #d4baad;
}

.caniC334 {
    fill: #cbb4ac;
}

.caniC335 {
    fill: #585860;
}

.caniC336 {
    fill: #d8cac5;
}

.caniC337 {
    fill: #bf9f8a;
}

.caniC338 {
    fill: #675660;
}

.caniC339 {
    fill: #7e593f;
}

.caniC340 {
    fill: #a14a40;
}

.caniC341 {
    fill: #ac6b67;
}

.caniC342 {
    opacity: 0.6;
    fill: #7a4b55;
}

.caniC343 {
    fill: #ba8563;
}

.caniC344 {
    fill: #321f18;
}

.caniC345 {
    fill: #c28460;
}

.caniC346 {
    fill: #b39da4;
}

.caniC347 {
    fill: #c5acbf;
}

.caniC348 {
    opacity: 0.7;
    fill: #5b5350;
}

.caniC349 {
    opacity: 0.8;
    fill: #5b5350;
}

.caniC350 {
    opacity: 0.6;
    fill: #5b5350;
}

.caniC351 {
    opacity: 0.4;
    fill: #5b5350;
}

.caniC352 {
    fill: #cec4cc;
}

.caniC353 {
    fill: #443f3e;
}

.caniC354 {
    fill: #5b5350;
}

.caniC355 {
    fill: #d38497;
}

.caniC356 {
    fill: #a86779;
}

.caniC357 {
    fill: #30323a;
}

.caniC358 {
    fill: #50535b;
}

.caniC359 {
    opacity: 0.4;
    fill: #c5acbf;
}

.caniC360 {
    opacity: 0.6;
    fill: #60535d;
}

.caniC361 {
    fill: #b97245;
}

.caniC362 {
    opacity: 0.4;
    fill: #e7c4ab;
}

.caniC363 {
    fill: #a59598;
}

.caniC364 {
    fill: #8e6c5c;
}

.caniC365 {
    fill: #d5c7c7;
}

.caniC366 {
    fill: #6c6263;
}

.caniC367 {
    fill: #434247;
}

.caniC368 {
    fill: #9d7078;
}

.caniC369 {
    fill: #cfc3a7;
}

.caniC370 {
    fill: #7c4d58;
}

.caniC371 {
    fill: #27262b;
}

.caniC372 {
    opacity: 0.7;
    fill: #96a1bb;
}

.caniC373 {
    fill: #96a1bb;
}

.caniC374 {
    fill: #f8cdbe;
}

.caniC375 {
    fill: #deddd8;
}

.caniC376 {
    fill: #bc7e4b;
}

.caniC377 {
    opacity: 0.7;
    fill: #796f6e;
}

.caniC378 {
    opacity: 0.4;
    fill: #956034;
}

.caniC379 {
    opacity: 0.3;
    fill: #796f6e;
}

.caniC380 {
    opacity: 0.6;
    fill: #956034;
}

.caniC381 {
    fill: #574f4c;
}

.caniC382 {
    fill: #2f2a30;
}

.caniC383 {
    opacity: 0.3;
    fill: #deddd8;
}

.caniC384 {
    opacity: 0.6;
    fill: #deddd8;
}

.caniC385 {
    fill: #423636;
}

.caniC386 {
    opacity: 0.5;
    fill: #796f6e;
}

.caniC387 {
    opacity: 0.2;
    fill: #fc9e2d;
}

.caniC388 {
    opacity: 0.4;
    fill: #844f23;
}

.caniC389 {
    opacity: 0.8;
    fill: #844f23;
}

.caniC390 {
    opacity: 0.7;
    fill: #844f23;
}

.caniC391 {
    fill: #d39654;
}

.caniC392 {
    fill: #af744b;
}

.caniC393 {
    fill: #d6b9a5;
}

.caniC394 {
    fill: #c4a48d;
}

.caniC395 {
    opacity: 0.5;
    fill: #413f40;
}

.caniC396 {
    fill: #3f3833;
}

.caniC397 {
    fill: #5a3e41;
}

.caniC398 {
    fill: #eb92a9;
}

.caniC399 {
    fill: #987079;
}

.caniC400 {
    fill: #99877f;
}

.caniC401 {
    fill: #999999;
}

.caniC402 {
    opacity: 0.3;
    fill: #413f40;
}

.caniC403 {
    fill: #404140;
}

.caniC404 {
    fill: #606060;
}

.caniC405 {
    fill: #704f39;
}

.caniC406 {
    fill: #855037;
}

.caniC407 {
    fill: #957869;
}

.caniC408 {
    fill: #af978d;
}

.caniC409 {
    fill: #5e6474;
}

.caniC410 {
    fill: #8e9faf;
}

.caniC411 {
    fill: #34353a;
}

.caniC412 {
    fill: #632d17;
}

.caniC413 {
    fill: #817468;
}

.caniC414 {
    fill: #634b4e;
}

.caniC415 {
    fill: #47484c;
}

.caniC416 {
    fill: #4d4f54;
}

.caniC417 {
    fill: #989b9a;
}

.caniC418 {
    fill: #ccc8c3;
}

.caniC419 {
    fill: #8a6652;
}

.caniC420 {
    fill: #9b7e70;
}

.caniC421 {
    opacity: 0.3;
    fill: #e36108;
}

.caniC422 {
    opacity: 0.58;
    fill: #989b9a;
}

.caniC423 {
    opacity: 0.5;
    fill: #b6b0aa;
}

.caniC424 {
    opacity: 0.6;
    fill: #20262b;
}

.caniC425 {
    fill: #b6b0aa;
}

.caniC426 {
    fill: #a3a6ad;
}

.caniC427 {
    opacity: 0.4;
    fill: #d5d4cf;
}

.caniC428 {
    opacity: 0.5;
    fill: #d5d4cf;
}

.caniC429 {
    opacity: 0.5;
    fill: #dcd5c3;
}

.caniC430 {
    fill: #dcd5c3;
}

.caniC431 {
    opacity: 0.4;
    fill: #dcd5c3;
}

.caniC432 {
    fill: #715f55;
}

.caniC433 {
    fill: #84635c;
}

.caniC434 {
    fill: #362418;
}

.caniC435 {
    opacity: 0.5;
    fill: #221f26;
}

.caniC436 {
    opacity: 0.7;
    fill: #221f26;
}

.caniC437 {
    fill: #965a64;
}

.caniC438 {
    opacity: 0.5;
    fill: #c98377;
}

.caniC439 {
    fill: #7a4b55;
}

.caniC440 {
    opacity: 0.1;
    fill: #fffff8;
}

.caniC441 {
    opacity: 0.2;
    fill: #fffff8;
}

.caniC442 {
    opacity: 0.5;
    fill: #5e4c43;
}

.caniC443 {
    opacity: 0.7;
    fill: #493630;
}

.caniC444 {
    opacity: 0.5;
    fill: #7c4f3f;
}

.caniC445 {
    fill: #b6886a;
}

.caniC446 {
    opacity: 0.5;
    fill: #c67c4b;
}

.caniC447 {
    fill: #5c402c;
}

.caniC448 {
    opacity: 0.3;
    fill: #c67c4b;
}

.caniC449 {
    fill: #d8c1a2;
}

.caniC450 {
    fill: #844f23;
}

.caniC451 {
    opacity: 0.7;
    fill: #6e4736;
}

.caniC452 {
    fill: #c3995d;
}

.caniC453 {
    opacity: 0.8;
    fill: #773723;
}

.caniC454 {
    fill: #5b2b03;
}

.caniC455 {
    fill: #cc9292;
}

.caniC456 {
    opacity: 0.5;
    fill: #846969;
}

.caniC457 {
    opacity: 0.5;
    fill: #efcaa0;
}

.caniC458 {
    opacity: 0.7;
    fill: #efcaa0;
}

.caniC459 {
    fill: #efcaa0;
}

.caniC460 {
    opacity: 0.3;
    fill: #efcaa0;
}

.caniC461 {
    fill: #895130;
}

.caniC462 {
    fill: #53555e;
}

.caniC463 {
    fill: #7c666c;
}

.caniC464 {
    fill: #c66831;
}

.caniC465 {
    fill: #893b14;
}

.caniC466 {
    fill: #150707;
}

.caniC467 {
    fill: #915233;
}

.caniC468 {
    fill: #aa6644;
}

.caniC469 {
    opacity: 0.4;
    fill: #150707;
}

.caniC470 {
    fill: #a06e7d;
}

.caniC471 {
    fill: #8189a5;
}

.caniC472 {
    fill: #adb8d8;
}

.caniC473 {
    opacity: 0.3;
    fill: #c07e42;
}

.caniC474 {
    opacity: 0.4;
    fill: #c28460;
}

.caniC475 {
    fill: #bdf1ff;
}

.caniC476 {
    opacity: 0.3;
    fill: #bdf1ff;
}

.caniC477 {
    opacity: 0.4;
    fill: #5fff48;
}

.caniC478 {
    opacity: 0.4;
    fill: #eb7e00;
}

.caniC479 {
    opacity: 0.3;
    fill: #384049;
}

.caniC480 {
    opacity: 0.2;
    fill: #384049;
}

.caniC481 {
    opacity: 0.4;
    fill: #895130;
}

.caniC482 {
    fill: #b9d2fc;
}

.caniC483 {
    fill: #a7406a;
    stroke: #414356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniC484 {
    fill: #6d3f45;
}

.caniC485 {
    fill: #7b5241;
}

.caniC486 {
    fill: #c8b6a0;
}

.caniC487 {
    fill: #b78c61;
}

.caniC488 {
    fill: #e6d5c5;
}

.caniC489 {
    fill: #c0a288;
}

.caniC490 {
    opacity: 0.6;
    fill: #ac988f;
}

.caniC491 {
    opacity: 0.7;
    fill: #47352b;
}

.caniC492 {
    fill: #8a684d;
}

.caniC493 {
    fill: #2d2926;
}

.caniC494 {
    fill: #efe3cd;
}

.caniC495 {
    fill: #995b27;
}

.caniC496 {
    fill: #704c30;
}
