.caniA0 {
    fill: #718691;
}

.caniA1 {
    fill: #b3e8ff;
}

.caniA2 {
    fill: #9fb1bf;
}

.caniA3 {
    fill: #d1642f;
}

.caniA4 {
    fill: #b04141;
}

.caniA5 {
    fill: #ce7345;
}

.caniA6 {
    fill: #a5643e;
}

.caniA7 {
    fill: #834c31;
}

.caniA8 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniA9 {
    opacity: 0.2;
    fill: #e0baa5;
}

.caniA10 {
    fill: #76757b;
}

.caniA11 {
    fill: #a59a95;
}

.caniA12 {
    fill: #575759;
}

.caniA13 {
    fill: #20262b;
}

.caniA14 {
    fill: #555b60;
}

.caniA15 {
    fill: #bd703a;
}

.caniA16 {
    fill: #ad4f0e;
}

.caniA17 {
    fill: #3a3836;
}

.caniA18 {
    fill: #a38d7e;
}

.caniA19 {
    fill: #97837c;
}

.caniA20 {
    fill: #aa9994;
}

.caniA21 {
    opacity: 0.3;
}

.caniA22 {
    opacity: 0.4;
}

.caniA23 {
    opacity: 0.3;
    fill: #ffffff;
}

.caniA24 {
    fill: #2f3a3f;
}

.caniA25 {
    fill: #7f8aa0;
}

.caniA26 {
    fill: #575d6b;
}

.caniA27 {
    fill: #3e5460;
}

.caniA28 {
    fill: #8aa6b9;
}

.caniA29 {
    fill: #687d87;
}

.caniA30 {
    fill: #e10000;
}

.caniA31 {
    opacity: 0.5;
    fill: #575d6b;
}

.caniA32 {
    fill: #242528;
}

.caniA33 {
    fill: #3f3f3f;
}

.caniA34 {
    fill: #9aabb2;
}

.caniA35 {
    fill: #49565b;
}

.caniA36 {
    fill: #4f5b60;
}

.caniA37 {
    opacity: 0.4;
    fill: #99cccc;
}

.caniA38 {
    opacity: 0.8;
    fill: #99cccc;
}

.caniA39 {
    fill: #99cccc;
}

.caniA40 {
    fill: #bdfffd;
}

.caniA41 {
    fill: #ffffff;
}

.caniA42 {
    opacity: 0.7;
    fill: #a3efed;
}

.caniA43 {
    opacity: 0.1;
    fill: #a3efed;
}

.caniA44 {
    opacity: 0.6;
    fill: #3e5460;
}

.caniA45 {
    opacity: 0.3;
    fill: #3e5460;
}

.caniA46 {
    opacity: 0.5;
    fill: #99cccc;
}

.caniA47 {
    fill: #a3efed;
}

.caniA48 {
    opacity: 0.5;
    fill: #a3efed;
}

.caniA49 {
    opacity: 0.7;
    fill: #ffffff;
}

.caniA50 {
    opacity: 0.2;
    fill: #242528;
}

.caniA51 {
    opacity: 0.3;
    fill: #242528;
}

.caniA52 {
    opacity: 0.45;
    fill: #242528;
}

.caniA53 {
    opacity: 0.7;
    fill: #99cccc;
}

.caniA54 {
    opacity: 0.3;
    fill: #99cccc;
}

.caniA55 {
    opacity: 0.3;
    fill: #575d6b;
}

.caniA56 {
    opacity: 0.3;
    fill: #7e8799;
}

.caniA57 {
    opacity: 0.6;
    fill: #384051;
}

.caniA58 {
    opacity: 0.7;
    fill: #384051;
}

.caniA59 {
    opacity: 0.6;
    fill: #a3efed;
}

.caniA60 {
    fill: #43545b;
}

.caniA61 {
    fill: #2b393f;
}

.caniA62 {
    fill: #21252d;
}

.caniA63 {
    fill: #84939a;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniA64 {
    fill: #359fc8;
}

.caniA65 {
    fill: #dc4b43;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniA66 {
    fill: #dc8943;
}

.caniA67 {
    fill: #dcdc7a;
}

.caniA68 {
    opacity: 0.5;
    fill: #71cbea;
}

.caniA69 {
    opacity: 0.2;
    fill: #71cbea;
}

.caniA70 {
    fill: #b9edf9;
}

.caniA71 {
    opacity: 0.8;
    fill: #ffffff;
}

.caniA72 {
    opacity: 0.4;
    fill: #44515e;
}

.caniA73 {
    fill: #44515e;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniA74 {
    fill: #4f6168;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniA75 {
    fill: #359fc8;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.caniA76 {
    fill: #71cbea;
}

.caniA77 {
    opacity: 0.6;
    fill: #b9edf9;
}

.caniA78 {
    opacity: 0.4;
    fill: #303a42;
}

.caniA79 {
    fill: #773723;
}

.caniA80 {
    fill: #ff8d4d;
}

.caniA81 {
    fill: #384049;
}

.caniA82 {
    fill: #99c1dd;
}

.caniA83 {
    fill: #bad5e8;
}

.caniA84 {
    fill: #566166;
}

.caniA85 {
    opacity: 0.4;
    fill: #718691;
}

.caniA86 {
    opacity: 0.3;
    fill: #718691;
}

.caniA87 {
    opacity: 0.5;
    fill: #718691;
}

.caniA88 {
    opacity: 0.2;
    fill: #718691;
}

.caniA89 {
    opacity: 0.5;
    fill: #ffffff;
}

.caniA90 {
    opacity: 0.4;
    fill: #24c2e8;
}

.caniA91 {
    opacity: 0.3;
    fill: #24c2e8;
}

.caniA92 {
    fill: #e0baa5;
}

.caniA93 {
    opacity: 0.4;
    fill: #20262b;
}

.caniA94 {
    opacity: 0.3;
    fill: #20262b;
}

.caniA95 {
    opacity: 0.4;
    fill: #2b393f;
}

.caniA96 {
    fill: #8087aa;
}

.caniA97 {
    fill: #8de2df;
}

.caniA98 {
    opacity: 0.5;
}

.caniA99 {
    fill: #1e2426;
    stroke: #1e2426;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniA100 {
    opacity: 0.5;
    fill: #44515e;
}

.caniA101 {
    opacity: 0.4;
    fill: #ffffff;
}

.caniA102 {
    fill: #4f5f66;
}

.caniA103 {
    fill: #86aab7;
}

.caniA104 {
    fill: #24c2e8;
}

.caniA105 {
    fill: none;
    stroke: #2d464f;
    stroke-miterlimit: 10;
}

.caniA106 {
    fill: #c9578b;
    stroke: #8c0448;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniA107 {
    fill: #ff52a9;
}

.caniA108 {
    fill: #1d1d1d;
}

.caniA109 {
    fill: #7f6e60;
}

.caniA110 {
    fill: #c07e42;
}

.caniA111 {
    fill: #8a6a47;
}

.caniA112 {
    fill: #3d3b39;
}

.caniA113 {
    fill: #6e7184;
}

.caniA114 {
    opacity: 0.6;
    fill: #3a3b42;
}

.caniA115 {
    fill: #525466;
}

.caniA116 {
    fill: #44515e;
}

.caniA117 {
    fill: #84939a;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniA118 {
    fill: #514948;
}

.caniA119 {
    fill: #3d1e1b;
}

.caniA120 {
    fill: #94a3af;
}

.caniA121 {
    fill: #6e7e89;
}

.caniA122 {
    fill: #4d010b;
}

.caniA123 {
    fill: #610711;
}

.caniA124 {
    fill: #3d261c;
}

.caniA125 {
    fill: #281b16;
}

.caniA126 {
    fill: #6f5638;
}

.caniA127 {
    fill: #5f0c08;
}

.caniA128 {
    opacity: 0.4;
    fill: #443525;
}

.caniA129 {
    fill: #443525;
}

.caniA130 {
    fill: #9a2211;
}

.caniA131 {
    fill: #821207;
}

.caniA132 {
    fill: #c84028;
}

.caniA133 {
    fill: #28040a;
}

.caniA134 {
    fill: #c60e2d;
}

.caniA135 {
    fill: #7f192f;
}

.caniA136 {
    fill: #af5002;
}

.caniA137 {
    fill: #c9842b;
}

.caniA138 {
    opacity: 0.6;
    fill: #28040a;
}

.caniA139 {
    opacity: 0.3;
    fill: #28040a;
}

.caniA140 {
    fill: #b2c3ce;
}

.caniA141 {
    opacity: 0.3;
    fill: #b2c3ce;
}

.caniA142 {
    fill: #95a2a5;
}

.caniA143 {
    fill: #ddb294;
}

.caniA144 {
    fill: #682d27;
}

.caniA145 {
    fill: #708184;
}

.caniA146 {
    opacity: 0.4;
    fill: #ddb294;
}

.caniA147 {
    opacity: 0.1;
    fill: #ddb294;
}

.caniA148 {
    fill: #a0776a;
}

.caniA149 {
    fill: #c18963;
}

.caniA150 {
    fill: #6a7577;
}

.caniA151 {
    opacity: 0.4;
    fill: #231917;
}

.caniA152 {
    fill: #903c32;
}

.caniA153 {
    opacity: 0.4;
    fill: #e5cab7;
}

.caniA154 {
    opacity: 0.2;
    fill: #ff6627;
}

.caniA155 {
    fill: #5b6f70;
}

.caniA156 {
    fill: #5a2c1f;
}

.caniA157 {
    fill: #411306;
}

.caniA158 {
    fill: #845145;
}

.caniA159 {
    opacity: 0.3;
    fill: #845145;
}

.caniA160 {
    opacity: 0.2;
    fill: #845145;
}

.caniA161 {
    fill: none;
    stroke: #411306;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniA162 {
    fill: none;
    stroke: #5a2c1f;
    stroke-miterlimit: 10;
}

.caniA163 {
    fill: #1e0a06;
}

.caniA164 {
    opacity: 0.4;
    fill: #1e0a06;
}

.caniA165 {
    fill: #618a9e;
}

.caniA166 {
    fill: #79b9d3;
}

.caniA167 {
    fill: #4e606c;
}

.caniA168 {
    fill: #3a2a29;
}

.caniA169 {
    fill: #35373a;
}

.caniA170 {
    opacity: 0.4;
    fill: #8aa6b9;
}

.caniA171 {
    opacity: 0.3;
    fill: #8aa6b9;
}

.caniA172 {
    fill: #384c54;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniA173 {
    fill: #dc4b43;
}

.caniA174 {
    fill: #84939a;
}

.caniA175 {
    opacity: 0.8;
    fill: #44515e;
}

.caniA176 {
    opacity: 0.3;
    fill: #44515e;
}

.caniA177 {
    opacity: 0.4;
    fill: #dc8943;
}

.caniA178 {
    opacity: 0.3;
    fill: #dc4b43;
}

.caniA179 {
    opacity: 0.3;
    fill: #dcdc7a;
}

.caniA180 {
    fill: #dcdcac;
}

.caniA181 {
    opacity: 0.6;
    fill: #71cbea;
}

.caniA182 {
    fill: #3c5159;
}

.caniA183 {
    fill: #d7f2ff;
}

.caniA184 {
    fill: #9ba4b2;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniA185 {
    fill: #ffffff;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.caniA186 {
    fill: #88b1ff;
    stroke: #000098;
    stroke-miterlimit: 10;
}

.caniA187 {
    fill: #9ba4b2;
}

.caniA188 {
    fill: #30383a;
}

.caniA189 {
    fill: #3e88ff;
}

.caniA190 {
    fill: #6daf6b;
}

.caniA191 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.caniA192 {
    opacity: 0.6;
}

.caniA193 {
    opacity: 0.8;
    fill: #313647;
}

.caniA194 {
    opacity: 0.1;
}

.caniA195 {
    fill: #787a90;
}

.caniA196 {
    fill: #a2a6ce;
}

.caniA197 {
    opacity: 0.2;
    fill: #3676b6;
}

.caniA198 {
    fill: #b7b8c4;
}

.caniA199 {
    opacity: 0.5;
    fill: #998e84;
}

.caniA200 {
    fill: #a7406a;
}

.caniA201 {
    fill: #c1c5e8;
}

.caniA202 {
    fill: #67273c;
}

.caniA203 {
    opacity: 0.4;
    fill: #525466;
}

.caniA204 {
    opacity: 0.3;
    fill: #525466;
}

.caniA205 {
    opacity: 0.2;
    fill: #525466;
}

.caniA206 {
    opacity: 0.3;
    fill: #353947;
}

.caniA207 {
    opacity: 0.6;
    fill: #525466;
}

.caniA208 {
    opacity: 0.2;
    fill: #ffb627;
}

.caniA209 {
    fill: #30363a;
}

.caniA210 {
    fill: #859fb5;
}

.caniA211 {
    opacity: 0.3;
    fill: #accce2;
}

.caniA212 {
    opacity: 0.3;
    fill: #86c5ea;
}

.caniA213 {
    opacity: 0.7;
    fill: #86c5ea;
}

.caniA214 {
    fill: #b6def2;
}

.caniA215 {
    fill: #86c5ea;
}

.caniA216 {
    opacity: 0.5;
    fill: #b6def2;
}

.caniA217 {
    opacity: 0.6;
    fill: #a2a6ce;
}

.caniA218 {
    opacity: 0.2;
    fill: #86c5ea;
}

.caniA219 {
    fill: #666666;
}

.caniA220 {
    fill: #282421;
}

.caniA221 {
    opacity: 0.3;
    fill: #666666;
}

.caniA222 {
    opacity: 0.8;
    fill: #666666;
}

.caniA223 {
    opacity: 0.4;
    fill: #666666;
}

.caniA224 {
    fill: #898989;
}

.caniA225 {
    opacity: 0.5;
    fill: #898989;
}

.caniA226 {
    opacity: 0.15;
    fill: #d77c00;
}

.caniA227 {
    opacity: 0.3;
    fill: #ffd199;
}

.caniA228 {
    opacity: 0.5;
    fill: #525466;
}

.caniA229 {
    fill: #333333;
}

.caniA230 {
    fill: #4c5860;
}

.caniA231 {
    fill: #9fb1bf;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniA232 {
    fill: #384049;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.caniA233 {
    fill: #9fb1bf;
    stroke: #494d56;
    stroke-miterlimit: 10;
}

.caniA234 {
    opacity: 0.3;
    fill: #b5b1b0;
}

.caniA235 {
    fill: #723a15;
}

.caniA236 {
    fill: #3f4b4f;
    stroke: #1e2426;
    stroke-miterlimit: 10;
}

.caniA237 {
    opacity: 0.5;
    fill: #1e2426;
}

.caniA238 {
    opacity: 0.2;
    fill: #1e2426;
}

.caniA239 {
    fill: none;
    stroke: #1e2426;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.caniA240 {
    opacity: 0.2;
    fill: #b9edf9;
}

.caniA241 {
    fill: #708593;
}

.caniA242 {
    fill: #9fb1bf;
    stroke: #4b5359;
    stroke-miterlimit: 10;
}

.caniA243 {
    fill: #4b5359;
}

.caniA244 {
    opacity: 0.5;
    fill: #384049;
}

.caniA245 {
    fill: none;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.caniA246 {
    fill: #212e3a;
}

.caniA247 {
    opacity: 0.2;
    fill: #ffffff;
}

.caniA248 {
    fill: #444d51;
}

.caniA249 {
    opacity: 0.5;
    fill: #24c2e8;
}

.caniA250 {
    fill: #80a1af;
}

.caniA251 {
    opacity: 0.7;
    fill: #264249;
}

.caniA252 {
    opacity: 0.3;
    fill: #5c402c;
}

.caniA253 {
    fill: #a5503c;
}

.caniA254 {
    fill: #4b2f3d;
}

.caniA255 {
    fill: #bfb2af;
}

.caniA256 {
    fill: #cfc3b3;
}

.caniA257 {
    fill: #c89e00;
}

.caniA258 {
    fill: #ffd44d;
}

.caniA259 {
    fill: #dc7500;
}

.caniA260 {
    fill: #383b3f;
}

.caniA261 {
    fill: #93948c;
}

.caniA262 {
    fill: #c1c1c1;
}

.caniA263 {
    fill: #46b2a8;
}

.caniA264 {
    fill: #5f6768;
}

.caniA265 {
    fill: #8ea4a5;
}

.caniA266 {
    fill: #53ead8;
}

.caniA267 {
    fill: #217c71;
}

.caniA268 {
    opacity: 0.6;
    fill: #ffffff;
}

.caniA269 {
    fill: #d8a664;
}

.caniA270 {
    fill: #e59a41;
}

.caniA271 {
    fill: #4c4945;
}

.caniA272 {
    opacity: 0.4;
    fill: #aa7950;
}

.caniA273 {
    fill: #d6a85a;
}

.caniA274 {
    fill: #a0bb40;
}

.caniA275 {
    fill: #cc8e36;
}

.caniA276 {
    fill: #57585b;
}

.caniA277 {
    fill: #d6a3bb;
}

.caniA278 {
    fill: #e8cfdb;
}

.caniA279 {
    fill: #4e2212;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniA280 {
    fill: #48423c;
}

.caniA281 {
    fill: #ba6509;
}

.caniA282 {
    fill: #9b4e27;
}

.caniA283 {
    fill: #7c4209;
}

.caniA284 {
    fill: #d88736;
}

.caniA285 {
    fill: #565352;
}

.caniA286 {
    fill: #966233;
}

.caniA287 {
    fill: #ac7741;
}

.caniA288 {
    fill: #debd90;
}

.caniA289 {
    fill: #796f6e;
}

.caniA290 {
    fill: #3a3a3a;
}

.caniA291 {
    fill: #606362;
}

.caniA292 {
    fill: #7a7a7a;
}

.caniA293 {
    fill: #a36d4b;
}

.caniA294 {
    fill: #7f5234;
}

.caniA295 {
    fill: #50281b;
}

.caniA296 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniA297 {
    fill: #843c20;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.caniA298 {
    fill: #535356;
}

.caniA299 {
    fill: #7c706c;
}

.caniA300 {
    fill: #5b5655;
}

.caniA301 {
    fill: #b58272;
}

.caniA302 {
    fill: #1d1d1b;
}

.caniA303 {
    fill: #44403f;
}

.caniA304 {
    fill: #d8a598;
}

.caniA305 {
    fill: #857365;
}

.caniA306 {
    fill: #aa7950;
}

.caniA307 {
    fill: #725a5a;
}

.caniA308 {
    fill: #665f5d;
}

.caniA309 {
    opacity: 0.3;
    fill: #aa7950;
}

.caniA310 {
    fill: #897676;
}

.caniA311 {
    fill: #9e9086;
}

.caniA312 {
    fill: #b5b1b0;
}

.caniA313 {
    fill: #4f5456;
}

.caniA314 {
    opacity: 0.4;
    fill: #4f5456;
}

.caniA315 {
    opacity: 0.3;
    fill: #4f5456;
}

.caniA316 {
    opacity: 0.7;
    fill: #76757b;
}

.caniA317 {
    opacity: 0.5;
    fill: #4f5456;
}

.caniA318 {
    opacity: 0.5;
    fill: #aa7950;
}

.caniA319 {
    opacity: 0.7;
    fill: #aa7950;
}

.caniA320 {
    fill: #626268;
}

.caniA321 {
    fill: #b28862;
}

.caniA322 {
    fill: #9ba8bb;
}

.caniA323 {
    fill: #aa571f;
}

.caniA324 {
    fill: #363a42;
}

.caniA325 {
    fill: #a06b60;
}

.caniA326 {
    fill: #d29791;
}

.caniA327 {
    opacity: 0.2;
}

.caniA328 {
    fill: #a16944;
}

.caniA329 {
    fill: #988d79;
}

.caniA330 {
    fill: #f1fbfd;
}

.caniA331 {
    fill: none;
}

.caniA332 {
    fill: #a18570;
}

.caniA333 {
    opacity: 0.5;
    fill: #d4baad;
}

.caniA334 {
    fill: #cbb4ac;
}

.caniA335 {
    fill: #585860;
}

.caniA336 {
    fill: #d8cac5;
}

.caniA337 {
    fill: #bf9f8a;
}

.caniA338 {
    fill: #675660;
}

.caniA339 {
    fill: #7e593f;
}

.caniA340 {
    fill: #a14a40;
}

.caniA341 {
    fill: #ac6b67;
}

.caniA342 {
    opacity: 0.6;
    fill: #7a4b55;
}

.caniA343 {
    fill: #ba8563;
}

.caniA344 {
    fill: #321f18;
}

.caniA345 {
    fill: #c28460;
}

.caniA346 {
    fill: #b39da4;
}

.caniA347 {
    fill: #c5acbf;
}

.caniA348 {
    opacity: 0.7;
    fill: #5b5350;
}

.caniA349 {
    opacity: 0.8;
    fill: #5b5350;
}

.caniA350 {
    opacity: 0.6;
    fill: #5b5350;
}

.caniA351 {
    opacity: 0.4;
    fill: #5b5350;
}

.caniA352 {
    fill: #cec4cc;
}

.caniA353 {
    fill: #443f3e;
}

.caniA354 {
    fill: #5b5350;
}

.caniA355 {
    fill: #d38497;
}

.caniA356 {
    fill: #a86779;
}

.caniA357 {
    fill: #30323a;
}

.caniA358 {
    fill: #50535b;
}

.caniA359 {
    opacity: 0.4;
    fill: #c5acbf;
}

.caniA360 {
    opacity: 0.6;
    fill: #60535d;
}

.caniA361 {
    fill: #b97245;
}

.caniA362 {
    opacity: 0.4;
    fill: #e7c4ab;
}

.caniA363 {
    fill: #a59598;
}

.caniA364 {
    fill: #8e6c5c;
}

.caniA365 {
    fill: #d5c7c7;
}

.caniA366 {
    fill: #6c6263;
}

.caniA367 {
    fill: #434247;
}

.caniA368 {
    fill: #9d7078;
}

.caniA369 {
    fill: #cfc3a7;
}

.caniA370 {
    fill: #7c4d58;
}

.caniA371 {
    fill: #27262b;
}

.caniA372 {
    opacity: 0.7;
    fill: #96a1bb;
}

.caniA373 {
    fill: #96a1bb;
}

.caniA374 {
    fill: #f8cdbe;
}

.caniA375 {
    fill: #deddd8;
}

.caniA376 {
    fill: #bc7e4b;
}

.caniA377 {
    opacity: 0.7;
    fill: #796f6e;
}

.caniA378 {
    opacity: 0.4;
    fill: #956034;
}

.caniA379 {
    opacity: 0.3;
    fill: #796f6e;
}

.caniA380 {
    opacity: 0.6;
    fill: #956034;
}

.caniA381 {
    fill: #574f4c;
}

.caniA382 {
    fill: #2f2a30;
}

.caniA383 {
    opacity: 0.3;
    fill: #deddd8;
}

.caniA384 {
    opacity: 0.6;
    fill: #deddd8;
}

.caniA385 {
    fill: #423636;
}

.caniA386 {
    opacity: 0.5;
    fill: #796f6e;
}

.caniA387 {
    opacity: 0.2;
    fill: #fc9e2d;
}

.caniA388 {
    opacity: 0.4;
    fill: #844f23;
}

.caniA389 {
    opacity: 0.8;
    fill: #844f23;
}

.caniA390 {
    opacity: 0.7;
    fill: #844f23;
}

.caniA391 {
    fill: #d39654;
}

.caniA392 {
    fill: #af744b;
}

.caniA393 {
    fill: #d6b9a5;
}

.caniA394 {
    fill: #c4a48d;
}

.caniA395 {
    opacity: 0.5;
    fill: #413f40;
}

.caniA396 {
    fill: #3f3833;
}

.caniA397 {
    fill: #5a3e41;
}

.caniA398 {
    fill: #eb92a9;
}

.caniA399 {
    fill: #987079;
}

.caniA400 {
    fill: #99877f;
}

.caniA401 {
    fill: #999999;
}

.caniA402 {
    opacity: 0.3;
    fill: #413f40;
}

.caniA403 {
    fill: #404140;
}

.caniA404 {
    fill: #606060;
}

.caniA405 {
    fill: #704f39;
}

.caniA406 {
    fill: #855037;
}

.caniA407 {
    fill: #957869;
}

.caniA408 {
    fill: #af978d;
}

.caniA409 {
    fill: #5e6474;
}

.caniA410 {
    fill: #8e9faf;
}

.caniA411 {
    fill: #34353a;
}

.caniA412 {
    fill: #632d17;
}

.caniA413 {
    fill: #817468;
}

.caniA414 {
    fill: #634b4e;
}

.caniA415 {
    fill: #47484c;
}

.caniA416 {
    fill: #4d4f54;
}

.caniA417 {
    fill: #989b9a;
}

.caniA418 {
    fill: #ccc8c3;
}

.caniA419 {
    fill: #8a6652;
}

.caniA420 {
    fill: #9b7e70;
}

.caniA421 {
    opacity: 0.3;
    fill: #e36108;
}

.caniA422 {
    opacity: 0.58;
    fill: #989b9a;
}

.caniA423 {
    opacity: 0.5;
    fill: #b6b0aa;
}

.caniA424 {
    opacity: 0.6;
    fill: #20262b;
}

.caniA425 {
    fill: #b6b0aa;
}

.caniA426 {
    fill: #a3a6ad;
}

.caniA427 {
    opacity: 0.4;
    fill: #d5d4cf;
}

.caniA428 {
    opacity: 0.5;
    fill: #d5d4cf;
}

.caniA429 {
    opacity: 0.5;
    fill: #dcd5c3;
}

.caniA430 {
    fill: #dcd5c3;
}

.caniA431 {
    opacity: 0.4;
    fill: #dcd5c3;
}

.caniA432 {
    fill: #715f55;
}

.caniA433 {
    fill: #84635c;
}

.caniA434 {
    fill: #362418;
}

.caniA435 {
    opacity: 0.5;
    fill: #221f26;
}

.caniA436 {
    opacity: 0.7;
    fill: #221f26;
}

.caniA437 {
    fill: #965a64;
}

.caniA438 {
    opacity: 0.5;
    fill: #c98377;
}

.caniA439 {
    fill: #7a4b55;
}

.caniA440 {
    opacity: 0.1;
    fill: #fffff8;
}

.caniA441 {
    opacity: 0.2;
    fill: #fffff8;
}

.caniA442 {
    opacity: 0.5;
    fill: #5e4c43;
}

.caniA443 {
    opacity: 0.7;
    fill: #493630;
}

.caniA444 {
    opacity: 0.5;
    fill: #7c4f3f;
}

.caniA445 {
    fill: #b6886a;
}

.caniA446 {
    opacity: 0.5;
    fill: #c67c4b;
}

.caniA447 {
    fill: #5c402c;
}

.caniA448 {
    opacity: 0.3;
    fill: #c67c4b;
}

.caniA449 {
    fill: #d8c1a2;
}

.caniA450 {
    fill: #844f23;
}

.caniA451 {
    opacity: 0.7;
    fill: #6e4736;
}

.caniA452 {
    fill: #c3995d;
}

.caniA453 {
    opacity: 0.8;
    fill: #773723;
}

.caniA454 {
    fill: #5b2b03;
}

.caniA455 {
    fill: #cc9292;
}

.caniA456 {
    opacity: 0.5;
    fill: #846969;
}

.caniA457 {
    opacity: 0.5;
    fill: #efcaa0;
}

.caniA458 {
    opacity: 0.7;
    fill: #efcaa0;
}

.caniA459 {
    fill: #efcaa0;
}

.caniA460 {
    opacity: 0.3;
    fill: #efcaa0;
}

.caniA461 {
    fill: #895130;
}

.caniA462 {
    fill: #53555e;
}

.caniA463 {
    fill: #7c666c;
}

.caniA464 {
    fill: #c66831;
}

.caniA465 {
    fill: #893b14;
}

.caniA466 {
    fill: #150707;
}

.caniA467 {
    fill: #915233;
}

.caniA468 {
    fill: #aa6644;
}

.caniA469 {
    opacity: 0.4;
    fill: #150707;
}

.caniA470 {
    fill: #a06e7d;
}

.caniA471 {
    fill: #8189a5;
}

.caniA472 {
    fill: #adb8d8;
}

.caniA473 {
    opacity: 0.3;
    fill: #c07e42;
}

.caniA474 {
    opacity: 0.4;
    fill: #c28460;
}

.caniA475 {
    fill: #bdf1ff;
}

.caniA476 {
    opacity: 0.3;
    fill: #bdf1ff;
}

.caniA477 {
    opacity: 0.4;
    fill: #5fff48;
}

.caniA478 {
    opacity: 0.4;
    fill: #eb7e00;
}

.caniA479 {
    opacity: 0.3;
    fill: #384049;
}

.caniA480 {
    opacity: 0.2;
    fill: #384049;
}

.caniA481 {
    opacity: 0.4;
    fill: #895130;
}

.caniA482 {
    fill: #b9d2fc;
}

.caniA483 {
    fill: #a7406a;
    stroke: #414356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.caniA484 {
    fill: #6d3f45;
}

.caniA485 {
    fill: #7b5241;
}

.caniA486 {
    fill: #c8b6a0;
}

.caniA487 {
    fill: #b78c61;
}

.caniA488 {
    fill: #e6d5c5;
}

.caniA489 {
    fill: #c0a288;
}

.caniA490 {
    opacity: 0.6;
    fill: #ac988f;
}

.caniA491 {
    opacity: 0.7;
    fill: #47352b;
}

.caniA492 {
    fill: #8a684d;
}

.caniA493 {
    fill: #2d2926;
}

.caniA494 {
    fill: #efe3cd;
}

.caniA495 {
    fill: #995b27;
}

.caniA496 {
    fill: #704c30;
}
