.bogdanoff-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.bogdanoff-st1 {
    fill: #4b5256;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.bogdanoff-st2 {
    fill: #7bafef;
}

.bogdanoff-st3 {
    fill: #ffd346;
}

.bogdanoff-st4 {
    fill: #fff;
}

.bogdanoff-st5 {
    fill: #fbbc2f;
}

.bogdanoff-st6 {
    fill: #1d1d1d;
}

.bogdanoff-st7 {
    fill: #232328;
}

.bogdanoff-st8 {
    fill: #a5b5d9;
}

.bogdanoff-st9 {
    fill: #6f82a3;
}

.bogdanoff-st10 {
    fill: #333335;
}

.bogdanoff-st11 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #05f;
}

.bogdanoff-st12 {
    fill: #f7a800;
}

.bogdanoff-st13 {
    fill: #d8a132;
}

.bogdanoff-st14 {
    fill: #fff;
    stroke: #050303;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.bogdanoff-st15 {
    fill: #3a1408;
    stroke: #050303;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.bogdanoff-st16 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.bogdanoff-st17 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.bogdanoff-st18 {
    fill: #ed7601;
}

.bogdanoff-st19 {
    fill: #d64422;
}

.bogdanoff-st20 {
    fill: #ff9739;
}

.bogdanoff-st21 {
    fill: #2e2520;
}

.bogdanoff-st22 {
    fill: #131210;
}

.bogdanoff-st23 {
    fill: #47362f;
}
