.mantle-0 {
    fill: #566363;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.mantle-1 {
    fill: #9bb2b2;
}

.mantle-2 {
    fill: #7f9998;
}

.mantle-3 {
    fill: #566363;
}

.mantle-4 {
    fill: #707e7f;
}

.mantle-5 {
    fill: #847666;
}

.mantle-6 {
    fill: #59514d;
}

.mantle-7 {
    fill: #a0978e;
}

.mantle-8 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.mantle-9 {
    fill: #334443;
}

.mantle-10 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.mantle-11 {
    fill: #afa68e;
}

.mantle-12 {
    fill: #827964;
}

.mantle-13 {
    fill: #514c42;
}

.mantle-14 {
    fill: #665546;
}

.mantle-15 {
    fill: #4c3a3b;
}

.mantle-16 {
    fill: #8c715d;
}

.mantle-17 {
    fill: #6b614e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.mantle-18 {
    fill: #443326;
}

.mantle-19 {
    fill: #2b2520;
}

.mantle-20 {
    fill: #16120f;
}

.mantle-21 {
    fill: #ddd7bc;
}

.mantle-22 {
    fill: #999;
}

.mantle-23 {
    fill: #fcf6de;
}

.mantle-24 {
    fill: #979599;
}

.mantle-25 {
    fill: #736d76;
}

.mantle-26 {
    fill: #5a595b;
}

.mantle-27 {
    fill: #484749;
}

.mantle-28 {
    fill: #6a776a;
}

.mantle-29 {
    fill: #4f5b4f;
}

.mantle-30 {
    fill: #8a9e8a;
}

.mantle-31 {
    fill: #998b7c;
}

.mantle-32 {
    fill: #3d3f44;
}

.mantle-33 {
    fill: #6b645e;
}

.mantle-34 {
    fill: #1d1d1b;
}

.mantle-35 {
    fill: #aaa29b;
}

.mantle-36 {
    fill: #6b614e;
}
