.chad-st0 {
    fill: #f7a800;
}

.chad-st1 {
    fill: #f18a0e;
}

.chad-st2 {
    fill: #2f2b28;
}

.chad-st3 {
    fill: #ffd346;
}

.chad-st4 {
    fill: #fff;
}

.chad-st5 {
    fill: #fbbc2f;
}

.chad-st6 {
    fill: #1d1d1d;
}

.chad-st7 {
    fill: #00f800;
}

.chad-st8 {
    fill: #372a1d;
}

.chad-st9 {
    fill: #ff0054;
}

.chad-st10 {
    fill: #fbf6c6;
}

.chad-st11 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #05f;
}

.chad-st12 {
    fill: #1e0f00;
}

.chad-st13 {
    clip-path: url(#SVGID_2_);
    fill: #45c3f0;
}

.chad-st14 {
    clip-path: url(#SVGID_2_);
    fill: #1e0f00;
}

.chad-st15 {
    clip-path: url(#SVGID_4_);
    fill: #45c3f0;
}

.chad-st16 {
    clip-path: url(#SVGID_4_);
    fill: #1e0f00;
}

.chad-st17 {
    fill: #d8a132;
}

.chad-st18 {
    fill: #ed7601;
}

.chad-st19 {
    fill: #d64422;
}

.chad-st20 {
    fill: #ff9739;
}

.chad-st21 {
    fill: #fff100;
}
