.harold-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.harold-st1 {
    fill: #99a1aa;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.harold-st2 {
    fill: none;
    stroke: #bfb8c1;
    stroke-miterlimit: 10;
}

.harold-st3 {
    fill: #ffd346;
}

.harold-st4 {
    fill: #fff;
}

.harold-st5 {
    fill: #fbbc2f;
}

.harold-st6 {
    fill: #1d1d1d;
}

.harold-st7 {
    fill: #99a1aa;
}

.harold-st8 {
    fill: #798691;
}

.harold-st9 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.harold-st10 {
    fill: #bfb8c1;
}

.harold-st11 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 0.4;
    stroke-miterlimit: 10;
}

.harold-st12 {
    fill: #bba0a7;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.harold-st13 {
    fill: #f18a0e;
}

.harold-st14 {
    fill: #c9b6ba;
}

.harold-st15 {
    fill: #9b717d;
}

.harold-st16 {
    fill: #dfd6db;
}

.harold-st17 {
    fill: #d8a132;
}

.harold-st18 {
    clip-path: url(#SVGID_2_);
    fill: #697687;
}

.harold-st19 {
    clip-path: url(#SVGID_2_);
}

.harold-st20 {
    clip-path: url(#SVGID_4_);
}

.harold-st21 {
    fill: #697687;
}

.harold-st22 {
    fill: #ed7601;
}

.harold-st23 {
    fill: #d64422;
}

.harold-st24 {
    fill: #d2b6aa;
}

.harold-st25 {
    fill: #441a0e;
}

.harold-st26 {
    fill: #a27967;
}

.harold-st27 {
    fill: #e5d6d1;
}

.harold-st28 {
    fill: #f2e9e7;
}

.harold-st29 {
    fill: #d1c197;
}
