.st0 {
    fill: #718691;
}

.st1 {
    fill: #b3e8ff;
}

.st2 {
    fill: #9fb1bf;
}

.st3 {
    fill: #d1642f;
}

.st4 {
    fill: #b04141;
}

.st5 {
    fill: #ce7345;
}

.st6 {
    fill: #a5643e;
}

.st7 {
    fill: #834c31;
}

.st8 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st9 {
    opacity: 0.2;
    fill: #e0baa5;
}

.st10 {
    fill: #76757b;
}

.st11 {
    fill: #a59a95;
}

.st12 {
    fill: #575759;
}

.st13 {
    fill: #20262b;
}

.st14 {
    fill: #555b60;
}

.st15 {
    fill: #bd703a;
}

.st16 {
    fill: #ad4f0e;
}

.st17 {
    fill: #3a3836;
}

.st18 {
    fill: #a38d7e;
}

.st19 {
    fill: #97837c;
}

.st20 {
    fill: #aa9994;
}

.st21 {
    opacity: 0.3;
}

.st22 {
    opacity: 0.4;
}

.st23 {
    opacity: 0.3;
    fill: #ffffff;
}

.st24 {
    fill: #2f3a3f;
}

.st25 {
    fill: #7f8aa0;
}

.st26 {
    fill: #575d6b;
}

.st27 {
    fill: #3e5460;
}

.st28 {
    fill: #8aa6b9;
}

.st29 {
    fill: #687d87;
}

.st30 {
    fill: #e10000;
}

.st31 {
    opacity: 0.5;
    fill: #575d6b;
}

.st32 {
    fill: #242528;
}

.st33 {
    fill: #3f3f3f;
}

.st34 {
    fill: #9aabb2;
}

.st35 {
    fill: #49565b;
}

.st36 {
    fill: #4f5b60;
}

.st37 {
    opacity: 0.4;
    fill: #99cccc;
}

.st38 {
    opacity: 0.8;
    fill: #99cccc;
}

.st39 {
    fill: #99cccc;
}

.st40 {
    fill: #bdfffd;
}

.st41 {
    fill: #ffffff;
}

.st42 {
    opacity: 0.7;
    fill: #a3efed;
}

.st43 {
    opacity: 0.1;
    fill: #a3efed;
}

.st44 {
    opacity: 0.6;
    fill: #3e5460;
}

.st45 {
    opacity: 0.3;
    fill: #3e5460;
}

.st46 {
    opacity: 0.5;
    fill: #99cccc;
}

.st47 {
    fill: #a3efed;
}

.st48 {
    opacity: 0.5;
    fill: #a3efed;
}

.st49 {
    opacity: 0.7;
    fill: #ffffff;
}

.st50 {
    opacity: 0.2;
    fill: #242528;
}

.st51 {
    opacity: 0.3;
    fill: #242528;
}

.st52 {
    opacity: 0.45;
    fill: #242528;
}

.st53 {
    opacity: 0.7;
    fill: #99cccc;
}

.st54 {
    opacity: 0.3;
    fill: #99cccc;
}

.st55 {
    opacity: 0.3;
    fill: #575d6b;
}

.st56 {
    opacity: 0.3;
    fill: #7e8799;
}

.st57 {
    opacity: 0.6;
    fill: #384051;
}

.st58 {
    opacity: 0.7;
    fill: #384051;
}

.st59 {
    opacity: 0.6;
    fill: #a3efed;
}

.st60 {
    fill: #43545b;
}

.st61 {
    fill: #2b393f;
}

.st62 {
    fill: #21252d;
}

.st63 {
    fill: #84939a;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.st64 {
    fill: #359fc8;
}

.st65 {
    fill: #dc4b43;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.st66 {
    fill: #dc8943;
}

.st67 {
    fill: #dcdc7a;
}

.st68 {
    opacity: 0.5;
    fill: #71cbea;
}

.st69 {
    opacity: 0.2;
    fill: #71cbea;
}

.st70 {
    fill: #b9edf9;
}

.st71 {
    opacity: 0.8;
    fill: #ffffff;
}

.st72 {
    opacity: 0.4;
    fill: #44515e;
}

.st73 {
    fill: #44515e;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.st74 {
    fill: #4f6168;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st75 {
    fill: #359fc8;
    stroke: #384c54;
    stroke-miterlimit: 10;
}

.st76 {
    fill: #71cbea;
}

.st77 {
    opacity: 0.6;
    fill: #b9edf9;
}

.st78 {
    opacity: 0.4;
    fill: #303a42;
}

.st79 {
    fill: #773723;
}

.st80 {
    fill: #ff8d4d;
}

.st81 {
    fill: #384049;
}

.st82 {
    fill: #99c1dd;
}

.st83 {
    fill: #bad5e8;
}

.st84 {
    fill: #566166;
}

.st85 {
    opacity: 0.4;
    fill: #718691;
}

.st86 {
    opacity: 0.3;
    fill: #718691;
}

.st87 {
    opacity: 0.5;
    fill: #718691;
}

.st88 {
    opacity: 0.2;
    fill: #718691;
}

.st89 {
    opacity: 0.5;
    fill: #ffffff;
}

.st90 {
    opacity: 0.4;
    fill: #24c2e8;
}

.st91 {
    opacity: 0.3;
    fill: #24c2e8;
}

.st92 {
    fill: #e0baa5;
}

.st93 {
    opacity: 0.4;
    fill: #20262b;
}

.st94 {
    opacity: 0.3;
    fill: #20262b;
}

.st95 {
    opacity: 0.4;
    fill: #2b393f;
}

.st96 {
    fill: #8087aa;
}

.st97 {
    fill: #8de2df;
}

.st98 {
    opacity: 0.5;
}

.st99 {
    fill: #1e2426;
    stroke: #1e2426;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st100 {
    opacity: 0.5;
    fill: #44515e;
}

.st101 {
    opacity: 0.4;
    fill: #ffffff;
}

.st102 {
    fill: #4f5f66;
}

.st103 {
    fill: #86aab7;
}

.st104 {
    fill: #24c2e8;
}

.st105 {
    fill: none;
    stroke: #2d464f;
    stroke-miterlimit: 10;
}

.st106 {
    fill: #c9578b;
    stroke: #8c0448;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st107 {
    fill: #ff52a9;
}

.st108 {
    fill: #1d1d1d;
}

.st109 {
    fill: #7f6e60;
}

.st110 {
    fill: #c07e42;
}

.st111 {
    fill: #8a6a47;
}

.st112 {
    fill: #3d3b39;
}

.st113 {
    fill: #6e7184;
}

.st114 {
    opacity: 0.6;
    fill: #3a3b42;
}

.st115 {
    fill: #525466;
}

.st116 {
    fill: #44515e;
}

.st117 {
    fill: #84939a;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st118 {
    fill: #514948;
}

.st119 {
    fill: #3d1e1b;
}

.st120 {
    fill: #94a3af;
}

.st121 {
    fill: #6e7e89;
}

.st122 {
    fill: #4d010b;
}

.st123 {
    fill: #610711;
}

.st124 {
    fill: #3d261c;
}

.st125 {
    fill: #281b16;
}

.st126 {
    fill: #6f5638;
}

.st127 {
    fill: #5f0c08;
}

.st128 {
    opacity: 0.4;
    fill: #443525;
}

.st129 {
    fill: #443525;
}

.st130 {
    fill: #9a2211;
}

.st131 {
    fill: #821207;
}

.st132 {
    fill: #c84028;
}

.st133 {
    fill: #28040a;
}

.st134 {
    fill: #c60e2d;
}

.st135 {
    fill: #7f192f;
}

.st136 {
    fill: #af5002;
}

.st137 {
    fill: #c9842b;
}

.st138 {
    opacity: 0.6;
    fill: #28040a;
}

.st139 {
    opacity: 0.3;
    fill: #28040a;
}

.st140 {
    fill: #b2c3ce;
}

.st141 {
    opacity: 0.3;
    fill: #b2c3ce;
}

.st142 {
    fill: #95a2a5;
}

.st143 {
    fill: #ddb294;
}

.st144 {
    fill: #682d27;
}

.st145 {
    fill: #708184;
}

.st146 {
    opacity: 0.4;
    fill: #ddb294;
}

.st147 {
    opacity: 0.1;
    fill: #ddb294;
}

.st148 {
    fill: #a0776a;
}

.st149 {
    fill: #c18963;
}

.st150 {
    fill: #6a7577;
}

.st151 {
    opacity: 0.4;
    fill: #231917;
}

.st152 {
    fill: #903c32;
}

.st153 {
    opacity: 0.4;
    fill: #e5cab7;
}

.st154 {
    opacity: 0.2;
    fill: #ff6627;
}

.st155 {
    fill: #5b6f70;
}

.st156 {
    fill: #5a2c1f;
}

.st157 {
    fill: #411306;
}

.st158 {
    fill: #845145;
}

.st159 {
    opacity: 0.3;
    fill: #845145;
}

.st160 {
    opacity: 0.2;
    fill: #845145;
}

.st161 {
    fill: none;
    stroke: #411306;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st162 {
    fill: none;
    stroke: #5a2c1f;
    stroke-miterlimit: 10;
}

.st163 {
    fill: #1e0a06;
}

.st164 {
    opacity: 0.4;
    fill: #1e0a06;
}

.st165 {
    fill: #618a9e;
}

.st166 {
    fill: #79b9d3;
}

.st167 {
    fill: #4e606c;
}

.st168 {
    fill: #3a2a29;
}

.st169 {
    fill: #35373a;
}

.st170 {
    opacity: 0.4;
    fill: #8aa6b9;
}

.st171 {
    opacity: 0.3;
    fill: #8aa6b9;
}

.st172 {
    fill: #384c54;
    stroke: #384c54;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st173 {
    fill: #dc4b43;
}

.st174 {
    fill: #84939a;
}

.st175 {
    opacity: 0.8;
    fill: #44515e;
}

.st176 {
    opacity: 0.3;
    fill: #44515e;
}

.st177 {
    opacity: 0.4;
    fill: #dc8943;
}

.st178 {
    opacity: 0.3;
    fill: #dc4b43;
}

.st179 {
    opacity: 0.3;
    fill: #dcdc7a;
}

.st180 {
    fill: #dcdcac;
}

.st181 {
    opacity: 0.6;
    fill: #71cbea;
}

.st182 {
    fill: #3c5159;
}

.st183 {
    fill: #d7f2ff;
}

.st184 {
    fill: #9ba4b2;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.st185 {
    fill: #ffffff;
    stroke: #757c89;
    stroke-miterlimit: 10;
}

.st186 {
    fill: #88b1ff;
    stroke: #000098;
    stroke-miterlimit: 10;
}

.st187 {
    fill: #9ba4b2;
}

.st188 {
    fill: #30383a;
}

.st189 {
    fill: #3e88ff;
}

.st190 {
    fill: #6daf6b;
}

.st191 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st192 {
    opacity: 0.6;
}

.st193 {
    opacity: 0.8;
    fill: #313647;
}

.st194 {
    opacity: 0.1;
}

.st195 {
    fill: #787a90;
}

.st196 {
    fill: #a2a6ce;
}

.st197 {
    opacity: 0.2;
    fill: #3676b6;
}

.st198 {
    fill: #b7b8c4;
}

.st199 {
    opacity: 0.5;
    fill: #998e84;
}

.st200 {
    fill: #a7406a;
}

.st201 {
    fill: #c1c5e8;
}

.st202 {
    fill: #67273c;
}

.st203 {
    opacity: 0.4;
    fill: #525466;
}

.st204 {
    opacity: 0.3;
    fill: #525466;
}

.st205 {
    opacity: 0.2;
    fill: #525466;
}

.st206 {
    opacity: 0.3;
    fill: #353947;
}

.st207 {
    opacity: 0.6;
    fill: #525466;
}

.st208 {
    opacity: 0.2;
    fill: #ffb627;
}

.st209 {
    fill: #30363a;
}

.st210 {
    fill: #859fb5;
}

.st211 {
    opacity: 0.3;
    fill: #accce2;
}

.st212 {
    opacity: 0.3;
    fill: #86c5ea;
}

.st213 {
    opacity: 0.7;
    fill: #86c5ea;
}

.st214 {
    fill: #b6def2;
}

.st215 {
    fill: #86c5ea;
}

.st216 {
    opacity: 0.5;
    fill: #b6def2;
}

.st217 {
    opacity: 0.6;
    fill: #a2a6ce;
}

.st218 {
    opacity: 0.2;
    fill: #86c5ea;
}

.st219 {
    fill: #666666;
}

.st220 {
    fill: #282421;
}

.st221 {
    opacity: 0.3;
    fill: #666666;
}

.st222 {
    opacity: 0.8;
    fill: #666666;
}

.st223 {
    opacity: 0.4;
    fill: #666666;
}

.st224 {
    fill: #898989;
}

.st225 {
    opacity: 0.5;
    fill: #898989;
}

.st226 {
    opacity: 0.15;
    fill: #d77c00;
}

.st227 {
    opacity: 0.3;
    fill: #ffd199;
}

.st228 {
    opacity: 0.5;
    fill: #525466;
}

.st229 {
    fill: #333333;
}

.st230 {
    fill: #4c5860;
}

.st231 {
    fill: #9fb1bf;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.st232 {
    fill: #384049;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st233 {
    fill: #9fb1bf;
    stroke: #494d56;
    stroke-miterlimit: 10;
}

.st234 {
    opacity: 0.3;
    fill: #b5b1b0;
}

.st235 {
    fill: #723a15;
}

.st236 {
    fill: #3f4b4f;
    stroke: #1e2426;
    stroke-miterlimit: 10;
}

.st237 {
    opacity: 0.5;
    fill: #1e2426;
}

.st238 {
    opacity: 0.2;
    fill: #1e2426;
}

.st239 {
    fill: none;
    stroke: #1e2426;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st240 {
    opacity: 0.2;
    fill: #b9edf9;
}

.st241 {
    fill: #708593;
}

.st242 {
    fill: #9fb1bf;
    stroke: #4b5359;
    stroke-miterlimit: 10;
}

.st243 {
    fill: #4b5359;
}

.st244 {
    opacity: 0.5;
    fill: #384049;
}

.st245 {
    fill: none;
    stroke: #727384;
    stroke-miterlimit: 10;
}

.st246 {
    fill: #212e3a;
}

.st247 {
    opacity: 0.2;
    fill: #ffffff;
}

.st248 {
    fill: #444d51;
}

.st249 {
    opacity: 0.5;
    fill: #24c2e8;
}

.st250 {
    fill: #80a1af;
}

.st251 {
    opacity: 0.7;
    fill: #264249;
}

.st252 {
    opacity: 0.3;
    fill: #5c402c;
}

.st253 {
    fill: #a5503c;
}

.st254 {
    fill: #4b2f3d;
}

.st255 {
    fill: #bfb2af;
}

.st256 {
    fill: #cfc3b3;
}

.st257 {
    fill: #c89e00;
}

.st258 {
    fill: #ffd44d;
}

.st259 {
    fill: #dc7500;
}

.st260 {
    fill: #383b3f;
}

.st261 {
    fill: #93948c;
}

.st262 {
    fill: #c1c1c1;
}

.st263 {
    fill: #46b2a8;
}

.st264 {
    fill: #5f6768;
}

.st265 {
    fill: #8ea4a5;
}

.st266 {
    fill: #53ead8;
}

.st267 {
    fill: #217c71;
}

.st268 {
    opacity: 0.6;
    fill: #ffffff;
}

.st269 {
    fill: #d8a664;
}

.st270 {
    fill: #e59a41;
}

.st271 {
    fill: #4c4945;
}

.st272 {
    opacity: 0.4;
    fill: #aa7950;
}

.st273 {
    fill: #d6a85a;
}

.st274 {
    fill: #a0bb40;
}

.st275 {
    fill: #cc8e36;
}

.st276 {
    fill: #57585b;
}

.st277 {
    fill: #d6a3bb;
}

.st278 {
    fill: #e8cfdb;
}

.st279 {
    fill: #4e2212;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st280 {
    fill: #48423c;
}

.st281 {
    fill: #ba6509;
}

.st282 {
    fill: #9b4e27;
}

.st283 {
    fill: #7c4209;
}

.st284 {
    fill: #d88736;
}

.st285 {
    fill: #565352;
}

.st286 {
    fill: #966233;
}

.st287 {
    fill: #ac7741;
}

.st288 {
    fill: #debd90;
}

.st289 {
    fill: #796f6e;
}

.st290 {
    fill: #3a3a3a;
}

.st291 {
    fill: #606362;
}

.st292 {
    fill: #7a7a7a;
}

.st293 {
    fill: #a36d4b;
}

.st294 {
    fill: #7f5234;
}

.st295 {
    fill: #50281b;
}

.st296 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st297 {
    fill: #843c20;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st298 {
    fill: #535356;
}

.st299 {
    fill: #7c706c;
}

.st300 {
    fill: #5b5655;
}

.st301 {
    fill: #b58272;
}

.st302 {
    fill: #1d1d1b;
}

.st303 {
    fill: #44403f;
}

.st304 {
    fill: #d8a598;
}

.st305 {
    fill: #857365;
}

.st306 {
    fill: #aa7950;
}

.st307 {
    fill: #725a5a;
}

.st308 {
    fill: #665f5d;
}

.st309 {
    opacity: 0.3;
    fill: #aa7950;
}

.st310 {
    fill: #897676;
}

.st311 {
    fill: #9e9086;
}

.st312 {
    fill: #b5b1b0;
}

.st313 {
    fill: #4f5456;
}

.st314 {
    opacity: 0.4;
    fill: #4f5456;
}

.st315 {
    opacity: 0.3;
    fill: #4f5456;
}

.st316 {
    opacity: 0.7;
    fill: #76757b;
}

.st317 {
    opacity: 0.5;
    fill: #4f5456;
}

.st318 {
    opacity: 0.5;
    fill: #aa7950;
}

.st319 {
    opacity: 0.7;
    fill: #aa7950;
}

.st320 {
    fill: #626268;
}

.st321 {
    fill: #b28862;
}

.st322 {
    fill: #9ba8bb;
}

.st323 {
    fill: #aa571f;
}

.st324 {
    fill: #363a42;
}

.st325 {
    fill: #a06b60;
}

.st326 {
    fill: #d29791;
}

.st327 {
    opacity: 0.2;
}

.st328 {
    fill: #a16944;
}

.st329 {
    fill: #988d79;
}

.st330 {
    fill: #f1fbfd;
}

.st331 {
    fill: none;
}

.st332 {
    fill: #a18570;
}

.st333 {
    opacity: 0.5;
    fill: #d4baad;
}

.st334 {
    fill: #cbb4ac;
}

.st335 {
    fill: #585860;
}

.st336 {
    fill: #d8cac5;
}

.st337 {
    fill: #bf9f8a;
}

.st338 {
    fill: #675660;
}

.st339 {
    fill: #7e593f;
}

.st340 {
    fill: #a14a40;
}

.st341 {
    fill: #ac6b67;
}

.st342 {
    opacity: 0.6;
    fill: #7a4b55;
}

.st343 {
    fill: #ba8563;
}

.st344 {
    fill: #321f18;
}

.st345 {
    fill: #c28460;
}

.st346 {
    fill: #b39da4;
}

.st347 {
    fill: #c5acbf;
}

.st348 {
    opacity: 0.7;
    fill: #5b5350;
}

.st349 {
    opacity: 0.8;
    fill: #5b5350;
}

.st350 {
    opacity: 0.6;
    fill: #5b5350;
}

.st351 {
    opacity: 0.4;
    fill: #5b5350;
}

.st352 {
    fill: #cec4cc;
}

.st353 {
    fill: #443f3e;
}

.st354 {
    fill: #5b5350;
}

.st355 {
    fill: #d38497;
}

.st356 {
    fill: #a86779;
}

.st357 {
    fill: #30323a;
}

.st358 {
    fill: #50535b;
}

.st359 {
    opacity: 0.4;
    fill: #c5acbf;
}

.st360 {
    opacity: 0.6;
    fill: #60535d;
}

.st361 {
    fill: #b97245;
}

.st362 {
    opacity: 0.4;
    fill: #e7c4ab;
}

.st363 {
    fill: #a59598;
}

.st364 {
    fill: #8e6c5c;
}

.st365 {
    fill: #d5c7c7;
}

.st366 {
    fill: #6c6263;
}

.st367 {
    fill: #434247;
}

.st368 {
    fill: #9d7078;
}

.st369 {
    fill: #cfc3a7;
}

.st370 {
    fill: #7c4d58;
}

.st371 {
    fill: #27262b;
}

.st372 {
    opacity: 0.7;
    fill: #96a1bb;
}

.st373 {
    fill: #96a1bb;
}

.st374 {
    fill: #f8cdbe;
}

.st375 {
    fill: #deddd8;
}

.st376 {
    fill: #bc7e4b;
}

.st377 {
    opacity: 0.7;
    fill: #796f6e;
}

.st378 {
    opacity: 0.4;
    fill: #956034;
}

.st379 {
    opacity: 0.3;
    fill: #796f6e;
}

.st380 {
    opacity: 0.6;
    fill: #956034;
}

.st381 {
    fill: #574f4c;
}

.st382 {
    fill: #2f2a30;
}

.st383 {
    opacity: 0.3;
    fill: #deddd8;
}

.st384 {
    opacity: 0.6;
    fill: #deddd8;
}

.st385 {
    fill: #423636;
}

.st386 {
    opacity: 0.5;
    fill: #796f6e;
}

.st387 {
    opacity: 0.2;
    fill: #fc9e2d;
}

.st388 {
    opacity: 0.4;
    fill: #844f23;
}

.st389 {
    opacity: 0.8;
    fill: #844f23;
}

.st390 {
    opacity: 0.7;
    fill: #844f23;
}

.st391 {
    fill: #d39654;
}

.st392 {
    fill: #af744b;
}

.st393 {
    fill: #d6b9a5;
}

.st394 {
    fill: #c4a48d;
}

.st395 {
    opacity: 0.5;
    fill: #413f40;
}

.st396 {
    fill: #3f3833;
}

.st397 {
    fill: #5a3e41;
}

.st398 {
    fill: #eb92a9;
}

.st399 {
    fill: #987079;
}

.st400 {
    fill: #99877f;
}

.st401 {
    fill: #999999;
}

.st402 {
    opacity: 0.3;
    fill: #413f40;
}

.st403 {
    fill: #404140;
}

.st404 {
    fill: #606060;
}

.st405 {
    fill: #704f39;
}

.st406 {
    fill: #855037;
}

.st407 {
    fill: #957869;
}

.st408 {
    fill: #af978d;
}

.st409 {
    fill: #5e6474;
}

.st410 {
    fill: #8e9faf;
}

.st411 {
    fill: #34353a;
}

.st412 {
    fill: #632d17;
}

.st413 {
    fill: #817468;
}

.st414 {
    fill: #634b4e;
}

.st415 {
    fill: #47484c;
}

.st416 {
    fill: #4d4f54;
}

.st417 {
    fill: #989b9a;
}

.st418 {
    fill: #ccc8c3;
}

.st419 {
    fill: #8a6652;
}

.st420 {
    fill: #9b7e70;
}

.st421 {
    opacity: 0.3;
    fill: #e36108;
}

.st422 {
    opacity: 0.58;
    fill: #989b9a;
}

.st423 {
    opacity: 0.5;
    fill: #b6b0aa;
}

.st424 {
    opacity: 0.6;
    fill: #20262b;
}

.st425 {
    fill: #b6b0aa;
}

.st426 {
    fill: #a3a6ad;
}

.st427 {
    opacity: 0.4;
    fill: #d5d4cf;
}

.st428 {
    opacity: 0.5;
    fill: #d5d4cf;
}

.st429 {
    opacity: 0.5;
    fill: #dcd5c3;
}

.st430 {
    fill: #dcd5c3;
}

.st431 {
    opacity: 0.4;
    fill: #dcd5c3;
}

.st432 {
    fill: #715f55;
}

.st433 {
    fill: #84635c;
}

.st434 {
    fill: #362418;
}

.st435 {
    opacity: 0.5;
    fill: #221f26;
}

.st436 {
    opacity: 0.7;
    fill: #221f26;
}

.st437 {
    fill: #965a64;
}

.st438 {
    opacity: 0.5;
    fill: #c98377;
}

.st439 {
    fill: #7a4b55;
}

.st440 {
    opacity: 0.1;
    fill: #fffff8;
}

.st441 {
    opacity: 0.2;
    fill: #fffff8;
}

.st442 {
    opacity: 0.5;
    fill: #5e4c43;
}

.st443 {
    opacity: 0.7;
    fill: #493630;
}

.st444 {
    opacity: 0.5;
    fill: #7c4f3f;
}

.st445 {
    fill: #b6886a;
}

.st446 {
    opacity: 0.5;
    fill: #c67c4b;
}

.st447 {
    fill: #5c402c;
}

.st448 {
    opacity: 0.3;
    fill: #c67c4b;
}

.st449 {
    fill: #d8c1a2;
}

.st450 {
    fill: #844f23;
}

.st451 {
    opacity: 0.7;
    fill: #6e4736;
}

.st452 {
    fill: #c3995d;
}

.st453 {
    opacity: 0.8;
    fill: #773723;
}

.st454 {
    fill: #5b2b03;
}

.st455 {
    fill: #cc9292;
}

.st456 {
    opacity: 0.5;
    fill: #846969;
}

.st457 {
    opacity: 0.5;
    fill: #efcaa0;
}

.st458 {
    opacity: 0.7;
    fill: #efcaa0;
}

.st459 {
    fill: #efcaa0;
}

.st460 {
    opacity: 0.3;
    fill: #efcaa0;
}

.st461 {
    fill: #895130;
}

.st462 {
    fill: #53555e;
}

.st463 {
    fill: #7c666c;
}

.st464 {
    fill: #c66831;
}

.st465 {
    fill: #893b14;
}

.st466 {
    fill: #150707;
}

.st467 {
    fill: #915233;
}

.st468 {
    fill: #aa6644;
}

.st469 {
    opacity: 0.4;
    fill: #150707;
}

.st470 {
    fill: #a06e7d;
}

.st471 {
    fill: #8189a5;
}

.st472 {
    fill: #adb8d8;
}

.st473 {
    opacity: 0.3;
    fill: #c07e42;
}

.st474 {
    opacity: 0.4;
    fill: #c28460;
}

.st475 {
    fill: #bdf1ff;
}

.st476 {
    opacity: 0.3;
    fill: #bdf1ff;
}

.st477 {
    opacity: 0.4;
    fill: #5fff48;
}

.st478 {
    opacity: 0.4;
    fill: #eb7e00;
}

.st479 {
    opacity: 0.3;
    fill: #384049;
}

.st480 {
    opacity: 0.2;
    fill: #384049;
}

.st481 {
    opacity: 0.4;
    fill: #895130;
}

.st482 {
    fill: #b9d2fc;
}

.st483 {
    fill: #a7406a;
    stroke: #414356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st484 {
    fill: #6d3f45;
}

.st485 {
    fill: #7b5241;
}

.st486 {
    fill: #c8b6a0;
}

.st487 {
    fill: #b78c61;
}

.st488 {
    fill: #e6d5c5;
}

.st489 {
    fill: #c0a288;
}

.st490 {
    opacity: 0.6;
    fill: #ac988f;
}

.st491 {
    opacity: 0.7;
    fill: #47352b;
}

.st492 {
    fill: #8a684d;
}

.st493 {
    fill: #2d2926;
}

.st494 {
    fill: #efe3cd;
}

.st495 {
    fill: #995b27;
}

.st496 {
    fill: #704c30;
}
