.pepe-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.pepe-st1 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pepe-st2 {
    fill: #ffd346;
}

.pepe-st3 {
    fill: #fff;
}

.pepe-st4 {
    fill: #fbbc2f;
}

.pepe-st5 {
    fill: #1d1d1d;
}

.pepe-st6 {
    fill: #2433ff;
}

.pepe-st7 {
    fill: #1f2bd9;
}

.pepe-st8 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.pepe-st9 {
    fill: #f7a800;
}

.pepe-st10 {
    fill: #f18a0e;
}

.pepe-st11 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.pepe-st12 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.pepe-st13 {
    fill: #ed7601;
}

.pepe-st14 {
    fill: #d64422;
}

.pepe-st15 {
    fill: #e8511c;
}

.pepe-st16 {
    fill: #569c3a;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.pepe-st17 {
    fill: #467c2d;
}
