.el-risitas-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.el-risitas-st1 {
    fill: #ffd346;
}

.el-risitas-st2 {
    fill: #fff;
}

.el-risitas-st3 {
    fill: #fbbc2f;
}

.el-risitas-st4 {
    fill: #1d1d1d;
}

.el-risitas-st5 {
    fill: #d25a63;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.el-risitas-st6 {
    fill: #a48c70;
    stroke: #000;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.el-risitas-st7 {
    fill: #decbbc;
}

.el-risitas-st8 {
    fill: #a48c70;
}

.el-risitas-st9 {
    fill: #765;
}

.el-risitas-st10 {
    fill: #f18a0e;
}

.el-risitas-st11 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.el-risitas-st12 {
    fill: #d8a132;
}

.el-risitas-st13 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.el-risitas-st14 {
    clip-path: url(#SVGID_2_);
}

.el-risitas-st15 {
    clip-path: url(#SVGID_4_);
}

.el-risitas-st16 {
    fill: #4f2c2a;
}

.el-risitas-st17 {
    fill: #684736;
}

.el-risitas-st18 {
    fill: #ed7601;
}

.el-risitas-st19 {
    fill: #5a2113;
}

.el-risitas-st20 {
    fill: #953100;
}

.el-risitas-st21 {
    fill: #d64422;
}

.el-risitas-st22 {
    fill: #ceb89b;
}

.el-risitas-st23 {
    fill: #3f150d;
}

.el-risitas-st24 {
    fill: #f2892a;
}

.el-risitas-st25 {
    opacity: 0.54;
    fill: #fff;
}

.el-risitas-st26 {
    opacity: 0.28;
    fill: #fff;
}

.el-risitas-st27 {
    fill: #6b665e;
}

.el-risitas-st28 {
    fill: #383432;
}

.el-risitas-st29 {
    fill: #827d75;
}

.el-risitas-st30 {
    opacity: 0.7;
    fill: #827d75;
}

.el-risitas-st31 {
    fill: #afaeae;
}

.el-risitas-st32 {
    fill: #4c4945;
}
