.drake_v1_st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.drake_v1_st1 {
    fill: #ffd346;
}

.drake_v1_st2 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.drake_v1_st3 {
    fill: #f18a0e;
}

.drake_v1_st4 {
    fill: #fff;
}

.drake_v1_st5 {
    fill: #fbbc2f;
}

.drake_v1_st6 {
    fill: #1d1d1d;
}

.drake_v1_st7 {
    fill: #ffd400;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.drake_v1_st8 {
    fill: #cea600;
}

.drake_v1_st9 {
    fill: #8e722b;
}

.drake_v1_st10 {
    fill: #f65002;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.drake_v1_st11 {
    fill: #af3100;
}

.drake_v1_st12 {
    fill: #ff6b31;
}

.drake_v1_st13 {
    fill: #ffd071;
}

.drake_v1_st14 {
    fill: #f65002;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.drake_v1_st15 {
    fill: #f7a800;
}

.drake_v1_st16 {
    fill: #d8a132;
}

.drake_v1_st17 {
    fill: #606060;
}

.drake_v1_st18 {
    fill: #56514f;
}

.drake_v1_st19 {
    fill: #3a3735;
}

.drake_v1_st20 {
    fill: #ed7601;
}

.drake_v1_st21 {
    fill: #d64422;
}

.drake_v1_st22 {
    fill: #f2892a;
}

.drake_v1_st23 {
    opacity: 0.28;
    fill: #fff;
}

.drake_v1_st24 {
    fill: #302d2c;
}

.drake_v1_st25 {
    fill: #633;
}

.drake_v1_st26 {
    fill: #7f7978;
}

.drake_v1_st27 {
    fill: #666362;
}
