.jedi-1-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.jedi-1-st1 {
    fill: #ffd346;
}

.jedi-1-st2 {
    fill: #fff;
}

.jedi-1-st3 {
    fill: #fbbc2f;
}

.jedi-1-st4 {
    fill: #1d1d1d;
}

.jedi-1-st5 {
    fill: #9bb2b2;
}

.jedi-1-st6 {
    fill: #7f9998;
}

.jedi-1-st7 {
    fill: #566363;
}

.jedi-1-st8 {
    fill: #707e7f;
}

.jedi-1-st9 {
    fill: #847666;
}

.jedi-1-st10 {
    fill: #59514d;
}

.jedi-1-st11 {
    fill: #a0978e;
}

.jedi-1-st12 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.jedi-1-st13 {
    fill: #afa68e;
}

.jedi-1-st14 {
    fill: #827964;
}

.jedi-1-st15 {
    fill: #514c42;
}

.jedi-1-st16 {
    fill: #665546;
}

.jedi-1-st17 {
    fill: #443326;
}

.jedi-1-st18 {
    fill: #8c715d;
}

.jedi-1-st19 {
    fill: #2b2520;
}

.jedi-1-st20 {
    fill: #1d1d1b;
}

.jedi-1-st21 {
    fill: #ddd7bc;
}

.jedi-1-st22 {
    fill: #999;
}

.jedi-1-st23 {
    fill: #fcf6de;
}

.jedi-1-st24 {
    fill: #979599;
}

.jedi-1-st25 {
    fill: #736d76;
}

.jedi-1-st26 {
    fill: #5a595b;
}

.jedi-1-st27 {
    fill: #6a776a;
}

.jedi-1-st28 {
    fill: #4f5b4f;
}

.jedi-1-st29 {
    fill: #8a9e8a;
}

.jedi-1-st30 {
    fill: #998b7c;
}

.jedi-1-st31 {
    fill: #3d3f44;
}

.jedi-1-st32 {
    fill: #63472e;
}

.jedi-1-st33 {
    fill: #6b645e;
}

.jedi-1-st34 {
    fill: #8c5c22;
}

.jedi-1-st35 {
    fill: #4c3a3b;
}

.jedi-1-st36 {
    fill: #301e20;
}

.jedi-1-st37 {
    fill: #7f4834;
}

.jedi-1-st38 {
    fill: #997420;
}

.jedi-1-st39 {
    fill: #aaa29b;
}
