.drama0 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.drama1 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.drama2 {
    fill: #f7a800;
}

.drama3 {
    fill: #f18a0e;
}

.drama4 {
    fill: #ffd346;
}

.drama5 {
    fill: #fff;
}

.drama6 {
    fill: #fbbc2f;
}

.drama7 {
    fill: #1d1d1d;
}

.drama8 {
    fill: #35373a;
    stroke: #000;
    stroke-width: 2.9655;
    stroke-miterlimit: 10;
}

.drama9 {
    fill: #202123;
}

.drama10 {
    fill: #35373a;
}

.drama11 {
    fill: #4d5054;
}

.drama12 {
    fill: none;
    stroke: #000;
    stroke-width: 2.9655;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.drama13 {
    opacity: 0.5;
    fill: #ffd346;
}

.drama14 {
    fill: #ffdc7b;
}

.drama15 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.drama16 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3.0524;
    stroke-miterlimit: 10;
}

.drama17 {
    clip-path: url(#SVGID_2_);
}

.drama18 {
    fill: #4c3829;
    stroke: #000;
    stroke-width: 2.7778;
    stroke-miterlimit: 10;
}

.drama19 {
    fill: none;
}

.drama20 {
    clip-path: url(#SVGID_4_);
}

.drama21 {
    fill: #4c3829;
    stroke: #000;
    stroke-width: 2.7217;
    stroke-miterlimit: 10;
}

.drama22 {
    fill: #706259;
}

.drama23 {
    fill: #ed7601;
}

.drama24 {
    fill: #d64422;
}

.drama25 {
    fill: #5a2113;
}

.drama26 {
    fill: #3f150d;
}

.drama27 {
    fill: #ceb89b;
}

.drama28 {
    fill: #934d4c;
}

.drama29 {
    fill: #c15d5d;
}

.drama30 {
    fill: #773e3e;
}

.drama31 {
    fill: #877b6e;
}

.drama32 {
    fill: #f48b2c;
}

.drama33 {
    fill: #ffb273;
}

.drama34 {
    fill: #f2892a;
}

.drama35 {
    fill: #d8a132;
}

.drama36 {
    fill: #a88b6f;
}

.drama37 {
    fill: #9d774b;
}

.drama38 {
    fill: #6b543d;
}

.drama39 {
    fill: #cca879;
}

.drama40 {
    fill: #ffe6c7;
}

.drama41 {
    fill: none;
    stroke: #000;
    stroke-width: 0.4;
    stroke-miterlimit: 10;
}

.drama42 {
    fill: #7a6436;
}

.drama43 {
    fill: #4f3d1e;
}
