.L-0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.L-1 {
    fill: #ffd346;
}

.L-2 {
    fill: #1d1d1d;
}

.L-3 {
    fill: #f18a0e;
}

.L-4 {
    fill: #fff;
}

.L-5 {
    fill: #fbbc2f;
}

.L-6 {
    fill: #897971;
}

.L-7 {
    fill: #665e5b;
}

.L-8 {
    fill: #cad4d8;
}

.L-9 {
    fill: #505151;
}

.L-10 {
    fill: #383838;
}

.L-11 {
    fill: #1a1c1c;
}

.L-12 {
    fill: #7c888c;
}

.L-13 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.L-14 {
    fill: #3f3a38;
}

.L-15 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.L-16 {
    fill: #f7a800;
}

.L-17 {
    fill: #d8a132;
}

.L-18 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.L-19 {
    fill: #d3dbdd;
    stroke: #899293;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.L-20 {
    fill: #899293;
}

.L-21 {
    fill: #ed7601;
}

.L-22 {
    fill: #d64422;
}

.L-23 {
    fill: #7c3c2f;
}

.L-24 {
    fill: #eff3f4;
}

.L-25 {
    fill: #f2892a;
}

.L-26 {
    opacity: 0.3;
    fill: #fff;
}

.L-27 {
    fill: #92a6ad;
}

.L-28 {
    fill: #bdc7c9;
}

.L-29 {
    fill: #d3dbdd;
}

.L-30 {
    fill: none;
    stroke: #899293;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
