.puke-0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.puke-1 {
    fill: #ffd346;
}

.puke-2 {
    fill: #f18a0e;
}

.puke-3 {
    fill: #fff;
}

.puke-4 {
    fill: #fbbc2f;
}

.puke-5 {
    fill: #1d1d1d;
}

.puke-6 {
    fill: #d8a132;
}

.puke-7 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.puke-8 {
    fill: #f7a800;
}

.puke-9 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.puke-10 {
    fill: #5b504d;
}

.puke-11 {
    fill: #535556;
}

.puke-12 {
    opacity: 0.8;
    fill: #004100;
}

.puke-13 {
    fill: #ed7601;
}

.puke-14 {
    fill: #d64422;
}

.puke-15 {
    fill: #7c3c2f;
}

.puke-16 {
    fill: #562c25;
}

.puke-17 {
    fill: #f2892a;
}

.puke-18 {
    fill: #d39090;
}

.puke-19 {
    opacity: 0.3;
    fill: #7c3c2f;
}

.puke-20 {
    opacity: 0.4;
    fill: #7c3c2f;
}

.puke-21 {
    fill: #8e5c5c;
}

.puke-22 {
    fill: #efabab;
}

.puke-23 {
    fill: #ffd9d9;
}

.puke-24 {
    opacity: 0.3;
    fill: #fff;
}

.puke-25 {
    fill: #bfab6e;
}

.puke-26 {
    fill: #dbd1b4;
}

.puke-27 {
    fill: #978658;
}

.puke-28 {
    fill: #bbb083;
}

.puke-29 {
    fill: #d2c6a0;
}

.puke-30 {
    fill: #c4bd9f;
}

.puke-31 {
    fill: #a8996f;
}

.puke-32 {
    fill: #d0c7a0;
    stroke: #b2aa86;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
