.stn0 {
    fill: #f7a800;
    stnroke: #000000;
    stnroke-width: 3;
    stnroke-miterlimit: 10;
}
.stn1 {
    fill: #fbbc2f;
}
.stn2 {
    fill: #ffd346;
}
.stn3 {
    fill: #f7a800;
}
.stn4 {
    fill: #f18a0e;
}
.stn5 {
    fill: #ffffff;
}
.stn6 {
    fill: #1d1d1d;
}
.stn7 {
    fill: #d8a132;
}
.stn8 {
    fill: #638cda;
}
.stn9 {
    fill: #27427e;
}
.stn10 {
    fill: #444444;
}
.stn11 {
    fill: #1d1d1e;
}
.stn12 {
    fill: #bc584b;
}
.stn13 {
    fill: #f4e2d7;
}
.stn14 {
    fill: #8e4742;
}
.stn15 {
    fill: #b2a29a;
}
.stn16 {
    fill: #c64f46;
}
.stn17 {
    fill: #868283;
}
.stn18 {
    fill: #58595e;
}
.stn19 {
    fill: #602f2e;
}
.stn20 {
    fill: none;
    stnroke: #000000;
    stnroke-width: 3;
    stnroke-miterlimit: 10;
}
.stn21 {
    fill: #252d3a;
}
.stn22 {
    fill: #212428;
}
.stn23 {
    fill: #423d39;
}
.stn24 {
    fill: #6c737a;
}
.stn25 {
    fill: #61666d;
}
.stn26 {
    fill: #6b717c;
}
.stn27 {
    fill: #7c5b3d;
}
.stn28 {
    fill: #ba6f31;
}
.stn29 {
    fill: #383a42;
}
.stn30 {
    fill: #5e6063;
}
.stn31 {
    fill: #7f6659;
}
.stn32 {
    fill: #b59485;
}
.stn33 {
    fill: #5f5f63;
}
.stn34 {
    fill: #ffffff;
    stnroke: #000000;
    stnroke-width: 3;
    stnroke-miterlimit: 10;
}
.stn35 {
    fill: #7f3009;
}
.stn36 {
    opacity: 0.3;
    fill: #ffffff;
}
.stn37 {
    fill: #2d2d30;
}
.stn38 {
    fill: #444449;
}
.stn39 {
    fill: #ed7601;
}
.stn40 {
    fill: #d64422;
}
.stn41 {
    fill: #f2892a;
}
.stn42 {
    fill: #b7b19f;
}
.stn43 {
    fill: #774e4b;
}
.stn44 {
    opacity: 0.3;
}
.stn45 {
    fill: #232326;
}
.stn46 {
    fill: #282524;
}
.stn47 {
    fill: #9b7b59;
}
.stn48 {
    fill: #59493a;
}
.stn49 {
    opacity: 0.7;
    fill: #59493a;
}
.stn50 {
    opacity: 0.6;
    fill: #59493a;
}
.stn51 {
    fill: #493c32;
}
.stn52 {
    fill: #56575e;
}
.stn53 {
    fill: #7c7c7c;
}
.stn54 {
    fill: #bfbfbf;
}
.stn55 {
    fill: #3f4047;
}
.stn56 {
    fill: #ffdc78;
}
.stn57 {
    fill: #49423e;
}
.stn58 {
    fill: #2d2927;
}
.stn59 {
    fill: #6d6764;
}
.stn60 {
    fill: #7c6652;
}
.stn61 {
    fill: #4a4a4c;
}
.stn62 {
    fill: #313135;
}
.stn63 {
    fill: #565250;
}
.stn64 {
    fill: #3d3a39;
}
