.sto0 {
    fill: #f7a800;
    storoke: #000000;
    storoke-width: 3;
    storoke-miterlimit: 10;
}
.sto1 {
    fill: #fbbc2f;
}
.sto2 {
    fill: #ffd346;
}
.sto3 {
    fill: #f7a800;
}
.sto4 {
    fill: #f18a0e;
}
.sto5 {
    fill: #ffffff;
}
.sto6 {
    fill: #1d1d1d;
}
.sto7 {
    fill: #d8a132;
}
.sto8 {
    fill: #638cda;
}
.sto9 {
    fill: #27427e;
}
.sto10 {
    fill: #444444;
}
.sto11 {
    fill: #1d1d1e;
}
.sto12 {
    fill: #bc584b;
}
.sto13 {
    fill: #f4e2d7;
}
.sto14 {
    fill: #8e4742;
}
.sto15 {
    fill: #b2a29a;
}
.sto16 {
    fill: #c64f46;
}
.sto17 {
    fill: #868283;
}
.sto18 {
    fill: #58595e;
}
.sto19 {
    fill: #602f2e;
}
.sto20 {
    fill: none;
    storoke: #000000;
    storoke-width: 3;
    storoke-miterlimit: 10;
}
.sto21 {
    fill: #252d3a;
}
.sto22 {
    fill: #212428;
}
.sto23 {
    fill: #423d39;
}
.sto24 {
    fill: #6c737a;
}
.sto25 {
    fill: #61666d;
}
.sto26 {
    fill: #6b717c;
}
.sto27 {
    fill: #7c5b3d;
}
.sto28 {
    fill: #ba6f31;
}
.sto29 {
    fill: #383a42;
}
.sto30 {
    fill: #5e6063;
}
.sto31 {
    fill: #7f6659;
}
.sto32 {
    fill: #b59485;
}
.sto33 {
    fill: #5f5f63;
}
.sto34 {
    fill: #ffffff;
    storoke: #000000;
    storoke-width: 3;
    storoke-miterlimit: 10;
}
.sto35 {
    fill: #7f3009;
}
.sto36 {
    opacity: 0.3;
    fill: #ffffff;
}
.sto37 {
    fill: #2d2d30;
}
.sto38 {
    fill: #444449;
}
.sto39 {
    fill: #ed7601;
}
.sto40 {
    fill: #d64422;
}
.sto41 {
    fill: #f2892a;
}
.sto42 {
    fill: #b7b19f;
}
.sto43 {
    fill: #774e4b;
}
.sto44 {
    opacity: 0.3;
}
.sto45 {
    fill: #232326;
}
.sto46 {
    fill: #282524;
}
.sto47 {
    fill: #9b7b59;
}
.sto48 {
    fill: #59493a;
}
.sto49 {
    opacity: 0.7;
    fill: #59493a;
}
.sto50 {
    opacity: 0.6;
    fill: #59493a;
}
.sto51 {
    fill: #493c32;
}
.sto52 {
    fill: #56575e;
}
.sto53 {
    fill: #7c7c7c;
}
.sto54 {
    fill: #bfbfbf;
}
.sto55 {
    fill: #3f4047;
}
.sto56 {
    fill: #ffdc78;
}
.sto57 {
    fill: #49423e;
}
.sto58 {
    fill: #2d2927;
}
.sto59 {
    fill: #6d6764;
}
.sto60 {
    fill: #7c6652;
}
.sto61 {
    fill: #4a4a4c;
}
.sto62 {
    fill: #313135;
}
.sto63 {
    fill: #565250;
}
.sto64 {
    fill: #3d3a39;
}
