.stp0 {
    fill: #f7a800;
    stproke: #000000;
    stproke-width: 3;
    stproke-miterlimit: 10;
}
.stp1 {
    fill: #fbbc2f;
}
.stp2 {
    fill: #ffd346;
}
.stp3 {
    fill: #f7a800;
}
.stp4 {
    fill: #f18a0e;
}
.stp5 {
    fill: #ffffff;
}
.stp6 {
    fill: #1d1d1d;
}
.stp7 {
    fill: #d8a132;
}
.stp8 {
    fill: #638cda;
}
.stp9 {
    fill: #27427e;
}
.stp10 {
    fill: #444444;
}
.stp11 {
    fill: #1d1d1e;
}
.stp12 {
    fill: #bc584b;
}
.stp13 {
    fill: #f4e2d7;
}
.stp14 {
    fill: #8e4742;
}
.stp15 {
    fill: #b2a29a;
}
.stp16 {
    fill: #c64f46;
}
.stp17 {
    fill: #868283;
}
.stp18 {
    fill: #58595e;
}
.stp19 {
    fill: #602f2e;
}
.stp20 {
    fill: none;
    stproke: #000000;
    stproke-width: 3;
    stproke-miterlimit: 10;
}
.stp21 {
    fill: #252d3a;
}
.stp22 {
    fill: #212428;
}
.stp23 {
    fill: #423d39;
}
.stp24 {
    fill: #6c737a;
}
.stp25 {
    fill: #61666d;
}
.stp26 {
    fill: #6b717c;
}
.stp27 {
    fill: #7c5b3d;
}
.stp28 {
    fill: #ba6f31;
}
.stp29 {
    fill: #383a42;
}
.stp30 {
    fill: #5e6063;
}
.stp31 {
    fill: #7f6659;
}
.stp32 {
    fill: #b59485;
}
.stp33 {
    fill: #5f5f63;
}
.stp34 {
    fill: #ffffff;
    stproke: #000000;
    stproke-width: 3;
    stproke-miterlimit: 10;
}
.stp35 {
    fill: #7f3009;
}
.stp36 {
    opacity: 0.3;
    fill: #ffffff;
}
.stp37 {
    fill: #2d2d30;
}
.stp38 {
    fill: #444449;
}
.stp39 {
    fill: #ed7601;
}
.stp40 {
    fill: #d64422;
}
.stp41 {
    fill: #f2892a;
}
.stp42 {
    fill: #b7b19f;
}
.stp43 {
    fill: #774e4b;
}
.stp44 {
    opacity: 0.3;
}
.stp45 {
    fill: #232326;
}
.stp46 {
    fill: #282524;
}
.stp47 {
    fill: #9b7b59;
}
.stp48 {
    fill: #59493a;
}
.stp49 {
    opacity: 0.7;
    fill: #59493a;
}
.stp50 {
    opacity: 0.6;
    fill: #59493a;
}
.stp51 {
    fill: #493c32;
}
.stp52 {
    fill: #56575e;
}
.stp53 {
    fill: #7c7c7c;
}
.stp54 {
    fill: #bfbfbf;
}
.stp55 {
    fill: #3f4047;
}
.stp56 {
    fill: #ffdc78;
}
.stp57 {
    fill: #49423e;
}
.stp58 {
    fill: #2d2927;
}
.stp59 {
    fill: #6d6764;
}
.stp60 {
    fill: #7c6652;
}
.stp61 {
    fill: #4a4a4c;
}
.stp62 {
    fill: #313135;
}
.stp63 {
    fill: #565250;
}
.stp64 {
    fill: #3d3a39;
}
