.suit-st0 {
    clip-path: url(#MR_ID_2_);
    fill: url(#MR_ID_3_);
}

.suit-st1 {
    opacity: 0.6;
    clip-path: url(#MR_ID_2_);
    fill: #558543;
}

.suit-st2 {
    opacity: 0.44;
    clip-path: url(#MR_ID_2_);
    fill: #185405;
}

.suit-st3 {
    clip-path: url(#MR_ID_2_);
}

.suit-st4 {
    fill: #558543;
}

.suit-st5 {
    fill: #866d52;
}

.suit-st6 {
    opacity: 0.4;
    clip-path: url(#MR_ID_2_);
    fill: #185405;
}

.suit-st7 {
    fill: #bab0b2;
}

.suit-st8 {
    fill: #b82c2d;
}

.suit-st9 {
    fill: #9e2026;
}

.suit-st10 {
    clip-path: url(#MR_ID_5_);
}

.suit-st11 {
    clip-path: url(#MR_ID_2_);
    fill: #5d5e60;
}

.suit-st12 {
    clip-path: url(#MR_ID_2_);
    fill: #303c3f;
}

.suit-st13 {
    clip-path: url(#MR_ID_2_);
    fill: #42a4d3;
}

.suit-st14 {
    clip-path: url(#MR_ID_2_);
    fill: #8e8e8e;
}

.suit-st15 {
    clip-path: url(#MR_ID_2_);
    fill: #84a4d3;
}

.suit-st16 {
    clip-path: url(#MR_ID_2_);
    fill: #5cbbe0;
}

.suit-st17 {
    opacity: 0.51;
    clip-path: url(#MR_ID_2_);
    fill: #5cbbe0;
}

.suit-st18 {
    clip-path: url(#MR_ID_2_);
    fill: #7a7c7f;
}

.suit-st19 {
    opacity: 0.47;
    clip-path: url(#MR_ID_2_);
    fill: #303c3f;
}

.suit-st20 {
    clip-path: url(#MR_ID_2_);
    fill: #474a4f;
}

.suit-st21 {
    clip-path: url(#MR_ID_2_);
    fill: #6f7072;
}

.suit-st22 {
    clip-path: url(#MR_ID_2_);
    fill: #7b7c7c;
}

.suit-st23 {
    opacity: 0.25;
    clip-path: url(#MR_ID_2_);
    fill: #303c3f;
}

.suit-st24 {
    opacity: 0.54;
    clip-path: url(#MR_ID_2_);
    fill: #303c3f;
}

.suit-st25 {
    clip-path: url(#MR_ID_2_);
    fill: #2e3638;
}

.suit-st26 {
    clip-path: url(#MR_ID_2_);
    fill: #414d4f;
}

.suit-st27 {
    clip-path: url(#MR_ID_2_);
    fill: #646c6d;
}

.suit-st28 {
    clip-path: url(#MR_ID_2_);
    fill: #5579a5;
}

.suit-st29 {
    clip-path: url(#MR_ID_2_);
    fill: #bcd7f7;
}

.suit-st30 {
    clip-path: url(#MR_ID_2_);
    fill: #b7b7b7;
}

.suit-st31 {
    opacity: 0.6;
    clip-path: url(#MR_ID_2_);
    fill: #252e30;
}

.suit-st32 {
    clip-path: url(#MR_ID_2_);
    fill: #1e2426;
}

.suit-st33 {
    clip-path: url(#MR_ID_2_);
    fill: #384649;
}

.suit-st34 {
    clip-path: url(#MR_ID_2_);
    fill: #7c5c50;
}

.suit-st35 {
    clip-path: url(#MR_ID_2_);
    fill: #513c36;
}

.suit-st36 {
    clip-path: url(#MR_ID_2_);
    fill: #b5897c;
}

.suit-st37 {
    clip-path: url(#MR_ID_2_);
    fill: #8c695e;
}

.suit-st38 {
    opacity: 0.46;
    clip-path: url(#MR_ID_2_);
    fill: #7c5c50;
}

.suit-st39 {
    clip-path: url(#MR_ID_2_);
    fill: #cc9f81;
}

.suit-st40 {
    clip-path: url(#MR_ID_2_);
    fill: #44333c;
}

.suit-st41 {
    clip-path: url(#MR_ID_2_);
    fill: #252e30;
}

.suit-st42 {
    clip-path: url(#MR_ID_2_);
    fill: #475659;
}

.suit-st43 {
    fill: #ffd346;
}

.suit-st44 {
    fill: #fff;
}

.suit-st45 {
    fill: #fbbc2f;
}

.suit-st46 {
    fill: #1d1d1d;
}

.suit-st47 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3.0234;
    stroke-miterlimit: 10;
}

.suit-st48 {
    fill: #9bb6ba;
}

.suit-st49 {
    opacity: 0.42;
    fill: #88224a;
}

.suit-st50 {
    clip-path: url(#MR_ID_7_);
}

.suit-st51 {
    fill: none;
}

.suit-st52 {
    fill: #88224a;
}

.suit-st53 {
    fill: #2d2528;
}

.suit-st54 {
    fill: #c6ebf4;
}

.suit-st55 {
    fill: #85aeb5;
}

.suit-st56 {
    fill: #0a3f76;
}

.suit-st57 {
    fill: #0a2e49;
}

.suit-st58 {
    fill: #895c2b;
}

.suit-st59 {
    fill: #db9523;
}

.suit-st60 {
    fill: #183956;
}

.suit-st61 {
    fill: #033766;
}

.suit-st62 {
    fill: #5b3b1a;
}

.suit-st63 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.suit-st64 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.suit-st65 {
    fill: #565042;
}

.suit-st66 {
    fill: #3f3d38;
}

.suit-st67 {
    fill: #b29e8a;
}

.suit-st68 {
    fill: #938374;
}

.suit-st69 {
    fill: #a08d75;
}

.suit-st70 {
    opacity: 0.56;
    fill: #4b4e54;
}

.suit-st71 {
    fill: #685e60;
}

.suit-st72 {
    fill: #c9af97;
}

.suit-st73 {
    fill: #564646;
}

.suit-st74 {
    fill: #726060;
}

.suit-st75 {
    opacity: 0.33;
    fill: #ffd176;
}

.suit-st76 {
    fill: #454649;
}

.suit-st77 {
    fill: #ffdea9;
}

.suit-st78 {
    opacity: 0.32;
    fill: #ffdea9;
}

.suit-st79 {
    opacity: 0.1;
    fill: #ffdea9;
}

.suit-st80 {
    opacity: 0.36;
    fill: #4b4e54;
}

.suit-st81 {
    clip-path: url(#MR_ID_9_);
    fill: #5d6668;
}

.suit-st82 {
    clip-path: url(#MR_ID_9_);
    fill: #70708c;
}

.suit-st83 {
    clip-path: url(#MR_ID_9_);
    fill: #333130;
}

.suit-st84 {
    clip-path: url(#MR_ID_9_);
    fill: #46464f;
}

.suit-st85 {
    clip-path: url(#MR_ID_9_);
    fill: #5b5b5b;
}

.suit-st86 {
    clip-path: url(#MR_ID_9_);
    fill: #727272;
}

.suit-st87 {
    clip-path: url(#MR_ID_9_);
    fill: #a0a0a0;
}

.suit-st88 {
    clip-path: url(#MR_ID_9_);
    fill: #aaaac1;
}

.suit-st89 {
    clip-path: url(#MR_ID_9_);
    fill: #c97b3a;
}

.suit-st90 {
    clip-path: url(#MR_ID_9_);
    fill: #c94c3a;
}

.suit-st91 {
    clip-path: url(#MR_ID_9_);
}

.suit-st92 {
    fill: #878787;
}

.suit-st93 {
    fill: #606060;
}

.suit-st94 {
    fill: #474747;
}

.suit-st95 {
    fill: #2e3233;
}

.suit-st96 {
    fill: #525556;
}

.suit-st97 {
    clip-path: url(#MR_ID_9_);
    fill: #878787;
}

.suit-st98 {
    clip-path: url(#MR_ID_9_);
    fill: #b7b7b7;
}

.suit-st99 {
    clip-path: url(#MR_ID_9_);
    fill: #9e9e9e;
}

.suit-st100 {
    clip-path: url(#MR_ID_9_);
    fill: #2e3233;
}

.suit-st101 {
    clip-path: url(#MR_ID_9_);
    fill: #525556;
}

.suit-st102 {
    clip-path: url(#MR_ID_9_);
    fill: #7f7f7f;
}

.suit-st103 {
    clip-path: url(#MR_ID_9_);
    fill: #d3d3d3;
}

.suit-st104 {
    clip-path: url(#MR_ID_9_);
    fill: #6b6b6b;
}

.suit-st105 {
    clip-path: url(#MR_ID_9_);
    fill: #444849;
}

.suit-st106 {
    clip-path: url(#MR_ID_9_);
    fill: #454747;
}

.suit-st107 {
    clip-path: url(#MR_ID_9_);
    fill: #1a1d1e;
}

.suit-st108 {
    clip-path: url(#MR_ID_9_);
    fill: #676868;
}

.suit-st109 {
    clip-path: url(#MR_ID_9_);
    fill: #4b4e4f;
}

.suit-st110 {
    clip-path: url(#MR_ID_9_);
    fill: #3a3e3f;
}

.suit-st111 {
    clip-path: url(#MR_ID_9_);
    fill: #d1d3d3;
}

.suit-st112 {
    clip-path: url(#MR_ID_9_);
    fill: #495051;
}

.suit-st113 {
    clip-path: url(#MR_ID_9_);
    fill: #fff;
}
