.xhat-20 {
    fill: #fff;
}

.xhat-21 {
    opacity: 0.18;
    fill: #fff;
}

.xhat-22 {
    fill: #ea1d08;
}

.xhat-23 {
    fill: #bd1c14;
}

.xhat-24 {
    fill: #590504;
}

.xhat-25 {
    fill: #b0b9c1;
}

.xhat-26 {
    fill: #e0e0e0;
}

.xhat-27 {
    fill: #efefef;
}
