.tstd0 {
    fill: #728033;
}
.tstd1 {
    fill: #4c4530;
}
.tstd2 {
    fill: #332e20;
}
.tstd3 {
    fill: #769299;
}
.tstd4 {
    fill: #a6d8e0;
}
.tstd5 {
    fill: none;
    tstdroke: #000000;
    tstdroke-width: 3;
    tstdroke-miterlimit: 10;
}
.tstd6 {
    fill: #ffffff;
}
.tstd7 {
    fill: #cae2ff;
}
.tstd8 {
    fill: none;
    tstdroke: #5c7793;
    tstdroke-width: 2.8346;
    tstdroke-miterlimit: 10;
}
.tstd9 {
    fill: #5c7793;
}
.tstd10 {
    fill: #3f4026;
}
.tstd11 {
    fill: #2b2b19;
}
.tstd12 {
    fill: #51362b;
}
.tstd13 {
    fill: #9e3907;
}
.tstd14 {
    fill: #db7200;
}
.tstd15 {
    fill: #ff5200;
}
.tstd16 {
    fill: #514e4b;
}
.tstd17 {
    fill: #333335;
}
.tstd18 {
    fill: #726d68;
}
.tstd19 {
    fill: #115617;
}
.tstd20 {
    fill: #4cb71a;
}
.tstd21 {
    fill: #544e2d;
}
.tstd22 {
    fill: #404347;
}
.tstd23 {
    fill: #777755;
}
.tstd24 {
    fill: #50b1f0;
}
.tstd25 {
    fill: #0067a0;
}
.tstd26 {
    fill: #00ffff;
}
.tstd27 {
    fill: #99b541;
}
.tstd28 {
    fill: #685f3c;
}
.tstd29 {
    fill: #877846;
}
.tstd30 {
    fill: #efbd65;
}
.tstd31 {
    fill: #723f26;
}
.tstd32 {
    fill: #ff3b21;
}
.tstd33 {
    fill: #ff9100;
}
.tstd34 {
    fill: #ffdd36;
}
.tstd35 {
    fill: #8fa357;
}
.tstd36 {
    fill: #3a3d2e;
}
.tstd37 {
    fill: #1e7c2b;
}
.tstd38 {
    fill: #5e5853;
}
.tstd39 {
    fill: #8e8272;
}
.tstd40 {
    fill: #314d93;
}
.tstd41 {
    fill: #5f96f0;
}
.tstd42 {
    fill: #71ccff;
}
.tstd43 {
    fill: #1d1d1d;
}
.tstd44 {
    fill: #bcd362;
}
.tstd45 {
    fill: #506468;
}
.tstd46 {
    fill: #6c747f;
}
.tstd47 {
    fill: #474e54;
}
.tstd48 {
    fill: #b3d7e0;
}
.tstd49 {
    fill: #84a5af;
}
.tstd50 {
    fill: #64a6b5;
}
.tstd51 {
    fill: #3d4d4f;
}
.tstd52 {
    fill: none;
    tstdroke: #5c7793;
    tstdroke-width: 2;
    tstdroke-miterlimit: 10;
}
.tstd53 {
    fill: #49271b;
}
.tstd54 {
    fill: #514c47;
}
.tstd55 {
    fill: #b2b2b2;
}
.tstd56 {
    fill: #53434d;
}
.tstd57 {
    fill: #68597f;
}
.tstd58 {
    fill: #262220;
}
.tstd59 {
    fill: #3a3426;
}
.tstd60 {
    fill: #8e8985;
}
.tstd61 {
    fill: #4e859b;
}
.tstd62 {
    fill: #7398a0;
}
.tstd63 {
    fill: #ff6a21;
}
.tstd64 {
    fill: #544f4c;
}
.tstd65 {
    fill: #725b44;
}
.tstd66 {
    fill: #937e6c;
}
.tstd67 {
    fill: #4f4134;
}
.tstd68 {
    fill: #514b44;
}
.tstd69 {
    fill: #36373a;
}
.tstd70 {
    fill: #aa9c8f;
}
.tstd71 {
    fill: #514b52;
}
.tstd72 {
    fill: #595450;
}
.tstd73 {
    fill: #383532;
}
.tstd74 {
    fill: #756d60;
}
.tstd75 {
    fill: #4d8e1b;
}
.tstd76 {
    fill: #a58c67;
}
.tstd77 {
    fill: #afa197;
}
.tstd78 {
    fill: #7becff;
}
.tstd79 {
    fill: #3b80e2;
}
.tstd80 {
    fill: none;
    tstdroke: #000000;
    tstdroke-width: 2;
    tstdroke-miterlimit: 10;
}
.tstd81 {
    fill: #ffffff;
    tstdroke: #000000;
    tstdroke-width: 3;
    tstdroke-miterlimit: 10;
}
.tstd82 {
    fill: #606d72;
}
.tstd83 {
    fill: #af0c00;
}
.tstd84 {
    fill: #af0000;
}
.tstd85 {
    fill: #3f4042;
}
.tstd86 {
    fill: #434549;
}
.tstd87 {
    fill: #0c2e60;
}
.tstd88 {
    fill: #0065dd;
}
.tstd89 {
    fill: #af8f51;
}
.tstd90 {
    fill: #ba7749;
}
.tstd91 {
    fill: #9a6b46;
}
.tstd92 {
    fill: #9b8b59;
}
.tstd93 {
    fill: #c99b53;
}
.tstd94 {
    fill: #4c442c;
}
.tstd95 {
    fill: #363a28;
}
