.uranium0 {
    fill: #372f1a;
    stroke: #000000;
    stroke-width: 2.4101;
    stroke-miterlimit: 10;
}
.uranium1 {
    fill: #231f16;
}
.uranium2 {
    fill: #2b7d33;
}
.uranium3 {
    fill: #7cfe60;
}
.uranium4 {
    fill: #29d92d;
}
.uranium5 {
    fill: #494234;
}
.uranium6 {
    fill: #02a845;
}
.uranium7 {
    fill: #213650;
    stroke: #000000;
    stroke-width: 2.6838;
    stroke-miterlimit: 10;
}
.uranium8 {
    fill: #7fb7f4;
}
.uranium9 {
    fill: #8fd7ff;
}
.uranium10 {
    fill: #3cd2f5;
}
.uranium11 {
    fill: #1f7ba3;
}
.uranium12 {
    fill: #88f1ff;
}
.uranium13 {
    fill: #29a0ff;
}
.uranium14 {
    fill: #ffffff;
}
.uranium15 {
    fill: #a0ffff;
}
.uranium16 {
    opacity: 0.43;
    fill: #ffffff;
}
.uranium17 {
    fill: #372f1a;
}
.uranium18 {
    fill: #417a96;
}
.uranium19 {
    fill: #44a3db;
}
.uranium20 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.uranium21 {
    opacity: 0.45;
}
.uranium22 {
    fill: #6def30;
}
.uranium23 {
    fill: #b6ff8f;
}
.uranium24 {
    fill: #273852;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.uranium25 {
    fill: #7eb6f5;
}
.uranium26 {
    fill: #528cc1;
}
.uranium27 {
    fill: #99b541;
}
.uranium28 {
    fill: #728033;
}
.uranium29 {
    fill: #1d1d1d;
}
.uranium30 {
    fill: #bcd362;
}
.uranium31 {
    fill: #1bd0ff;
}
.uranium32 {
    fill: #70d0ff;
}
.uranium33 {
    fill: #238435;
}
.uranium34 {
    fill: #2c8042;
}
.uranium35 {
    fill: #7afa69;
}
.uranium36 {
    fill: #4f6e32;
}
.uranium37 {
    fill: #24343a;
}
.uranium38 {
    fill: #073a13;
}
.uranium39 {
    fill: #adef30;
}
.uranium40 {
    fill: #edff00;
}
.uranium41 {
    opacity: 0.35;
    fill: #5effff;
}
.uranium42 {
    fill: none;
    stroke: #000000;
    stroke-width: 2.9634;
    stroke-miterlimit: 10;
}
.uranium43 {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}
.uranium44 {
    fill: #ecff22;
}
.uranium45 {
    fill: #6d5f41;
}
.uranium46 {
    fill: #1dca4c;
}
.uranium47 {
    fill: #22563b;
}
.uranium48 {
    fill: #b2dfff;
}
.uranium49 {
    fill: #4f83a3;
}
.uranium50 {
    fill: #d4efff;
}
.uranium51 {
    fill: #355b6d;
}
.uranium52 {
    fill: #88e3ff;
}
.uranium53 {
    fill: #bbf1ff;
}
.uranium54 {
    fill: #ebf7ff;
}
.uranium55 {
    fill: #476084;
}
.uranium56 {
    fill: #85eeff;
}
.uranium57 {
    fill: #b6f8ff;
}
.uranium58 {
    opacity: 0.5;
}
.uranium59 {
    fill: #372f1a;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.uranium60 {
    fill: #213650;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.uranium61 {
    fill: #5b84b2;
}
.uranium62 {
    fill: #297f34;
}
.uranium63 {
    opacity: 0.36;
}
.uranium64 {
    fill: #00f239;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.uranium65 {
    fill: #00b787;
}
.uranium66 {
    fill: #0c7758;
}
.uranium67 {
    fill: #7fff66;
}
.uranium68 {
    fill: #e6ffc5;
}
.uranium69 {
    opacity: 0.46;
    fill: #ffffff;
}
.uranium70 {
    opacity: 0.47;
    fill: #ffffff;
}
.uranium71 {
    opacity: 0.59;
    fill: #ffffff;
}
.uranium72 {
    opacity: 0.5;
    fill: #ffffff;
}
.uranium73 {
    opacity: 0.34;
    fill: #00f239;
}
.uranium74 {
    fill: #273852;
}
.uranium75 {
    fill: #ffffff;
    stroke: #000000;
    stroke-miterlimit: 10;
}
.uranium76 {
    fill: #29b7ff;
}
.uranium77 {
    fill: #005a7a;
}
.uranium78 {
    fill: #00847a;
}
.uranium79 {
    fill: #78d9ff;
}
.uranium80 {
    fill: #00d8dd;
}
.uranium81 {
    fill: #61f4ff;
}
.uranium82 {
    fill: none;
    stroke: #00326b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.uranium83 {
    fill: #728dab;
}
.uranium84 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1.0108;
    stroke-miterlimit: 10;
}
.uranium85 {
    fill: none;
    stroke: #000000;
    stroke-width: 3.0324;
    stroke-miterlimit: 10;
}
.uranium86 {
    fill: none;
    stroke: #00326b;
    stroke-width: 2.0216;
    stroke-miterlimit: 10;
}
.uranium87 {
    fill: #44a442;
}
.uranium88 {
    fill: #7ffe65;
}
.uranium89 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.uranium90 {
    fill: #c0ffb3;
}
.uranium91 {
    fill: #05591d;
}
.uranium92 {
    fill: #22ff00;
}
.uranium93 {
    opacity: 0.6;
    fill: #7fb7f4;
}
.uranium94 {
    fill: #5b91c1;
}
.uranium95 {
    opacity: 0.6;
    fill: #5b91c1;
}
.uranium96 {
    opacity: 0.6;
    fill: #6eedff;
}
.uranium97 {
    opacity: 0.6;
}
.uranium98 {
    opacity: 0.6;
    fill: #ffffff;
}
.uranium99 {
    fill: none;
    stroke: #000000;
    stroke-width: 2.8645;
    stroke-miterlimit: 10;
}
.uranium100 {
    fill: #18517c;
}
.uranium101 {
    opacity: 0.6;
    fill: #18517c;
}
.uranium102 {
    fill: #31885e;
}
.uranium103 {
    fill: #007b8b;
}
.uranium104 {
    fill: #3c5670;
}
.uranium105 {
    fill: #6eedff;
}
.uranium106 {
    opacity: 0.45;
    fill: #1f7ba3;
}
.uranium107 {
    opacity: 0.74;
    fill: #1f7ba3;
}
.uranium108 {
    fill: #4b856f;
}
.uranium109 {
    fill: #42a54a;
}
.uranium110 {
    fill: #79fc60;
}
