.tstgold0 {
    fill: #c58a64;
}
.tstgold1 {
    fill: #7c5037;
}
.tstgold2 {
    fill: #513b33;
}
.tstgold3 {
    fill: #533238;
}
.tstgold4 {
    fill: #23171a;
}
.tstgold5 {
    fill: #80686d;
}
.tstgold6 {
    fill: #ffbb95;
}
.tstgold7 {
    fill: #728033;
}
.tstgold8 {
    fill: #444925;
}
.tstgold9 {
    fill: #af640a;
}
.tstgold10 {
    fill: #e5ad26;
}
.tstgold11 {
    fill: #7f3600;
}
.tstgold12 {
    fill: none;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-miterlimit: 10;
}
.tstgold13 {
    fill: #ffffff;
}
.tstgold14 {
    fill: #99b541;
}
.tstgold15 {
    fill: #754f41;
}
.tstgold16 {
    fill: #44302b;
}
.tstgold17 {
    fill: #1d1d1d;
}
.tstgold18 {
    fill: #bcd362;
}
.tstgold19 {
    fill: #593f37;
}
.tstgold20 {
    fill: #3f322e;
}
.tstgold21 {
    fill: #986347;
}
.tstgold22 {
    fill: #ad685a;
}
.tstgold23 {
    fill: #77514a;
}
.tstgold24 {
    fill: #c4885f;
}
.tstgold25 {
    fill: #563e3b;
}
.tstgold26 {
    fill: #e2a77f;
}
.tstgold27 {
    fill: #261d1b;
}
.tstgold28 {
    fill: #2d1e21;
}
.tstgold29 {
    fill: #7c6368;
}
.tstgold30 {
    fill: #58c93e;
}
.tstgold31 {
    fill: #35533c;
}
.tstgold32 {
    fill: none;
    tstroke: #000000;
    tstroke-width: 2;
    tstroke-miterlimit: 10;
}
.tstgold33 {
    fill: #f6ea56;
}
.tstgold34 {
    fill: #aa6355;
}
.tstgold35 {
    fill: #72514c;
}
.tstgold36 {
    fill: #3f272c;
}
.tstgold37 {
    fill: #223a1d;
}
.tstgold38 {
    fill: #1e2815;
}
.tstgold39 {
    fill: #493531;
}
.tstgold40 {
    fill: #553426;
}
.tstgold41 {
    fill: #3f2921;
}
.tstgold42 {
    fill: #744f43;
}
.tstgold43 {
    fill: #986346;
}
.tstgold44 {
    fill: #302422;
}
.tstgold45 {
    fill: #468748;
}
.tstgold46 {
    opacity: 0.5;
    fill: #468748;
}
.tstgold47 {
    fill: none;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-linejoin: round;
    tstroke-miterlimit: 10;
}
.tstgold48 {
    fill: #b7805a;
}
.tstgold49 {
    fill: #402a2e;
}
.tstgold50 {
    fill: #ffffff;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-miterlimit: 10;
}
.tstgold51 {
    fill: #5a9c6c;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-miterlimit: 10;
}
.tstgold52 {
    fill: #09ff48;
}
.tstgold53 {
    fill: #5a9c6c;
}
.tstgold54 {
    fill: #56433e;
}
.tstgold55 {
    fill: #302522;
}
.tstgold56 {
    fill: #7c4a42;
}
.tstgold57 {
    fill: #4d3127;
}
.tstgold58 {
    opacity: 0.6;
    fill: #c28559;
}
.tstgold59 {
    opacity: 0.3;
    fill: #4d3127;
}
.tstgold60 {
    opacity: 0.5;
    fill: #f2a775;
}
.tstgold61 {
    fill: #f2a775;
}
.tstgold62 {
    fill: #3f2315;
}
.tstgold63 {
    fill: #e5b283;
}
.tstgold64 {
    fill: #30751f;
}
.tstgold65 {
    fill: #213f18;
}
.tstgold66 {
    fill: #91ff76;
}
