.ura0 {
    fill: #372f1a;
    stroke: #000000;
    stroke-width: 2.4101;
    stroke-miterlimit: 10;
}
.ura1 {
    fill: #231f16;
}
.ura2 {
    fill: #2b7d33;
}
.ura3 {
    fill: #7cfe60;
}
.ura4 {
    fill: #29d92d;
}
.ura5 {
    fill: #494234;
}
.ura6 {
    fill: #02a845;
}
.ura7 {
    fill: #213650;
    stroke: #000000;
    stroke-width: 2.6838;
    stroke-miterlimit: 10;
}
.ura8 {
    fill: #7fb7f4;
}
.ura9 {
    fill: #8fd7ff;
}
.ura10 {
    fill: #3cd2f5;
}
.ura11 {
    fill: #1f7ba3;
}
.ura12 {
    fill: #88f1ff;
}
.ura13 {
    fill: #29a0ff;
}
.ura14 {
    fill: #ffffff;
}
.ura15 {
    fill: #a0ffff;
}
.ura16 {
    opacity: 0.43;
    fill: #ffffff;
}
.ura17 {
    fill: #372f1a;
}
.ura18 {
    fill: #417a96;
}
.ura19 {
    fill: #44a3db;
}
.ura20 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.ura21 {
    opacity: 0.45;
}
.ura22 {
    fill: #6def30;
}
.ura23 {
    fill: #b6ff8f;
}
.ura24 {
    fill: #273852;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.ura25 {
    fill: #7eb6f5;
}
.ura26 {
    fill: #528cc1;
}
.ura27 {
    fill: #99b541;
}
.ura28 {
    fill: #728033;
}
.ura29 {
    fill: #1d1d1d;
}
.ura30 {
    fill: #bcd362;
}
.ura31 {
    fill: #1bd0ff;
}
.ura32 {
    fill: #70d0ff;
}
.ura33 {
    fill: #238435;
}
.ura34 {
    fill: #2c8042;
}
.ura35 {
    fill: #7afa69;
}
.ura36 {
    fill: #4f6e32;
}
.ura37 {
    fill: #24343a;
}
.ura38 {
    fill: #073a13;
}
.ura39 {
    fill: #adef30;
}
.ura40 {
    fill: #edff00;
}
.ura41 {
    opacity: 0.35;
    fill: #5effff;
}
.ura42 {
    fill: none;
    stroke: #000000;
    stroke-width: 2.9634;
    stroke-miterlimit: 10;
}
.ura43 {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}
.ura44 {
    fill: #ecff22;
}
.ura45 {
    fill: #6d5f41;
}
.ura46 {
    fill: #1dca4c;
}
.ura47 {
    fill: #22563b;
}
.ura48 {
    fill: #b2dfff;
}
.ura49 {
    fill: #4f83a3;
}
.ura50 {
    fill: #d4efff;
}
.ura51 {
    fill: #355b6d;
}
.ura52 {
    fill: #88e3ff;
}
.ura53 {
    fill: #bbf1ff;
}
.ura54 {
    fill: #ebf7ff;
}
.ura55 {
    fill: #476084;
}
.ura56 {
    fill: #85eeff;
}
.ura57 {
    fill: #b6f8ff;
}
.ura58 {
    opacity: 0.5;
}
.ura59 {
    fill: #372f1a;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.ura60 {
    fill: #213650;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.ura61 {
    fill: #5b84b2;
}
.ura62 {
    fill: #297f34;
}
.ura63 {
    opacity: 0.36;
}
.ura64 {
    fill: #00f239;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.ura65 {
    fill: #00b787;
}
.ura66 {
    fill: #0c7758;
}
.ura67 {
    fill: #7fff66;
}
.ura68 {
    fill: #e6ffc5;
}
.ura69 {
    opacity: 0.46;
    fill: #ffffff;
}
.ura70 {
    opacity: 0.47;
    fill: #ffffff;
}
.ura71 {
    opacity: 0.59;
    fill: #ffffff;
}
.ura72 {
    opacity: 0.5;
    fill: #ffffff;
}
.ura73 {
    opacity: 0.34;
    fill: #00f239;
}
.ura74 {
    fill: #273852;
}
.ura75 {
    fill: #ffffff;
    stroke: #000000;
    stroke-miterlimit: 10;
}
.ura76 {
    fill: #29b7ff;
}
.ura77 {
    fill: #005a7a;
}
.ura78 {
    fill: #00847a;
}
.ura79 {
    fill: #78d9ff;
}
.ura80 {
    fill: #00d8dd;
}
.ura81 {
    fill: #61f4ff;
}
.ura82 {
    fill: none;
    stroke: #00326b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.ura83 {
    fill: #728dab;
}
.ura84 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1.0108;
    stroke-miterlimit: 10;
}
.ura85 {
    fill: none;
    stroke: #000000;
    stroke-width: 3.0324;
    stroke-miterlimit: 10;
}
.ura86 {
    fill: none;
    stroke: #00326b;
    stroke-width: 2.0216;
    stroke-miterlimit: 10;
}
.ura87 {
    fill: #44a442;
}
.ura88 {
    fill: #7ffe65;
}
.ura89 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.ura90 {
    fill: #c0ffb3;
}
.ura91 {
    fill: #05591d;
}
.ura92 {
    fill: #22ff00;
}
.ura93 {
    opacity: 0.6;
    fill: #7fb7f4;
}
.ura94 {
    fill: #5b91c1;
}
.ura95 {
    opacity: 0.6;
    fill: #5b91c1;
}
.ura96 {
    opacity: 0.6;
    fill: #6eedff;
}
.ura97 {
    opacity: 0.6;
}
.ura98 {
    opacity: 0.6;
    fill: #ffffff;
}
.ura99 {
    fill: none;
    stroke: #000000;
    stroke-width: 2.8645;
    stroke-miterlimit: 10;
}
.ura100 {
    fill: #18517c;
}
.ura101 {
    opacity: 0.6;
    fill: #18517c;
}
.ura102 {
    fill: #31885e;
}
.ura103 {
    fill: #007b8b;
}
.ura104 {
    fill: #3c5670;
}
.ura105 {
    fill: #6eedff;
}
.ura106 {
    opacity: 0.45;
    fill: #1f7ba3;
}
.ura107 {
    opacity: 0.74;
    fill: #1f7ba3;
}
.ura108 {
    fill: #4b856f;
}
.ura109 {
    fill: #42a54a;
}
.ura110 {
    fill: #79fc60;
}
