.tstb0 {
    fill: #728033;
}
.tstb1 {
    fill: #4c4530;
}
.tstb2 {
    fill: #332e20;
}
.tstb3 {
    fill: #769299;
}
.tstb4 {
    fill: #a6d8e0;
}
.tstb5 {
    fill: none;
    tstbroke: #000000;
    tstbroke-width: 3;
    tstbroke-miterlimit: 10;
}
.tstb6 {
    fill: #ffffff;
}
.tstb7 {
    fill: #cae2ff;
}
.tstb8 {
    fill: none;
    tstbroke: #5c7793;
    tstbroke-width: 2.8346;
    tstbroke-miterlimit: 10;
}
.tstb9 {
    fill: #5c7793;
}
.tstb10 {
    fill: #3f4026;
}
.tstb11 {
    fill: #2b2b19;
}
.tstb12 {
    fill: #51362b;
}
.tstb13 {
    fill: #9e3907;
}
.tstb14 {
    fill: #db7200;
}
.tstb15 {
    fill: #ff5200;
}
.tstb16 {
    fill: #514e4b;
}
.tstb17 {
    fill: #333335;
}
.tstb18 {
    fill: #726d68;
}
.tstb19 {
    fill: #115617;
}
.tstb20 {
    fill: #4cb71a;
}
.tstb21 {
    fill: #544e2d;
}
.tstb22 {
    fill: #404347;
}
.tstb23 {
    fill: #777755;
}
.tstb24 {
    fill: #50b1f0;
}
.tstb25 {
    fill: #0067a0;
}
.tstb26 {
    fill: #00ffff;
}
.tstb27 {
    fill: #99b541;
}
.tstb28 {
    fill: #685f3c;
}
.tstb29 {
    fill: #877846;
}
.tstb30 {
    fill: #efbd65;
}
.tstb31 {
    fill: #723f26;
}
.tstb32 {
    fill: #ff3b21;
}
.tstb33 {
    fill: #ff9100;
}
.tstb34 {
    fill: #ffdd36;
}
.tstb35 {
    fill: #8fa357;
}
.tstb36 {
    fill: #3a3d2e;
}
.tstb37 {
    fill: #1e7c2b;
}
.tstb38 {
    fill: #5e5853;
}
.tstb39 {
    fill: #8e8272;
}
.tstb40 {
    fill: #314d93;
}
.tstb41 {
    fill: #5f96f0;
}
.tstb42 {
    fill: #71ccff;
}
.tstb43 {
    fill: #1d1d1d;
}
.tstb44 {
    fill: #bcd362;
}
.tstb45 {
    fill: #506468;
}
.tstb46 {
    fill: #6c747f;
}
.tstb47 {
    fill: #474e54;
}
.tstb48 {
    fill: #b3d7e0;
}
.tstb49 {
    fill: #84a5af;
}
.tstb50 {
    fill: #64a6b5;
}
.tstb51 {
    fill: #3d4d4f;
}
.tstb52 {
    fill: none;
    tstbroke: #5c7793;
    tstbroke-width: 2;
    tstbroke-miterlimit: 10;
}
.tstb53 {
    fill: #49271b;
}
.tstb54 {
    fill: #514c47;
}
.tstb55 {
    fill: #b2b2b2;
}
.tstb56 {
    fill: #53434d;
}
.tstb57 {
    fill: #68597f;
}
.tstb58 {
    fill: #262220;
}
.tstb59 {
    fill: #3a3426;
}
.tstb60 {
    fill: #8e8985;
}
.tstb61 {
    fill: #4e859b;
}
.tstb62 {
    fill: #7398a0;
}
.tstb63 {
    fill: #ff6a21;
}
.tstb64 {
    fill: #544f4c;
}
.tstb65 {
    fill: #725b44;
}
.tstb66 {
    fill: #937e6c;
}
.tstb67 {
    fill: #4f4134;
}
.tstb68 {
    fill: #514b44;
}
.tstb69 {
    fill: #36373a;
}
.tstb70 {
    fill: #aa9c8f;
}
.tstb71 {
    fill: #514b52;
}
.tstb72 {
    fill: #595450;
}
.tstb73 {
    fill: #383532;
}
.tstb74 {
    fill: #756d60;
}
.tstb75 {
    fill: #4d8e1b;
}
.tstb76 {
    fill: #a58c67;
}
.tstb77 {
    fill: #afa197;
}
.tstb78 {
    fill: #7becff;
}
.tstb79 {
    fill: #3b80e2;
}
.tstb80 {
    fill: none;
    tstbroke: #000000;
    tstbroke-width: 2;
    tstbroke-miterlimit: 10;
}
.tstb81 {
    fill: #ffffff;
    tstbroke: #000000;
    tstbroke-width: 3;
    tstbroke-miterlimit: 10;
}
.tstb82 {
    fill: #606d72;
}
.tstb83 {
    fill: #af0c00;
}
.tstb84 {
    fill: #af0000;
}
.tstb85 {
    fill: #3f4042;
}
.tstb86 {
    fill: #434549;
}
.tstb87 {
    fill: #0c2e60;
}
.tstb88 {
    fill: #0065dd;
}
.tstb89 {
    fill: #af8f51;
}
.tstb90 {
    fill: #ba7749;
}
.tstb91 {
    fill: #9a6b46;
}
.tstb92 {
    fill: #9b8b59;
}
.tstb93 {
    fill: #c99b53;
}
.tstb94 {
    fill: #4c442c;
}
.tstb95 {
    fill: #363a28;
}
