.tsttree0 {
    fill: #c58a64;
}
.tsttree1 {
    fill: #7c5037;
}
.tsttree2 {
    fill: #513b33;
}
.tsttree3 {
    fill: #533238;
}
.tsttree4 {
    fill: #23171a;
}
.tsttree5 {
    fill: #80686d;
}
.tsttree6 {
    fill: #ffbb95;
}
.tsttree7 {
    fill: #728033;
}
.tsttree8 {
    fill: #444925;
}
.tsttree9 {
    fill: #af640a;
}
.tsttree10 {
    fill: #e5ad26;
}
.tsttree11 {
    fill: #7f3600;
}
.tsttree12 {
    fill: none;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-miterlimit: 10;
}
.tsttree13 {
    fill: #ffffff;
}
.tsttree14 {
    fill: #99b541;
}
.tsttree15 {
    fill: #754f41;
}
.tsttree16 {
    fill: #44302b;
}
.tsttree17 {
    fill: #1d1d1d;
}
.tsttree18 {
    fill: #bcd362;
}
.tsttree19 {
    fill: #593f37;
}
.tsttree20 {
    fill: #3f322e;
}
.tsttree21 {
    fill: #986347;
}
.tsttree22 {
    fill: #ad685a;
}
.tsttree23 {
    fill: #77514a;
}
.tsttree24 {
    fill: #c4885f;
}
.tsttree25 {
    fill: #563e3b;
}
.tsttree26 {
    fill: #e2a77f;
}
.tsttree27 {
    fill: #261d1b;
}
.tsttree28 {
    fill: #2d1e21;
}
.tsttree29 {
    fill: #7c6368;
}
.tsttree30 {
    fill: #58c93e;
}
.tsttree31 {
    fill: #35533c;
}
.tsttree32 {
    fill: none;
    tstroke: #000000;
    tstroke-width: 2;
    tstroke-miterlimit: 10;
}
.tsttree33 {
    fill: #f6ea56;
}
.tsttree34 {
    fill: #aa6355;
}
.tsttree35 {
    fill: #72514c;
}
.tsttree36 {
    fill: #3f272c;
}
.tsttree37 {
    fill: #223a1d;
}
.tsttree38 {
    fill: #1e2815;
}
.tsttree39 {
    fill: #493531;
}
.tsttree40 {
    fill: #553426;
}
.tsttree41 {
    fill: #3f2921;
}
.tsttree42 {
    fill: #744f43;
}
.tsttree43 {
    fill: #986346;
}
.tsttree44 {
    fill: #302422;
}
.tsttree45 {
    fill: #468748;
}
.tsttree46 {
    opacity: 0.5;
    fill: #468748;
}
.tsttree47 {
    fill: none;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-linejoin: round;
    tstroke-miterlimit: 10;
}
.tsttree48 {
    fill: #b7805a;
}
.tsttree49 {
    fill: #402a2e;
}
.tsttree50 {
    fill: #ffffff;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-miterlimit: 10;
}
.tsttree51 {
    fill: #5a9c6c;
    tstroke: #000000;
    tstroke-width: 3;
    tstroke-miterlimit: 10;
}
.tsttree52 {
    fill: #09ff48;
}
.tsttree53 {
    fill: #5a9c6c;
}
.tsttree54 {
    fill: #56433e;
}
.tsttree55 {
    fill: #302522;
}
.tsttree56 {
    fill: #7c4a42;
}
.tsttree57 {
    fill: #4d3127;
}
.tsttree58 {
    opacity: 0.6;
    fill: #c28559;
}
.tsttree59 {
    opacity: 0.3;
    fill: #4d3127;
}
.tsttree60 {
    opacity: 0.5;
    fill: #f2a775;
}
.tsttree61 {
    fill: #f2a775;
}
.tsttree62 {
    fill: #3f2315;
}
.tsttree63 {
    fill: #e5b283;
}
.tsttree64 {
    fill: #30751f;
}
.tsttree65 {
    fill: #213f18;
}
.tsttree66 {
    fill: #91ff76;
}
