.tstc0 {
    fill: #728033;
}
.tstc1 {
    fill: #4c4530;
}
.tstc2 {
    fill: #332e20;
}
.tstc3 {
    fill: #769299;
}
.tstc4 {
    fill: #a6d8e0;
}
.tstc5 {
    fill: none;
    tstcroke: #000000;
    tstcroke-width: 3;
    tstcroke-miterlimit: 10;
}
.tstc6 {
    fill: #ffffff;
}
.tstc7 {
    fill: #cae2ff;
}
.tstc8 {
    fill: none;
    tstcroke: #5c7793;
    tstcroke-width: 2.8346;
    tstcroke-miterlimit: 10;
}
.tstc9 {
    fill: #5c7793;
}
.tstc10 {
    fill: #3f4026;
}
.tstc11 {
    fill: #2b2b19;
}
.tstc12 {
    fill: #51362b;
}
.tstc13 {
    fill: #9e3907;
}
.tstc14 {
    fill: #db7200;
}
.tstc15 {
    fill: #ff5200;
}
.tstc16 {
    fill: #514e4b;
}
.tstc17 {
    fill: #333335;
}
.tstc18 {
    fill: #726d68;
}
.tstc19 {
    fill: #115617;
}
.tstc20 {
    fill: #4cb71a;
}
.tstc21 {
    fill: #544e2d;
}
.tstc22 {
    fill: #404347;
}
.tstc23 {
    fill: #777755;
}
.tstc24 {
    fill: #50b1f0;
}
.tstc25 {
    fill: #0067a0;
}
.tstc26 {
    fill: #00ffff;
}
.tstc27 {
    fill: #99b541;
}
.tstc28 {
    fill: #685f3c;
}
.tstc29 {
    fill: #877846;
}
.tstc30 {
    fill: #efbd65;
}
.tstc31 {
    fill: #723f26;
}
.tstc32 {
    fill: #ff3b21;
}
.tstc33 {
    fill: #ff9100;
}
.tstc34 {
    fill: #ffdd36;
}
.tstc35 {
    fill: #8fa357;
}
.tstc36 {
    fill: #3a3d2e;
}
.tstc37 {
    fill: #1e7c2b;
}
.tstc38 {
    fill: #5e5853;
}
.tstc39 {
    fill: #8e8272;
}
.tstc40 {
    fill: #314d93;
}
.tstc41 {
    fill: #5f96f0;
}
.tstc42 {
    fill: #71ccff;
}
.tstc43 {
    fill: #1d1d1d;
}
.tstc44 {
    fill: #bcd362;
}
.tstc45 {
    fill: #506468;
}
.tstc46 {
    fill: #6c747f;
}
.tstc47 {
    fill: #474e54;
}
.tstc48 {
    fill: #b3d7e0;
}
.tstc49 {
    fill: #84a5af;
}
.tstc50 {
    fill: #64a6b5;
}
.tstc51 {
    fill: #3d4d4f;
}
.tstc52 {
    fill: none;
    tstcroke: #5c7793;
    tstcroke-width: 2;
    tstcroke-miterlimit: 10;
}
.tstc53 {
    fill: #49271b;
}
.tstc54 {
    fill: #514c47;
}
.tstc55 {
    fill: #b2b2b2;
}
.tstc56 {
    fill: #53434d;
}
.tstc57 {
    fill: #68597f;
}
.tstc58 {
    fill: #262220;
}
.tstc59 {
    fill: #3a3426;
}
.tstc60 {
    fill: #8e8985;
}
.tstc61 {
    fill: #4e859b;
}
.tstc62 {
    fill: #7398a0;
}
.tstc63 {
    fill: #ff6a21;
}
.tstc64 {
    fill: #544f4c;
}
.tstc65 {
    fill: #725b44;
}
.tstc66 {
    fill: #937e6c;
}
.tstc67 {
    fill: #4f4134;
}
.tstc68 {
    fill: #514b44;
}
.tstc69 {
    fill: #36373a;
}
.tstc70 {
    fill: #aa9c8f;
}
.tstc71 {
    fill: #514b52;
}
.tstc72 {
    fill: #595450;
}
.tstc73 {
    fill: #383532;
}
.tstc74 {
    fill: #756d60;
}
.tstc75 {
    fill: #4d8e1b;
}
.tstc76 {
    fill: #a58c67;
}
.tstc77 {
    fill: #afa197;
}
.tstc78 {
    fill: #7becff;
}
.tstc79 {
    fill: #3b80e2;
}
.tstc80 {
    fill: none;
    tstcroke: #000000;
    tstcroke-width: 2;
    tstcroke-miterlimit: 10;
}
.tstc81 {
    fill: #ffffff;
    tstcroke: #000000;
    tstcroke-width: 3;
    tstcroke-miterlimit: 10;
}
.tstc82 {
    fill: #606d72;
}
.tstc83 {
    fill: #af0c00;
}
.tstc84 {
    fill: #af0000;
}
.tstc85 {
    fill: #3f4042;
}
.tstc86 {
    fill: #434549;
}
.tstc87 {
    fill: #0c2e60;
}
.tstc88 {
    fill: #0065dd;
}
.tstc89 {
    fill: #af8f51;
}
.tstc90 {
    fill: #ba7749;
}
.tstc91 {
    fill: #9a6b46;
}
.tstc92 {
    fill: #9b8b59;
}
.tstc93 {
    fill: #c99b53;
}
.tstc94 {
    fill: #4c442c;
}
.tstc95 {
    fill: #363a28;
}
