.tsta0 {
    fill: #728033;
}
.tsta1 {
    fill: #4c4530;
}
.tsta2 {
    fill: #332e20;
}
.tsta3 {
    fill: #769299;
}
.tsta4 {
    fill: #a6d8e0;
}
.tsta5 {
    fill: none;
    tstaroke: #000000;
    tstaroke-width: 3;
    tstaroke-miterlimit: 10;
}
.tsta6 {
    fill: #ffffff;
}
.tsta7 {
    fill: #cae2ff;
}
.tsta8 {
    fill: none;
    tstaroke: #5c7793;
    tstaroke-width: 2.8346;
    tstaroke-miterlimit: 10;
}
.tsta9 {
    fill: #5c7793;
}
.tsta10 {
    fill: #3f4026;
}
.tsta11 {
    fill: #2b2b19;
}
.tsta12 {
    fill: #51362b;
}
.tsta13 {
    fill: #9e3907;
}
.tsta14 {
    fill: #db7200;
}
.tsta15 {
    fill: #ff5200;
}
.tsta16 {
    fill: #514e4b;
}
.tsta17 {
    fill: #333335;
}
.tsta18 {
    fill: #726d68;
}
.tsta19 {
    fill: #115617;
}
.tsta20 {
    fill: #4cb71a;
}
.tsta21 {
    fill: #544e2d;
}
.tsta22 {
    fill: #404347;
}
.tsta23 {
    fill: #777755;
}
.tsta24 {
    fill: #50b1f0;
}
.tsta25 {
    fill: #0067a0;
}
.tsta26 {
    fill: #00ffff;
}
.tsta27 {
    fill: #99b541;
}
.tsta28 {
    fill: #685f3c;
}
.tsta29 {
    fill: #877846;
}
.tsta30 {
    fill: #efbd65;
}
.tsta31 {
    fill: #723f26;
}
.tsta32 {
    fill: #ff3b21;
}
.tsta33 {
    fill: #ff9100;
}
.tsta34 {
    fill: #ffdd36;
}
.tsta35 {
    fill: #8fa357;
}
.tsta36 {
    fill: #3a3d2e;
}
.tsta37 {
    fill: #1e7c2b;
}
.tsta38 {
    fill: #5e5853;
}
.tsta39 {
    fill: #8e8272;
}
.tsta40 {
    fill: #314d93;
}
.tsta41 {
    fill: #5f96f0;
}
.tsta42 {
    fill: #71ccff;
}
.tsta43 {
    fill: #1d1d1d;
}
.tsta44 {
    fill: #bcd362;
}
.tsta45 {
    fill: #506468;
}
.tsta46 {
    fill: #6c747f;
}
.tsta47 {
    fill: #474e54;
}
.tsta48 {
    fill: #b3d7e0;
}
.tsta49 {
    fill: #84a5af;
}
.tsta50 {
    fill: #64a6b5;
}
.tsta51 {
    fill: #3d4d4f;
}
.tsta52 {
    fill: none;
    tstaroke: #5c7793;
    tstaroke-width: 2;
    tstaroke-miterlimit: 10;
}
.tsta53 {
    fill: #49271b;
}
.tsta54 {
    fill: #514c47;
}
.tsta55 {
    fill: #b2b2b2;
}
.tsta56 {
    fill: #53434d;
}
.tsta57 {
    fill: #68597f;
}
.tsta58 {
    fill: #262220;
}
.tsta59 {
    fill: #3a3426;
}
.tsta60 {
    fill: #8e8985;
}
.tsta61 {
    fill: #4e859b;
}
.tsta62 {
    fill: #7398a0;
}
.tsta63 {
    fill: #ff6a21;
}
.tsta64 {
    fill: #544f4c;
}
.tsta65 {
    fill: #725b44;
}
.tsta66 {
    fill: #937e6c;
}
.tsta67 {
    fill: #4f4134;
}
.tsta68 {
    fill: #514b44;
}
.tsta69 {
    fill: #36373a;
}
.tsta70 {
    fill: #aa9c8f;
}
.tsta71 {
    fill: #514b52;
}
.tsta72 {
    fill: #595450;
}
.tsta73 {
    fill: #383532;
}
.tsta74 {
    fill: #756d60;
}
.tsta75 {
    fill: #4d8e1b;
}
.tsta76 {
    fill: #a58c67;
}
.tsta77 {
    fill: #afa197;
}
.tsta78 {
    fill: #7becff;
}
.tsta79 {
    fill: #3b80e2;
}
.tsta80 {
    fill: none;
    tstaroke: #000000;
    tstaroke-width: 2;
    tstaroke-miterlimit: 10;
}
.tsta81 {
    fill: #ffffff;
    tstaroke: #000000;
    tstaroke-width: 3;
    tstaroke-miterlimit: 10;
}
.tsta82 {
    fill: #606d72;
}
.tsta83 {
    fill: #af0c00;
}
.tsta84 {
    fill: #af0000;
}
.tsta85 {
    fill: #3f4042;
}
.tsta86 {
    fill: #434549;
}
.tsta87 {
    fill: #0c2e60;
}
.tsta88 {
    fill: #0065dd;
}
.tsta89 {
    fill: #af8f51;
}
.tsta90 {
    fill: #ba7749;
}
.tsta91 {
    fill: #9a6b46;
}
.tsta92 {
    fill: #9b8b59;
}
.tsta93 {
    fill: #c99b53;
}
.tsta94 {
    fill: #4c442c;
}
.tsta95 {
    fill: #363a28;
}
