.sasha-st0 {
    fill: #f7a800;
}

.sasha-st1 {
    fill: #f18a0e;
}

.sasha-st2 {
    fill: #1d1d1d;
}

.sasha-st3 {
    fill: #ffd346;
}

.sasha-st4 {
    fill: #1d1d1b;
}

.sasha-st5 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.sasha-st6 {
    fill: #fff;
}

.sasha-st7 {
    fill: #ed7601;
}

.sasha-st8 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.sasha-st9 {
    fill: #fbbc2f;
}

.sasha-st10 {
    fill: #d8c5d8;
}

.sasha-st11 {
    fill: #b9aaba;
}

.sasha-st12 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #05f;
}

.sasha-st13 {
    fill: #301a0c;
    stroke: #000;
    stroke-miterlimit: 10;
}

.sasha-st14 {
    fill: #fff;
    stroke: #000;
    stroke-miterlimit: 10;
}

.sasha-st15 {
    fill: #fff;
    stroke: #000;
    stroke-width: 0.4495;
    stroke-miterlimit: 10;
}

.sasha-st16 {
    fill: #ef9d25;
}

.sasha-st17 {
    fill: #c67f22;
}

.sasha-st18 {
    fill: #ea5b1c;
}

.sasha-st19 {
    fill: #776050;
}

.sasha-st20 {
    fill: #5b4a43;
}

.sasha-st21 {
    fill: #4c3d38;
}

.sasha-st22 {
    fill: #7f5e36;
}
