.st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #ffd346;
}

.st2 {
    fill: #fff;
}

.st3 {
    fill: #fbbc2f;
}

.st4 {
    fill: #1d1d1d;
}

.st5 {
    fill: #8d8882;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #5e6063;
}

.st7 {
    fill: #373a3a;
}

.st8 {
    fill: #71767c;
}

.st9 {
    fill: #71767c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #ffd96e;
}

.st11 {
    fill: none;
    stroke: #000;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #0049ff;
    stroke: #000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st13 {
    clip-path: url(#SVGID_2_);
}

.st14 {
    fill: #915a17;
    stroke: #7a3501;
    stroke-width: 1.0211;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #b17e17;
    stroke: #7a3501;
    stroke-width: 1.0211;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #ffa300;
}

.st17 {
    fill: #ce8505;
}

.st18 {
    fill: #0049ff;
    stroke: #0074ff;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #003296;
}

.st20 {
    fill: #0074ff;
}

.st21 {
    fill: #00caff;
}

.st22 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 2.7994;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st23 {
    fill: #f18a0e;
}

.st24 {
    fill: #0c3cce;
}

.st25 {
    fill: #d0c6bc;
}

.st26 {
    fill: #d9110a;
}

.st27 {
    fill: #da0e07;
}

.st28 {
    fill: #e0a11e;
}

.st29 {
    fill: #c6baa3;
}

.st30 {
    fill: #f9ea95;
}

.st31 {
    fill: #152d6b;
}

.st32 {
    fill: #e7a600;
}

.st33 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st34 {
    fill: #fffceb;
}

.st35 {
    fill: #f7a800;
}

.st36 {
    fill: #d8a132;
}

.st37 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st38 {
    clip-path: url(#SVGID_4_);
}

.st39 {
    fill: #2e2e3f;
}

.st40 {
    fill: #4e4e60;
}

.st41 {
    clip-path: url(#SVGID_6_);
}

.st42 {
    fill: #b89833;
}

.st43 {
    fill: #48372f;
}

.st44 {
    fill: #564944;
}

.st45 {
    fill: #ed7601;
}

.st46 {
    fill: #f2892a;
}

.st47 {
    fill: #d64422;
}

.st48 {
    opacity: 0.3;
    fill: #fff;
}

.st49 {
    fill: #776636;
}

.st50 {
    fill: #5e5131;
}

.st51 {
    fill: #5e5234;
}
