.st0 {
    fill: #fd014c;
}

.st1 {
    fill: #ff7f29;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #a34b1f;
}

.st3 {
    fill: #d9d8d4;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #d9d8d4;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #d9d8d4;
}

.st7 {
    fill: #525256;
}

.st8 {
    fill: #fff;
}

.st9 {
    fill: #ed7601;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #7a4338;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #8c3b3b;
}

.st12 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #602e0c;
}

.st14 {
    fill: #ff7f29;
}

.st15 {
    fill: #f9ab2d;
}

.st16 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #fff;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #75aadb;
}

.st19 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #f2892a;
}

.st21 {
    fill: #d64422;
}

.st22 {
    fill: none;
    stroke: #a8a8a8;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st23 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.st24 {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st25 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #ed7601;
}

.st27 {
    fill: #7a4338;
}

.st28 {
    fill: #a8a8a8;
}

.rug0 {
    fill: #ea8f0c;
}

.rug1 {
    fill: #c15700;
}

.rug2 {
    fill: #ffb757;
}

.rug3 {
    fill: #bc1348;
}

.rug4 {
    fill: #68002a;
}

.rug5 {
    opacity: 0.5;
}

.rug6 {
    fill: #8c0033;
}

.rug7 {
    opacity: 0.6;
}

.rug8 {
    opacity: 0.2;
}

.rug9 {
    fill: #ffa9c4;
}

.rug10 {
    opacity: 0.4;
}

.rug11 {
    fill: #c46f00;
}

.rug12 {
    opacity: 0.3;
}

.rug13 {
    fill: #fff0f5;
}

.rug14 {
    fill: #ea8f0c;
    stroke: #c15700;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rug15 {
    fill: #bc1348;
    stroke: #68002a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rug16 {
    opacity: 0.5;
    fill: #8c0033;
}

.rug17 {
    opacity: 0.6;
    fill: #68002a;
}

.rug18 {
    fill: #bc1348;
    stroke: #8c0033;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.rug19 {
    opacity: 0.2;
    fill: #ffa9c4;
}

.rug20 {
    opacity: 0.4;
    fill: #ffa9c4;
}

.rug21 {
    opacity: 0.3;
    fill: #ffa9c4;
}

.rug22 {
    opacity: 0.3;
    fill: #fff0f5;
}
