.st0 {
    fill: #475642;
}

.st1 {
    fill: #6b442e;
}

.st2 {
    fill: #af6127;
}

.st3 {
    fill: #d8a555;
}

.st4 {
    fill: #492c1d;
}

.st5 {
    fill: #fff268;
}

.st6 {
    fill: #724f37;
}

.st7 {
    fill: #4c3a2e;
}

.st8 {
    fill: #896349;
}

.st9 {
    fill: #3c4737;
}

.st10 {
    fill: #516049;
}

.st11 {
    fill: #2c3827;
}

.st12 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #5b150d;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #991900;
}

.st15 {
    fill: #bc3718;
}

.st16 {
    fill: #cbe0ef;
    stroke: #748e9e;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #fff;
}

.st18 {
    fill: #ffd346;
}

.st19 {
    fill: #fbbc2f;
}

.st20 {
    fill: #1d1d1d;
}

.st21 {
    fill: #bc3718;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st22 {
    fill: #49494c;
}

.st23 {
    fill: #333;
}

.st24 {
    fill: #841000;
}

.st25 {
    fill: #565672;
}

.st26 {
    fill: #2e2e33;
}

.st27 {
    fill: #ff4622;
}

.st28 {
    fill: #5b1309;
}

.st29 {
    opacity: 0.7;
}

.st30 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st31 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st32 {
    fill: #bc814b;
}

.st33 {
    fill: #915024;
}

.st34 {
    fill: #e2a554;
}

.st35 {
    fill: #fcc581;
}

.st36 {
    fill: #cc6a11;
}

.st37 {
    fill: #fa0;
    stroke: #f00;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st38 {
    fill: #ffdc7b;
}

.st39 {
    opacity: 0.61;
    fill: #fff487;
}

.st40 {
    fill: #49494c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st41 {
    fill: #ef9d25;
}

.st42 {
    opacity: 0.6;
}

.st43 {
    fill: #700e01;
}

.st44 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st45 {
    clip-path: url(#SVGID_00000011009312469514109310000002026884634694282420_);
}

.st46 {
    fill: #40b2ff;
    stroke: #006a99;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st47 {
    clip-path: url(#SVGID_00000136410049140977897250000008831196293863228555_);
}

.st48 {
    fill: #ed7601;
}

.st49 {
    fill: #ea5b1c;
}

.st50 {
    fill: #1d1d1b;
}

.st51 {
    fill: #bc3708;
}

.st52 {
    opacity: 0.4;
    fill: #ff9b64;
}

.st53 {
    opacity: 0.4;
    fill: #ffa14d;
}

.st54 {
    opacity: 0.7;
    fill: #ffa14d;
}

.st55 {
    fill: #2b2527;
}

.st56 {
    fill: #42383b;
}

.st57 {
    fill: #544d4f;
}

.st58 {
    fill: #5e4e34;
}

.st59 {
    fill: #bf954b;
}

.st60 {
    opacity: 0.2;
    fill: #fff;
}

.st61 {
    fill: #515650;
}

.st62 {
    fill: #363a35;
}

.st63 {
    fill: #9b3e1e;
}

.st64 {
    fill: #d82e00;
}

.st65 {
    fill: #ea6d50;
}

.st66 {
    fill: #5b2c34;
}

.st67 {
    fill: #35191f;
}

.st68 {
    fill: #2e2e30;
}

.st69 {
    fill: #424244;
}

.st70 {
    fill: #494951;
}

.st71 {
    fill: #707070;
}

.st72 {
    fill: #1b1b1e;
}

.st73 {
    fill: #896c4d;
}

.st74 {
    fill: #563f29;
}

.st75 {
    fill: #e75b0d;
}

.st76 {
    fill: #ffaa45;
}

.st77 {
    fill: #513f36;
}

.st78 {
    fill: #75635b;
}

.st79 {
    fill: #d89f44;
}

.st80 {
    fill: #af7a2e;
}

.st81 {
    fill: #efc17f;
}

.st82 {
    fill: #826248;
}

.st83 {
    fill: #604937;
}

.st84 {
    fill: #aa8468;
}

.st85 {
    opacity: 0.7;
    fill: #343851;
}

.st86 {
    fill: #472884;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st87 {
    fill: #754c8e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st88 {
    fill: #dceff4;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st89 {
    fill: #79ef07;
}

.st90 {
    fill: #00a650;
}

.st91 {
    fill: #dceff4;
}

.st92 {
    fill: #5a5f60;
}

.st93 {
    fill: #fff37c;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st94 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st95 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st96 {
    fill: #0e4929;
}

.st97 {
    fill: #69b42d;
}

.st98 {
    fill: #f28f1a;
}

.st99 {
    fill: #513e5e;
}

.st100 {
    fill: none;
    stroke: #931139;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
