.st0 {
    fill: #5b1832;
}

.st1 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #0055fe;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st4 {
    opacity: 0.52;
    fill: #fff;
}

.st5 {
    fill: #3f424c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #892546;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #f18a0e;
}

.st8 {
    fill: #f7a800;
}

.st9 {
    fill: #af2359;
}

.st10 {
    fill: #ff227c;
}

.st11 {
    fill: #525766;
}

.st12 {
    fill: #786658;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #4a403a;
}

.st14 {
    fill: #44b4e0;
}

.st15 {
    fill: #75e7ff;
}

.st16 {
    fill: #1d1d1b;
}

.st17 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #ffd346;
}

.st19 {
    fill: #1d1d1d;
}

.st20 {
    fill: #aeaec1;
}

.st21 {
    fill: #353538;
}

.st22 {
    opacity: 0.2;
    fill: #fff;
}

.st23 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st24 {
    fill: #892546;
}

.st25 {
    fill: #3f424c;
}

.st26 {
    fill: #fff;
}

.st27 {
    fill: #888d9e;
}

.st28 {
    fill: #ff9e1d;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #ff7610;
}

.st30 {
    fill: #ff9e1d;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st31 {
    fill: #ffb864;
}

.st32 {
    fill: #0055fe;
}

.st33 {
    opacity: 0.5;
    fill: #636877;
}

.st34 {
    fill: #837666;
}

.st35 {
    fill: #786658;
}

.st36 {
    fill: #9b8975;
}

.st37 {
    fill: #7c8387;
}

.st38 {
    fill: #bcc2c4;
}

.st39 {
    fill: #393d3f;
}

.st40 {
    fill: #bcaea0;
}

.st41 {
    fill: #5a6472;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st42 {
    fill: #2b2d33;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st43 {
    fill: #28292b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st44 {
    fill: #636877;
}

.st45 {
    fill: #e02b75;
}

.st46 {
    fill: #28292b;
}

.st47 {
    fill: #0055fe;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st48 {
    fill: #003893;
}

.st49 {
    fill: #00bbfc;
}

.st50 {
    fill: #4e8786;
}

.st51 {
    fill: #5a6472;
}

.st52 {
    fill: #8da0b7;
}

.st53 {
    opacity: 0.5;
    fill: #8dd3f6;
}

.st54 {
    opacity: 0.7;
    fill: #cbe9fc;
}

.st55 {
    opacity: 0.73;
    fill: #0055fe;
}

.st56 {
    fill: none;
}

.st57 {
    opacity: 0.73;
    fill: #fff;
}

.st58 {
    opacity: 0.7;
    fill: #fff;
}

.st59 {
    opacity: 0.4;
    fill: #8dd3f6;
}

.st60 {
    fill: #ed7601;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st61 {
    fill: #f7f6d3;
}

.st62 {
    fill: #444343;
}

.st63 {
    fill: #39505b;
}

.st64 {
    fill: #ed7601;
}

.st65 {
    fill: #d64422;
}

.st66 {
    fill: #ff871a;
}

.st67 {
    fill: #ffa255;
}

.st68 {
    fill: #d8162e;
}

.st69 {
    fill: #ff3e5f;
}

.st70 {
    fill: #ff7190;
}

.st71 {
    fill: #f48d2f;
}

.st72 {
    fill: #423e40;
}

.st73 {
    fill: #ff7f00;
}

.st74 {
    fill: #ffac3e;
}

.st75 {
    fill: #0055fe;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st76 {
    fill: #112f5b;
}

.st77 {
    fill: #00675d;
}

.st78 {
    fill: #6a6164;
}

.st79 {
    fill: #87878f;
}

.st80 {
    fill: #232122;
}

.st81 {
    fill: #434d51;
}

.st82 {
    fill: #afafaf;
}

.st83 {
    fill: #000203;
}

.st84 {
    fill: #0c2833;
}

.st85 {
    fill: #3a484c;
}

.st86 {
    fill: #595959;
}

.st87 {
    fill: #ffaf6e;
}

.st88 {
    fill: #768399;
}

.st89 {
    fill: #b0bbcc;
}

.st90 {
    fill: #996e05;
}

.st91 {
    fill: #4f81c2;
}

.st92 {
    opacity: 0.6;
}

.st93 {
    opacity: 0.5;
    fill: #fff;
}

.st94 {
    opacity: 0.4;
    fill: #fff;
}
