.guy-fawkes-0 {
    fill: #3f3c3a;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-1 {
    fill: #fc3030;
}

.guy-fawkes-2 {
    fill: #fff162;
}

.guy-fawkes-3 {
    fill: #fffacc;
}

.guy-fawkes-4 {
    fill: #6d583e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-5 {
    fill: #423933;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-6 {
    fill: #1d1d1b;
}

.guy-fawkes-7 {
    fill: #5e4b40;
}

.guy-fawkes-8 {
    fill: #7c4a38;
}

.guy-fawkes-9 {
    fill: #4f4643;
}

.guy-fawkes-10 {
    fill: #261818;
}

.guy-fawkes-11 {
    fill: #f7a84a;
}

.guy-fawkes-12 {
    fill: #e65d48;
}

.guy-fawkes-13 {
    fill: #565656;
}

.guy-fawkes-14 {
    fill: #363b44;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-15 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-16 {
    fill: #ffd346;
}

.guy-fawkes-17 {
    fill: #fff;
}

.guy-fawkes-18 {
    fill: #fbbc2f;
}

.guy-fawkes-19 {
    fill: #1d1d1d;
}

.guy-fawkes-20 {
    fill: #353535;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-21 {
    fill: #363b44;
}

.guy-fawkes-22 {
    fill: #606060;
}

.guy-fawkes-23 {
    fill: #353535;
}

.guy-fawkes-24 {
    fill: #4c3f39;
}

.guy-fawkes-25 {
    fill: #776446;
}

.guy-fawkes-26 {
    fill: #bf8837;
}

.guy-fawkes-27 {
    fill: #664f46;
}

.guy-fawkes-28 {
    fill: #726254;
}

.guy-fawkes-29 {
    opacity: 0.7;
    fill: #e65d48;
}

.guy-fawkes-30 {
    fill: #3f3c3a;
}

.guy-fawkes-31 {
    fill: #757270;
}

.guy-fawkes-32 {
    fill: #825845;
}

.guy-fawkes-33 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-34 {
    fill: #7e7e7d;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-35 {
    fill: #9e9e9e;
}

.guy-fawkes-36 {
    fill: #c18816;
}

.guy-fawkes-37 {
    fill: #3f2622;
}

.guy-fawkes-38 {
    fill: #513d3a;
}

.guy-fawkes-39 {
    fill: #ed7601;
}

.guy-fawkes-40 {
    fill: #d64422;
}

.guy-fawkes-41 {
    fill: #f2892a;
}

.guy-fawkes-42 {
    fill: #f99c50;
}

.guy-fawkes-43 {
    fill: #4f4f4f;
}

.guy-fawkes-44 {
    fill: #252d22;
}

.guy-fawkes-45 {
    fill: #383838;
}

.guy-fawkes-46 {
    fill: #4f5457;
}

.guy-fawkes-47 {
    fill: #8c8c8c;
}

.guy-fawkes-48 {
    fill: #7a7a7a;
}

.guy-fawkes-49 {
    fill: #3a3f42;
}

.guy-fawkes-50 {
    fill: #5c5f68;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.guy-fawkes-51 {
    fill: #1d1d1b;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.guy-fawkes-52 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.guy-fawkes-53 {
    fill: #af877f;
}

.guy-fawkes-54 {
    fill: #2a3138;
}
