.st0 {
    fill: #0d4460;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #fff;
    stroke-width: 2.9255;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #f18a0e;
}

.st5 {
    fill: #f7a800;
}

.st6 {
    fill: #3bb3ff;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #7cd7ff;
}

.st8 {
    fill: #7c63ff;
}

.st9 {
    fill: #fff;
}

.st10 {
    fill: #3bb3ff;
}

.st11 {
    fill: none;
    stroke: #7cd7ff;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #0055fe;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st13 {
    clip-path: url(#SVGID_4_);
    fill: #9aa4a8;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st14 {
    opacity: 0.52;
    fill: #fff;
}

.st15 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8786;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #ffd346;
}

.st17 {
    fill: #fbbc2f;
}

.st18 {
    fill: #1d1d1d;
}

.st19 {
    fill: #343d63;
}

.st20 {
    fill: #22293f;
}

.st21 {
    fill: #4d5777;
}

.st22 {
    fill: #508593;
}

.st23 {
    fill: #49b8d6;
}

.st24 {
    fill: #4d5777;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st25 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #3f414f;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #3f414f;
    stroke: #000;
    stroke-width: 2.3322;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st28 {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #6a6c77;
}

.st30 {
    fill: #332f2e;
}

.st31 {
    fill: #494646;
}

.st32 {
    fill: #ed7601;
}

.st33 {
    fill: #d64422;
}

.st34 {
    fill: #f2892a;
}

.st35 {
    opacity: 0.3;
    fill: #fff;
}

.st36 {
    fill: #dbc09f;
}

.st37 {
    fill: #baa085;
}

.st38 {
    fill: #c29b77;
}

.st39 {
    fill: #aa8a80;
}

.st40 {
    fill: #fce3c8;
}

.st41 {
    fill: #84655d;
}

.st42 {
    fill: #211f1e;
}

.st43 {
    fill: #664e49;
}

.st44 {
    fill: #c96e23;
    stroke: #5b4c42;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st45 {
    fill: #57b8e3;
}

.st46 {
    fill: #c96e23;
    stroke: #5b4c42;
    stroke-width: 1.6231;
    stroke-miterlimit: 10;
}

.st47 {
    fill: #ffdc8f;
}

.st48 {
    fill: #007dbc;
}

.st49 {
    fill: #71d3f4;
}

.st50 {
    fill: #acbfea;
}
