.st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #74706d;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #ddc296;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #ddc296;
}

.st4 {
    fill: #74706d;
}

.st5 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #fff;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st7 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #c15964;
    stroke: #000;
    stroke-width: 0.7716;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 2.8432;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #f18a0e;
}

.st11 {
    fill: #ffd346;
}

.st12 {
    fill: #fff;
}

.st13 {
    fill: #fbbc2f;
}

.st14 {
    fill: #1d1d1d;
}

.st15 {
    fill: #393338;
}

.st16 {
    fill: #645b6a;
}

.st17 {
    fill: #494649;
}

.st18 {
    fill: #924b4e;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #613a3a;
}

.st20 {
    fill: #a78c75;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #924b4e;
    stroke: #000;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st22 {
    fill: #a78c75;
    stroke: #000;
    stroke-width: 0.8697;
    stroke-miterlimit: 10;
}

.st23 {
    fill: #ad6065;
}

.st24 {
    fill: #924b4e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st25 {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #a78c75;
    stroke: #1d1d1b;
    stroke-width: 0.8697;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st28 {
    fill: #ed7601;
}

.st29 {
    fill: #d64422;
}

.st30 {
    fill: #ffa45a;
}

.st31 {
    fill: #f2892a;
}

.st32 {
    opacity: 0.3;
    fill: #fff;
}

.st33 {
    fill: #f7a800;
}

.st34 {
    fill: #645b6a;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st35 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st36 {
    fill: #924b4e;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

.st37 {
    fill: #3c353c;
}

.st38 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st39 {
    fill: #645b6a;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st40 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 1.0154;
    stroke-miterlimit: 10;
}

.st41 {
    fill: #b76da1;
    stroke: #000;
    stroke-width: 2.7337;
    stroke-miterlimit: 100;
}

.st42 {
    fill: #b76da1;
    stroke: #000;
    stroke-width: 2.8747;
    stroke-miterlimit: 100;
}

.st43 {
    fill: #fb9aff;
}

.st44 {
    fill: #414853;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 100;
}

.st45 {
    opacity: 0.49;
    fill: #ffd346;
}

.st46 {
    fill: #f04941;
}

.st47 {
    fill: #f0ff41;
}
