.johny-st0 {
    fill: #3d505e;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.johny-st1 {
    fill: #1f2528;
}

.johny-st2 {
    fill: #687b87;
}

.johny-st3 {
    fill: #313e46;
}

.johny-st4 {
    fill: #f18a0e;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.johny-st5 {
    fill: #5e5325;
    stroke: #a56908;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.johny-st6 {
    fill: #f7a800;
}

.johny-st7 {
    fill: #f18a0e;
}

.johny-st8 {
    fill: none;
    stroke: #000000;
    stroke-width: 2.7063;
    stroke-miterlimit: 10;
}

.johny-st9 {
    fill: #ffd346;
}

.johny-st10 {
    fill: #ffffff;
}

.johny-st11 {
    fill: #fbbc2f;
}

.johny-st12 {
    fill: #1d1d1d;
}

.johny-st13 {
    fill: none;
    stroke: #a56908;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.johny-st14 {
    fill: #1e1e1e;
}

.johny-st15 {
    fill: #a39361;
}

.johny-st16 {
    fill: #635a40;
}

.johny-st17 {
    fill: #5a5c60;
}

.johny-st18 {
    fill: #b7ab8a;
}

.johny-st19 {
    fill: #ead8a9;
}

.johny-st20 {
    fill: #ea8124;
}

.johny-st21 {
    fill: #ffd985;
}

.johny-st22 {
    fill: none;
    stroke: #ffd985;
    stroke-miterlimit: 10;
}

.johny-st23 {
    fill: #3a3a3a;
}

.johny-st24 {
    fill: #ed7601;
}

.johny-st25 {
    fill: #d64422;
}

.johny-st26 {
    fill: #f2892a;
}

.johny-st27 {
    opacity: 0.3;
    fill: #ffffff;
}

.johny-st28 {
    fill: #594c47;
}

.johny-st29 {
    fill: #6d645e;
}

.johny-st30 {
    fill: #846855;
}

.johny-st31 {
    fill: #a39076;
}

.johny-st32 {
    opacity: 0.05;
    fill: #e1f4ff;
}

.johny-st33 {
    opacity: 0.3;
    fill: #b8c4cc;
}

.johny-st34 {
    fill: #9e928b;
}

.johny-st35 {
    fill: #b5afac;
}

.johny-st36 {
    fill: #cecece;
}

.johny-st37 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
