.st0 {
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #f18a0e;
}

.st3 {
    fill: #ffd346;
}

.st4 {
    fill: #969fbc;
}

.st5 {
    fill: #7d7f89;
}

.st6 {
    fill: #94f2ff;
}

.st7 {
    fill: #467689;
}

.st8 {
    fill: #aed5ff;
}

.st9 {
    fill: #4676ff;
}

.st10 {
    fill: #fff;
}

.st11 {
    fill: #b8ccff;
}

.st12 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #3d0b0b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #f00;
}

.st15 {
    fill: #3f3f3e;
}

.st16 {
    fill: #fbbc2f;
}

.st17 {
    fill: #1d1d1d;
}

.st18 {
    opacity: 0.51;
    fill: #998050;
}

.st19 {
    fill: none;
    stroke: #7c7567;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #7c7567;
}

.st21 {
    fill: #ffbdbd;
}

.st22 {
    clip-path: url(#SVGID_2_);
}

.st23 {
    fill: #47e4eb;
}

.st24 {
    opacity: 0.4;
}

.st25 {
    fill: #a5896b;
}

.st26 {
    clip-path: url(#SVGID_4_);
}

.st27 {
    fill: #dcbb86;
}

.st28 {
    fill: #ff8b05;
}

.st29 {
    fill: #f1dfb7;
}

.st30 {
    clip-path: url(#SVGID_6_);
}

.st31 {
    opacity: 0.3;
    fill: #ff005e;
}

.st32 {
    fill: #b59c7d;
}

.st33 {
    fill: #4c4431;
}

.st34 {
    fill: #ed7601;
}

.st35 {
    fill: #d64422;
}

.st36 {
    fill: #cecece;
}

.st37 {
    fill: #5c5e63;
}

.st38 {
    fill: #f9f9f9;
}

.st39 {
    fill: #f2892a;
}

.st40 {
    opacity: 0.3;
    fill: #fff;
}

.st41 {
    fill: #877957;
}

.st42 {
    fill: #473833;
}

.st43 {
    fill: none;
    stroke: #7d7f89;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st44 {
    fill: #bcbfc9;
}

.st45 {
    fill: #e5dfe5;
}

.st46 {
    fill: #5c6063;
}

.st47 {
    fill: #59331e;
}

.st48 {
    fill: #3a2c25;
}

.st49 {
    fill: #72664c;
}

.st50 {
    fill: #564d4b;
}

.st51 {
    fill: #666464;
}

.st52 {
    fill: #5e534e;
}

.st53 {
    fill: #a5b0b7;
}

.st54 {
    opacity: 0.19;
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st55 {
    clip-path: url(#SVGID_8_);
}

.st56 {
    fill: #3d2b19;
}

.st57 {
    opacity: 0.5;
    fill: #fff;
}

.st58 {
    clip-path: url(#SVGID_10_);
}

.st59 {
    fill: #776636;
}
