.st0 {
    fill: #565fb7;
    stroke: #000;
    stroke-width: 3.6935;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #898df1;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #565fb7;
}

.st3 {
    fill: #898df1;
}

.st4 {
    fill: #fff;
}

.st5 {
    fill: #ffd346;
}

.st6 {
    fill: #1d1d1d;
}

.st7 {
    opacity: 0.5;
    fill: #565fb7;
}

.st8 {
    fill: #565fb7;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #b3d9ff;
}

.st10 {
    opacity: 0.4;
    fill: #565fb7;
}

.st11 {
    opacity: 0.4;
}

.st12 {
    fill: #fff;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #78c5dd;
    stroke: #000;
    stroke-width: 2.5506;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #ed7601;
}

.st15 {
    fill: #d64422;
}

.st16 {
    fill: #f2892a;
}
