.st0 {
    fill: #3adbc4;
}

.st1 {
    fill: #99ffe2;
}

.st2 {
    fill: #f3fffb;
}

.st3 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #bcac96;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #303138;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #4d505e;
}

.st7 {
    fill: #f18a0e;
}

.st8 {
    fill: #f7a800;
}

.st9 {
    fill: #e30613;
}

.st10 {
    fill: #ffdeb6;
}

.st11 {
    fill: #1d1d1b;
}

.st12 {
    fill: #a62525;
}

.st13 {
    fill: #fff;
}

.st14 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #ffd346;
}

.st16 {
    fill: #fbbc2f;
}

.st17 {
    fill: #1d1d1d;
}

.st18 {
    fill: #7f0909;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #561313;
}

.st20 {
    fill: #c6be9d;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #898679;
}

.st22 {
    fill: #c40000;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st23 {
    fill: #444c59;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st24 {
    fill: #2e3a49;
}

.st25 {
    fill: #223f6d;
}

.st26 {
    fill: #364c39;
}

.st27 {
    opacity: 0.7;
    fill: #56292f;
}

.st28 {
    opacity: 0.3;
    fill: #ff002b;
}

.st29 {
    opacity: 0.6;
    fill: #273328;
}

.st30 {
    fill: #808291;
    stroke: #5b5c66;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st31 {
    fill: #a0a2af;
}

.st32 {
    fill: #5b5c66;
}

.st33 {
    fill: #474954;
}

.st34 {
    fill: #72747c;
}

.st35 {
    fill: #a03c04;
}

.st36 {
    opacity: 0.4;
    fill: #470101;
}

.st37 {
    opacity: 0.5;
    fill: #c60000;
}

.st38 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st39 {
    fill: #c60000;
}

.st40 {
    opacity: 0.4;
}

.st41 {
    opacity: 0.3;
}

.st42 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st43 {
    fill: #f4ebc6;
}

.st44 {
    fill: #c40000;
}

.st45 {
    fill: #9b5013;
}

.st46 {
    fill: #b54d97;
}

.st47 {
    fill: #4f4583;
}

.st48 {
    fill: #51443e;
}

.st49 {
    fill: #82665b;
}

.st50 {
    fill: #2f2f33;
}

.st51 {
    fill: #0047ff;
}

.st52 {
    fill: #0032b3;
}

.st53 {
    fill: #0078ff;
}

.st54 {
    fill: #6b9dff;
}

.st55 {
    fill: #acc8ff;
}

.st56 {
    opacity: 0.5;
}

.st57 {
    opacity: 0.5;
    fill: #aa2929;
}

.st58 {
    opacity: 0.23;
    fill: #997d59;
}

.st59 {
    fill: #c1a07c;
}

.st60 {
    fill: #ed6ca5;
}

.st61 {
    fill: #a85d93;
}

.st62 {
    fill: #9edda6;
}

.st63 {
    fill: #e4091e;
}

.st64 {
    fill: #dce1de;
}

.st65 {
    fill: #7f246a;
}

.st66 {
    fill: #df003f;
}

.st67 {
    opacity: 0.7;
    fill: #ffe1f7;
}

.st68 {
    fill: #ffa6e1;
}

.st69 {
    fill: #95a9d8;
}

.st70 {
    fill: #932f58;
}

.st71 {
    fill: none;
    stroke: #932f58;
    stroke-miterlimit: 10;
}

.st72 {
    fill: #fff6a2;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st73 {
    fill: #71c4bb;
}

.st74 {
    fill: #ed7601;
}

.st75 {
    fill: #d64422;
}

.st76 {
    fill: #82340d;
}

.st77 {
    fill: #441d0c;
}

.st78 {
    fill: #efcc95;
}

.st79 {
    fill: #f2892a;
}

.st80 {
    fill: #4d4d5b;
}

.st81 {
    fill: #373742;
}

.st82 {
    fill: #6b6b75;
}

.st83 {
    fill: #d8a132;
}
