.sporty-st0 {
    fill: #f7a800;
    stroke: #231f20;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.sporty-st1 {
    fill: #f18a0e;
}

.sporty-st2 {
    fill: #f15623;
}

.sporty-st3 {
    fill: #febe10;
}

.sporty-st4 {
    fill: #c90014;
}

.sporty-st5 {
    fill: #ffe05f;
}

.sporty-st6 {
    fill: #7890a3;
}

.sporty-st7 {
    fill: #002560;
}

.sporty-st8 {
    fill: #724251;
}

.sporty-st9 {
    opacity: 0.5;
    fill: #c19da8;
}

.sporty-st10 {
    fill: #c0dadd;
}

.sporty-st11 {
    fill: #c2f4f9;
}

.sporty-st12 {
    fill: #eff;
}

.sporty-st13 {
    fill: #b7e7ea;
}

.sporty-st14 {
    fill: #bf8010;
}

.sporty-st15 {
    fill: #f49b0c;
}

.sporty-st16 {
    opacity: 0.3;
    fill: #b3afbc;
}

.sporty-st17 {
    fill: #ffbf3e;
}

.sporty-st18 {
    fill: none;
    stroke: #231f20;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.sporty-st19 {
    fill: #f7a800;
    stroke: #231f20;
    stroke-width: 3.0395;
    stroke-miterlimit: 10;
}

.sporty-st20 {
    fill: #f7a800;
}

.sporty-st21 {
    fill: #1d1d1d;
}

.sporty-st22 {
    fill: #ffd346;
}

.sporty-st23 {
    fill: #05f;
}

.sporty-st24 {
    fill: #437bff;
}

.sporty-st25 {
    fill: none;
    stroke: #002560;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.sporty-st26 {
    fill: #593221;
}

.sporty-st27 {
    fill: #c99e4f;
}

.sporty-st28 {
    fill: #e5af17;
}

.sporty-st29 {
    fill: #af8129;
}

.sporty-st30 {
    fill: #ffe89f;
}

.sporty-st31 {
    fill: #fff;
}

.sporty-st32 {
    fill: #373735;
}

.sporty-st33 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 4.252;
    stroke-miterlimit: 10;
}

.sporty-st34 {
    fill: #1d1d1b;
}

.sporty-st35 {
    fill: #def5ff;
}

.sporty-st36 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4.252;
    stroke-miterlimit: 10;
}

.sporty-st37 {
    fill: #fbbc2f;
}

.sporty-st38 {
    fill: #ed7601;
}

.sporty-st39 {
    fill: #d64422;
}

.sporty-st40 {
    fill: #c2f4f9;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
