.st0 {
    clip-path: url(#SVGID_2_);
    fill: #928d0b;
}

.st1 {
    clip-path: url(#SVGID_2_);
    fill: #b17141;
}

.st2 {
    clip-path: url(#SVGID_2_);
}

.st3 {
    clip-path: url(#SVGID_2_);
    fill: #513f19;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st4 {
    clip-path: url(#SVGID_2_);
    fill: #30250f;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #f18a0e;
}

.st7 {
    fill: #e3db57;
    stroke: #000;
    stroke-width: 3.7802;
    stroke-miterlimit: 10;
}

.st8 {
    fill: none;
    stroke: #000;
    stroke-width: 3.7802;
    stroke-miterlimit: 10;
}

.st9 {
    opacity: 0.4;
    fill: #fff;
}

.st10 {
    fill: #ffd346;
}

.st11 {
    fill: #fff;
}

.st12 {
    fill: #fbbc2f;
}

.st13 {
    fill: #1d1d1d;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #1d1d1d;
}

.st15 {
    fill: #f7a800;
}

.st16 {
    fill: #fff;
    stroke: #000;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #ed7601;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #d64422;
}

.st19 {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st20 {
    fill: none;
    stroke: #000;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #df9124;
    stroke: #000;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st22 {
    clip-path: url(#SVGID_4_);
    fill: #ffc905;
}

.st23 {
    clip-path: url(#SVGID_4_);
    fill: #ffc905;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st24 {
    clip-path: url(#SVGID_4_);
    fill: #f29a28;
}

.st25 {
    clip-path: url(#SVGID_4_);
}
