.title-st0 {
    fill: #a79253;
}

.title-st1 {
    fill: #9b844b;
}

.title-st2 {
    fill: #cbac4e;
}

.title-st3 {
    fill: #b2913f;
}

.title-st4 {
    fill: #847349;
}

.title-st5 {
    fill: #917330;
}

.title-st6 {
    opacity: 0.83;
    fill: #847349;
}

.title-st7 {
    fill: #7c6331;
}

.title-st8 {
    fill: #fcd57e;
}

.title-st9 {
    fill: #1d1d1d;
}

.title-st10 {
    fill: #525252;
}

.title-st11 {
    fill: #353535;
}

.title-st12 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.title-st13 {
    fill: #3f3f3f;
}

.title-st14 {
    fill: #fff;
}

.title-st15 {
    fill: #ffd346;
}

.title-st16 {
    fill: #fbbc2f;
}

.title-st17 {
    fill: #a07f5a;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.title-st18 {
    fill: #c7af8b;
}

.title-st19 {
    fill: #bc8842;
}

.title-st20 {
    fill: #8c6b44;
}

.title-st21 {
    fill: #5b4227;
}

.title-st22 {
    fill: #c7af8b;
    stroke: #000;
    stroke-width: 3.0471;
    stroke-miterlimit: 10;
}

.title-st23 {
    fill: #ed7601;
}

.title-st24 {
    fill: #d64422;
}

.title-st25 {
    fill: #f2892a;
}

.title-st26 {
    fill: #ffa75f;
}

.title-st27 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.title-st28 {
    clip-path: url(#SVGID_2_);
}

.title-st29 {
    fill: #ddba1d;
    stroke: #000;
    stroke-width: 2.0142;
    stroke-miterlimit: 10;
}

.title-st30 {
    fill: #cea600;
}

.title-st31 {
    stroke: #000;
    stroke-width: 0.7079;
    stroke-miterlimit: 10;
}

.title-st32 {
    opacity: 0.5;
    fill: #fff;
}

.title-st33 {
    fill: none;
    stroke: #000;
    stroke-width: 2.0142;
    stroke-miterlimit: 10;
}

.title-st34 {
    clip-path: url(#SVGID_4_);
}

.title-st35 {
    fill: #ddba1d;
    stroke: #000;
    stroke-width: 1.9153;
    stroke-miterlimit: 10;
}

.title-st36 {
    stroke: #000;
    stroke-width: 0.6731;
    stroke-miterlimit: 10;
}

.title-st37 {
    fill: none;
    stroke: #000;
    stroke-width: 1.9153;
    stroke-miterlimit: 10;
}

.title-st38 {
    fill: #242424;
}

.title-st39 {
    clip-path: url(#SVGID_6_);
    fill: #a79253;
}

.title-st40 {
    clip-path: url(#SVGID_6_);
    fill: #9b844b;
}

.title-st41 {
    clip-path: url(#SVGID_6_);
    fill: #cbac4e;
}

.title-st42 {
    clip-path: url(#SVGID_6_);
    fill: #b2913f;
}

.title-st43 {
    clip-path: url(#SVGID_6_);
    fill: #847349;
}

.title-st44 {
    clip-path: url(#SVGID_6_);
    fill: #917330;
}

.title-st45 {
    opacity: 0.83;
    clip-path: url(#SVGID_6_);
    fill: #847349;
}

.title-st46 {
    clip-path: url(#SVGID_6_);
    fill: #7c6331;
}

.title-st47 {
    clip-path: url(#SVGID_6_);
    fill: #fcd57e;
}

.title-st48 {
    clip-path: url(#SVGID_6_);
}
