.st0 {
    fill: #f18a0e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #2d68ea;
    stroke: #00338e;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #384149;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #293238;
}

.st5 {
    fill: #f18a0e;
}

.st6 {
    fill: #1d1d1b;
}

.st7 {
    fill: #2b2b2b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #2d1915;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #e92526;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #fff;
}

.st11 {
    fill: #760d14;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #e92526;
}

.st13 {
    fill: #fc4f58;
}

.st14 {
    fill: #a4b3ba;
}

.st15 {
    fill: #69777c;
}

.st16 {
    fill: #dfeef4;
}

.st17 {
    fill: #f7a800;
}

.st18 {
    fill: #59372d;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #332928;
}

.st20 {
    fill: #825333;
}

.st21 {
    fill: #dbd3b4;
    stroke: #9e9886;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st22 {
    fill: #edeae2;
}

.st23 {
    opacity: 0.54;
}

.st24 {
    fill: #4e4e51;
}

.st25 {
    fill: #42413f;
}

.st26 {
    fill: #5e5c58;
}

.st27 {
    fill: #72706b;
}

.st28 {
    fill: #2d2d2c;
}

.st29 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st30 {
    fill: #fddedb;
    stroke: #b090a7;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st31 {
    fill: #040517;
}

.st32 {
    fill: #ae8da2;
}

.st33 {
    opacity: 0.3;
}

.st34 {
    opacity: 0.3;
    fill: #fff;
}

.st35 {
    opacity: 0.36;
    fill: #f18a0e;
}

.st36 {
    fill: #89755d;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st37 {
    fill: #dfb47f;
}

.st38 {
    fill: #89755d;
}

.st39 {
    fill: #5b6770;
}

.st40 {
    fill: #00338e;
}

.st41 {
    fill: #52adff;
}

.st42 {
    opacity: 0.3;
    fill: none;
    stroke: #2d68ea;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st43 {
    fill: #8e9976;
}

.st44 {
    fill: #6f775a;
}

.st45 {
    fill: #c2c48c;
}

.st46 {
    fill: #c6a259;
}

.st47 {
    fill: #c2c48c;
    stroke: #6f775a;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st48 {
    fill: #e2e2c5;
}

.st49 {
    fill: none;
    stroke: #515642;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st50 {
    fill: none;
}

.st51 {
    fill: #98968a;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st52 {
    fill: #665a42;
}

.st53 {
    fill: #001b69;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st54 {
    fill: #fd4e6d;
}

.st55 {
    fill: #ad344e;
}

.st56 {
    fill: #c9082a;
}

.st57 {
    fill: #4b585e;
}

.st58 {
    fill: #363d3f;
}

.st59 {
    fill: #202526;
}

.st60 {
    fill: #63889b;
    stroke: #566165;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st61 {
    fill: #334744;
    stroke: #566165;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st62 {
    fill: #5db8ba;
}

.st63 {
    fill: #d1cb59;
}

.st64 {
    fill: #a49522;
}

.st65 {
    fill: #86a9b7;
}

.st66 {
    fill: #63889b;
}

.st67 {
    fill: none;
    stroke: #f4eb82;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st68 {
    fill: none;
    stroke: #a49522;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st69 {
    fill: #f4eb82;
}

.st70 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st71 {
    fill: #ffd346;
}

.st72 {
    fill: #fbbc2f;
}

.st73 {
    fill: #1d1d1d;
}

.st74 {
    fill: #594f3d;
}

.st75 {
    fill: #998255;
}

.st76 {
    opacity: 0.5;
    fill: #594f3d;
}

.st77 {
    fill: #7f6e4f;
}

.st78 {
    fill: #c1a067;
}

.st79 {
    fill: #725726;
}

.st80 {
    fill: #a2c1cc;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st81 {
    fill: #92d6e8;
}

.st82 {
    fill: #c4e1e8;
}

.st83 {
    fill: #ad7718;
}

.st84 {
    fill: #d8d8d8;
}

.st85 {
    fill: #89505c;
}

.st86 {
    fill: #8e8587;
}

.st87 {
    fill: #595751;
}

.st88 {
    fill: #3a3935;
}

.st89 {
    fill: #b5b5b5;
}

.st90 {
    fill: #252d33;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st91 {
    fill: #1c2023;
}

.st92 {
    fill: #db9e23;
}

.st93 {
    fill: #6f7d84;
}

.st94 {
    fill: #2a3142;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st95 {
    fill: #878686;
}

.st96 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st97 {
    fill: #ffd96e;
}

.st98 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st99 {
    fill: #c68d3c;
}

.st100 {
    fill: #0038a7;
}

.st101 {
    fill: #ce1127;
}

.st102 {
    fill: #fdd116;
}

.st103 {
    fill: none;
    stroke: #fdd116;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st104 {
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st105 {
    opacity: 0.3;
    fill: #0b2d63;
}

.st106 {
    fill: none;
    stroke: #696b70;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st107 {
    fill: #3d2823;
}

.st108 {
    fill: #071c26;
}

.st109 {
    fill: #0b2c3f;
}

.st110 {
    fill: #1b5378;
}

.st111 {
    fill: #999;
}

.st112 {
    fill: #d2d8db;
}

.st113 {
    fill: #e8e9ea;
}

.st114 {
    fill: #474643;
}

.st115 {
    fill: #adacac;
}

.st116 {
    fill: #d6d6d6;
}

.st117 {
    opacity: 0.5;
    fill: #f2d0aa;
}

.st118 {
    opacity: 0.2;
    fill: #f2d0aa;
}

.st119 {
    fill: #c7d8e2;
}

.st120 {
    fill: #9ea8af;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st121 {
    fill: #252b30;
}

.st122 {
    fill: #47525b;
}

.st123 {
    fill: #2a2f33;
}

.st124 {
    fill: #667884;
}

.st125 {
    fill: #384149;
}

.st126 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st127 {
    fill: #fcfcfc;
}

.st128 {
    fill: #602216;
}

.st129 {
    fill: #8e6004;
}

.st130 {
    fill: #ed9700;
}

.st131 {
    fill: #585f63;
}

.st132 {
    fill: #c9cfd3;
}

.st133 {
    fill: #d8d0b9;
}

.st134 {
    fill: #98968a;
}

.st135 {
    fill: #686763;
}

.st136 {
    fill: #63605a;
}

.st137 {
    fill: #514c43;
}

.st138 {
    fill: #898888;
}

.st139 {
    fill: #7c7c7c;
}

.st140 {
    fill: #b8b3a8;
}

.st141 {
    fill: #a59d88;
}

.st142 {
    opacity: 0.59;
    fill: #56383f;
}

.st143 {
    fill: #bc2f4d;
}

.st144 {
    opacity: 0.4;
    fill: #fd4e6d;
}

.st145 {
    opacity: 0.5;
    fill: #fd4e6d;
}

.st146 {
    fill: #ff7694;
}

.st147 {
    fill: #ffd9b8;
}

.st148 {
    opacity: 0.34;
    fill: #ff8170;
}

.st149 {
    fill: #fff6cf;
}

.st150 {
    opacity: 0.15;
    fill: #fff;
}

.st151 {
    fill: #fe9c7a;
}

.st152 {
    fill: none;
    stroke: #89505c;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st153 {
    fill: #a4b5bc;
}

.st154 {
    fill: #74858c;
}

.st155 {
    fill: #bfa6b5;
}

.st156 {
    opacity: 0.34;
    fill: #fd4e6d;
}

.st157 {
    fill: #d1c3cc;
}

.st158 {
    fill: #7f6977;
}

.st159 {
    fill: #bfbfa6;
}

.st160 {
    opacity: 0.34;
    fill: #bdfd4d;
}

.st161 {
    fill: #d1d1c3;
}

.st162 {
    fill: #7f7f69;
}

.st163 {
    fill: #ff6687;
}

.st164 {
    fill: #383349;
}

.st165 {
    opacity: 0.3;
    fill: #6b7a7f;
}

.st166 {
    fill: #90c4bf;
}

.st167 {
    fill: #5b777c;
}

.st168 {
    fill: none;
    stroke: #454f5e;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st169 {
    fill: #b4e1fa;
}

.st170 {
    fill: #cdeafc;
}

.st171 {
    fill: #6fa4bc;
}

.st172 {
    fill: #afbdd8;
}

.st173 {
    fill: #d7f3ff;
}

.st174 {
    fill: #c7dbf9;
}

.st175 {
    fill: #459cba;
}

.st176 {
    fill: #76c8e5;
}

.st177 {
    fill: #9b3f00;
}

.st178 {
    fill: #c46626;
}

.st179 {
    fill: #db811f;
}

.st180 {
    fill: #f9bf36;
}

.st181 {
    fill: #ffecc5;
}

.st182 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st183 {
    fill: #4f4542;
}

.st184 {
    fill: #8c8381;
}

.st185 {
    fill: #e74019;
}

.st186 {
    fill: #aa250b;
}

.st187 {
    fill: #f9b84e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st188 {
    fill: #0064b0;
}

.st189 {
    fill: #004068;
}

.st190 {
    fill: #79a6bc;
}

.st191 {
    fill: #b9d2db;
}

.st192 {
    fill: #feece0;
}

.st193 {
    fill: #44a6e2;
}

.st194 {
    fill: #562f2f;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st195 {
    fill: #dbd3b4;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st196 {
    fill: #c33;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st197 {
    fill: #d4723d;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st198 {
    fill: #827e73;
}

.st199 {
    fill: #ff9e73;
}

.st200 {
    fill: #e92526;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st201 {
    fill: #760d14;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st202 {
    fill: #760d14;
}

.st203 {
    opacity: 0.4;
    fill: #fff;
}

.st204 {
    fill: #d4723d;
    stroke: #843215;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st205 {
    fill: #ff6969;
}

.st206 {
    fill: #d99942;
    stroke: #843215;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st207 {
    fill: #fbbb48;
}

.st208 {
    fill: #c33;
}

.st209 {
    fill: #ba9960;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st210 {
    fill: #e2bd86;
}

.st211 {
    fill: #916f43;
}

.st212 {
    fill: #3d1c25;
}

.st213 {
    fill: #617b84;
}

.st214 {
    fill: #5b3e1c;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st215 {
    fill: #435256;
}

.st216 {
    fill: #3f2d28;
}

.st217 {
    opacity: 0.3;
    fill: #1d1d1b;
}

.st218 {
    fill: #3f2f23;
}

.st219 {
    fill: #8c837c;
}

.st220 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st221 {
    fill: #aaa9a9;
}

.st222 {
    fill: #473d39;
}

.st223 {
    fill: #393941;
}

.st224 {
    fill: #282120;
}

.st225 {
    fill: #585860;
}

.st226 {
    fill: #ed7601;
}

.st227 {
    fill: #d64422;
}

.st228 {
    fill: #f2892a;
}

.st229 {
    fill: #ff9f50;
}

.st230 {
    opacity: 0.2;
    fill: #fff;
}

.st231 {
    fill: #4c3b2d;
}

.st232 {
    fill: #9e948b;
}

.st233 {
    fill: #c4c4c4;
}

.st234 {
    fill: #9f9fa0;
}

.st235 {
    fill: #f5f6f7;
}

.st236 {
    fill: #bf5b3c;
}

.st237 {
    fill: #91371f;
}

.st238 {
    fill: #ea8165;
}

.st239 {
    fill: #fa9;
}

.st240 {
    fill: #33120d;
}

.st241 {
    fill: #414244;
}

.st242 {
    fill: #f9923e;
}

.st243 {
    fill: #685854;
}

.st244 {
    fill: #3d2b27;
}

.st245 {
    fill: #919191;
}

.st246 {
    fill: #ccc0ac;
}

.st247 {
    fill: #e5dbcc;
}

.st248 {
    fill: #826365;
}

.st249 {
    opacity: 0.27;
}

.st250 {
    fill: #c47b5f;
}

.st251 {
    fill: #ff8fa7;
}

.st252 {
    fill: #7e8087;
}

.st253 {
    fill: #26211d;
}

.st254 {
    fill: #6d6761;
}

.st255 {
    fill: #aa8e55;
}

.st256 {
    fill: #7a6e59;
}

.st257 {
    fill: #ededed;
}

.st258 {
    fill: #e5e5e5;
}

.st259 {
    fill: #1e1f21;
}

.st260 {
    fill: #727375;
}

.st261 {
    fill: #3d372d;
}

.st262 {
    fill: #ffd86c;
}

.st263 {
    fill: #844f5b;
}

.st264 {
    fill: #73aae0;
}

.st265 {
    fill: #ff5fdd;
}

.st266 {
    fill: #c08261;
}

.st267 {
    fill: #ff2252;
}

.st268 {
    fill: #ff9fb8;
}

.st269 {
    fill: #bc0031;
}

.st270 {
    fill: #dbc69e;
}

.st271 {
    fill: #e8decf;
}

.st272 {
    fill: #d4889c;
}

.st273 {
    fill: #d8ccd4;
}

.st274 {
    fill: #841722;
}

.st275 {
    fill: #b52c33;
}

.st276 {
    fill: #560627;
}

.st277 {
    fill: #b79551;
}

.st278 {
    fill: #4c4436;
}

.st279 {
    fill: #82755f;
}

.st280 {
    fill: #544d44;
}

.st281 {
    fill: #9e9c98;
}

.st282 {
    fill: #3c2110;
}

.st283 {
    fill: #81838c;
}

.st284 {
    fill: #b5a986;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st285 {
    fill: #d6caae;
}

.st286 {
    fill: #b5a986;
}

.st287 {
    fill: #8c8472;
}

.st288 {
    fill: #efe4ce;
}

.st289 {
    fill: #ff9c4a;
}

.st290 {
    fill: #6d6a66;
}

.st291 {
    fill: #4c4b4a;
}

.st292 {
    fill: #6b523c;
}

.st293 {
    fill: #b2a38a;
}
