.st0 {
    fill: #ad5a00;
    stroke: #000;
    stroke-width: 2.9589;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #a2aeba;
    stroke: #566068;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #c5d2dd;
}

.st3 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 2.677;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2.713;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #f7a800;
}

.st7 {
    fill: #ed7601;
}

.st8 {
    fill: #1d1d1d;
}

.st9 {
    opacity: 0.3;
    fill: #ffba7b;
}

.st10 {
    fill: #3c4044;
}

.st11 {
    fill: #fff;
}

.st12 {
    fill: #f18a0e;
}

.st13 {
    fill: #ffd346;
}

.st14 {
    fill: #4f372f;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #be1937;
}

.st16 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st17 {
    display: none;
}

.st18 {
    display: inline;
}

.st19 {
    display: inline;
    fill: #b44d93;
    stroke: #000;
    stroke-width: 2.8687;
    stroke-miterlimit: 10;
}

.st20 {
    display: inline;
    fill: #c17b00;
    stroke: #000;
    stroke-width: 2.8687;
    stroke-miterlimit: 10;
}

.st21 {
    display: inline;
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3.0475;
    stroke-miterlimit: 10;
}

.st22 {
    display: inline;
    fill: #f7a800;
}

.st23 {
    display: inline;
    fill: #fff;
    stroke: #000;
    stroke-width: 2.0433;
    stroke-miterlimit: 10;
}

.st24 {
    fill: #ed7601;
    stroke: #000;
    stroke-width: 2.0433;
    stroke-miterlimit: 10;
}

.st25 {
    opacity: 0.3;
    fill: #fff;
}

.st26 {
    display: inline;
    fill: #c17b00;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st27 {
    display: inline;
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3.187;
    stroke-miterlimit: 10;
}

.st28 {
    display: inline;
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st29 {
    display: inline;
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st30 {
    display: inline;
    fill: #99845f;
    stroke: #5b4f3b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st31 {
    display: inline;
    fill: #e5c89e;
}

.st32 {
    display: inline;
    fill: #353433;
}

.st33 {
    display: inline;
    fill: #262626;
}

.st34 {
    fill: #282a30;
}

.st35 {
    fill: #494b51;
}

.st36 {
    fill: #7f8187;
}

.st37 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3.2052;
    stroke-miterlimit: 10;
}

.st38 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2.1368;
    stroke-miterlimit: 10;
}

.st39 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2.0461;
    stroke-miterlimit: 10;
}

.st40 {
    fill: #ed7601;
    stroke: #000;
    stroke-width: 2.1368;
    stroke-miterlimit: 10;
}

.st41 {
    display: inline;
    fill: #fff;
    stroke: #000;
    stroke-width: 2.1368;
    stroke-miterlimit: 10;
}

.st42 {
    display: inline;
    fill: #ed7601;
    stroke: #000;
    stroke-width: 2.1368;
    stroke-miterlimit: 10;
}

.st43 {
    display: inline;
    opacity: 0.3;
    fill: #fff;
}

.st44 {
    display: inline;
    fill: #3c4044;
}

.st45 {
    display: inline;
    fill: #fff;
}

.st46 {
    display: inline;
    fill: #507093;
    stroke: #000;
    stroke-width: 2.8687;
    stroke-miterlimit: 10;
}

.st47 {
    display: inline;
    fill: #3ebeff;
}

.st48 {
    display: inline;
    fill: none;
    stroke: #3ebeff;
    stroke-miterlimit: 10;
}

.st49 {
    display: inline;
    fill: #f7a800;
    stroke: #000;
    stroke-width: 2.8687;
    stroke-miterlimit: 10;
}

.st50 {
    display: inline;
    fill: #c1c5d3;
    stroke: #57636b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st51 {
    display: inline;
    fill: #aa3f2e;
}

.st52 {
    display: inline;
    opacity: 0.27;
    fill: #a3aaaf;
}

.st53 {
    display: inline;
    opacity: 0.2;
    fill: #fff;
}

.st54 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 4.6925;
    stroke-miterlimit: 10;
}

.st55 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 4.5219;
    stroke-miterlimit: 10;
}

.st56 {
    fill: #def5ff;
}

.st57 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4.5219;
    stroke-miterlimit: 10;
}

.st58 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4.6925;
    stroke-miterlimit: 10;
}

.st59 {
    fill: #302522;
}

.st60 {
    fill: #49413f;
}

.st61 {
    fill: #6d6968;
}

.st62 {
    fill: #403c51;
}

.st63 {
    fill: #fbbc2f;
}

.st64 {
    fill: #d64422;
}

.st65 {
    opacity: 0.15;
    fill: #fff;
}

.st66 {
    opacity: 0.29;
    fill: #fff;
}

.st67 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 2.8687;
    stroke-miterlimit: 10;
}

.st68 {
    fill: #4c3f33;
}

.st69 {
    opacity: 0.4;
}

.st70 {
    fill: #332a28;
}

.st71 {
    fill: #5e564f;
}

.st72 {
    fill: none;
}

.st73 {
    opacity: 0.44;
    fill: #c5d4ef;
}

.st74 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3.187;
    stroke-miterlimit: 10;
}

.st75 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st76 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 2.9603;
    stroke-miterlimit: 10;
}

.st77 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 2.9807;
    stroke-miterlimit: 10;
}

.st78 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 2.6718;
    stroke-miterlimit: 10;
}

.st79 {
    fill: #4cf3ff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st80 {
    fill: #679899;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st81 {
    fill: #caffff;
}
