.cupiduck-st0 {
    fill: #f7a800;
}

.cupiduck-st1 {
    fill: #f18a0e;
}

.cupiduck-st2 {
    fill: #1d1d1d;
}

.cupiduck-st3 {
    fill: #ffd346;
}

.cupiduck-st4 {
    fill: #d1d8db;
}

.cupiduck-st5 {
    fill: #d83651;
}

.cupiduck-st6 {
    fill: #f15265;
}

.cupiduck-st7 {
    fill: #94deff;
}

.cupiduck-st8 {
    fill: #ff9298;
}

.cupiduck-st9 {
    fill: #fff;
}

.cupiduck-st10 {
    fill: #94a3a8;
}

.cupiduck-st11 {
    fill: #ff6d70;
}

.cupiduck-st12 {
    fill: #bbdcef;
}

.cupiduck-st13 {
    fill: #81afc6;
}

.cupiduck-st14 {
    fill: #ebf8ff;
}

.cupiduck-st15 {
    fill: #1d1d1b;
}

.cupiduck-st16 {
    fill: #75deef;
}

.cupiduck-st17 {
    fill: #368cb2;
}

.cupiduck-st18 {
    opacity: 0.33;
    fill: #fff;
}

.cupiduck-st19 {
    fill: #def5ff;
}

.cupiduck-st20 {
    fill: #94ffff;
}

.cupiduck-st21 {
    fill: #fbbc2f;
}

.cupiduck-st22 {
    fill: #ed7601;
}

.cupiduck-st23 {
    fill: #d64422;
}

.cupiduck-st24 {
    opacity: 0.15;
    fill: #fff;
}

.cupiduck-st25 {
    opacity: 0.29;
    fill: #fff;
}

.cupiduck-st26 {
    fill: #8c5813;
}

.cupiduck-st27 {
    fill: #b7710d;
}

.cupiduck-st28 {
    fill: #ea8603;
}

.cupiduck-st29 {
    fill: #218b00;
}

.cupiduck-st30 {
    fill: #80a84c;
}

.cupiduck-st31 {
    fill: #6b8e35;
}

.cupiduck-st32 {
    fill: #ea3303;
}

.cupiduck-st33 {
    fill: #ff888e;
}

.cupiduck-st34 {
    fill: #4c773c;
}

.cupiduck-st35 {
    fill: #ff3b40;
}

.cupiduck-st36 {
    fill: #c20003;
}

.cupiduck-st37 {
    fill: #ff516d;
}

.cupiduck-st38 {
    fill: #e87070;
}

.cupiduck-st39 {
    fill: #e05353;
}

.cupiduck-st40 {
    fill: #ff8a8a;
}

.cupiduck-st41 {
    fill: #ed512f;
}

.cupiduck-st42 {
    fill: #fa9e8d;
}

.cupiduck-st43 {
    fill: #ef7659;
}

.cupiduck-st44 {
    fill: #ffc3ba;
}

.cupiduck-st45 {
    fill: #ed5463;
}

.cupiduck-st46 {
    fill: #fab4be;
}

.cupiduck-st47 {
    fill: #ef7d85;
}

.cupiduck-st48 {
    fill: #ffd7df;
}

.cupiduck-st49 {
    opacity: 0.41;
    fill: #ff3b40;
}

.cupiduck-st50 {
    fill: #ff785e;
}

.cupiduck-st51 {
    fill: #ffd8b9;
}

.cupiduck-st52 {
    fill: #ffa180;
}

.cupiduck-st53 {
    fill: #fffbda;
}

.cupiduck-st54 {
    fill: #ff5053;
}

.cupiduck-st55 {
    fill: #ff878a;
}

.cupiduck-st56 {
    fill: #36542a;
}

.cupiduck-st57 {
    fill: #8eff5f;
}
