.st0 {
    fill: #5b1832;
}

.st1 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #0055fe;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st4 {
    opacity: 0.52;
    fill: #fff;
}

.st5 {
    fill: #3f424c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #892546;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #f18a0e;
}

.st8 {
    fill: #f7a800;
}

.st9 {
    fill: #af2359;
}

.st10 {
    fill: #ff227c;
}

.st11 {
    fill: #525766;
}

.st12 {
    fill: #ffd346;
}

.st13 {
    fill: #1d1d1d;
}

.st14 {
    fill: #aeaec1;
}

.st15 {
    fill: #353538;
}

.st16 {
    opacity: 0.2;
    fill: #fff;
}

.st17 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #892546;
}

.st19 {
    fill: #3f424c;
}

.st20 {
    fill: #fff;
}

.st21 {
    fill: #888d9e;
}

.st22 {
    fill: #ff9e1d;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st23 {
    fill: #ff7610;
}

.st24 {
    fill: #ff9e1d;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st25 {
    fill: #ffb864;
}

.st26 {
    fill: #0055fe;
}

.st27 {
    opacity: 0.5;
    fill: #636877;
}

.st28 {
    fill: #2b2d33;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #28292b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st30 {
    fill: #636877;
}

.st31 {
    fill: #e02b75;
}

.st32 {
    fill: #28292b;
}

.st33 {
    fill: #0055fe;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st34 {
    fill: #003893;
}

.st35 {
    fill: #00bbfc;
}

.st36 {
    fill: #f7f6d3;
}

.st37 {
    fill: #444343;
}

.st38 {
    fill: #ed7601;
}

.st39 {
    fill: #d64422;
}

.st40 {
    fill: #ff871a;
}

.st41 {
    fill: #ffa255;
}

.st42 {
    fill: #d8162e;
}

.st43 {
    fill: #ff3e5f;
}

.st44 {
    fill: #ff7190;
}

.st45 {
    fill: #ff7f00;
}

.st46 {
    fill: #ffac3e;
}

.st47 {
    fill: #0055fe;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st48 {
    fill: #112f5b;
}

.st49 {
    fill: #00675d;
}

.st50 {
    fill: #7a7c84;
}

.st51 {
    fill: #9e9e9e;
}

.st52 {
    display: none;
}
