.st0 {
    fill: #686868;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #3f3f3f;
}

.st2 {
    fill: #afafaf;
}

.st3 {
    fill: #2d2b29;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #565656;
}

.st5 {
    fill: #2d2b29;
    stroke: #000;
    stroke-width: 0.8746;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #44403c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #2d2b29;
}

.st8 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #fff;
}

.st10 {
    fill: #3cd0ff;
}

.st11 {
    opacity: 0.55;
    fill: #fff;
}

.st12 {
    fill: #008e00;
}

.st13 {
    fill: #b02121;
}

.st14 {
    fill: #f29f27;
}

.st15 {
    fill: #e00e0e;
}

.st16 {
    fill: #e0ff0e;
}

.st17 {
    font-family: 'MyriadPro-Regular';
}

.st18 {
    font-size: 8.4975px;
}

.st19 {
    fill: #00b2ff;
}

.st20 {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st21 {
    fill: none;
    stroke: #fff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st22 {
    fill: #5cb3ff;
}

.st23 {
    fill: none;
    stroke: #000063;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st24 {
    opacity: 0.43;
    fill: none;
    stroke: #fff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st25 {
    fill: none;
    stroke: #467ca5;
    stroke-width: 0.4642;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #95b3ff;
}

.st27 {
    opacity: 0.38;
    fill: none;
    stroke: #fff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st28 {
    fill: #c3deff;
}

.st29 {
    fill: #d38929;
}

.st30 {
    font-size: 12px;
}

.st31 {
    fill: #009aff;
}

.st32 {
    fill: #009a46;
}

.st33 {
    fill: #f9e280;
}

.st34 {
    fill: #aa7f41;
}

.st35 {
    fill: #ff9935;
}

.st36 {
    fill: #ff6235;
}

.st37 {
    fill: #3f3d36;
}

.st38 {
    opacity: 0.76;
}

.st39 {
    fill: #3a3331;
}

.st40 {
    opacity: 0.49;
}

.st41 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st42 {
    fill: #f7a800;
}

.st43 {
    fill: #1d1d1d;
}

.st44 {
    fill: #d1dce0;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st45 {
    fill: #ffd346;
}

.st46 {
    fill: #fbbc2f;
}

.st47 {
    opacity: 0.72;
    fill: #e08a2d;
}

.st48 {
    opacity: 0.84;
    fill: #d1dce0;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st49 {
    opacity: 0.62;
    fill: #fff;
}

.st50 {
    fill: #d1dce0;
}

.st51 {
    opacity: 0.76;
    fill: #d1dce0;
}

.st52 {
    opacity: 0.76;
    fill: #9eacaf;
}

.st53 {
    fill: #9eacaf;
}

.st54 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st55 {
    clip-path: url(#SVGID_2_);
}

.st56 {
    clip-path: url(#SVGID_4_);
}

.st57 {
    fill: #ed7601;
}

.st58 {
    fill: #d64422;
}

.st59 {
    fill: #af2409;
}

.st60 {
    fill: #ef5e41;
}

.st61 {
    fill: #544e4c;
}

.st62 {
    fill: #282322;
}

.st63 {
    fill: #89563a;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st64 {
    fill: #593627;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st65 {
    fill: #593627;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st66 {
    fill: #89563a;
}

.st67 {
    fill: #352c28;
}

.st68 {
    clip-path: url(#SVGID_6_);
}

.st69 {
    fill: #0055fe;
}

.st70 {
    opacity: 0.51;
    fill: #6b9dff;
}

.st71 {
    opacity: 0.52;
    fill: #fff;
}

.st72 {
    fill: #002863;
}

.st73 {
    fill: #8e612d;
}

.st74 {
    fill: #bc7731;
}

.st75 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 26;
}

.st76 {
    fill: #f18a0e;
}

.st77 {
    fill: #dd873a;
}

.st78 {
    fill: #ea911c;
}

.st79 {
    fill: #eada79;
}

.st80 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st81 {
    fill: #785448;
}

.st82 {
    fill: #4b4040;
}
