.wwwignat0 {
    fill: #003d70;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwignat1 {
    fill: #512b4e;
}

.wwwignat2 {
    fill: #a88e67;
}

.wwwignat3 {
    fill: #c4b595;
}

.wwwignat4 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwignat5 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwignat6 {
    fill: #ffd346;
}

.wwwignat7 {
    fill: #fff;
}

.wwwignat8 {
    fill: #fbbc2f;
}

.wwwignat9 {
    fill: #1d1d1d;
}

.wwwignat10 {
    fill: #00263f;
}

.wwwignat11 {
    fill: #005b99;
}

.wwwignat12 {
    fill: #ef4649;
}

.wwwignat13 {
    fill: #218e48;
}

.wwwignat14 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}

.wwwignat15 {
    fill: #758aa0;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwignat16 {
    fill: #003d70;
}

.wwwignat17 {
    fill: #b9c0c6;
    stroke: #000;
    stroke-width: 2.9873;
    stroke-miterlimit: 10;
}

.wwwignat18 {
    fill: #959ca3;
    stroke: #000;
    stroke-width: 1.9915;
    stroke-miterlimit: 10;
}

.wwwignat19 {
    fill: #285f88;
    stroke: #000;
    stroke-width: 1.9915;
    stroke-miterlimit: 10;
}

.wwwignat20 {
    fill: #676f75;
}

.wwwignat21 {
    fill: #d8a132;
}

.wwwignat22 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwignat23 {
    clip-path: url(#SVGID_2_);
}

.wwwignat24 {
    fill: #3f322f;
}

.wwwignat25 {
    clip-path: url(#SVGID_4_);
}

.wwwignat26 {
    fill: #ed7601;
}

.wwwignat27 {
    fill: #d64422;
}

.wwwignat28 {
    fill: #f2892a;
}

.wwwignat29 {
    opacity: 0.28;
    fill: #fff;
}

.wwwignat30 {
    opacity: 0.3;
    fill: #fff;
}

.wwwignat31 {
    fill: #3d2926;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwignat32 {
    fill: #755a3c;
}

.wwwignat33 {
    fill: #3d2926;
}

.wwwignat34 {
    fill: #b79065;
}

.wwwignat35 {
    fill: #593e34;
}

.wwwignat36 {
    fill: #959ca3;
}

.wwwignat37 {
    fill: #b9c0c6;
}

.wwwignat38 {
    fill: #dfe9f2;
}

.wwwignat39 {
    fill: none;
    stroke: #000;
    stroke-width: 3.0119;
    stroke-miterlimit: 10;
}

.wwwignat40 {
    opacity: 0.35;
    fill: #fff;
}

.wwwignat41 {
    opacity: 0.48;
    fill: #6a636d;
}

.wwwignat42 {
    fill: #77675e;
}

.wwwignat43 {
    fill: #575757;
}

.wwwignat44 {
    fill: #785052;
}

.wwwignat45 {
    opacity: 0.4;
    fill: #fff;
}

.wwwignat46 {
    fill: #342635;
}

.wwwignat47 {
    fill: #3f322d;
}

.wwwignat48 {
    fill: #51443d;
}

.wwwignat49 {
    fill: #6b5b55;
}

.wwwignat50 {
    fill: #897567;
}

.wwwignat51 {
    fill: #51445e;
}

.wwwignat52 {
    fill: #4f4d51;
}

.wwwignat53 {
    fill: #49443e;
}

.wwwignat54 {
    clip-path: url(#SVGID_6_);
}

.wwwignat55 {
    fill: #44281e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwignat56 {
    clip-path: url(#SVGID_8_);
}

.wwwignat57 {
    fill: #44281e;
    stroke: #000;
    stroke-width: 2.8365;
    stroke-miterlimit: 10;
}

.wwwignat58 {
    opacity: 0.1;
}

.wwwignat59 {
    opacity: 0.42;
    fill: #575757;
}

.wwwignat60 {
    opacity: 0.35;
    fill: #3f322d;
}

.wwwignat61 {
    opacity: 0.35;
    fill: #51443d;
}

.wwwignat62 {
    opacity: 0.35;
    fill: #6b5b55;
}

.wwwignat63 {
    opacity: 0.35;
    fill: #897567;
}

.wwwignat64 {
    opacity: 0.35;
    fill: #51445e;
}

.wwwignat65 {
    opacity: 0.35;
    fill: #4f4d51;
}
