.nacho-st0 {
    fill: #9d0a10;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.nacho-st1 {
    fill: #870f18;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.nacho-st2 {
    fill: #ffd346;
}

.nacho-st3 {
    fill: #fff;
}

.nacho-st4 {
    fill: #fbbc2f;
}

.nacho-st5 {
    fill: #1d1d1d;
}

.nacho-st6 {
    fill: #b70f20;
}

.nacho-st7 {
    fill: #9b0b27;
}

.nacho-st8 {
    fill: #d8a132;
}

.nacho-st9 {
    fill: #9d0a10;
}

.nacho-st10 {
    fill: #870f18;
}

.nacho-st11 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.nacho-st12 {
    fill: #ed7601;
}

.nacho-st13 {
    fill: #d64422;
}

.nacho-st14 {
    fill: #842714;
}

.nacho-st15 {
    fill: #c56454;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.nacho-st16 {
    fill: #8e3d32;
}

.nacho-st17 {
    fill: #f2892a;
}

.nacho-st18 {
    fill: #5d2c0c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.nacho-st19 {
    fill: #996533;
}

.nacho-st20 {
    fill: #5d2c0c;
}

.nacho-st21 {
    fill: #996533;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.nacho-st22 {
    fill: #d7cfcd;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.nacho-st23 {
    fill: #1b13be;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.nacho-st24 {
    fill: #e5241d;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.nacho-st25 {
    opacity: 0.4;
    fill: #e2e2e2;
    enable-background: new;
}

.nacho-st26 {
    opacity: 0.3;
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
    enable-background: new;
}

.nacho-st27 {
    opacity: 0.3;
    fill: none;
    stroke: #000;
    stroke-width: 2.9576;
    stroke-miterlimit: 10;
    enable-background: new;
}
