.st0 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #f7a800;
}

.st2 {
    fill: #944605;
}

.st3 {
    fill: #f2c711;
    stroke: #944605;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #f2c711;
}

.st5 {
    opacity: 0.5;
    fill: #f27545;
}

.st6 {
    opacity: 0.3;
    fill: #f27545;
}

.st7 {
    fill: #faef57;
}

.st8 {
    fill: #fff;
}

.st9 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #f18a0e;
}

.st11 {
    fill: #ffd346;
}

.st12 {
    fill: #fbbc2f;
}

.st13 {
    fill: #1d1d1d;
}

.st14 {
    fill: #303235;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #202123;
}

.st16 {
    opacity: 0.3;
    fill: #e77253;
}

.st17 {
    opacity: 0.3;
    fill: #fe5;
}

.st18 {
    opacity: 0.5;
    fill: #fff;
}

.st19 {
    fill: url(#SVGID_1_);
}

.st20 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #47494f;
}

.st22 {
    fill: #ed7601;
}

.st23 {
    fill: #d64422;
}

.st24 {
    fill: #f2892a;
}

.st25 {
    fill: #ffc06e;
}

.st26 {
    fill: #feb800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #d80;
}

.st28 {
    fill: #feb800;
}

.st29 {
    fill: #1e1e1e;
}

.st30 {
    fill: #ffcb57;
}

.st31 {
    fill: #ce8106;
}
