.st0 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #f18a0e;
}

.st2 {
    fill: #1d1d1b;
}

.st3 {
    fill: #001b69;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #fd4e6d;
}

.st5 {
    fill: #ad344e;
}

.st6 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #fff;
}

.st8 {
    fill: #c9082a;
}

.st9 {
    opacity: 0.3;
    fill: #fff;
}

.st10 {
    opacity: 0.3;
}

.st11 {
    opacity: 0.36;
    fill: #f18a0e;
}

.st12 {
    fill: #f7a800;
}

.st13 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #ffd346;
}

.st15 {
    fill: #fbbc2f;
}

.st16 {
    fill: #1d1d1d;
}

.st17 {
    fill: #ad7718;
}

.st18 {
    fill: #d8d8d8;
}

.st19 {
    fill: #89505c;
}

.st20 {
    fill: #8e8587;
}

.st21 {
    opacity: 0.59;
    fill: #56383f;
}

.st22 {
    fill: #bc2f4d;
}

.st23 {
    opacity: 0.4;
    fill: #fd4e6d;
}

.st24 {
    opacity: 0.5;
    fill: #fd4e6d;
}

.st25 {
    fill: #ff7694;
}

.st26 {
    fill: #ffd9b8;
}

.st27 {
    opacity: 0.34;
    fill: #ff8170;
}

.st28 {
    fill: #fff6cf;
}

.st29 {
    opacity: 0.15;
    fill: #fff;
}

.st30 {
    fill: #fe9c7a;
}

.st31 {
    fill: none;
    stroke: #89505c;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st32 {
    fill: #a4b5bc;
}

.st33 {
    fill: #74858c;
}

.st34 {
    fill: #bfa6b5;
}

.st35 {
    opacity: 0.34;
    fill: #fd4e6d;
}

.st36 {
    fill: #d1c3cc;
}

.st37 {
    fill: #7f6977;
}

.st38 {
    fill: #bfbfa6;
}

.st39 {
    opacity: 0.34;
    fill: #bdfd4d;
}

.st40 {
    fill: #d1d1c3;
}

.st41 {
    fill: #7f7f69;
}

.st42 {
    fill: #ff6687;
}

.st43 {
    fill: #b4e1fa;
}

.st44 {
    fill: #cdeafc;
}

.st45 {
    fill: #6fa4bc;
}

.st46 {
    fill: #afbdd8;
}

.st47 {
    fill: #d7f3ff;
}

.st48 {
    fill: #c7dbf9;
}

.st49 {
    fill: #459cba;
}

.st50 {
    fill: #76c8e5;
}

.st51 {
    fill: #9b3f00;
}

.st52 {
    fill: #c46626;
}

.st53 {
    fill: #db811f;
}

.st54 {
    fill: #f9bf36;
}

.st55 {
    fill: #ffecc5;
}

.st56 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st57 {
    fill: #3d1c25;
}

.st58 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st59 {
    fill: #aaa9a9;
}

.st60 {
    fill: #db9e23;
}

.st61 {
    fill: #ed7601;
}

.st62 {
    fill: #d64422;
}

.st63 {
    fill: #685854;
}

.st64 {
    fill: #3d2b27;
}

.st65 {
    fill: #919191;
}

.st66 {
    fill: #ccc0ac;
}

.st67 {
    fill: #e5dbcc;
}

.st68 {
    fill: #826365;
}

.st69 {
    fill: #f9923e;
}

.st70 {
    fill: #ff9f50;
}

.st71 {
    fill: #ff8fa7;
}

.st72 {
    fill: #844f5b;
}

.st73 {
    fill: #73aae0;
}

.st74 {
    fill: #ff5fdd;
}

.st75 {
    fill: #c08261;
}

.st76 {
    fill: #ff2252;
}

.st77 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st78 {
    fill: #ff9fb8;
}

.st79 {
    fill: #bc0031;
}

.st80 {
    fill: #dbc69e;
}

.st81 {
    fill: #e8decf;
}

.st82 {
    fill: #d4889c;
}

.st83 {
    fill: #d8ccd4;
}

.st84 {
    fill: #b2a38a;
}
