.helloween-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st1 {
    fill: #f7a800;
}

.helloween-st2 {
    fill: #ffd346;
}

.helloween-st3 {
    fill: #d8a132;
}

.helloween-st4 {
    fill: #1d1d1d;
}

.helloween-st5 {
    fill: #f18a0e;
}

.helloween-st6 {
    fill: #a8843b;
    stroke: #7f5711;
    stroke-width: 3.0616;
    stroke-miterlimit: 10;
}

.helloween-st7 {
    fill: #ffd283;
    stroke: #7f5711;
    stroke-width: 3.0616;
    stroke-miterlimit: 10;
}

.helloween-st8 {
    fill: #fff;
}

.helloween-st9 {
    fill: #fcb138;
}

.helloween-st10 {
    fill: #fcd138;
}

.helloween-st11 {
    fill: none;
    stroke: #7f5711;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.helloween-st12 {
    fill: #fbbc2f;
}

.helloween-st13 {
    fill: #201e1f;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st14 {
    fill: #333031;
}

.helloween-st15 {
    fill: #e5a21f;
}

.helloween-st16 {
    fill: #d8dbed;
}

.helloween-st17 {
    fill: #14a4d9;
}

.helloween-st18 {
    fill: #616872;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st19 {
    fill: #4b545e;
}

.helloween-st20 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st21 {
    fill: #090909;
}

.helloween-st22 {
    fill: #d3813d;
}

.helloween-st23 {
    fill: #d3543d;
}

.helloween-st24 {
    fill: #c4ba87;
}

.helloween-st25 {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.6314;
    stroke-miterlimit: 10;
}

.helloween-st26 {
    opacity: 0.69;
    fill: #fff;
}

.helloween-st27 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8362;
    stroke-miterlimit: 10;
}

.helloween-st28 {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.8369;
    stroke-miterlimit: 10;
}

.helloween-st29 {
    opacity: 0.39;
    fill: #7ba4ad;
}

.helloween-st30 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st31 {
    fill: #b5ad95;
    stroke: #7c7465;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st32 {
    fill: #b1e583;
}

.helloween-st33 {
    fill: #ed7601;
}

.helloween-st34 {
    fill: #d64422;
}

.helloween-st35 {
    fill: #7f4422;
}

.helloween-st36 {
    fill: #f2892a;
}

.helloween-st37 {
    fill: #d83c12;
}

.helloween-st38 {
    fill: #dbce72;
}

.helloween-st39 {
    fill: #9aa722;
}

.helloween-st40 {
    fill: #efe5ab;
}

.helloween-st41 {
    fill: #cfd645;
}

.helloween-st42 {
    opacity: 0.43;
    fill: #fff;
}

.helloween-st43 {
    fill: #7c6952;
}

.helloween-st44 {
    fill: #efd39e;
}

.helloween-st45 {
    fill: #be9555;
}

.helloween-st46 {
    fill: #a08867;
}

.helloween-st47 {
    fill: #1d1d1b;
}

.helloween-st48 {
    fill: #dd8b85;
}

.helloween-st49 {
    fill: #dd6966;
}

.helloween-st50 {
    fill: #e2b4b3;
}

.helloween-st51 {
    fill: #efd0d0;
}

.helloween-st52 {
    fill: #4c4c4c;
    stroke: #3d3d3d;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st53 {
    fill: #e4e4e2;
    stroke: #939391;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st54 {
    fill: #f2f2f2;
}

.helloween-st55 {
    fill: #ffa5bf;
}

.helloween-st56 {
    fill: #605142;
}

.helloween-st57 {
    fill: #696968;
}

.helloween-st58 {
    fill: none;
    stroke: #565655;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st59 {
    fill: none;
    stroke: #3f3b37;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st60 {
    fill: #969696;
}

.helloween-st61 {
    fill: none;
    stroke: #898989;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st62 {
    fill: #55514e;
}

.helloween-st63 {
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.helloween-st64 {
    opacity: 0.44;
    fill: #f7a800;
}

.helloween-st65 {
    display: none;
}
