.travis-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st1 {
    fill: #ffd346;
}

.travis-st2 {
    fill: #fff;
}

.travis-st3 {
    fill: #fbbc2f;
}

.travis-st4 {
    fill: #1d1d1d;
}

.travis-st5 {
    fill: #212021;
}

.travis-st6 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st7 {
    fill: #1d1c2b;
}

.travis-st8 {
    fill: #2b2b2b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st9 {
    fill: #2b304e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st10 {
    fill: #3d4363;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st11 {
    fill: #6f9892;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st12 {
    fill: #528980;
}

.travis-st13 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st14 {
    fill: #423c39;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st15 {
    fill: #594f4b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st16 {
    fill: #7999d2;
}

.travis-st17 {
    fill: #8e8e8e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st18 {
    fill: #2b2b2b;
}

.travis-st19 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.travis-st20 {
    fill: #cfe3f9;
}

.travis-st21 {
    fill: #a7b7c6;
}

.travis-st22 {
    fill: #474951;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st23 {
    fill: #605647;
}

.travis-st24 {
    fill: #aab3bc;
}

.travis-st25 {
    fill: #222223;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st26 {
    fill: #f00;
}

.travis-st27 {
    fill: #4f494d;
}

.travis-st28 {
    fill: #383838;
}

.travis-st29 {
    fill: #707070;
}

.travis-st30 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st31 {
    fill: #f18a0e;
}

.travis-st32 {
    fill: #d8a132;
}

.travis-st33 {
    clip-path: url(#SVGID_2_);
}

.travis-st34 {
    fill: #3f2f20;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st35 {
    fill: #827264;
}

.travis-st36 {
    clip-path: url(#SVGID_4_);
}

.travis-st37 {
    clip-path: url(#SVGID_6_);
}

.travis-st38 {
    fill: #3d2d2c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st39 {
    clip-path: url(#SVGID_8_);
}

.travis-st40 {
    clip-path: url(#SVGID_10_);
}

.travis-st41 {
    fill: #211719;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.travis-st42 {
    fill: #35332e;
}

.travis-st43 {
    clip-path: url(#SVGID_12_);
}

.travis-st44 {
    clip-path: url(#SVGID_14_);
}

.travis-st45 {
    fill: #59704c;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.travis-st46 {
    stroke: #7a9965;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.travis-st47 {
    clip-path: url(#SVGID_16_);
}

.travis-st48 {
    clip-path: url(#SVGID_18_);
}

.travis-st49 {
    clip-path: url(#SVGID_20_);
}

.travis-st50 {
    clip-path: url(#SVGID_22_);
}

.travis-st51 {
    fill: #7a8793;
    stroke: #343a3f;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.travis-st52 {
    fill: #8ea7ba;
}

.travis-st53 {
    clip-path: url(#SVGID_24_);
}

.travis-st54 {
    clip-path: url(#SVGID_26_);
}

.travis-st55 {
    fill: #332926;
}

.travis-st56 {
    clip-path: url(#SVGID_28_);
}

.travis-st57 {
    clip-path: url(#SVGID_30_);
}

.travis-st58 {
    fill: #331e1d;
}

.travis-st59 {
    fill: #686563;
}

.travis-st60 {
    clip-path: url(#SVGID_32_);
}

.travis-st61 {
    fill: #326884;
}

.travis-st62 {
    fill: #636d75;
}

.travis-st63 {
    fill: #8f97b7;
}

.travis-st64 {
    fill: #3c85a5;
}

.travis-st65 {
    fill: #75706a;
}

.travis-st66 {
    fill: #876d51;
}

.travis-st67 {
    fill: #473b3f;
}

.travis-st68 {
    fill: #ed7601;
}

.travis-st69 {
    fill: #d64422;
}

.travis-st70 {
    fill: #f2892a;
}

.travis-st71 {
    fill: #6d645c;
}

.travis-st72 {
    fill: #413337;
}

.travis-st73 {
    fill: none;
    stroke: #000;
    stroke-width: 0.4;
    stroke-miterlimit: 10;
}

.travis-st74 {
    fill: #583e32;
}

.travis-st75 {
    fill: #b37750;
}

.travis-st76 {
    fill: #af2409;
}

.travis-st77 {
    fill: #ef5e41;
}

.travis-st78 {
    fill: #d64422;
    stroke: #af2409;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.travis-st79 {
    fill: none;
    stroke: #af2409;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.travis-st80 {
    fill: none;
    stroke: #af2409;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.travis-st81 {
    fill: none;
    stroke: #af2409;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.travis-st82 {
    fill: #726140;
}

.travis-st83 {
    fill: #56483b;
}

.travis-st84 {
    fill: #7c2c1d;
}

.travis-st85 {
    fill: #a1a5b2;
}

.travis-st86 {
    fill: #d1d5e0;
}

.travis-st87 {
    fill: #222223;
}

.travis-st88 {
    fill: #8e8576;
}

.travis-st89 {
    fill: #d1c3a1;
}

.travis-st90 {
    fill: #514639;
}

.travis-st91 {
    fill: #333146;
}

.travis-st92 {
    fill: #826c56;
}

.travis-st93 {
    fill: #ada28a;
}

.travis-st94 {
    fill: #57443c;
}

.travis-st95 {
    fill: #3a3331;
}

.travis-st96 {
    fill: #211d1c;
}

.travis-st97 {
    fill: #4f3f42;
}

.travis-st98 {
    fill: #937761;
}

.travis-st99 {
    fill: #d9ad81;
}

.travis-st100 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.travis-st101 {
    fill: #605955;
}

.travis-st102 {
    fill: #77726a;
}

.travis-st103 {
    fill: #313133;
}

.travis-st104 {
    fill: #514c4a;
}

.travis-st105 {
    fill: #a59c8e;
}

.travis-st106 {
    fill: #7f7777;
}

.travis-st107 {
    fill: #66605f;
}

.travis-st108 {
    fill: #444140;
}

.travis-st109 {
    fill: #7f634f;
}

.travis-st110 {
    fill: #6b5e4c;
}

.travis-st111 {
    fill: #4c3f36;
}

.travis-st112 {
    fill: #ffedec;
}

.travis-st113 {
    fill: #776a7d;
}

.travis-st114 {
    fill: #785448;
}

.travis-st115 {
    fill: #4b4040;
}

.travis-st116 {
    fill: #5b4f39;
}

.travis-st117 {
    fill: #8c7751;
}

.travis-st118 {
    fill: #938670;
}

.travis-st119 {
    fill: #7c705e;
}

.travis-st120 {
    fill: #383736;
}

.travis-st121 {
    fill: #92939e;
}
