.phoenix-st0 {
    fill: #ff6700;
}

.phoenix-st1 {
    fill: #fff;
}

.phoenix-st2 {
    fill: #fb3c2f;
}

.phoenix-st3 {
    fill: #1d1d1d;
}

.phoenix-st4 {
    fill: #b71d1d;
}

.phoenix-st5 {
    fill: #ffb600;
    stroke: #ae0000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.phoenix-st6 {
    fill: #ff6700;
    stroke: #ae0000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.phoenix-st7 {
    fill: #ef2700;
}

.phoenix-st8 {
    fill: #d30500;
}

.phoenix-st9 {
    fill: #ff9700;
    stroke: #ae0000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.phoenix-st10 {
    fill: none;
    stroke: #ae0000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.phoenix-st11 {
    fill: #f99430;
}

.phoenix-st12 {
    fill: #ffd400;
}

.phoenix-st13 {
    fill: #ff9d00;
}

.phoenix-st14 {
    fill: #fff980;
}

.phoenix-st15 {
    fill: #c40;
}

.phoenix-st16 {
    fill: #871600;
}

.phoenix-st17 {
    fill: #ef4900;
}

.phoenix-st18 {
    fill: #ae0000;
}

.phoenix-st19 {
    fill: #ff571d;
}
