.riky-st0 {
    fill: #fcf6f5;
    stroke: #231f20;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.riky-st1 {
    fill: #af0d00;
}

.riky-st2 {
    fill: none;
    stroke: #231f20;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.riky-st3 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.riky-st4 {
    fill: #ffd346;
}

.riky-st5 {
    fill: #fff;
}

.riky-st6 {
    fill: #fbbc2f;
}

.riky-st7 {
    fill: #1d1d1d;
}

.riky-st8 {
    fill: #776636;
}

.riky-st9 {
    fill: #bb842a;
    stroke: #513717;
    stroke-width: 0.925;
    stroke-miterlimit: 10;
}

.riky-st10 {
    opacity: 0.48;
    fill: #fbbc2f;
}

.riky-st11 {
    fill: #6b3f3e;
}

.riky-st12 {
    fill: #371509;
}

.riky-st13 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.riky-st14 {
    fill: #f2dbd5;
}

.riky-st15 {
    clip-path: url(#SVGID_2_);
    fill: #af0d00;
}

.riky-st16 {
    fill: #fcf6f5;
}

.riky-st17 {
    opacity: 0.45;
    fill: #a48276;
}

.riky-st18 {
    fill: #f7a800;
    stroke: #231f20;
    stroke-width: 2.8745;
    stroke-miterlimit: 10;
}

.riky-st19 {
    fill: #f18a0e;
}

.riky-st20 {
    opacity: 0.5;
    fill: #a48276;
}

.riky-st21 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.riky-st22 {
    fill: #d8a132;
}

.riky-st23 {
    opacity: 0.6;
}

.riky-st24 {
    fill: #794300;
}

.riky-st25 {
    fill: #ed7601;
}

.riky-st26 {
    fill: #d64422;
}

.riky-st27 {
    fill: #f2892a;
}

.riky-st28 {
    fill: #820900;
}

.riky-st29 {
    fill: #af6a1f;
}

.riky-st30 {
    fill: #ef1307;
}

.riky-st31 {
    fill: #6b0a04;
}

.riky-st32 {
    fill: #f15623;
}

.riky-st33 {
    fill: #847771;
    stroke: #342415;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.riky-st34 {
    fill: #d25f29;
    stroke: #a03f00;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.riky-st35 {
    fill: #fe8953;
}

.riky-st36 {
    fill: #d25f29;
}

.riky-st37 {
    fill: #999;
}

.riky-st38 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2.6163;
    stroke-miterlimit: 10;
}

.riky-st39 {
    clip-path: url(#SVGID_4_);
}

.riky-st40 {
    fill: #732405;
    stroke: #440b00;
    stroke-width: 1.4313;
    stroke-miterlimit: 10;
}

.riky-st41 {
    fill: #440b00;
}

.riky-st42 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2.6003;
    stroke-miterlimit: 10;
}

.riky-st43 {
    clip-path: url(#SVGID_6_);
}

.riky-st44 {
    fill: #732405;
    stroke: #440b00;
    stroke-width: 1.2808;
    stroke-miterlimit: 10;
}

.riky-st45 {
    fill: #5e4e3e;
}

.riky-st46 {
    fill: #45190c;
}

.riky-st47 {
    opacity: 0.4;
    fill: #ffc09c;
}
