.st0 {
    fill: #fbbc2f;
    stroke: #1e0f00;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #ffd346;
}

.st2 {
    fill: #fbbc2f;
}

.st3 {
    fill: #f7a800;
}

.st4 {
    fill: #372a1d;
}

.st5 {
    fill: #944605;
    stroke: #1e0f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #1e0f00;
}

.st7 {
    clip-path: url(#SVGID_00000052821793207671182940000003789566418471714238_);
}

.st8 {
    fill: #bf973e;
}

.st9 {
    fill: #f2c711;
}

.st10 {
    fill: #f1be47;
}

.st11 {
    fill: #faef57;
}

.st12 {
    fill: #b27b2f;
}

.st13 {
    fill: #f8d456;
}

.st14 {
    fill: #944605;
}

.st15 {
    fill: none;
    stroke: #1e0f00;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st16 {
    opacity: 0.5;
    fill: #5a6163;
}

.st17 {
    fill: #fff;
    stroke: #1e0f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #5b5b5b;
}

.st19 {
    fill: #fff;
}

.st20 {
    clip-path: url(#SVGID_00000001635640225325808180000016538577833830595003_);
}

.st21 {
    fill: #ffffbd;
}

.st22 {
    opacity: 0.44;
    fill: #f27545;
}

.st23 {
    opacity: 0.4;
    fill: #944605;
}

.st24 {
    fill: #ed7601;
    stroke: #1e0f00;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st25 {
    fill: #d64422;
}

.st26 {
    fill: #f2892a;
}

.st27 {
    opacity: 0.4;
    fill: #fff;
}

.st28 {
    fill: #f7a800;
    stroke: #1e0f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #f1be47;
    stroke: #1e0f00;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st30 {
    opacity: 0.43;
    fill: #faef57;
}

.st31 {
    opacity: 0.25;
    fill: #faef57;
}
