.vova-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 2.7197;
    stroke-miterlimit: 10;
}

.vova-st1 {
    fill: #0049ff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.vova-st2 {
    fill: #0074ff;
}

.vova-st3 {
    fill: #009fff;
}

.vova-st4 {
    fill: #fff;
}

.vova-st5 {
    opacity: 0.6;
    fill: #009fff;
}

.vova-st6 {
    fill: #ea49a2;
    stroke: #7a1155;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.vova-st7 {
    fill: #ff8dcc;
}

.vova-st8 {
    fill: #ea49a2;
}

.vova-st9 {
    fill: #bf2882;
}

.vova-st10 {
    fill: #fcaedc;
}

.vova-st11 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.vova-st12 {
    fill: #ffd346;
}

.vova-st13 {
    fill: #fbbc2f;
}

.vova-st14 {
    fill: #1d1d1d;
}

.vova-st15 {
    fill: #f18a0e;
}

.vova-st16 {
    fill: none;
    stroke: #ea49a2;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.vova-st17 {
    fill: #bfa7c1;
}

.vova-st18 {
    fill: #7c697f;
}

.vova-st19 {
    fill: #ff6eb7;
}

.vova-st20 {
    fill: #7a1155;
}

.vova-st21 {
    fill: #ffcaea;
    stroke: #ea49a2;
    stroke-width: 0.8959;
    stroke-miterlimit: 10;
}

.vova-st22 {
    fill: #ffcaea;
    stroke: #ea49a2;
    stroke-width: 0.9087;
    stroke-miterlimit: 10;
}

.vova-st23 {
    fill: none;
    stroke: #ea49a2;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.vova-st24 {
    clip-path: url(#SVGID_2_);
}

.vova-st25 {
    fill: #ad8000;
}

.vova-st26 {
    fill: #7c4d14;
}

.vova-st27 {
    fill: #f4c756;
}

.vova-st28 {
    fill: #56340f;
}

.vova-st29 {
    fill: #9b6700;
}

.vova-st30 {
    fill: #ce9413;
}

.vova-st31 {
    fill: #eaa824;
}

.vova-st32 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.vova-st33 {
    fill: #ffaede;
}

.vova-st34 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.vova-st35 {
    clip-path: url(#SVGID_4_);
}

.vova-st36 {
    fill: #421f1c;
}

.vova-st37 {
    clip-path: url(#SVGID_6_);
}

.vova-st38 {
    fill: #d8a132;
}

.vova-st39 {
    fill: #ed7601;
}

.vova-st40 {
    fill: #d64422;
}

.vova-st41 {
    fill: #f2892a;
}

.vova-st42 {
    fill: #303133;
}

.vova-st43 {
    fill: #1f2021;
}

.vova-st44 {
    fill: #5f4a42;
}

.vova-st45 {
    fill: #12060b;
}

.vova-st46 {
    fill: #4a4c4f;
}

.vova-st47 {
    fill: #8a756e;
}

.vova-st48 {
    fill: #796837;
}

.vova-st49 {
    fill: #48302b;
}
