.swop-st0 {
    fill: #8ad4e2;
}

.swop-st1 {
    fill: #f7a800;
}

.swop-st2 {
    fill: #f18a0e;
}

.swop-st3 {
    fill: #1e0f00;
}

.swop-st4 {
    fill: #ffd346;
}

.swop-st5 {
    fill: #fff;
}

.swop-st6 {
    fill: #fbbc2f;
}

.swop-st7 {
    fill: #1d1d1d;
}

.swop-st8 {
    fill: #5f6f96;
}

.swop-st9 {
    fill: #4c3d38;
}

.swop-st10 {
    fill: #2d2523;
}

.swop-st11 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #05f;
}

.swop-st12 {
    fill: #4cb3c1;
}

.swop-st13 {
    fill: #d64422;
}

.swop-st14 {
    fill: #ed7601;
}

.swop-st15 {
    fill: #bc6022;
}

.swop-st16 {
    fill: #843c1c;
}

.swop-st17 {
    fill: #c18e4c;
}

.swop-st18 {
    fill: #874417;
}

.swop-st19 {
    fill: #6b2f17;
}

.swop-st20 {
    fill: #d8a132;
}
