.pokras-st0 {
    fill: #d9a228;
}

.pokras-st1 {
    fill: #1d1d1d;
}

.pokras-st2 {
    fill: #8a8989;
}

.pokras-st3 {
    fill: #414142;
}

.pokras-st4 {
    fill: #616163;
}

.pokras-st5 {
    fill: #acbbcd;
}

.pokras-st6 {
    fill: #786d4e;
}

.pokras-st7 {
    fill: #373735;
}

.pokras-st8 {
    fill: #e2b351;
}

.pokras-st9 {
    fill: #898888;
}

.pokras-st10 {
    fill: #1d1d1b;
}

.pokras-st11 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 4.252;
    stroke-miterlimit: 10;
}

.pokras-st12 {
    fill: #fff;
}

.pokras-st13 {
    opacity: 0.2;
    fill: #60c4e4;
}

.pokras-st14 {
    fill: #d9a227;
}

.pokras-st15 {
    fill: #c97326;
}

.pokras-st16 {
    opacity: 0.5;
    fill: #b23f20;
}

.pokras-st17 {
    fill: #776d4d;
}

.pokras-st18 {
    fill: #f6faf6;
}

.pokras-st19 {
    fill: #dabd58;
}

.pokras-st20 {
    fill: #f4d781;
}

.pokras-st21 {
    fill: #202220;
}
