.st0 {
    fill: #ffd346;
}

.st1 {
    fill: #fff;
}

.st2 {
    fill: #fbbc2f;
}

.st3 {
    fill: #1d1d1d;
}

.st4 {
    fill: #57565e;
}

.st5 {
    opacity: 0.6;
    fill: #252733;
}

.st6 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #243982;
}

.st8 {
    fill: #2d5ce0;
}

.st9 {
    fill: #48474f;
}

.st10 {
    fill: #627999;
}

.st11 {
    opacity: 0.3;
    fill: #968a72;
}

.st12 {
    opacity: 0.4;
    fill: #627999;
}

.st13 {
    opacity: 0.7;
    fill: #bbcbd6;
}

.st14 {
    opacity: 0.5;
    fill: #bbcbd6;
}

.st15 {
    opacity: 0.4;
    fill: #968a72;
}

.st16 {
    fill: #252733;
}

.st17 {
    opacity: 0.5;
    fill: #fff;
}

.st18 {
    fill: #8e7b62;
}

.st19 {
    opacity: 0.14;
    fill: #c63;
}

.st20 {
    fill: #1b2a56;
}

.st21 {
    fill: #3ebae5;
}

.st22 {
    fill: #1d2949;
}

.st23 {
    fill: #0d172b;
}

.st24 {
    opacity: 0.6;
    fill: #d8d6bf;
}

.st25 {
    fill: #d8d6bf;
}

.st26 {
    fill: #bbcbd6;
}

.st27 {
    fill: #c0fcff;
}

.st28 {
    fill: #837972;
}

.st29 {
    fill: #454649;
}

.st30 {
    fill: #4f575e;
}

.st31 {
    fill: #78838e;
}

.st32 {
    opacity: 0.5;
    fill: #543d35;
}

.st33 {
    fill: #2c3942;
}

.st34 {
    fill: #964830;
}

.st35 {
    fill: #3f2314;
}

.st36 {
    fill: #3f4549;
}

.st37 {
    fill: #a69cb1;
}

.st38 {
    fill: #7c6b65;
}

.st39 {
    fill: #1d1d1b;
}

.st40 {
    opacity: 0.3;
    fill: #d8d6bf;
}

.st41 {
    opacity: 0.6;
    fill: #fff;
}

.st42 {
    opacity: 0.6;
    fill: #5c6d7f;
}

.st43 {
    fill: #c6630a;
}

.st44 {
    fill: #ff9d4d;
}

.st45 {
    fill: #fee1b5;
}

.st46 {
    opacity: 0.62;
    fill: #d8d6bf;
}

.st47 {
    opacity: 0.2;
    fill: #c6630a;
}

.st48 {
    fill: #0062ae;
}

.st49 {
    fill: #0085cc;
}
