.yan-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st1 {
    fill: #ffd346;
}

.yan-st2 {
    fill: #3f3f3e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st3 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st4 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st5 {
    fill: #f7a800;
}

.yan-st6 {
    fill: #5b5b57;
}

.yan-st7 {
    fill: #fff;
}

.yan-st8 {
    fill: #fbbc2f;
}

.yan-st9 {
    fill: #1d1d1d;
}

.yan-st10 {
    fill: #d8a132;
}

.yan-st11 {
    fill: #ffe28f;
}

.yan-st12 {
    fill: #232323;
    stroke: #000;
    stroke-width: 2.8273;
    stroke-miterlimit: 10;
}

.yan-st13 {
    stroke: #000;
    stroke-width: 2.8273;
    stroke-miterlimit: 10;
}

.yan-st14 {
    fill: #331c21;
}

.yan-st15 {
    fill: #494949;
}

.yan-st16 {
    fill: #141519;
}

.yan-st17 {
    fill: #303030;
}

.yan-st18 {
    fill: #3d3b39;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st19 {
    fill: #83682b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st20 {
    fill: #b78a30;
}

.yan-st21 {
    fill: #704809;
}

.yan-st22 {
    fill: #ffa403;
}

.yan-st23 {
    fill: #ffd67b;
}

.yan-st24 {
    fill: #7f7f7f;
}

.yan-st25 {
    fill: #ffff72;
}

.yan-st26 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st27 {
    fill: #f18a0e;
}

.yan-st28 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
}

.yan-st29 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.yan-st30 {
    clip-path: url(#SVGID_2_);
}

.yan-st31 {
    fill: #3d2b19;
}

.yan-st32 {
    opacity: 0.5;
    fill: #fff;
}

.yan-st33 {
    clip-path: url(#SVGID_4_);
}

.yan-st34 {
    fill: #b89833;
}

.yan-st35 {
    fill: #776636;
}

.yan-st36 {
    fill: #4f452d;
}

.yan-st37 {
    opacity: 0.2;
    fill: #fff;
}

.yan-st38 {
    fill: #ed7601;
}

.yan-st39 {
    fill: #d64422;
}

.yan-st40 {
    fill: #f2892a;
}

.yan-st41 {
    opacity: 0.28;
    fill: #fff;
}

.yan-st42 {
    fill: #755a3c;
}

.yan-st43 {
    fill: #5e4e3e;
}

.yan-st44 {
    opacity: 0.26;
    fill: #b89833;
}
