.st0 {
    display: none;
}

.st1 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #0055fe;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8776;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #f18a0e;
}

.st5 {
    fill: #f7a800;
}

.st6 {
    opacity: 0.52;
    fill: #fff;
}

.st7 {
    fill: #ffd346;
}

.st8 {
    fill: #1d1d1d;
}

.st9 {
    fill: #2fc4fe;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #009ac9;
}

.st11 {
    fill: #6dc8f2;
}

.st12 {
    fill: #fff;
}

.st13 {
    fill: none;
    stroke: #bc5b19;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st14 {
    fill: none;
    stroke: #bc5b19;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.9435, 4.9435;
}

.st15 {
    fill: #898df1;
}

.st16 {
    fill: #3f458e;
}

.st17 {
    fill: #262c56;
}

.st18 {
    fill: #4a4c56;
}

.st19 {
    font-family: 'v_Veneer';
}

.st20 {
    font-size: 22.2535px;
}

.st21 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st22 {
    fill: #594439;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st23 {
    fill: #594439;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st24 {
    fill: #1d1d1b;
}

.st25 {
    opacity: 0.44;
}

.st26 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st27 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.8839, 4.8839;
}

.st28 {
    fill: #ed7601;
}

.st29 {
    fill: #d64422;
}

.st30 {
    fill: #ff871a;
}

.st31 {
    fill: #ffa255;
}

.st32 {
    fill: #4a4a48;
}

.st33 {
    fill: #303028;
}

.st34 {
    fill: #5b5b5b;
}

.st35 {
    fill: #00378e;
}

.st36 {
    fill: #ffa015;
}

.st37 {
    fill: #bc5b19;
}

.st38 {
    fill: #eda65a;
}

.st39 {
    fill: #ffbe55;
}

.st40 {
    fill: #443737;
}
