.st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #f7a800;
}

.st2 {
    fill: #ffd346;
}

.st3 {
    fill: #9966cd;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #af8ed5;
}

.st5 {
    fill: #fff;
}

.st6 {
    fill: #fbbc2f;
}

.st7 {
    fill: #1d1d1d;
}

.st8 {
    fill: #9966cd;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #c2bbc2;
}

.st10 {
    fill: #839393;
}

.st11 {
    fill: #f5ce4f;
}

.st12 {
    fill: none;
    stroke: #434e60;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #408eff;
}

.st14 {
    fill: #0055fe;
}

.st15 {
    fill: #f18a0e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #af8ed5;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #9966cd;
}

.st18 {
    fill: #a0b2bc;
    stroke: #5b7e8e;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #bfd2db;
}

.st20 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #1d1d1b;
}

.st22 {
    fill: #5c7a72;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st23 {
    fill: #67a594;
}

.st24 {
    fill: #ed7601;
}

.st25 {
    fill: #d64422;
}

.st26 {
    fill: #f2892a;
}

.st27 {
    opacity: 0.2;
    fill: #fff;
}

.st28 {
    fill: #514536;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #846944;
}

.st30 {
    fill: #514536;
}

.st31 {
    fill: #23201c;
}

.st32 {
    fill: none;
}

.st33 {
    fill: #60605b;
}

.st34 {
    fill: #939393;
}

.st35 {
    fill: #b9d6ed;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st36 {
    fill: #e6f5fe;
}

.st37 {
    fill: #e29000;
}

.st38 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st39 {
    fill: #ef7100;
}

.st40 {
    fill: #998145;
}
