.joel-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st1 {
    fill: #ffd346;
}

.joel-st2 {
    fill: #fff;
}

.joel-st3 {
    fill: #fbbc2f;
}

.joel-st4 {
    fill: #1d1d1d;
}

.joel-st5 {
    fill: #212021;
}

.joel-st6 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st7 {
    fill: #1d1c2b;
}

.joel-st8 {
    fill: #2b2b2b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st9 {
    fill: #2b304e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st10 {
    fill: #3d4363;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st11 {
    fill: #6f9892;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st12 {
    fill: #528980;
}

.joel-st13 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st14 {
    fill: #423c39;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st15 {
    fill: #594f4b;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st16 {
    fill: #7999d2;
}

.joel-st17 {
    fill: #8e8e8e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st18 {
    fill: #2b2b2b;
}

.joel-st19 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.joel-st20 {
    fill: #cfe3f9;
}

.joel-st21 {
    fill: #a7b7c6;
}

.joel-st22 {
    fill: #474951;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st23 {
    fill: #605647;
}

.joel-st24 {
    fill: #aab3bc;
}

.joel-st25 {
    fill: #222223;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st26 {
    fill: #f00;
}

.joel-st27 {
    fill: #4f494d;
}

.joel-st28 {
    fill: #383838;
}

.joel-st29 {
    fill: #707070;
}

.joel-st30 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st31 {
    fill: #f18a0e;
}

.joel-st32 {
    fill: #d8a132;
}

.joel-st33 {
    clip-path: url(#SVGID_2_);
}

.joel-st34 {
    fill: #3f2f20;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st35 {
    fill: #827264;
}

.joel-st36 {
    clip-path: url(#SVGID_4_);
}

.joel-st37 {
    clip-path: url(#SVGID_6_);
}

.joel-st38 {
    fill: #3d2d2c;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st39 {
    clip-path: url(#SVGID_8_);
}

.joel-st40 {
    clip-path: url(#SVGID_10_);
}

.joel-st41 {
    fill: #211719;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.joel-st42 {
    fill: #35332e;
}

.joel-st43 {
    clip-path: url(#SVGID_12_);
}

.joel-st44 {
    clip-path: url(#SVGID_14_);
}

.joel-st45 {
    fill: #59704c;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.joel-st46 {
    stroke: #7a9965;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.joel-st47 {
    clip-path: url(#SVGID_16_);
}

.joel-st48 {
    clip-path: url(#SVGID_18_);
}

.joel-st49 {
    clip-path: url(#SVGID_20_);
}

.joel-st50 {
    clip-path: url(#SVGID_22_);
}

.joel-st51 {
    fill: #7a8793;
    stroke: #343a3f;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.joel-st52 {
    fill: #8ea7ba;
}

.joel-st53 {
    clip-path: url(#SVGID_24_);
}

.joel-st54 {
    clip-path: url(#SVGID_26_);
}

.joel-st55 {
    fill: #332926;
}

.joel-st56 {
    clip-path: url(#SVGID_28_);
}

.joel-st57 {
    fill: #77530a;
}

.joel-st58 {
    fill: #e5811f;
}

.joel-st59 {
    clip-path: url(#SVGID_30_);
}

.joel-st60 {
    fill: #331e1d;
}

.joel-st61 {
    fill: #686563;
}

.joel-st62 {
    clip-path: url(#SVGID_32_);
}

.joel-st63 {
    fill: #75706a;
}

.joel-st64 {
    fill: #876d51;
}

.joel-st65 {
    fill: #473b3f;
}

.joel-st66 {
    fill: #ed7601;
}

.joel-st67 {
    fill: #d64422;
}

.joel-st68 {
    fill: #f2892a;
}

.joel-st69 {
    fill: #6d645c;
}

.joel-st70 {
    fill: #413337;
}

.joel-st71 {
    fill: none;
    stroke: #000;
    stroke-width: 0.4;
    stroke-miterlimit: 10;
}

.joel-st72 {
    fill: #583e32;
}

.joel-st73 {
    fill: #b37750;
}

.joel-st74 {
    fill: #af2409;
}

.joel-st75 {
    fill: #ef5e41;
}

.joel-st76 {
    fill: #d64422;
    stroke: #af2409;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.joel-st77 {
    fill: none;
    stroke: #af2409;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.joel-st78 {
    fill: none;
    stroke: #af2409;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.joel-st79 {
    fill: none;
    stroke: #af2409;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.joel-st80 {
    fill: #726140;
}

.joel-st81 {
    fill: #56483b;
}

.joel-st82 {
    fill: #7c2c1d;
}

.joel-st83 {
    fill: #a1a5b2;
}

.joel-st84 {
    fill: #d1d5e0;
}

.joel-st85 {
    fill: #222223;
}

.joel-st86 {
    fill: #8e8576;
}

.joel-st87 {
    fill: #d1c3a1;
}

.joel-st88 {
    fill: #514639;
}

.joel-st89 {
    fill: #333146;
}

.joel-st90 {
    fill: #826c56;
}

.joel-st91 {
    fill: #ada28a;
}

.joel-st92 {
    fill: #57443c;
}

.joel-st93 {
    fill: #3a3331;
}

.joel-st94 {
    fill: #211d1c;
}

.joel-st95 {
    fill: #4f3f42;
}

.joel-st96 {
    fill: #78554c;
}

.joel-st97 {
    fill: #936f54;
}

.joel-st98 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.joel-st99 {
    fill: #605955;
}

.joel-st100 {
    fill: #77726a;
}

.joel-st101 {
    fill: #313133;
}

.joel-st102 {
    fill: #514c4a;
}

.joel-st103 {
    fill: #a59c8e;
}

.joel-st104 {
    fill: #7f7777;
}

.joel-st105 {
    fill: #66605f;
}

.joel-st106 {
    fill: #444140;
}

.joel-st107 {
    fill: #6b5e4c;
}

.joel-st108 {
    fill: #4c3f36;
}

.joel-st109 {
    fill: #ffedec;
}

.joel-st110 {
    fill: #776a7d;
}

.joel-st111 {
    fill: #785448;
}

.joel-st112 {
    fill: #4b4040;
}

.joel-st113 {
    fill: #5b4f39;
}

.joel-st114 {
    fill: #8c7751;
}

.joel-st115 {
    fill: #938670;
}

.joel-st116 {
    fill: #7c705e;
}

.joel-st117 {
    fill: #383736;
}

.joel-st118 {
    fill: #92939e;
}
