.st0 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 2.9821;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #acd9e8;
}

.st2 {
    fill: #ce6f06;
}

.st3 {
    fill: #ff7900;
    stroke: #c13200;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #adaaa5;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #8c0a00;
}

.st6 {
    fill: #616b70;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #ffdc31;
}

.st8 {
    fill: #ff7900;
}

.st9 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #f18a0e;
}

.st11 {
    fill: #f7a800;
}

.st12 {
    fill: #bad4e0;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #7e9da8;
}

.st14 {
    fill: #d85700;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #d87800;
}

.st16 {
    fill: none;
    stroke: #000;
    stroke-width: 2.9695;
    stroke-miterlimit: 10;
}

.st17 {
    fill: none;
    stroke: #000;
    stroke-width: 2.9956;
    stroke-miterlimit: 10;
}

.st18 {
    fill: none;
    stroke: #000;
    stroke-width: 2.9852;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #3f3f3f;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #6bb2d1;
    stroke: #2b6377;
    stroke-width: 2.9821;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #aa3d69;
    stroke: #821e4b;
    stroke-width: 2.9821;
    stroke-miterlimit: 10;
}

.st22 {
    opacity: 0.7;
    fill: #fff;
}

.st23 {
    opacity: 0.2;
    fill: #fff;
}

.st24 {
    fill: #fff;
}

.st25 {
    opacity: 0.5;
    fill: #fff;
}

.st26 {
    fill: #c9e8be;
    stroke: #44aa81;
    stroke-width: 1.6104;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #44aa81;
}

.st28 {
    opacity: 0.48;
}

.st29 {
    fill: #d4b163;
}

.st30 {
    fill: #ff93a0;
}

.st31 {
    opacity: 0.4;
    fill: #fff;
}

.st32 {
    fill: #fcedc2;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st33 {
    fill: #f26c08;
    stroke: #771d08;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st34 {
    fill: #ffa91f;
}

.st35 {
    fill: #ffff6a;
}

.st36 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st37 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st38 {
    fill: #564330;
    stroke: #000;
    stroke-width: 3.9796;
    stroke-miterlimit: 10;
}

.st39 {
    fill: #ffd346;
}

.st40 {
    fill: #fbbc2f;
}

.st41 {
    fill: #1d1d1d;
}

.st42 {
    clip-path: url(#SVGID_2_);
}

.st43 {
    fill: #ffc639;
}

.st44 {
    fill: #9b5510;
}

.st45 {
    fill: #ffeaa6;
}

.st46 {
    fill: #d37300;
}

.st47 {
    fill: none;
    stroke: #771d08;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st48 {
    opacity: 0.5;
    fill: #664e46;
}

.st49 {
    fill: #7f7771;
}

.st50 {
    fill: #56524f;
}

.st51 {
    fill: #c6883d;
}

.st52 {
    fill: #9e5b12;
}

.st53 {
    fill: #7d532d;
}

.st54 {
    fill: #3960af;
}

.st55 {
    fill: #e6eaeb;
    stroke: #13176e;
    stroke-miterlimit: 10;
}

.st56 {
    fill: #e8edef;
    stroke: #892507;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st57 {
    fill: #bad4e0;
}

.st58 {
    fill: #bfe8f0;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st59 {
    fill: #a6a8d7;
}

.st60 {
    fill: #e7f2c6;
}

.st61 {
    fill: #6ee1f2;
}

.st62 {
    fill: #892507;
}

.st63 {
    fill: none;
    stroke: #fff;
    stroke-width: 0.861;
    stroke-miterlimit: 10;
}

.st64 {
    fill: #892507;
    stroke: #000;
    stroke-width: 0.861;
    stroke-miterlimit: 10;
}

.st65 {
    fill: #66707f;
}

.st66 {
    opacity: 0.4;
    fill: #656d70;
}

.st67 {
    fill: none;
    stroke: #892507;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st68 {
    fill: #13176e;
}

.st69 {
    fill: #244477;
}

.st70 {
    fill: #3960af;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st71 {
    clip-path: url(#SVGID_4_);
}

.st72 {
    fill: #db2728;
}

.st73 {
    fill: #df6e10;
}

.st74 {
    fill: #fadd5f;
}

.st75 {
    fill: #c8cd79;
}

.st76 {
    fill: #cfccd5;
}

.st77 {
    fill: #8e64a4;
}

.st78 {
    fill: #705b0c;
}

.st79 {
    fill: #bf0206;
}

.st80 {
    fill: #ef7619;
}

.st81 {
    fill: #f9ad4f;
}

.st82 {
    fill: #b6b865;
}

.st83 {
    fill: #d7d8b6;
}

.st84 {
    fill: #fcedc2;
}

.st85 {
    fill: #e5cd9f;
}

.st86 {
    fill: #937648;
}

.st87 {
    fill: #ffa91f;
    stroke: #a83e14;
    stroke-width: 2.6805;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st88 {
    fill: #ffa91f;
    stroke: #a83e14;
    stroke-width: 2.4217;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st89 {
    fill: #ffa91f;
    stroke: #a83e14;
    stroke-width: 3.0885;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st90 {
    fill: #ffa91f;
    stroke: #a83e14;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st91 {
    fill: #f26c08;
    stroke: #771d08;
    stroke-width: 1.6317;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st92 {
    fill: #05f;
}

.st93 {
    fill: #00b1ff;
}

.st94 {
    fill: #003da0;
}

.st95 {
    opacity: 0.5;
    fill: #e5d5b1;
}

.st96 {
    fill: #d8a132;
}

.st97 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st98 {
    clip-path: url(#SVGID_6_);
}

.st99 {
    fill: #383022;
}

.st100 {
    fill: #5b5853;
}

.st101 {
    clip-path: url(#SVGID_8_);
}

.st102 {
    fill: #ffe18d;
}

.st103 {
    clip-path: url(#SVGID_10_);
    fill: #3f3117;
    stroke: #000;
    stroke-width: 2.6321;
    stroke-miterlimit: 10;
}

.st104 {
    clip-path: url(#SVGID_12_);
    fill: #3f3117;
    stroke: #000;
    stroke-width: 2.6321;
    stroke-miterlimit: 10;
}

.st105 {
    clip-path: url(#SVGID_14_);
}

.st106 {
    fill: #172a87;
    stroke: #000;
    stroke-width: 1.7852;
    stroke-miterlimit: 10;
}

.st107 {
    clip-path: url(#SVGID_16_);
}

.st108 {
    fill: #172a87;
    stroke: #000;
    stroke-width: 1.5323;
    stroke-miterlimit: 10;
}

.st109 {
    clip-path: url(#SVGID_18_);
}

.st110 {
    fill: #6d4a46;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st111 {
    fill: #352322;
}

.st112 {
    clip-path: url(#SVGID_20_);
}

.st113 {
    fill: #6d4a46;
    stroke: #000;
    stroke-width: 2.8306;
    stroke-miterlimit: 10;
}

.st114 {
    fill: #ed7601;
}

.st115 {
    fill: #d64422;
}

.st116 {
    fill: #f2892a;
}

.st117 {
    fill: #e86046;
}

.st118 {
    fill: #ef7362;
}

.st119 {
    opacity: 0.2;
    fill: #ef7362;
}

.st120 {
    opacity: 0.4;
    fill: #655445;
}

.st121 {
    opacity: 0.5;
    fill: #d64422;
}

.st122 {
    opacity: 0.3;
    fill: #ed7601;
}

.st123 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st124 {
    opacity: 0.3;
    fill: #655445;
}

.st125 {
    fill: #ffa75f;
}

.st126 {
    fill: #a0230a;
}

.st127 {
    opacity: 0.2;
    fill: #655445;
}

.st128 {
    opacity: 0.7;
    fill: #ffd346;
}

.st129 {
    fill: #4d4a53;
}

.st130 {
    opacity: 0.7;
    fill: #b7801d;
}

.st131 {
    fill: #2d2d2d;
}

.st132 {
    fill: #896946;
}

.st133 {
    fill: #564330;
}

.st134 {
    fill: #9e7b59;
}

.st135 {
    opacity: 0.5;
    fill: #564330;
}

.st136 {
    fill: none;
    stroke: #000;
    stroke-width: 0.4;
    stroke-miterlimit: 10;
}

.st137 {
    fill: #725428;
}

.st138 {
    fill: #382c1d;
}

.st139 {
    fill: #d06600;
}

.st140 {
    fill: #ffb600;
}

.st141 {
    fill: #ffce76;
}

.st142 {
    fill: #ffff9c;
}

.st143 {
    fill: #8c6444;
}

.st144 {
    fill: #5b4638;
}

.st145 {
    fill: #9e7b63;
}

.st146 {
    fill: #3f3f3f;
}

.st147 {
    fill: #5e5e5e;
}

.st148 {
    fill: #7c7c7c;
}

.st149 {
    fill: #303030;
}

.st150 {
    fill: #84603d;
}

.st151 {
    fill: #423327;
}

.st152 {
    fill: #d18f24;
}

.st153 {
    fill: #f9c06e;
}

.st154 {
    fill: #050505;
}

.st155 {
    fill: #c69936;
}

.st156 {
    fill: #3f3524;
}

.st157 {
    fill: #fff;
    stroke: #484849;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st158 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.st159 {
    fill: #4c4946;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st160 {
    fill: #4c4946;
    stroke: #000;
    stroke-width: 0.8524;
    stroke-miterlimit: 10;
}

.st161 {
    fill: #636363;
}

.st162 {
    fill: #31313d;
}

.st163 {
    fill: #772323;
}

.st164 {
    fill: #3f2020;
}

.st165 {
    fill: #a34343;
}

.st166 {
    fill: #bca880;
}

.st167 {
    fill: #d8d0c7;
}

.st168 {
    fill: #844242;
}

.st169 {
    fill: #997c5c;
}

.st170 {
    fill: #70573e;
}

.st171 {
    fill: #49453f;
}

.st172 {
    fill: #282521;
}

.st173 {
    fill: #e8edef;
}

.st174 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}

.st175 {
    fill: #91a1a8;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st176 {
    fill: #cedadd;
}

.st177 {
    opacity: 0.69;
    fill: #91d9f2;
}

.st178 {
    fill: #8c9eaa;
    stroke: #5a7482;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st179 {
    fill: #908ca5;
}

.st180 {
    fill: #fcd252;
}

.st181 {
    opacity: 0.3;
    fill: #fff;
}

.st182 {
    clip-path: url(#SVGID_22_);
}

.st183 {
    fill: none;
    stroke: #771d08;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st184 {
    fill: #f26c08;
    stroke: #771d08;
    stroke-width: 2.1667;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st185 {
    fill: #f26c08;
    stroke: #771d08;
    stroke-width: 2.2123;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
