.st0 {
    fill: #70707c;
}

.st1 {
    fill: #545363;
}

.st2 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #91a9c3;
}

.st5 {
    fill: #1d1d1d;
}

.st6 {
    fill: #96624d;
}

.st7 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #f7a800;
}

.st9 {
    fill: #ce955d;
}

.st10 {
    fill: #825646;
}

.st11 {
    fill: #212226;
}

.st12 {
    fill: #597387;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #f18a0e;
}

.st14 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 2.8583;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #ffd346;
}

.st17 {
    fill: #fff;
}

.st18 {
    fill: #fbbc2f;
}

.st19 {
    fill: #6eaf9b;
}

.st20 {
    opacity: 0.5;
    fill: #3f6d60;
}

.st21 {
    fill: #4d5059;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st22 {
    fill: #2d313a;
}

.st23 {
    fill: #5e463f;
}

.st24 {
    fill: #846d5a;
}

.st25 {
    fill: #422e29;
}

.st26 {
    fill: #8493a3;
}

.st27 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #a3c1b7;
}

.st28 {
    fill: #91a3ed;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #6d7cad;
}

.st30 {
    fill: #2d2e33;
}

.st31 {
    fill: #1e1f23;
}

.st32 {
    fill: #2f2d2e;
}

.st33 {
    fill: #1e1c1d;
}

.st34 {
    fill: #4f4841;
}

.st35 {
    fill: #525259;
}

.st36 {
    fill: #858599;
}

.st37 {
    fill: #9cceb1;
}

.st38 {
    fill: #8788a1;
}

.st39 {
    fill: #f57a8d;
}

.st40 {
    fill: #87aa97;
}

.st41 {
    fill: #f6bb5c;
}

.st42 {
    fill: #9db8d1;
}

.st43 {
    fill: #abc6db;
}

.st44 {
    fill: #224956;
}

.st45 {
    fill: #629dd3;
}

.st46 {
    fill: #597387;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st47 {
    fill: #1b344b;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st48 {
    fill: #7c54a3;
}

.st49 {
    fill: #f0b23e;
}

.st50 {
    fill: #212123;
}

.st51 {
    fill: #aaa0aa;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st52 {
    fill: #aaa0aa;
}

.st53 {
    fill: #726772;
}

.st54 {
    fill: #282428;
}

.st55 {
    fill: #c4bbc4;
}

.st56 {
    opacity: 0.56;
    fill: #e2e2e2;
}

.st57 {
    fill: #e2e2e2;
}

.st58 {
    fill: #afb5c9;
}

.st59 {
    fill: #d5d8e0;
}

.st60 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #e84142;
}

.st61 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fff;
}

.st62 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st63 {
    fill: #353544;
}

.st64 {
    fill: #597387;
}

.st65 {
    fill: #4b5d68;
}

.st66 {
    fill: #d8a132;
}

.st67 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st68 {
    clip-path: url(#SVGID_2_);
    fill: #332017;
    stroke: #1e100b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st69 {
    clip-path: url(#SVGID_4_);
    fill: #332017;
    stroke: #1e100b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st70 {
    clip-path: url(#SVGID_6_);
    fill: #30140d;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st71 {
    clip-path: url(#SVGID_8_);
    fill: #30140d;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st72 {
    clip-path: url(#SVGID_10_);
    fill: #89a39d;
    stroke: #374c54;
    stroke-miterlimit: 10;
}

.st73 {
    clip-path: url(#SVGID_12_);
    fill: #89a39d;
    stroke: #374c54;
    stroke-miterlimit: 10;
}

.st74 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st75 {
    fill: #fff;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st76 {
    fill: #9fe2cc;
}

.st77 {
    fill: #91785a;
}

.st78 {
    fill: #755c52;
}

.st79 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st80 {
    fill: #4c4c4c;
}

.st81 {
    fill: #d64422;
}

.st82 {
    fill: #838689;
}

.st83 {
    fill: #ed7601;
}

.st84 {
    fill: #ff9739;
}

.st85 {
    fill: #f3deca;
}

.st86 {
    fill: #bab1ab;
}

.st87 {
    fill: #7c4b35;
}

.st88 {
    fill: #9b897b;
}

.st89 {
    fill: #7c473e;
}

.st90 {
    fill: #635949;
}

.st91 {
    opacity: 0.3;
    fill: #fff;
}

.st92 {
    opacity: 0.3;
    fill: #7c7c7c;
}

.st93 {
    opacity: 0.5;
    fill: #5b5851;
}

.st94 {
    opacity: 0.29;
}

.st95 {
    fill: #5b5851;
}

.st96 {
    fill: #847673;
}

.st97 {
    fill: #605554;
}

.st98 {
    fill: #5b4b43;
}

.st99 {
    fill: #725849;
}

.st100 {
    fill: #656c70;
}

.st101 {
    fill: #3d2a2c;
}

.st102 {
    fill: #353235;
}

.st103 {
    fill: #3d3b36;
}

.st104 {
    fill: #443a35;
}

.st105 {
    fill: #8e8368;
}

.st106 {
    fill: #dbaa00;
}

.st107 {
    fill: #7d5822;
}

.st108 {
    fill: #3f3d38;
}

.st109 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st110 {
    opacity: 0.5;
    fill: #3f3d38;
}

.st111 {
    opacity: 0.5;
    fill: #fff;
}

.st112 {
    fill: #1e1c19;
}
