.st0 {
    display: none;
}

.st1 {
    display: inline;
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #ffd346;
}

.st3 {
    fill: #fff;
}

.st4 {
    fill: #fbbc2f;
}

.st5 {
    fill: #1d1d1d;
}

.st6 {
    fill: #545760;
}

.st7 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #fff;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #0050a0;
}

.st10 {
    fill: #85d6ff;
}

.st11 {
    fill: #00346c;
}

.st12 {
    fill: #9b5f24;
}

.st13 {
    fill: #e88d2a;
}

.st14 {
    fill: #fee6c0;
}

.st15 {
    fill: #661b04;
}

.st16 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #f18a0e;
}

.st18 {
    fill: #7d472e;
}

.st19 {
    fill: #dfeaea;
}

.st20 {
    fill: #9ba3a3;
}

.st21 {
    fill: #9b3741;
}

.st22 {
    fill: #bf0032;
}

.st23 {
    fill: #cadcdd;
}

.st24 {
    opacity: 0.4;
    fill: #490912;
}

.st25 {
    fill: #d1683e;
}

.st26 {
    fill: #96462a;
}

.st27 {
    fill: #fff3a1;
}

.st28 {
    opacity: 0.5;
    fill: #fff3a1;
}

.st29 {
    fill: #490912;
}

.st30 {
    fill: #603929;
}

.st31 {
    fill: #b9bfc1;
}

.st32 {
    opacity: 0.5;
    fill: #c98951;
}

.st33 {
    fill: #c98951;
}

.st34 {
    fill: #f9d478;
}

.st35 {
    fill: #f7a800;
}

.st36 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st37 {
    fill: #ed7601;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st38 {
    fill: #ff983b;
}

.st39 {
    fill: #dc3539;
    stroke: #99000b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st40 {
    fill: #ff5f6b;
}

.st41 {
    fill: #d8a132;
}

.st42 {
    clip-path: url(#SVGID_00000054266355857083933280000002559909783145937831_);
}

.st43 {
    fill: #352c27;
}

.st44 {
    clip-path: url(#SVGID_00000008129855623509723470000004809082537787465654_);
}

.st45 {
    fill: #796837;
}

.st46 {
    fill: #ed7601;
}

.st47 {
    fill: #d64422;
}

.st48 {
    fill: #f2892a;
}

.st49 {
    fill: #756754;
}

.st50 {
    fill: #503c2b;
}

.st51 {
    fill: #140d0b;
}

.st52 {
    fill: #ff0096;
}

.st53 {
    fill: #c90081;
}

.st54 {
    fill: none;
    stroke: #aa006d;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st55 {
    fill: #ff0096;
    stroke: #aa006d;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st56 {
    fill: #ff4390;
    stroke: #aa006d;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st57 {
    fill: #ff29b3;
}

.st58 {
    opacity: 0.5;
    fill: #ff8dc6;
}

.st59 {
    opacity: 0.3;
    fill: #ff8dc6;
}

.st60 {
    fill: #352b28;
}

.st61 {
    fill: #0067d0;
    stroke: #002356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st62 {
    opacity: 0.5;
    fill: #0050a0;
}

.st63 {
    opacity: 0.5;
    fill: #1096e8;
}

.st64 {
    fill: #0067d0;
}

.st65 {
    fill: #c6007f;
}

.st66 {
    fill: #ff4390;
}

.st67 {
    fill: #ff5fa8;
}

.st68 {
    fill: #ff8dc6;
}

.st69 {
    opacity: 0.7;
    fill: #0050a0;
}

.st70 {
    opacity: 0.6;
    fill: #1096e8;
}

.st71 {
    opacity: 0.3;
    fill: #1096e8;
}

.st72 {
    opacity: 0.4;
    fill: #0050a0;
}

.st73 {
    opacity: 0.7;
    fill: #1096e8;
}

.st74 {
    opacity: 0.4;
    fill: #1096e8;
}

.st75 {
    fill: #10afff;
}

.st76 {
    fill: none;
    stroke: #002356;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st77 {
    fill: none;
    stroke: #002356;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st78 {
    fill: none;
    stroke: #aa006d;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st79 {
    fill: #ffabd5;
}

.st80 {
    clip-path: url(#SVGID_00000174571339023731691290000008097372438955170719_);
}

.st81 {
    fill: #352c27;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st82 {
    clip-path: url(#SVGID_00000129915594841204184880000013480400711113764252_);
}
