.ash-st0 {
    fill: #848484;
}

.ash-st1 {
    fill: #717171;
}

.ash-st2 {
    opacity: 0.47;
    fill: #b9b9b9;
    enable-background: new;
}

.ash-st3 {
    fill: #b9b9b9;
}

.ash-st4 {
    fill: #898989;
}

.ash-st5 {
    opacity: 0.51;
    fill: #af3100;
    enable-background: new;
}

.ash-st6 {
    opacity: 0.57;
}

.ash-st7 {
    fill: #2d2929;
}

.ash-st8 {
    opacity: 0.5;
    fill: #2d2929;
    enable-background: new;
}

.ash-st9 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.ash-st10 {
    opacity: 0.75;
    fill: #b0b5b5;
    enable-background: new;
}

.ash-st11 {
    fill: #f4f4f4;
}

.ash-st12 {
    fill: #ffd624;
}

.ash-st13 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #125e4a;
}

.ash-st14 {
    fill: #209d7f;
}

.ash-st15 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #173937;
}

.ash-st16 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fff;
}

.ash-st17 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #49ceab;
}

.ash-st18 {
    fill: #8e8e8e;
}

.ash-st19 {
    fill: #fff;
}

.ash-st20 {
    fill: #1e0f00;
}

.ash-st21 {
    fill: #d8a132;
}

.ash-st22 {
    fill: #ed7601;
}

.ash-st23 {
    fill: #1d1d1b;
}

.ash-st24 {
    fill: #e95b0b;
}

.ash-st25 {
    fill: #1f1302;
}

.ash-st26 {
    fill: #f8bd87;
}

.ash-st27 {
    fill: #200c00;
}

.ash-st28 {
    fill: #1d1d1b;
    stroke: #000;
    stroke-width: 0.95;
    stroke-miterlimit: 10;
}

.ash-st29 {
    fill: #843c1c;
}

.ash-st30 {
    fill: #c18e4c;
}

.ash-st31 {
    fill: #6b2f17;
}

.ash-st32 {
    opacity: 0.41;
    enable-background: new;
}

.ash-st33 {
    fill: #cc0500;
}
