.st0 {
    fill: #f18a0e;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #e92526;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #fff;
}

.st3 {
    fill: #760d14;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #e92526;
}

.st5 {
    fill: #fc4f58;
}

.st6 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #ffd346;
}

.st8 {
    fill: #fbbc2f;
}

.st9 {
    fill: #1d1d1d;
}

.st10 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #f7a800;
}

.st12 {
    fill: #ffd96e;
}

.st13 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #c68d3c;
}

.st15 {
    fill: #0038a7;
}

.st16 {
    fill: #ce1127;
}

.st17 {
    fill: #fdd116;
}

.st18 {
    fill: none;
    stroke: #fdd116;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st19 {
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st20 {
    opacity: 0.3;
    fill: #0b2d63;
}

.st21 {
    fill: none;
    stroke: #696b70;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st22 {
    fill: #e92526;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st23 {
    fill: #760d14;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st24 {
    fill: #760d14;
}

.st25 {
    opacity: 0.4;
    fill: #fff;
}

.st26 {
    opacity: 0.3;
    fill: #fff;
}

.st27 {
    fill: #1d1d1b;
}

.st28 {
    fill: #db9e23;
}

.st29 {
    fill: #393941;
}

.st30 {
    fill: #282120;
}

.st31 {
    fill: #585860;
}

.st32 {
    fill: #ed7601;
}

.st33 {
    fill: #d64422;
}

.st34 {
    fill: #f2892a;
}

.st35 {
    fill: #ff9f50;
}

.st36 {
    opacity: 0.2;
    fill: #fff;
}
