.forklog-st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st1 {
    fill: #f7a800;
}

.forklog-st2 {
    fill: #ffd346;
}

.forklog-st3 {
    fill: #d8a132;
}

.forklog-st4 {
    fill: #1d1d1d;
}

.forklog-st5 {
    fill: #f18a0e;
}

.forklog-st6 {
    fill: #a8843b;
    stroke: #7f5711;
    stroke-width: 3.0616;
    stroke-miterlimit: 10;
}

.forklog-st7 {
    fill: #ffd283;
    stroke: #7f5711;
    stroke-width: 3.0616;
    stroke-miterlimit: 10;
}

.forklog-st8 {
    fill: #fff;
}

.forklog-st9 {
    fill: #fcb138;
}

.forklog-st10 {
    fill: #fcd138;
}

.forklog-st11 {
    fill: none;
    stroke: #7f5711;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.forklog-st12 {
    fill: #fbbc2f;
}

.forklog-st13 {
    fill: #201e1f;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st14 {
    fill: #333031;
}

.forklog-st15 {
    fill: #e5a21f;
}

.forklog-st16 {
    fill: #d8dbed;
}

.forklog-st17 {
    fill: #14a4d9;
}

.forklog-st18 {
    fill: #616872;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st19 {
    fill: #4b545e;
}

.forklog-st20 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st21 {
    fill: #090909;
}

.forklog-st22 {
    fill: #d3813d;
}

.forklog-st23 {
    fill: #d3543d;
}

.forklog-st24 {
    fill: #c4ba87;
}

.forklog-st25 {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.6314;
    stroke-miterlimit: 10;
}

.forklog-st26 {
    opacity: 0.69;
    fill: #fff;
}

.forklog-st27 {
    fill: none;
    stroke: #000;
    stroke-width: 2.8362;
    stroke-miterlimit: 10;
}

.forklog-st28 {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.8369;
    stroke-miterlimit: 10;
}

.forklog-st29 {
    opacity: 0.39;
    fill: #7ba4ad;
}

.forklog-st30 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st31 {
    fill: #b5ad95;
    stroke: #7c7465;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st32 {
    fill: #b1e583;
}

.forklog-st33 {
    fill: #ed7601;
}

.forklog-st34 {
    fill: #d64422;
}

.forklog-st35 {
    fill: #7f4422;
}

.forklog-st36 {
    fill: #f2892a;
}

.forklog-st37 {
    fill: #d83c12;
}

.forklog-st38 {
    fill: #dbce72;
}

.forklog-st39 {
    fill: #9aa722;
}

.forklog-st40 {
    fill: #efe5ab;
}

.forklog-st41 {
    fill: #cfd645;
}

.forklog-st42 {
    opacity: 0.43;
    fill: #fff;
}

.forklog-st43 {
    fill: #7c6952;
}

.forklog-st44 {
    fill: #efd39e;
}

.forklog-st45 {
    fill: #be9555;
}

.forklog-st46 {
    fill: #a08867;
}

.forklog-st47 {
    fill: #1d1d1b;
}

.forklog-st48 {
    fill: #dd8b85;
}

.forklog-st49 {
    fill: #dd6966;
}

.forklog-st50 {
    fill: #e2b4b3;
}

.forklog-st51 {
    fill: #efd0d0;
}

.forklog-st52 {
    fill: #4c4c4c;
    stroke: #3d3d3d;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st53 {
    fill: #e4e4e2;
    stroke: #939391;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st54 {
    fill: #f2f2f2;
}

.forklog-st55 {
    fill: #ffa5bf;
}

.forklog-st56 {
    fill: #605142;
}

.forklog-st57 {
    fill: #696968;
}

.forklog-st58 {
    fill: none;
    stroke: #565655;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st59 {
    fill: none;
    stroke: #3f3b37;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st60 {
    fill: #969696;
}

.forklog-st61 {
    fill: none;
    stroke: #898989;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st62 {
    fill: #55514e;
}

.forklog-st63 {
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.forklog-st64 {
    opacity: 0.44;
    fill: #f7a800;
}

.forklog-st65 {
    display: none;
}
