.football-st0 {
    fill: #f7a800;
}

.football-st1 {
    fill: #0062ff;
}

.football-st2 {
    fill: #0c2e60;
}

.football-st3 {
    fill: #e87900;
}

.football-st4 {
    fill: #1d1d1d;
}

.football-st5 {
    fill: #c0dae2;
}

.football-st6 {
    fill: #f18a0e;
}

.football-st7 {
    fill: #ffd346;
}

.football-st8 {
    fill: #fff;
}

.football-st9 {
    opacity: 0.3;
    fill: #30507f;
}

.football-st10 {
    fill: #97c8db;
}

.football-st11 {
    opacity: 0.23;
}

.football-st12 {
    fill: #0055fe;
}

.football-st13 {
    fill: #009ffe;
}

.football-st14 {
    opacity: 0.5;
    fill: #1f3a59;
}

.football-st15 {
    opacity: 0.3;
    fill: #fff;
}

.football-st16 {
    fill: #1d1d1b;
}

.football-st17 {
    fill: #def5ff;
}

.football-st18 {
    fill: #fbbc2f;
}

.football-st19 {
    fill: #ed7601;
}

.football-st20 {
    fill: #d64422;
}

.football-st21 {
    fill: #e4e8ef;
}

.football-st22 {
    opacity: 0.43;
    fill: #30507f;
}

.football-st23 {
    fill: #bac2ce;
}

.football-st24 {
    opacity: 0.5;
    fill: #fff;
}

.football-st25 {
    fill: #b0bdd1;
}

.football-st26 {
    opacity: 0.59;
    fill: #fff;
}

.football-st27 {
    fill: #ce6b09;
}
