.st0 {
    fill: #f7a800;
}

.st1 {
    fill: #f18a0e;
}

.st2 {
    fill: #1d1d1d;
}

.st3 {
    fill: #ffd346;
}

.st4 {
    fill: #d18602;
}

.st5 {
    fill: #fbbc2f;
}

.st6 {
    fill: #ffdc7b;
}

.st7 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #8e7955;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #b82a00;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #ff6300;
    stroke: #000;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #665349;
}

.st12 {
    fill: #bf7f00;
}

.st13 {
    opacity: 0.47;
    fill: #4c3f3a;
}

.st14 {
    opacity: 0.53;
}

.st15 {
    fill: #fff;
}

.st16 {
    fill: #4b2815;
}

.st17 {
    fill: #fbf096;
}

.st18 {
    opacity: 0.53;
    fill: #ff380f;
}

.st19 {
    opacity: 0.29;
    fill: #fbf096;
}

.st20 {
    opacity: 0.39;
    fill: #7b4e13;
}

.st21 {
    fill: #0066c1;
}

.st22 {
    fill: #0045aa;
}

.st23 {
    fill: #689ac9;
}

.st24 {
    fill: #b0d7f7;
}

.st25 {
    fill: none;
    stroke: #0045aa;
    stroke-width: 0.761;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #ffd346;
    stroke: #000;
    stroke-width: 4.0186;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st28 {
    fill: #1d1d1b;
}

.st29 {
    fill: #7a7265;
}

.st30 {
    fill: #ed7601;
}

.st31 {
    fill: #33322e;
}

.st32 {
    fill: #d64422;
}

.st33 {
    fill: #ff9739;
}

.st34 {
    fill: #ba964c;
}

.st35 {
    fill: #7b4614;
}

.st36 {
    fill: #f7a800;
    stroke: #1d1d1b;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st37 {
    fill: #40110b;
}

.st38 {
    fill: none;
    stroke: #000;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st39 {
    fill: #8e7955;
}

.st40 {
    fill: #b82a00;
}

.st41 {
    fill: #ff6300;
}
