.st0 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #f18a0e;
}

.st2 {
    fill: #ffd346;
}

.st3 {
    fill: #fff;
}

.st4 {
    fill: #fbbc2f;
}

.st5 {
    fill: #1d1d1d;
}

.st6 {
    fill: #f00;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #ba1a00;
}

.st8 {
    fill: #ff6601;
}

.st9 {
    fill: #ff1c01;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #721c01;
}

.st11 {
    fill: #824f2b;
}

.st12 {
    fill: #9e7951;
}

.st13 {
    fill: #4c3322;
}

.st14 {
    fill: #cc9156;
}

.st15 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #318435;
}

.st17 {
    fill: #48ef48;
}

.st18 {
    fill: #f18a0e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #ff1c01;
}

.st20 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #f7a800;
}

.st22 {
    opacity: 0.4;
    fill: #fff;
}

.st23 {
    fill: #ea966c;
    stroke: #772808;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st24 {
    fill: #772808;
}

.st25 {
    fill: #ffbc9f;
}

.st26 {
    fill: #b75735;
}

.st27 {
    fill: #aa8c5c;
}

.st28 {
    fill: #ddbb8a;
}

.st29 {
    fill: #f9c698;
}

.st30 {
    fill: #ffe2ca;
}

.st31 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st32 {
    fill: #ed7601;
}

.st33 {
    fill: #d64422;
}

.st34 {
    fill: #6d3939;
}

.st35 {
    fill: #492828;
}

.st36 {
    fill: #c9250a;
}

.st37 {
    fill: none;
    stroke: #1d1d1b;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st38 {
    fill: #f2892a;
}

.st39 {
    fill: #1d1d1b;
}

.st40 {
    fill: #ffa65c;
}

.st41 {
    fill: #33363a;
}

.st42 {
    fill: #a00;
}

.st43 {
    fill: #f00;
}

.st44 {
    fill: #00d656;
}
