.st0 {
    display: none;
}

.st1 {
    display: inline;
}

.st2 {
    fill: #0093d4;
}

.st3 {
    fill: #00d4f9;
}

.st4 {
    fill: #ffd346;
}

.st5 {
    fill: #d6e5ea;
}

.st6 {
    fill: #a9b6c3;
}

.st7 {
    fill: #f7a800;
}

.st8 {
    fill: #8996a3;
}

.st9 {
    fill: #fff;
}

.st10 {
    fill: #363b3f;
}

.st11 {
    fill: #262a2d;
}

.st12 {
    fill: #f1f1f1;
}

.st13 {
    fill: #979ea5;
}

.st14 {
    fill: #5293cf;
}

.st15 {
    fill: #00c7f1;
}

.st16 {
    fill: #fbbc2f;
}

.st17 {
    fill: #ed7601;
}

.st18 {
    fill: #d64422;
}

.st19 {
    fill: #7a756f;
}

.st20 {
    fill: #3a3a3a;
}

.st21 {
    fill: #7c664f;
}

.st22 {
    fill: #d6e1e8;
}

.st23 {
    fill: #f3fbff;
}

.st24 {
    fill: #8d97a0;
}

.st25 {
    fill: #cee1ed;
}

.st26 {
    fill: #f2892a;
}

.st27 {
    fill: #423c39;
}

.st28 {
    fill: #191717;
}

.st29 {
    fill: #4c4c4c;
}

.st30 {
    fill: #3a332b;
}

.st31 {
    fill: #6b5e4c;
}

.st32 {
    fill: #ffa861;
}

.st33 {
    fill: #d8a132;
}

.st34 {
    fill: #5e3c26;
}
