.wwwwanna0 {
    fill: #003d70;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwwanna1 {
    fill: #512b4e;
}

.wwwwanna2 {
    fill: #a88e67;
}

.wwwwanna3 {
    fill: #c4b595;
}

.wwwwanna4 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwwanna5 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwwanna6 {
    fill: #ffd346;
}

.wwwwanna7 {
    fill: #fff;
}

.wwwwanna8 {
    fill: #fbbc2f;
}

.wwwwanna9 {
    fill: #1d1d1d;
}

.wwwwanna10 {
    fill: #00263f;
}

.wwwwanna11 {
    fill: #005b99;
}

.wwwwanna12 {
    fill: #ef4649;
}

.wwwwanna13 {
    fill: #218e48;
}

.wwwwanna14 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}

.wwwwanna15 {
    fill: #758aa0;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwwanna16 {
    fill: #003d70;
}

.wwwwanna17 {
    fill: #b9c0c6;
    stroke: #000;
    stroke-width: 2.9873;
    stroke-miterlimit: 10;
}

.wwwwanna18 {
    fill: #959ca3;
    stroke: #000;
    stroke-width: 1.9915;
    stroke-miterlimit: 10;
}

.wwwwanna19 {
    fill: #285f88;
    stroke: #000;
    stroke-width: 1.9915;
    stroke-miterlimit: 10;
}

.wwwwanna20 {
    fill: #676f75;
}

.wwwwanna21 {
    fill: #d8a132;
}

.wwwwanna22 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwwanna23 {
    clip-path: url(#SVGID_2_);
}

.wwwwanna24 {
    fill: #3f322f;
}

.wwwwanna25 {
    clip-path: url(#SVGID_4_);
}

.wwwwanna26 {
    fill: #ed7601;
}

.wwwwanna27 {
    fill: #d64422;
}

.wwwwanna28 {
    fill: #f2892a;
}

.wwwwanna29 {
    opacity: 0.28;
    fill: #fff;
}

.wwwwanna30 {
    opacity: 0.3;
    fill: #fff;
}

.wwwwanna31 {
    fill: #3d2926;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwwanna32 {
    fill: #755a3c;
}

.wwwwanna33 {
    fill: #3d2926;
}

.wwwwanna34 {
    fill: #b79065;
}

.wwwwanna35 {
    fill: #593e34;
}

.wwwwanna36 {
    fill: #959ca3;
}

.wwwwanna37 {
    fill: #b9c0c6;
}

.wwwwanna38 {
    fill: #dfe9f2;
}

.wwwwanna39 {
    fill: none;
    stroke: #000;
    stroke-width: 3.0119;
    stroke-miterlimit: 10;
}

.wwwwanna40 {
    opacity: 0.35;
    fill: #fff;
}

.wwwwanna41 {
    opacity: 0.48;
    fill: #6a636d;
}

.wwwwanna42 {
    fill: #77675e;
}

.wwwwanna43 {
    fill: #575757;
}

.wwwwanna44 {
    fill: #785052;
}

.wwwwanna45 {
    opacity: 0.4;
    fill: #fff;
}

.wwwwanna46 {
    fill: #342635;
}

.wwwwanna47 {
    fill: #3f322d;
}

.wwwwanna48 {
    fill: #51443d;
}

.wwwwanna49 {
    fill: #6b5b55;
}

.wwwwanna50 {
    fill: #897567;
}

.wwwwanna51 {
    fill: #51445e;
}

.wwwwanna52 {
    fill: #4f4d51;
}

.wwwwanna53 {
    fill: #49443e;
}

.wwwwanna54 {
    clip-path: url(#SVGID_6_);
}

.wwwwanna55 {
    fill: #44281e;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.wwwwanna56 {
    clip-path: url(#SVGID_8_);
}

.wwwwanna57 {
    fill: #44281e;
    stroke: #000;
    stroke-width: 2.8365;
    stroke-miterlimit: 10;
}

.wwwwanna58 {
    opacity: 0.1;
}

.wwwwanna59 {
    opacity: 0.42;
    fill: #575757;
}

.wwwwanna60 {
    opacity: 0.35;
    fill: #3f322d;
}

.wwwwanna61 {
    opacity: 0.35;
    fill: #51443d;
}

.wwwwanna62 {
    opacity: 0.35;
    fill: #6b5b55;
}

.wwwwanna63 {
    opacity: 0.35;
    fill: #897567;
}

.wwwwanna64 {
    opacity: 0.35;
    fill: #51445e;
}

.wwwwanna65 {
    opacity: 0.35;
    fill: #4f4d51;
}
