.st0 {
    fill: #8a9399;
}

.st1 {
    fill: #b49399;
}

.st2 {
    fill: #7c6d59;
}

.st3 {
    fill: #b3b7c6;
}

.st4 {
    fill: #5d6168;
}

.st5 {
    fill: #d8d0d3;
}

.st6 {
    fill: #bcbab7;
}

.st7 {
    fill: #d8c29c;
}

.st8 {
    fill: #7b8191;
}

.st9 {
    fill: #846a6f;
}

.st10 {
    fill: #d8bcc2;
}

.st11 {
    opacity: 0.57;
    fill: #5d6168;
}

.st12 {
    fill: #31373f;
}

.st13 {
    fill: #777c84;
}

.st14 {
    fill: #b2bbbf;
}

.st15 {
    fill: #e5dce0;
}

.st16 {
    opacity: 0.5;
    fill: #d8d0d3;
}

.st17 {
    opacity: 0.33;
    fill: #7c6d59;
}

.st18 {
    fill: #efe2ce;
}

.st19 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #3f3722;
}

.st21 {
    fill: #594c2e;
}

.st22 {
    fill: #f7a800;
}

.st23 {
    fill: #f18a0e;
}

.st24 {
    fill: #9c9faf;
}

.st25 {
    fill: #ceddf4;
}

.st26 {
    fill: #fff;
}

.st27 {
    fill: #8e5047;
}

.st28 {
    fill: #d68e8e;
}

.st29 {
    fill: #ffb8b8;
}

.st30 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 2.9333;
    stroke-miterlimit: 10;
}

.st31 {
    fill: #2d1e1a;
}

.st32 {
    fill: #ffd346;
}

.st33 {
    fill: #fbbc2f;
}

.st34 {
    fill: #1d1d1d;
}

.st35 {
    fill: #ed6b84;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st36 {
    fill: #99677b;
}

.st37 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st38 {
    fill: #ffbdca;
}

.st39 {
    fill: #ff9fad;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st40 {
    fill: #ed6b84;
}

.st41 {
    fill: #897999;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st42 {
    clip-path: url(#SVGID_2_);
    fill: #a6807f;
    stroke: #725a5a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st43 {
    clip-path: url(#SVGID_2_);
    fill: #a6807f;
    stroke: #725a5a;
    stroke-width: 2.369;
    stroke-miterlimit: 10;
}

.st44 {
    fill: #302b2b;
}

.st45 {
    opacity: 0.39;
    fill: #897999;
}

.st46 {
    opacity: 0.5;
    fill: #897999;
}

.st47 {
    fill: #897999;
}

.st48 {
    fill: none;
    stroke: #605a5a;
    stroke-miterlimit: 10;
}

.st49 {
    fill: #e2d1a6;
    stroke: #605a5a;
    stroke-width: 2.0014;
    stroke-miterlimit: 10;
}

.st50 {
    fill: #efe7d5;
}

.st51 {
    fill: #890000;
}

.st52 {
    fill: #540000;
}

.st53 {
    fill: #f7a800;
    stroke: #000;
    stroke-width: 2.7493;
    stroke-miterlimit: 68;
}

.st54 {
    opacity: 0.1;
    fill: #fff;
}

.st55 {
    fill: #665a84;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st56 {
    opacity: 0.3;
}

.st57 {
    opacity: 0.4;
    fill: #363a3d;
}

.st58 {
    opacity: 0.3;
    fill: #846f6f;
}

.st59 {
    fill: #71829e;
}

.st60 {
    fill: #afbfdd;
}

.st61 {
    fill: #d2e3ff;
}

.st62 {
    fill: #d12f2f;
}

.st63 {
    clip-path: url(#SVGID_4_);
    fill: #a6807f;
    stroke: #725a5a;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st64 {
    opacity: 0.15;
    fill: #fff;
}

.st65 {
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st66 {
    clip-path: url(#SVGID_6_);
}

.st67 {
    fill: #30251a;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st68 {
    opacity: 0.3;
    fill: #fff;
}

.st69 {
    clip-path: url(#SVGID_8_);
}

.st70 {
    fill: #30251a;
    stroke: #000;
    stroke-width: 2.7813;
    stroke-miterlimit: 10;
}

.st71 {
    fill: #d8a132;
}

.st72 {
    clip-path: url(#SVGID_10_);
}

.st73 {
    fill: #2e353f;
    stroke: #000;
    stroke-width: 1.8447;
    stroke-miterlimit: 10;
}

.st74 {
    fill: #3c4c5e;
}

.st75 {
    clip-path: url(#SVGID_12_);
}

.st76 {
    fill: #2e353f;
    stroke: #000;
    stroke-width: 1.7032;
    stroke-miterlimit: 10;
}

.st77 {
    clip-path: url(#SVGID_14_);
}

.st78 {
    fill: #0487af;
}

.st79 {
    fill: #31c0ff;
}

.st80 {
    opacity: 0.5;
    fill: #fff;
}

.st81 {
    clip-path: url(#SVGID_16_);
}

.st82 {
    fill: #ed7601;
}

.st83 {
    fill: #d64422;
}

.st84 {
    fill: #ff881d;
}

.st85 {
    fill: #ffa45a;
}

.st86 {
    fill: #f2892a;
}

.st87 {
    opacity: 0.4;
    fill: #fff;
}

.st88 {
    fill: #ff866e;
}

.st89 {
    fill: #544e4d;
}

.st90 {
    fill: #bbbcbf;
}

.st91 {
    opacity: 0.74;
    fill: #bbbcbf;
}

.st92 {
    fill: #dbdbdb;
}

.st93 {
    fill: #ffa75f;
}

.st94 {
    fill: #bac1c6;
}

.st95 {
    fill: #e8e9ea;
}

.st96 {
    fill: #5a656b;
}

.st97 {
    fill: #2f2f35;
}

.st98 {
    fill: #896e20;
}

.st99 {
    fill: #42381f;
}

.st100 {
    fill: #322e2d;
}

.st101 {
    fill: #3e3e49;
}

.st102 {
    fill: #585863;
}

.st103 {
    fill: #494443;
}

.st104 {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st105 {
    fill: #59481e;
}

.st106 {
    fill: #846c3d;
}

.st107 {
    fill: none;
    stroke: #6a6b75;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st108 {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st109 {
    fill: #555c60;
}

.st110 {
    opacity: 0.5;
}

.st111 {
    opacity: 0.25;
    fill: #846f6f;
}

.st112 {
    fill: #4f2d23;
}

.st113 {
    opacity: 0.45;
    fill: #896256;
}

.st114 {
    fill: #896256;
}

.st115 {
    fill: #54841e;
}

.st116 {
    fill: #80aa46;
}

.st117 {
    fill: #24491d;
}

.st118 {
    clip-path: url(#SVGID_18_);
}

.st119 {
    fill: #8887ff;
    stroke: #0087ff;
    stroke-width: 0.7853;
    stroke-miterlimit: 10;
}

.st120 {
    fill: #0063ff;
    stroke: #0087ff;
    stroke-width: 0.7081;
    stroke-miterlimit: 10;
}

.st121 {
    fill: #0063ff;
    stroke: #00a0ff;
    stroke-width: 0.7081;
    stroke-miterlimit: 10;
}

.st122 {
    fill: #8fbeff;
}

.st123 {
    fill: #bad1d0;
}

.st124 {
    fill: #ff9717;
}

.st125 {
    fill: #ffbe00;
}

.st126 {
    fill: #ffef92;
}

.st127 {
    fill: #e9ecf2;
}

.st128 {
    fill: #f82419;
    stroke: #702419;
    stroke-width: 0.6416;
    stroke-miterlimit: 10;
}

.st129 {
    stroke: #702419;
    stroke-width: 0.5785;
    stroke-miterlimit: 10;
}

.st130 {
    stroke: #313d47;
    stroke-width: 0.5785;
    stroke-miterlimit: 10;
}

.st131 {
    fill: #ff5b57;
}

.st132 {
    fill: #f82419;
    stroke: #702419;
    stroke-miterlimit: 10;
}

.st133 {
    stroke: #702419;
    stroke-width: 0.9016;
    stroke-miterlimit: 10;
}

.st134 {
    stroke: #313d47;
    stroke-width: 0.9016;
    stroke-miterlimit: 10;
}

.st135 {
    fill: #8887ff;
    stroke: #0087ff;
    stroke-miterlimit: 10;
}

.st136 {
    fill: #0063ff;
    stroke: #0087ff;
    stroke-width: 0.9016;
    stroke-miterlimit: 10;
}

.st137 {
    fill: #0063ff;
    stroke: #00a0ff;
    stroke-width: 0.9016;
    stroke-miterlimit: 10;
}

.st138 {
    fill: #ebd726;
}

.st139 {
    fill: #8c181c;
}

.st140 {
    fill: #e49d88;
}

.st141 {
    fill: #d26171;
}

.st142 {
    fill: #fff1bf;
}

.st143 {
    fill: #ffd024;
}

.st144 {
    fill: #feab07;
}

.st145 {
    fill: #4d1e0e;
}

.st146 {
    fill: #b25d27;
}

.st147 {
    clip-path: url(#SVGID_20_);
}
