.FELI-C-st0 {
    fill: #39842c;
}

.FELI-C-st1 {
    fill: #6dc066;
}

.FELI-C-st2 {
    fill: #5b5651;
}

.FELI-C-st3 {
    fill: #35322f;
}

.FELI-C-st4 {
    fill: #6b6967;
}

.FELI-C-st5 {
    opacity: 0.3;
    fill: #255b1f;
}

.FELI-C-st6 {
    opacity: 0.4;
    fill: #255b1f;
}

.FELI-C-st7 {
    opacity: 0.4;
    fill: #39842c;
}

.FELI-C-st8 {
    opacity: 0.3;
    fill: #7cdd54;
}

.FELI-C-st9 {
    fill: #4a9e3e;
}

.FELI-C-st10 {
    opacity: 0.42;
    fill: #286821;
}

.FELI-C-st11 {
    fill: #ad825c;
}

.FELI-C-st12 {
    fill: #ad8355;
}

.FELI-C-st13 {
    opacity: 0.6;
    fill: #4b5260;
}

.FELI-C-st14 {
    fill: #7297a0;
}

.FELI-C-st15 {
    opacity: 0.6;
    fill: #8dbdce;
}

.FELI-C-st16 {
    fill: #b0e6f4;
}

.FELI-C-st17 {
    opacity: 0.6;
    fill: #7aeaea;
}

.FELI-C-st18 {
    opacity: 0.5;
    fill: #405e66;
}

.FELI-C-st19 {
    fill: #405e66;
}

.FELI-C-st20 {
    fill: #ffffff;
}

.FELI-C-st21 {
    fill: #6a92a3;
}

.FELI-C-st22 {
    fill: #93c8db;
}

.FELI-C-st23 {
    opacity: 0.4;
    fill: #93c8db;
}

.FELI-C-st24 {
    fill: #8dbdce;
}

.FELI-C-st25 {
    fill: #6f868c;
}

.FELI-C-st26 {
    fill: #872710;
}

.FELI-C-st27 {
    opacity: 0.5;
    fill: #7aeaea;
}

.FELI-C-st28 {
    fill: #8a93a0;
}

.FELI-C-st29 {
    fill: #7aeaea;
}

.FELI-C-st30 {
    opacity: 0.5;
    fill: #546a72;
}

.FELI-C-st31 {
    opacity: 0.6;
    fill: #ffffff;
}

.FELI-C-st32 {
    fill: #d90000;
}

.FELI-C-st33 {
    fill: #ff4d4d;
}

.FELI-C-st34 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.FELI-C-st35 {
    opacity: 0.6;
    fill: #35302c;
}

.FELI-C-st36 {
    fill: #72838e;
}

.FELI-C-st37 {
    fill: #9b5c4b;
}

.FELI-C-st38 {
    fill: #80bcbb;
}

.FELI-C-st39 {
    fill: #848383;
}

.FELI-C-st40 {
    opacity: 0.4;
    fill: #724203;
}

.FELI-C-st41 {
    fill: #e89105;
}

.FELI-C-st42 {
    fill: #e8c605;
}

.FELI-C-st43 {
    fill: #ffff73;
}

.FELI-C-st44 {
    opacity: 0.5;
    fill: #ad6600;
}

.FELI-C-st45 {
    opacity: 0.7;
    fill: #724203;
}

.FELI-C-st46 {
    fill: #a0d5ea;
}

.FELI-C-st47 {
    fill: #abb0c6;
}

.FELI-C-st48 {
    fill: #bc974d;
}

.FELI-C-st49 {
    fill: #f2cb86;
}

.FELI-C-st50 {
    fill: #5b3e34;
}

.FELI-C-st51 {
    fill: #6dc0ff;
}

.FELI-C-st52 {
    fill: #89644c;
}

.FELI-C-st53 {
    opacity: 0.4;
    fill: #d6925f;
}

.FELI-C-st54 {
    fill: #a9e2ff;
}

.FELI-C-st55 {
    fill: #ebf3ff;
}

.FELI-C-st56 {
    opacity: 0.3;
    fill: #ffffff;
}

.FELI-C-st57 {
    opacity: 0.7;
    fill: #ffffff;
}

.FELI-C-st58 {
    opacity: 0.4;
    fill: #ffffff;
}

.FELI-C-st59 {
    fill: #754d43;
}

.FELI-C-st60 {
    fill: #247dff;
}

.FELI-C-st61 {
    fill: #3198ff;
}

.FELI-C-st62 {
    fill: #52c5ff;
}

.FELI-C-st63 {
    fill: #502e72;
}

.FELI-C-st64 {
    fill: #a955eb;
}

.FELI-C-st65 {
    fill: #b975f9;
}

.FELI-C-st66 {
    fill: #d9b8ff;
}

.FELI-C-st67 {
    fill: #246630;
}

.FELI-C-st68 {
    fill: #319851;
}

.FELI-C-st69 {
    fill: #52c500;
}

.FELI-C-st70 {
    fill: #baff00;
}

.FELI-C-st71 {
    opacity: 0.2;
    fill: #ffffff;
}

.FELI-C-st72 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.FELI-C-st73 {
    opacity: 0.6;
    fill: #405e66;
}

.FELI-C-st74 {
    opacity: 0.7;
    fill: #405e66;
}

.FELI-C-st75 {
    opacity: 0.5;
    fill: #ffffff;
}

.FELI-C-st76 {
    fill: #00c48c;
}

.FELI-C-st77 {
    fill: #098974;
}

.FELI-C-st78 {
    fill: #0b4460;
}

.FELI-C-st79 {
    opacity: 0.3;
    fill: #39ff89;
}

.FELI-C-st80 {
    fill: #66524b;
}

.FELI-C-st81 {
    fill: #846359;
}

.FELI-C-st82 {
    fill: #dba36b;
}

.FELI-C-st83 {
    fill: #f7ce86;
}

.FELI-C-st84 {
    fill: #4c3e48;
}

.FELI-C-st85 {
    fill: #2ca42c;
}

.FELI-C-st86 {
    fill: #39cb2c;
}

.FELI-C-st87 {
    opacity: 0.6;
    fill: #2ca42c;
}

.FELI-C-st88 {
    fill: #667e84;
}

.FELI-C-st89 {
    fill: #86b7bf;
}

.FELI-C-st90 {
    opacity: 0.6;
    fill: #86b7bf;
}

.FELI-C-st91 {
    fill: #4a5770;
}

.FELI-C-st92 {
    fill: #9ee8ef;
}

.FELI-C-st93 {
    opacity: 0.6;
    fill: #9ee8ef;
}

.FELI-C-st94 {
    fill: #f4be7d;
}

.FELI-C-st95 {
    opacity: 0.7;
    fill: #39842c;
}

.FELI-C-st96 {
    fill: #26b0ff;
}

.FELI-C-st97 {
    opacity: 0.3;
}

.FELI-C-st98 {
    fill: #ffc04e;
}

.FELI-C-st99 {
    fill: #ff7778;
}

.FELI-C-st100 {
    opacity: 0.5;
}

.FELI-C-st101 {
    fill: #b3d4e8;
}

.FELI-C-st102 {
    fill: #fff44e;
}

.FELI-C-st103 {
    fill: #7f7e7d;
}

.FELI-C-st104 {
    fill: #489e20;
}

.FELI-C-st105 {
    fill: #235618;
}

.FELI-C-st106 {
    fill: #5faa3c;
}

.FELI-C-st107 {
    fill: #af804e;
}

.FELI-C-st108 {
    fill: #443732;
}

.FELI-C-st109 {
    fill: #646570;
}

.FELI-C-st110 {
    fill: #738399;
}

.FELI-C-st111 {
    fill: #8d9bc6;
}

.FELI-C-st112 {
    fill: #576575;
}

.FELI-C-st113 {
    opacity: 0.5;
    fill: #272e38;
}

.FELI-C-st114 {
    fill: #563a20;
}

.FELI-C-st115 {
    opacity: 0.7;
    fill: #89674c;
}

.FELI-C-st116 {
    fill: #3a2a1c;
}

.FELI-C-st117 {
    fill: #4d0f0f;
}

.FELI-C-st118 {
    fill: #664c3e;
}

.FELI-C-st119 {
    fill: #8e604c;
}

.FELI-C-st120 {
    fill: #b70f0f;
}

.FELI-C-st121 {
    opacity: 0.7;
    fill: #4d0f0f;
}

.FELI-C-st122 {
    fill: #7f9bc6;
}

.FELI-C-st123 {
    fill: #455060;
}

.FELI-C-st124 {
    fill: #5f7084;
}

.FELI-C-st125 {
    fill: #6a839b;
}

.FELI-C-st126 {
    fill: #6c97c1;
}

.FELI-C-st127 {
    opacity: 0.6;
    fill: #a3c9e8;
}

.FELI-C-st128 {
    fill: #242d38;
}

.FELI-C-st129 {
    fill: #7cdd54;
}

.FELI-C-st130 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.FELI-C-st131 {
    opacity: 0.4;
}
