.yellow-st0 {
    fill: #a79253;
}
.yellow-st1 {
    fill: #9b844b;
}
.yellow-st2 {
    fill: #cbac4e;
}
.yellow-st3 {
    fill: #b2913f;
}
.yellow-st4 {
    fill: #847349;
}
.yellow-st5 {
    fill: #917330;
}
.yellow-st6 {
    opacity: 0.83;
    fill: #887349;
}
.yellow-st7 {
    fill: #7c6331;
}
.yellow-st8 {
    fill: #fcd57e;
}
.yellow-st9 {
    fill: #1d1d1d;
}
.yellow-st10 {
    clip-path: url(#PERCH_BACK_2);
    fill: #a79253;
}
.yellow-st11 {
    clip-path: url(#PERCH_BACK_2);
    fill: #9b844b;
}
.yellow-st12 {
    clip-path: url(#PERCH_BACK_2);
    fill: #cbac4e;
}
.yellow-st13 {
    clip-path: url(#PERCH_BACK_2);
    fill: #b2913f;
}
.yellow-st14 {
    clip-path: url(#PERCH_BACK_2);
    fill: #847349;
}
.yellow-st15 {
    clip-path: url(#PERCH_BACK_2);
    fill: #917330;
}
.yellow-st16 {
    opacity: 0.83;
    clip-path: url(#PERCH_BACK_2);
    fill: #847349;
}
.yellow-st17 {
    clip-path: url(#PERCH_BACK_2);
    fill: #7c6331;
}
.yellow-st18 {
    clip-path: url(#PERCH_BACK_2);
    fill: #fcd57e;
}
.yellow-st19 {
    clip-path: url(#PERCH_BACK_2);
}
