.blue-st0 {
    fill: #849fae;
}
.blue-st1 {
    fill: #5d7a87;
}
.blue-st2 {
    fill: #6f8893;
}
.blue-st3 {
    opacity: 0.5;
    fill: #374c51;
}
.blue-st4 {
    opacity: 0.39;
    fill: #374c51;
}
.blue-st5 {
    fill: #ada995;
}
.blue-st6 {
    fill: #1d1d1d;
}
.blue-st7 {
    clip-path: url(#PERCH_BACK_2);
}
